<%= render partial: '0capitan/general/app_ttl', locals: {c: 'clientes', title: "Clientes", link: nil, tooltip: nil } %>

<div class="f_200pxlft_col">
  <div class="lft">
    <%= render partial: '0p/cmenu/cmenu', locals: { c: 'clientes', tipo: @tipo, estado: @estado, path: @path} %>
  </div>
  <div class="right">
      <%= @estados[0] %>
      <%= render partial: '0capitan/general/app_ttl', locals: {c: 'clientes', title: "Clientes #{@tipo.present? ? @tipo : cmenu_clss['clientes'][:items][@estado] }", link: ((check_crud('Cliente') and @estado == @estados[0]) ? "/clientes/new" : nil), tooltip: 'Agrega cliente' } %>

      <%= render partial: '0p/tabla/tabla2', locals: {c: 'clientes'} if @tipo.present? or @estado.present? %>
  </div>
</div>