<%= render partial: '0p/general/clss_dir_objt_ttl', locals: {clss: 'shw_ttl', dir: 'shw', objt: @objeto, bck: nil} %>

<%= render partial: 'st_estados/st_estados/partials/change_state', locals: {objeto: @objeto} %>

<%= render partial: '0p/tabs/tabs', locals: { token: :menu } %>
<% case @options[:menu] %>
<% when 'General' %>
	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<%= render partial: 'actividades/shr/bjt_agenda', locals: {objeto: @objeto, usuarios: @age_usuarios} %>
		</div>
		<div class="col-lg-6">
			<%= render partial: 'repositorios/shr/repositorio', locals: {objeto: @objeto, d_pendientes: @d_pendientes, a_pendientes: @a_pendientes} %>
		</div>
	</div>
<% when 'Causas' %>
	<%= render partial: 'causas/indx/indx', locals: {estados: @estados, tipos: @tipos, tipo: @tipo, estado: @estado, path: @path} %>
<% when 'Asesorias' %>
	<%= render partial: prtl_name('asesorias', 'indx', 'indx'), locals: {estados: @estados, tipos: @tipos, tipo: @tipo, estado: @estado, path: @path} %>
<% when 'Facturas' %>
	<%= render partial: 'tarifas/tar_facturas/indx/indx', locals: {estados: @estados, tipos: @tipos, tipo: @tipo, estado: @estado, path: @path} %>
<% when 'Tarifas' %>
	<%= render partial: 'clientes/shw/ndx_tarifas', locals: {objeto: @objeto, estado: @estado, tipo: @tipo, path: @path} %>
<% when 'Productos' %>
	<%= render partial: 'clientes/shw/ndx_prdcts', locals: {objeto: @objeto, estado: @estado, tipo: @tipo, path: @path} %>
<% end %>