<%= render '0capitan/layouts/box_title' do %>
	<div class="text-info" style='padding-left: 1em; padding-right: 1em;'>
		<%= render partial: 'clientes/partials/titulo_show', locals: {objeto: @objeto} %>
		<%= render partial: 'estados/st_bandejas/partials/change_state', locals: {objeto: @objeto} %>
	</div>
<% end %>

<%= render partial: '0p/tabs/tabs', locals: { token: :menu } %>

<% if @options[:menu] == 'Agenda' %>

	<%= render partial: 'clientes/partials/tab_agenda', locals: {objeto: @objeto} %>

<% elsif @options[:menu] == 'Documentos y enlaces' %>

	<%= render partial: 'causas/partials/tab_documentos_enlaces', locals: {objeto: @objeto} %>

<% elsif @options[:menu] == 'Causas' %>

	<%= render partial: 'causas/partials/monitor' %>

<% elsif @options[:menu] == 'Asesorias' %>

	<%= render partial: 'asesorias/partials/monitor' %>

<% elsif @options[:menu] == 'Facturas' %>

	<%= render partial: 'tarifas/tar_facturas/partials/monitor' %>

<% elsif @options[:menu] == 'Tarifas' %>

	<%= render partial: 'clientes/partials/tab_tarifas', locals: {objeto: @objeto} %>

<% end %>