<%= render '0p/general/title_box' do %>
	<div class="text-info" style='padding-left: 1em; padding-right: 1em;'>
		<h5 class="text-info">
			<i class="bi bi-building"></i> 
			<%= "Cliente : #{@objeto.razon_social} | #{@objeto.d_rut}" %> | 
			<%= link_to "/servicios/organizacion?oid=#{@objeto.id}", title: 'Organización', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-diagram-3"></i>
			<% end %>
		</h5>
		<%= render partial: 'estados/st_bandejas/partials/change_state', locals: {objeto: @objeto} %>
	</div>
<% end %>

<%= render partial: '0p/tabs/tabs', locals: { token: :menu } %>

<% if @options[:menu] == 'Seguimiento' %>

	<%= render partial: 'clientes/partials/tab_seguimiento', locals: {objeto: @objeto} %>

<% elsif @options[:menu] == 'Causas' %>

	<%= render partial: 'causas/partials/monitor' %>

<% elsif @options[:menu] == 'Asesorias' %>

	<%= render partial: 'asesorias/partials/monitor' %>

<% elsif @options[:menu] == 'Facturas' %>

	<%= render partial: 'tarifas/tar_facturas/partials/monitor' %>

<% elsif @options[:menu] == 'Tarifas' %>

	<%= render partial: 'clientes/partials/tab_tarifas', locals: {objeto: @objeto} %>

<% end %>