<%= render partial: '0ttl/ttl', locals: {source: 'clientes', dir: 'shw', hide_lnks: true} %>
<%= render partial: 'layouts/partials/notice_alert' %>

<%= render partial: '0p/tabs/tabs', locals: { token: :menu } %>
<div class="p-2 border-start border-end border-bottom" style="margin-top: -1px;">
	
	<% case @options[:menu] %>
	<% when 'General' %>
		<%= render partial: 'clientes/shw/shw_general', locals: {objeto: @objeto} %>
	<% when 'Causas' %>
		<%= render partial: 'causas/indx/indx', locals: {estados: @estados, tipos: @tipos, tipo: @tipo, estado: @estado, path: @path} %>
	<% when 'Asesorias' %>
		<%= render partial: prtl_name('asesorias', 'indx', 'indx'), locals: {estados: @estados, tipos: @tipos, tipo: @tipo, estado: @estado, path: @path} %>
	<% when 'Aprobaciones' %>
		<%= render partial: 'clientes/shw/shw_aprobaciones', locals: {objeto: @objeto} %>
	<% when 'Facturas' %>
		<h4>Revisión de facturas</h4>
		<% @causas_revision.each do |causa| %>
			<% con_monto = causa.monto_conciliaciones.where(tipo: ['Acuerdo', 'Sentencia']).any? %>
			<div class="row gx-1 mb-1">
				<div class="col-4 objt_lnk">
					<%=dma(causa.created_at)%> <b><%= causa.rit %></b><br>
					<small><i class="bi bi-arrow-return-right"></i><%= causa.tribunal_corte.tribunal_corte %></small>
				</div>
				<div class="col-4 objt_lnk">
					<b><%= link_to causa.causa, causa %></b><br>
					<small><i class="bi bi-arrow-return-right"></i><%= con_monto ? 'Hay acuerdo o sentencia' : 'En curso' %></small>
				</div>
				<div class="col-2">
					<% j = causa&.age_actividades&.d_jcs&.last&.fecha %>
					<% pr = causa&.age_actividades&.prprtrs&.last&.fecha %>
					<% u = causa&.age_actividades&.uncs&.last&.fecha %>

					<% if j %>
						Audiencia de Juicio<br>
						<%= dma_hm(j) %>
					<% elsif pr %>
						Audiencia preparatoria<br>
						<%= dma_hm(pr) %>
					<% elsif u %>
						Audiencia única<br>
						<%= dma_hm(u) %>
					<% else %>
						Sin audiencias
					<% end %>
				</div>
				<!--div class="col-2"><%#= causa.tribunal_corte.tribunal_corte %></div-->
				<div class="col-2"><%= causa.estado_financiero%></div>
			</div>
		<% end %>
		<hr>
	<% when 'Tarifas' %>
		<%= render partial: 'clientes/shw/shw_tarifas', locals: {objeto: @objeto, estado: @estado, tipo: @tipo, path: @path} %>
	<% when 'Conciliar' %>
		<h5>Conciliación de transacciones</h5>

		<div class="row gx-1">
		  <div class="col-6">
		    <h6>Documentos emitidos</h6>
		    <%= render partial: '0p/tbl_clss', locals: {clccn: @doc_emitidos, typ: 'tr'} %>
		  </div>
		  <div class="col-6">
		    <h6>Transacciones</h6>
		    <%= render partial: '0p/tbl_clss', locals: {clccn: @trnsccns, typ: 'tr'} %>
		  </div>
		</div>
	<% end %>
	
</div>
