<div class='row'>
	<div class='col-md-6'>
		<p class='text-<%=app_color[:app]%>'>
			<i class="bi bi-cash-coin"></i></i><small> Asignada</small>
		</p>
		<% if objeto.tar_hora.blank? %>
			<h6 class='text-muted'><small><small>Sin tarifa asignada</small></small></h6>
		<% else %>

			<table class="table">
				<tbody>
			  		<tr>
			  			<td><small><small><p class='text-<%=app_color[:app]%>'><%=objeto.tar_hora.tar_hora %></p></small></small></td>
			  			<td>
			  				<%= link_to link_x_btn(objeto.tar_hora, '/desasigna', true) do %>
			  					<i class="bi bi-x-circle"></i>
			  				<% end %>
			  			</td>
				  	</tr>
				</tbody>
			</table>

		<% end %>
	</div>
	<div class='col-md-6'>
		<% unless objeto.tar_hora.present? %>
			<%= render partial: '0p/list/action_list', locals: {nombre: 'Tarifas Base', gly: 'cash-coin', clr: 'info', coleccion: TarHora.where(owner_class: ''), field: 'tar_hora', link: '/asigna', gly_link: 'plus-circle', base: true, action: true} %>
			<%= render partial: '0p/list/action_list', locals: {nombre: 'Tarifas Cliente', gly: 'cash-coin', clr: 'info', coleccion: objeto.tarifas_hora_cliente, field: 'tar_hora', link: '/asigna', gly_link: 'plus-circle', base: true, action: true} %>
		<% end %>
	</div>
</div>
