<div class='row'>
	<div class='col-md-6'>
		<% if objeto.tar_tarifa.blank? %>
			<small><i class="bi bi-cash-coin"></i> Tarifa : Sin tarifa asignada</small>
		<% else %>

			<small><i class="bi bi-cash-coin"></i> Tarifa : <%= link_to objeto.tar_tarifa.tarifa, objeto.tar_tarifa %></small>
			<% unless objeto.valores.any? %>
				<small>
				<%= link_to link_x_btn(objeto.tar_tarifa, '/desasigna', true) do %>
					<i class="bi bi-x-circle"></i>
				<% end %>
				</small>
			<% end %>

			<% end %>
	</div>
	<div class='col-md-6'>
		<% unless objeto.tar_tarifa.present? %>
			<% TarTarifa.where(owner_class: '').each do |tarifa_base| %>
				<small><i class="bi bi-house"></i>
				<%= link_to link_x_btn(tarifa_base, '/asigna', true) do %>
					<i class="bi bi-arrow-left"></i>	
					<%= tarifa_base.tarifa %>
				<% end %>
				</small></br>
			<% end %>

			<% objeto.tarifas_cliente.each do |tarifa_cliente| %>
				<small><i class="bi bi-building"></i>
				<%= link_to link_x_btn(tarifa_cliente, '/asigna', true) do %>
					<i class="bi bi-arrow-left"></i>	
					<%= tarifa_cliente.tarifa %>
				<% end %>
				</small></br>
			<% end %>
		<% end %>

	</div>
</div>
