<% unless objeto.tar_tarifa.blank? %>
	<%= render partial: 'tarifas/partials/encabezado_cuantia', locals: {objeto: objeto} unless uf_del_dia.blank? %>
<!--/br-->
	<small><p class='text-info'>Aplicación de tarifa</p></small>
	<%= pago.class.name %> <%= pago.tar_pago %>
	<%#= render partial: 'tarifas/partials/comentarios', locals: {objeto: objeto, pago: pago} unless uf_del_dia.blank? %>

	<small><p class='text-info'>Detalle Cuantía</p>
	<small>
	<div class="row">
		<% objeto.valores_cuantia.each do |vc| %>
			<div class="col-8">
				<%= vc.detalle %>
			</div>
			<div class="col-4" align='right'>
				<%= "#{vc.moneda == 'Pesos' ? number_to_currency(vc.valor, locale: :en, precision: 0) : number_to_currency(vc.valor, unit: 'UF', precision: 2)}" %>
			</div>
		<% end %>
	</div>
	</small></small>

<% end %>
