<% unless pago.codigo_formula.blank? %>
<p class="text-muted">
	<%= render partial: 'tarifas/partials/encabezado_despliegue_tarifa', locals: {objeto: objeto, pago: pago} %>
	<%= pago.tar_pago %> : 
	<%= render partial: 'tarifas/partials/despliega_pago_uf', locals: {objeto: objeto, pago: pago} %> | <%= render partial: 'tarifas/partials/despliega_pago_pesos', locals: {objeto: objeto, pago: pago} %>
</p>
<small><p class="text-info">Aplicación de tarifa</p></small>
<%= render partial: 'tarifas/partials/comentarios', locals: {pago: pago, objeto: objeto} unless objeto.uf_pago(pago.tar_pago).blank? %>
<% else %>
	Pago sin código de fórmula!
<% end %>
