<p><small>
<i class="bi bi-coin"></i> UF del día <%= dma(Time.zone.today.to_date) %> | <%= "#{uf_del_dia.blank? ? 'No encontrada' : s_pesos2(uf_del_dia)}" %>
</small>
</br>
Cuantía : 
	<% unless uf_del_dia.blank? %>
		<%= s_pesos(objeto.cuantia_pesos) %> | <%= s_uf(objeto.cuantia_uf) %>
	<% else %>
		UF del día no encontrada
	<% end %>
	</br>
Monto sentencia : <%= objeto.monto_pagado.blank? ? 'No ingresado' : s_pesos(objeto.monto_pagado) %>
</p>

