	<% unless objeto.fecha_uf.blank? %>
		<p><small>
			<%= "Fecha UF cálculo : #{dma(objeto.fecha_uf)}" %></br>
			<%= "UF de cálculo : #{uf_fecha(objeto.fecha_uf).blank? ? 'No hay UF ingresada para esa fecha' : s_pesos2(uf_fecha(objeto.fecha_uf))}" %>
		</small></p>
	<% else %>
		<% unless uf_del_dia.blank? %>
			<p><small>UF del Día: <%= s_pesos2(uf_del_dia) %></small></br>
			Cuantía : <%=number_to_currency(objeto.cuantia_pesos, locale: :en, precision: 0) %> | <%= number_to_currency(objeto.cuantia_uf, unit: 'UF') %></p>
		<% end %>
	<% end  %> 

