<!-- DESPLIEGUE DEL TAB FACTURACION DE UNA CAUSA/CONSULTORIA-->
<h6><%= render partial: '0p/general/icon_text', locals: {gly: 'coin', text: 'Despliegue Tarifa', clr: config[:color][:app]} %></h6>

<%= render partial: 'tarifas/partials/encabezado_cuantia', locals: {objeto: @objeto} if @objeto.class.name == 'Causa' %>
<hr>
<% unless objeto.uf_calculo.blank? %>
	<% objeto.tar_tarifa.tar_pagos.each do |pago| %>
		<% if pago.valor.blank? %>
			<!-- TARIFA CON FORMULAS -->
			<% unless pago.codigo_formula.blank? %>
				<%= pago.tar_pago %> : <%= pago.moneda == 'Pesos' ? '$' : 'UF' %> <%= number_to_currency(calcula(pago.formula_tarifa, objeto.tar_tarifa.tar_formulas, objeto), precision: (pago.moneda == 'Pesos' ? 0 : 2), unit: '') %></br>
				<small>
					<% if pago.moneda == 'Pesos' %>
						<%= number_to_currency(calcula(pago.formula_tarifa, pago.tar_tarifa.tar_formulas, objeto).to_f / objeto.uf_calculo, locale: :en, precision: (pago.moneda == 'Pesos' ? 2 : 0)) %>
					<% else %>
						<%= number_to_currency(calcula(pago.formula_tarifa, pago.tar_tarifa.tar_formulas, objeto).to_f * objeto.uf_calculo, locale: :en, precision: (pago.moneda == 'Pesos' ? 2 : 0)) %>
					<% end %>
				</small></br>
			<% else %>
				Pago sin código de fórmula
			<% end %>
		<% else %>
			<!-- TARIFA CON CUOTAS -->
			<%= pago.tar_pago %> : <%= pago.moneda == 'Pesos' ? '$' : 'UF' %> <%= number_to_currency(pago.valor, precision: (pago.moneda == 'Pesos' ? 0 : 2), unit: '') %></br>
			<small>
				<% if pago.moneda == 'Pesos' %>
					<%= number_to_currency(pago.valor / objeto.uf_calculo, locale: :en, precision: (pago.moneda == 'Pesos' ? 2 : 0)) %>
				<% else %>
					<%= number_to_currency(pago.valor * objeto.uf_calculo, locale: :en, precision: (pago.moneda == 'Pesos' ? 2 : 0)) %>
				<% end %>
			</small></br>
		<% end %>

		<!-- BOTON FACTURACION -->
		<% unless objeto.facturaciones.map {|facts| facts.facturable}.include?(pago.codigo_formula) %>
	    	<%= render partial: '0p/general/btn_proceso', locals: {texto: pago.tar_pago, gly: 'coin', link: "/tar_facturaciones/crea_facturacion?owner_class=#{objeto.class.name}&owner_id=#{objeto.id}&facturable=#{pago.codigo_formula}", clr: config[:color][:app], delete: false} unless pago.codigo_formula.blank? %>
			</br>
	    <% end %>

		<% unless pago.tar_comentarios.empty? %>

		<ul>
			<% pago.tar_comentarios.order(:orden).each do |comentario| %>
				<small>
				<% if comentario.tipo == 'Siempre' %>
					<li><%= comentario.comentario %></li>
				<% elsif comentario.tipo == 'Condición' %>
					<% if eval_condicion(comentario.formula, pago.tar_tarifa.tar_formulas, objeto) %>
						<li>
							<%= comentario.comentario %>
							<!-- DESPLIEGUE DE VALORES -->
							<% unless comentario.despliegue.blank? %>
								<% if comentario.moneda == 'Pesos' %>
									<%= s_pesos(eval_elemento(comentario.despliegue, objeto.tar_tarifa.tar_formulas, objeto)) %>
								<% else %>
									<%= s_uf(eval_elemento(comentario.despliegue, objeto.tar_tarifa.tar_formulas, objeto)) %>
								<% end %>
							<% end %>
						</li>
					<% end %>
				<% end %>
				</small>
			<% end %>
		</ul>

		<% end %>	

	<% end %>
<% else %>
	Valor UF no encontrado	
<% end %>

</br></br>

