<!-- DESPLIEGUE DEL TAB FACTURACION DE UNA CAUSA/CONSULTORIA-->
<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'coin', text: 'Despliegue Tarifa', clr: config[:color][:app]} %></h5>

<% unless uf_del_dia.blank? %>
	<% objeto.tar_tarifa.tar_pagos.each do |pago| %>
		<% if pago.valor.blank? %>
			<% unless pago.codigo_formula.blank? %>
				<%= pago.tar_pago %> : <%= pago.moneda == 'Pesos' ? '$' : 'UF' %> <%= number_to_currency(calcula(pago.formula_tarifa, objeto.tar_tarifa.tar_formulas, objeto), precision: (pago.moneda == 'Pesos' ? 0 : 2), unit: '') %></br>
				<%= calcula(pago.codigo_formula, pago.tar_tarifa.tar_formulas, objeto) %>
				<small>
					<% if pago.moneda == 'Pesos' %>
						<%= number_to_currency(calcula(pago.formula_tarifa, pago.tar_tarifa.tar_formulas, objeto).to_f / TarUfSistema.find_by(fecha: objeto.fecha_calculo.to_date).valor, locale: :en, precision: (pago.moneda == 'Pesos' ? 2 : 0)) %>
					<% else %>
						<%= number_to_currency(calcula(pago.formula_tarifa, pago.tar_tarifa.tar_formulas, objeto).to_f * TarUfSistema.find_by(fecha: objeto.fecha_calculo.to_date).valor, locale: :en, precision: (pago.moneda == 'Pesos' ? 2 : 0)) %>
					<% end %>
				</small></br>
			<% else %>
				Pago sin código de fórmula
			<% end %>
		<% else %>
			<%= pago.tar_pago %> : <%= pago.moneda == 'Pesos' ? '$' : 'UF' %> <%= number_to_currency(pago.valor, precision: (pago.moneda == 'Pesos' ? 0 : 2), unit: '') %></br>
			<small>
				<% if pago.moneda == 'Pesos' %>
					<%= number_to_currency(pago.valor / TarUfSistema.find_by(fecha: objeto.fecha_calculo.to_date).valor, locale: :en, precision: (pago.moneda == 'Pesos' ? 2 : 0)) %>
				<% else %>
					<%= number_to_currency(pago.valor * TarUfSistema.find_by(fecha: objeto.fecha_calculo.to_date).valor, locale: :en, precision: (pago.moneda == 'Pesos' ? 2 : 0)) %>
				<% end %>
			</small></br>
		<% end %>

		<!-- BOTON FACTURACION -->
		<% unless objeto.facturaciones.map {|facts| facts.facturable}.include?(pago.codigo_formula) %>
	    	<%= render partial: '0p/general/btn_proceso', locals: {texto: pago.tar_pago, gly: 'coin', link: "/tar_facturaciones/crea_facturacion?owner_class=#{objeto.class.name}&owner_id=#{objeto.id}&facturable=#{pago.codigo_formula}", clr: config[:color][:app], delete: false} unless pago.codigo_formula.blank? %>
			</br></br>
	    <% end %>

		<% unless pago.tar_comentarios.empty? %>

		<ul>
			<% pago.tar_comentarios.order(:orden).each do |comentario| %>
				<% if comentario.tipo == 'Siempre' %>
					<li><small><%= comentario.comentario %></small></li>
				<% elsif comentario.tipo == 'Condición' %>
					<% if eval_condicion(comentario.formula, pago.tar_tarifa.tar_formulas, objeto) %>
						<li><small><%= comentario.comentario %></small></li>
					<% end %>
				<% end %>
			<% end %>
		</ul>

		<% end %>	

	<% end %>
<% end %>

</br></br>

