<!-- DESPLIEGUE DEL TAB FACTURACION DE UNA CAUSA/CONSULTORIA-->
<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'coin', text: 'Despliegue Tarifa', clr: app_color[:app]} %></h5>

<% unless uf_del_dia.blank? %>
	<% objeto.tar_tarifa.tar_pagos.each do |pago| %>
		<% unless pago.tar_formulas.empty? %>
			<%= pago.tar_pago %> : Tarifa en UF : <%= calcula(pago.tar_formulas.order(:orden).first.tar_formula, pago.tar_formulas, objeto) %></br>
		<!-- BOTON FFACTURACION -->
			<% unless objeto.facturaciones.map {|facts| facts.facturable}.include?(pago.tar_pago) %>
		    	<%= render partial: '0p/general/btn_turbolink', locals: {texto: pago.tar_pago, gly: 'coin', link: "/tar_facturaciones/crea_facturacion?owner_class=#{objeto.class.name}&owner_id=#{objeto.id}&facturable=#{pago.tar_pago}", clr: app_color[:app], delete: false} %>
		    <% end %>
		<% end %>

		<ul>
			<% pago.tar_comentarios.order(:orden).each do |comentario| %>
				<% if comentario.tipo == 'Siempre' %>
					<li><small><%= comentario.comentario %></small></li>
				<% elsif comentario.tipo == 'Condición' %>
					<%# if eval_condicion(comentario.formula, pago.tar_formulas, objeto) %>
						<li><small><%= comentario.comentario %></small></li>
					<%# end %>
				<% end %>
			<% end %>
		</ul>

	<% end %>
<% end %>

<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'coin', text: 'Facturación', clr: app_color[:app]} %></h5>

<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'tar_facturaciones', a: 'index'} unless @coleccion['tar_facturaciones'].empty? %>
