<p style="color: green"><%= notice %></p>

<%= render @lgl_tramo_empresa %>

<div>
  <%= link_to "Edit this lgl tramo empresa", edit_lgl_tramo_empresa_path(@lgl_tramo_empresa) %> |
  <%= link_to "Back to lgl tramo empresas", lgl_tramo_empresas_path %>

  <%= button_to "Destroy this lgl tramo empresa", @lgl_tramo_empresa, method: :delete %>
</div>
