<div class="row gx-1 px-2" style="font-size: 14px;line-height: 1.3;">
	<div class="col">
		<i class="bi bi-coin"></i>
		Tarifa : 
		<%= objeto.tar_servicio.descripcion unless objeto.tar_servicio.blank? %> 
		<i class="bi bi-dot"></i>
		<%= s_moneda(objeto.tar_servicio.moneda, objeto.tar_servicio.monto) unless objeto.tar_servicio.blank? %>
		  ( UF del <%= dma(objeto.fecha_uf_facturacion) %> : <%= s_pesos2(objeto.get_uf_facturacion.valor) %> ) 
	</div>
	<div class="col text-end">
		<% if objeto.tar_facturacion.blank? %>
			<% if objeto.moneda.blank? or objeto.monto.blank? %>
				<%= render layout: '0p/collapse/link', locals: {label: 'Asesoria', objeto: objeto, tooltip: "#{objeto.tar_servicio.blank? ? 'Nueva' : 'Modifica'}" } do %>
					<% if  objeto.tar_servicio.blank? %>
						<i class="bi bi-plus-circle"></i>
					<% else %>
						<i class="bi bi-pencil"></i>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<% if objeto.tar_facturacion.blank? %>
	<% if objeto.moneda.blank? or objeto.monto.blank? %>
		<%= render layout: '0p/collapse/display', locals: {label: 'Asesoria', objeto: objeto} do %>
			<%= render partial: prtl_name('asesorias', 'list/dtl', 'frm_tar_servicio'), locals: {objeto: objeto} %>
		<% end %>
	<% end %>
<% end %>
