<div id="<%= dom_id lgl_dato %>">
  <p>
    <strong>Lgl parrafo:</strong>
    <%= lgl_dato.lgl_parrafo_id %>
  </p>

  <p>
    <strong>Orden:</strong>
    <%= lgl_dato.orden %>
  </p>

  <p>
    <strong>Lgl dato:</strong>
    <%= lgl_dato.lgl_dato %>
  </p>

  <p>
    <strong>Cita:</strong>
    <%= lgl_dato.cita %>
  </p>

</div>
