<p style="color: green"><%= notice %></p>

<%= render @lgl_dato %>

<div>
  <%= link_to "Edit this lgl dato", edit_lgl_dato_path(@lgl_dato) %> |
  <%= link_to "Back to lgl datos", lgl_datos_path %>

  <%= button_to "Destroy this lgl dato", @lgl_dato, method: :delete %>
</div>
