<div id="<%= dom_id hlp_nota %>">
  <p>
    <strong>Ownr type:</strong>
    <%= hlp_nota.ownr_type %>
  </p>

  <p>
    <strong>Ownr:</strong>
    <%= hlp_nota.ownr_id %>
  </p>

  <p>
    <strong>Orden:</strong>
    <%= hlp_nota.orden %>
  </p>

  <p>
    <strong>Hlp nota:</strong>
    <%= hlp_nota.hlp_nota %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= hlp_nota.texto %>
  </p>

  <p>
    <strong>Referencia:</strong>
    <%= hlp_nota.referencia %>
  </p>

</div>
