<p style="color: green"><%= notice %></p>

<%= render @hlp_nota %>

<div>
  <%= link_to "Edit this hlp nota", edit_hlp_nota_path(@hlp_nota) %> |
  <%= link_to "Back to hlp notas", hlp_notas_path %>

  <%= button_to "Destroy this hlp nota", @hlp_nota, method: :delete %>
</div>
