<p id="notice"><%= notice %></p>

<p>
  <strong>M banco:</strong>
  <%= @m_banco.m_banco %>
</p>

<p>
  <strong>M modelo:</strong>
  <%= @m_banco.m_modelo_id %>
</p>

<%= link_to 'Edit', edit_m_banco_path(@m_banco) %> |
<%= link_to 'Back', m_bancos_path %>
