<p style="color: green"><%= notice %></p>

<%= render @tipo_denunciado %>

<div>
  <%= link_to "Edit this tipo denunciado", edit_tipo_denunciado_path(@tipo_denunciado) %> |
  <%= link_to "Back to tipo denunciados", tipo_denunciados_path %>

  <%= button_to "Destroy this tipo denunciado", @tipo_denunciado, method: :delete %>
</div>
