<div class="row gx-1">
	<div class="col-lg-3">
		<%= render partial: '0p/lbld_inpts/select_id', locals: { form: form, token: :tipo_asesoria_id, colection: TipoAsesoria.all.order(:tipo_asesoria).collect { |ta| [ta.descripcion, ta.id] }, display_field: 'descripcion', label: 'Tipo Asesoría' } %>
	</div>
	<div class="col-lg-9">
		<%= render partial: '0p/lbld_inpts/select_id', locals: { form: form, token: :cliente_id, colection: Cliente.where(estado: 'activo').order(:razon_social).collect { |cli| [cli.razon_social, cli.id] }, display_field: 'razon_social', label: 'Cliente' } %>


		</br>
		<div class="row gx-1">
			<div class="col-lg-6 col-xs-12">
				<%= render partial: '0p/lbld_inpts/date', locals: { form: form, token: :fecha, label: 'Fecha' } %>
			</div>
			<div class="col-lg-6">
				<%= render partial: '0p/lbld_inpts/date', locals: { form: form, token: :plazo, label: 'Plazo' } %>
			</div>
		</div>


	</div>
</div>

<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :descripcion, label: 'Descripción' } %>

<%= render partial: '0p/lbld_inpts/text_area', locals: { form: form, token: :detalle, label: 'Antecedentes adicionales' } %>


<%= render partial: '0p/lbld_inpts/hidden_lst', locals: { form: form, hddn_lst: [:estado, :urgente, :pendiente] } %>