<p id="notice"><%= notice %></p>

<h1>M Conciliaciones</h1>

<table>
  <thead>
    <tr>
      <th>M conciliacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_conciliaciones.each do |m_conciliacion| %>
      <tr>
        <td><%= m_conciliacion.m_conciliacion %></td>
        <td><%= link_to 'Show', m_conciliacion %></td>
        <td><%= link_to 'Edit', edit_m_conciliacion_path(m_conciliacion) %></td>
        <td><%= link_to 'Destroy', m_conciliacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M Conciliacion', new_m_conciliacion_path %>
