<% close ||= true %>
<% save ||= false %>
<% sz  ||= nil %>
<% scrll ||= false %>
<!-- Modal -->
<div class="modal fade" id="<%=cdg%>" tabindex="-1" aria-labelledby="<%=cdg%>Label" aria-hidden="true">
  <div class="modal-dialog <%="modal-#{sz}" unless sz.blank? %> <%="modal-dialog-scrollable" if scrll %>">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="<%=cdg%>Label"><b><%= ttl %></b></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= yield %>
      </div>
      <div class="modal-footer">
        <% if close %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <% end %>
        <% if save %>
        <button type="button" class="btn btn-primary">Save changes</button>
        <% end %>
      </div>
    </div>
  </div>
</div>