<div class="bg-white mb-1 mt-1 p1 txt_hght text-primary">
	<%= image_tag 'laboralsafe.png', style: 'height:100%;width:auto;' %>
	</br>
	<div style="padding-left: 3rem;">

		Sistema de registro y control</br>
		<i>Procedimiento de Investigación y Sanción</i> · 
		Ley 21.643</br>

		<%= render partial: 'aplicacion/publicos/home/public_home/laborsafe/paso_a_paso' %>
		<%= render partial: 'aplicacion/publicos/home/public_home/laborsafe/rcrss' %>
		<%= render partial: 'aplicacion/publicos/home/public_home/laborsafe/ntfccns' %>
		<%= render partial: 'aplicacion/publicos/home/public_home/laborsafe/prncpl_usr' %>

	</div>



	<%#= render partial: prtl_name('publicos', 'home/public_home', 'tres_prdcts') %>

</div>