<div class="bg-white mb-1 mt-1 p1 txt_hght text-primary">
	<%= image_tag 'laboralsafe.png', style: 'height:100%;width:auto;' %>
	</br>
	<div style="padding-left: 3rem;">
		Sistema de registro y control</br>
		<i>Procedimiento de Investigación y Sanción</i> · 
		Ley 21.643</br>

		<div class="row my-4 gx-1" style="font-size: 18px; line-height: 1.5;">
			<div class="col">
				<div class="mt-4 px-5">
					<p><b>LaborSafe</b> no requiere usuarios especializados. Nuestra plataforma conduce al usuario paso a paso en forma guiada y asistida. Basada en los datos ingresados, la plataforma desplegará toda la información necesaria para gestionar la recepción de denuncias, las solicitudes de información y documentación hacia el área de recursos humanos y toda la investigación de la denuncia.</p>
				</div>
			</div>
			<div class="col">
				<div class="shadow">
					<%= image_tag 'ejemplo2.png', width: "600" %>
				</div>
			</div>
		</div>

		<div class="row my-4 gx-1" style="font-size: 18px; line-height: 1.5;">
			<div class="col">
				<div class="shadow text-center">
					<p>Ejemplo de reporte de denuncia simple.</p>
					<%= image_tag 'qr_dnnc.png', width: "400" %>
				</div>
				<div class="mt-2 shadow text-center">
					<p>Ejemplo de Derechos y responsabilidades de los participantes de la denuncia.</p>
					<%= image_tag 'qr_drchs.png', width: "400" %>
				</div>
			</div>
			<div class="col">
				<div class="mt-4 px-5">
					<p><b>Recursos para los participantes.</b> Al momento de ser notificados de la recepción de la denuncia, los participantes recibirán un conjunto de códigos QR con los que accederán en cualquier momento a:
						<ul>
							<li>Un resumen del avance del la investigación en formato pdf, el cual reflejará automáticamente cada cambio que afecte el estado de la denuncia.</li>
							<li>Un archivo pdf que contiene el detalle de todos los derechos y obligaciones de los distintos participantes, tal como lo describe el reglamento que rige el Procedimiento de Investigción y Sanción.</li>
						</ul>
					</p>
					<p>El resumen de la investigación, contiene un detallado estado del procedimiento, pero no da acceso al detalle de la denuncia ni de las declaraciones de los participantes.</p>
				</div>
			</div>
		</div>

		<div class="mx-5 px-5" style="font-size: 20px;line-height: 1.5;">
			<h3 class="text-center">Envío de correos electrónicos a los participantes con información de importancia, notificaciones obligatorias y agendamiento de declaraciones.</h3>

			<ul>
				<li>Verificación de correos electrónicos de los participantes a través de correos de verificación.</li>
				<li>Notificación de recepción de denuncia.</li>
				<li>Notificación de derivacion de denuncias.</li>
				<li>Notificación de asignación de investigador a la denuncia.</li>
				<li>Citaciones a declarar para todos los participantes.</li>
				<li>Entre otros.</li>
			</ul>
		</div>

	</div>



	<%= render partial: prtl_name('publicos', 'home/public_home', 'tres_prdcts') %>

</div>