<div class="bg-white mb-1 mt-1 p1 txt_hght text-primary">
	<%= image_tag 'laboralsafe.png', style: 'height:100%;width:auto;' %>
	</br>
	<div style="padding-left: 3rem;">
		Sistema de registro y control</br>
		<i>Procedimiento de Investigación y Sanción</i> · 
		Ley 21.643</br>

		<div class="row gx-1 text-center" style="margin-top: 6rem;font-size: 24px; line-height: 1.5;">
			<div class="col-lg-4 col-xs-12">
				<div class="px-4" style="margin-top: 1rem;">
					Gestione la recepción de denuncias y toda la investigación desde una plataforma que lo guiará paso a paso a través del Procedimiento de Investigación y Sanción.
				</div>
			</div>
			<div class="col-lg-8">
				<div class="text-center">
					<%= image_tag 'ejemplo2.png', width: "600" %>
				</div>
			</div>
		</div>

		<div class="text-center" style="margin-top: 6rem;margin-left: 10%;margin-right: 10%;font-size: 24px; line-height: 1.5;">
			<%= image_tag 'ls_logo_100.png', width: "100" %>
			<div>
				Las personas denunciantes y denunciadas podrán acceder en cualquier momento a un reporte detallado del estado actual de la investigación.
			</div>
			<div style="margin-left: 6rem;margin-right:6rem;font-size: 14px;line-height: 1.5;font-weight: bold;">
				El reporte muestra todas las acciones realizadas, un resúmen de los plazos ya vencidos y el detalle de la documentación exigida. No muestra el contenido de la denuncia ni las declaraciones de los participantes. El siguiente código QR lo conducirá a un reporte tipo de una denuncia simple.
			</div>
			<%= image_tag 'qr_dnnc.png', width: "500" %>
		</div>

		<div class="row gx-1 text-center" style="margin-top: 6rem;font-size: 24px; line-height: 1.5;">
			<div class="col-lg-8 col-xs-12">
				<div>
					<%= image_tag 'enviar_correo.png', width: "100" %>
				</div>
				<div>
					<%= image_tag 'ntfccns.png', width: "600" %>
				</div>
			</div>
			<div class="col-lg-4">
				<%= image_tag 'ls_logo_100.png', width: "100" %>
				<div class="px-5">
					Gestione la comunicación formal de la investigación con los participantes a través de correos electrónicos generados por la plataforma.
				</div>
			</div>
		</div>

		<div class="text-center" style="margin-top: 6rem;margin-bottom: 6rem;margin-left: 10%;margin-right: 10%;font-size: 24px; line-height: 1.5;">
			<div>
				<%= image_tag 'ls_logo_100.png', width: "100" %>
			</div>
			
			<div>
				Cubrimos todas las obligaciones adicionales exigidas para <b>empresas principales o usuarias.</b>
			</div>
			<div style="font-size: 16px;line-height: 1.5;">
				Contamos con un modelo de implementación que considera la capacitación del equipo de rrhh/recepción/investigación y la completa coordinación con las empresas colaboradoras, necesaria para garantizar el cumplimiento de toda la normativa. La versión ampliada de nuestra plataforma le permitirá recibir denuncias de personas trabajadoras de empresas colaboradoras y registrar y controlar investigaciones de denuncias cuyos particpantes pertenezcan a más de una empresa, entre otras funcionalidades.
			</div>
		</div>


	</div>



	<%#= render partial: prtl_name('publicos', 'home/public_home', 'tres_prdcts') %>

</div>