<% if current_usuario.dog? %>
  <li>
  <%= render layout: '0p/tltp_lnk', locals: {lnk: "causas/#{objt.id}/chck_estds", tltp: 'Revisa estado', data: {turbo_method: :post}, clss: 'dropdown-item'} do %>
    Revisa estado de la causa
  <% end %>
</li>
<li><hr class="dropdown-divider"></li>
<% end %>

<li>
<%= render layout: '0p/collapse/link', locals: {label: 'Estado', objeto: objt, tooltip: 'Var último estado', clss: 'dropdown-item'} do %>
  Ver último estado
<% end %>
</li>

<% unless controller_name == 'clientes' %>
  <li>
    <%= render layout: '0p/tltp_lnk', locals: {lnk: "/clientes/#{objt.cliente.id}?html_options[menu]=Causas", tltp: 'Ir al cliente', clss: 'dropdown-item'} do %>
      Ver causas del cliente
    <% end %>
  </li>
<% end %>

<% if current_usuario.operacion? %>

  <!-- Bajar archivo Demanda -->
  <% if objt.tiene_demanda_pdf? %>
    <li>
    <%= link_to show_pdf_act_archivo_path(objt.demanda_archivo_id), class: 'dropdown-item', target: :_blank, title: 'Archivo Demanda', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
      Ver demanda
    <% end %>
    </li>
  <% end %>

  <% if objt.estado_operativo == 'tramitacion' %>
    <li>
      <%= render layout: '0p/tltp_lnk', locals: {lnk: ejecutar_evento_causa_path(objt, proceso: 'operativo', evento: 'up_to_archivada'), tltp: 'Archivar causa', data: {turbo_method: :post}, clss: 'dropdown-item'} do %>
        Archivar causa
      <% end %>
    </li>
  <% else %>
    <li>
      <%= render layout: '0p/tltp_lnk', locals: {lnk: ejecutar_evento_causa_path(objt, proceso: 'operativo', evento: 'dwn_to_tramitacion'), tltp: 'Desarchivar causa', data: {turbo_method: :post}, clss: 'dropdown-item'} do %>
        Desarchivar causa
      <% end %>
    </li>
  <% end %>

  <li>
    <%= render layout: '0p/tltp_lnk', locals: {lnk: url_params(Nota, {ownr: objt, orgn: @orgn}, :new), tltp: 'Nueva nota', clss: 'dropdown-item'} do %>
      Agregar nota
    <% end %>
  </li>

  <li><hr class="dropdown-divider"></li>
  <%#= render partial: '0p/tbl/plldwn_show', locals: {objt: objt, orgn: @orgn} %>
  <%= render partial: '0p/tbl/plldwn_editar', locals: {objt: objt, orgn: @orgn} %>

  <li><hr class="dropdown-divider"></li>

  <%= render partial: '0p/tbl/plldwn_eliminar', locals: {objt: objt, orgn: @orgn} %>

<% end %>