<div class="g_ttl">
	<div class="ttl_ttl">
		Bienvenido(a) <%= perfil_activo.nombre_perfil %>
	</div>
	<div class="ttl_lnks"></div>
</div>

<div class="f_200pxlft_col">
  <div class="lft">
    <%= render partial: '0p/cmenu/cmenu', locals: { c: 'home', tipo: tipo, estado: estado, path: path} %>
  </div>
  <div class="rght">
  	<% case tipo %>
  	<% when 'Causas' %>
  		<%= render partial: 'aplicacion/publicos/causas' %>
  	<% when 'Pagos' %>
  		<%= render partial: 'aplicacion/publicos/pagos' %>
  	<% when 'Facturas' %>
  		<%= render partial: 'aplicacion/publicos/facturas' %>
  	<% end %>
  </div>
</div>