<div class="lyt_notice">
  Bienvenido(a) <%= perfil_activo.app_nomina_nombre %>
</div>

<div class="f_50lft_col">
  <div class="lft">

    <%= render partial: '0p/general/clss_dir_c_ttl', locals: {clss: 'prtcpnts_ttl', dir: 'indx', source: 'age_actividades', ownr: nil} %>

    <%= render partial: '0p/tabla/tabla', locals: {c: 'age_actividades'} %>

    <% if dog? %>
      <%= render layout: '0p/layout/tooltip_link', locals: {link: "/publicos/encuesta?sk=@#{@session_name}", tooltip: 'Deseo haecr la encuesta'} do %>
        Encuesta
      <% end %>
    <% end %>

  </div>
  <div class="rght">

    <%= render partial: '0p/general/clss_dir_c_ttl', locals: {clss: 'prtcpnts_ttl', dir: 'indx', source: 'notas', ownr: nil} %>

    <%= render layout: '0p/collapse/display', locals: {label: 'Personaliza', objeto: nil} do %>
      <%= render partial: 'actividades/age_actividades/partials/form_nombre' %>
    <% end %>

    <%= render partial: '0p/tabla/tabla', locals: {c: 'notas'} %>

  </div>
</div>
