<div class="lyt_notice">
  Bienvenido(a) <%= nombre_perfil %>
</div>

<% if dog? %>









<div class="container">
<div class="row">
  <div class="col-sm-12">
    <h3 class="display-4 text-center my-5">Ley Karin</h3>
  </div>
</div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="context">
        <%= image_tag "lkarin300.png", alt: 'Acoso sexual', class: "img-fluid mx-auto d-block" %>
        <div class="overlay green">
          <div class="text text-white text-center">
            <div>
              <p><i class="fab fa-angellist fa-2x"></i></p>
              <p>Ley Karin</p>
            </div>
          </div>
      </div>  
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="context darkblue">
        <%= image_tag "alaboral300.png", alt: 'Acoso laboral', class: "img-fluid mx-auto d-block" %>
        <div class="overlay darkblue  ">
          <div class="text text-white text-center">
            <div>
              <p><i class="fab fa-aws fa-2x"></i></p>
              <p>Acoso laboral</p>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="context">
        <%= image_tag "asexual300.png", alt: 'Acoso sexual', class: "img-fluid mx-auto d-block" %>
        <div class="overlay gold">
            <div class="text text-white text-center">
              <div>
                <p><i class="fas fa-building fa-2x"></i></p>
                <p>Acoso sexual</p>
              </div>
            </div>
        </div>
      </div>  
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="context">
        <%= image_tag "vterceros300.png", alt: 'Violencia ejercida por terceros', class: "img-fluid mx-auto d-block" %>
        <div class="pink overlay">
          <div class="text text-white text-center">
            <div>
              <p><i class="fas fa-chart-line fa-2x"></i></p>
              <p>Violencia ejercida por terceros.</p>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>












  <%= render layout: '0p/layout/tooltip_link', locals: {link: "/publicos/encuesta?sk=@#{@session_name}", tooltip: 'Deseo haecr la encuesta'} do %>
    Encuesta
  <% end %>
<% end %>

<div class="f_50lft_col">
  <div class="lft">
  </div>
  <div class="rght">
      <div class="ttl_app">
        <div class="ttl_ttl">
          <i class="bi bi-list-check"></i> 
          <%= @usuario.age_usuario %>
          <%= render layout: '0p/collapse/link', locals: {label: 'Personaliza', objeto: nil, tooltip: 'Personalizar usuario'} do %>
            <i class="bi bi-pencil-square"></i>
          <% end %>
        </div>
        <div class="ttl_lnks">
        </div>
      </div>
    <%= render layout: '0p/collapse/display', locals: {label: 'Personaliza', objeto: nil} do %>
      <%= render partial: 'actividades/age_actividades/partials/form_nombre' %>
    <% end %>
  </div>
</div>
