<% if finanzas? %>
	<div class="img_frm">
		<h5 class="text-info">Facturación</h5>
		<%= column_chart @facturacion, prefix: '$', thousands: ".", precision: 3 %>
	</div>
<% end %>


</br>






<div class="mid_w">
	<div class="lft">
		<% if operacion? %>
			<% unless @coleccion['tramitacion-causas'].empty? %>
				<%= render partial: '0p/general/c_ttl', locals: {c: 'causas', title: 'Causas en tramitación', link: nil} %>

				<%= render partial: '0p/tabla/tabla2', locals: {c: 'tramitacion-causas'} %>
			<% end %>
		<% end %>
		<% if finanzas? %>
			<% unless @coleccion['sin_facturar-causas'].empty? %>
				<%= render partial: '0p/general/c_ttl', locals: {c: 'causas', title: 'Causas sin facturar', link: nil} %>

				<%= render partial: '0p/tabla/tabla2', locals: {c: 'sin_facturar-causas'} %>
			<% end %>
			<% unless @coleccion['sin_aprobacion-tar_facturaciones'].empty? %>
				<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'tar_facturaciones', title: 'Pagos sin aprobación', link_new: nil} %>

				<%= render partial: '0p/tabla/tabla', locals: {c: 'sin_aprobacion-tar_facturaciones'} %>
			<% end %>

			<% unless @coleccion['sin_facturar-tar_facturaciones'].empty? %>
				<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'tar_facturaciones', title: 'Pagos sin facturar', link_new: nil} %>

				<%= render partial: '0p/tabla/tabla', locals: {c: 'sin_facturar-tar_facturaciones'} %>
			<% end %>
		<% end %>
	</div>
	<div class="rght">
		<% if finanzas? %>
			<% unless @coleccion['por_emitir-tar_facturas'].empty? %>
				<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'tar_facturas', title: 'Facturas por emitir', link_new: nil} %>

				<%= render partial: '0p/tabla/tabla', locals: {c: 'por_emitir-tar_facturas'} %>
			<% end %>
			<% unless @coleccion['en_cobranza-tar_facturas'].empty? %>
				<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'tar_facturas', title: 'Facturas en cobranza', link_new: nil} %>

				<%= render partial: '0p/tabla/tabla', locals: {c: 'en_cobranza-tar_facturas'} %>
			<% end %>
		<% end %>
	</div>
</div>