<%= render partial: 'aplicacion/publicos/home/public_home/carousel' %>

<div class=" py-2 text-center">
          <button type="button" class="btn btn-primary mt-md-0 mt-3" data-bs-toggle="modal" data-bs-target="#RegistroEmpresa">
            <%= render partial: '0p/gly', locals: {gly: 'cursor'} %>
            Solicitar demo
          </button>
</div>


<!-- MODAL display -->
<%= render layout: '0p/mdl/modal', locals: {cdg: 'RegistroEmpresa', ttl: 'Registro de empresa'} do %>
	<%= render partial: 'empresas/registro' %>
<% end %>

<%#= render partial: prtl_name('publicos', 'home/public_home', 'lbrsf') %>

<%= render partial: prtl_name('publicos', 'home/public_home', 'prdct_laborsafe') %>