<div class="text-center text-primary">
	<%= image_tag 'logo/logo_800.png', style: 'height:100%;width:auto;' %>
	<h1>Carpeta de Investigaci贸n Electr贸nica</h1>
	<h2>Procedimiento de Investigaci贸n y Sanci贸n</h2>
	<h2>Ley 21.643 (Ley Karin)</h2>

	<!-- MODAL bttn -->
	<%= render partial: '0p/mdl/bttn', locals: {cdg: 'RegistroEmpresa', txt: 'Solicitar demo', gly: 'cursor'} %>

</div>

<%#= render partial: 'aplicacion/publicos/carousel' %>

<!-- MODAL display -->
<%= render layout: '0p/mdl/modal', locals: {cdg: 'RegistroEmpresa', ttl: 'Registro de empresa'} do %>
	<%= render partial: 'empresas/registro' %>
<% end %>

<%#= render partial: prtl_name('publicos', 'home/public_home', 'lbrsf') %>

<%= render partial: prtl_name('publicos', 'home/public_home', 'prdct_laborsafe') %>