<div class="prdct_ttl">
	<%= image_tag 'safestep.png', style: 'height:100%;width:auto;' %>
	</br>
	<div class="indnt">
		Registro y control</br>
		Procedimiento de Investigación y Sanción</br>
		Ley 21.643
	</div>
</div>

<div class="wht_area">
	<div class="row no-gutters">
		<div class="col-lg-6 col-xs-12">
			<%= render partial: '0capitan/app/home/prdct' %>
			<%= render partial: '0capitan/app/home/rgstr_emprs' %>

		</div>
		<div class="col-lg-6">
			<%= render partial: '0capitan/app/home/agst' %>
		</div>
	</div>
</div>

<div class="wht_area">
	<div class="row no-gutters">
		<div class="col-lg-4 col-xs-12">
			<%= render partial: '0capitan/app/home/b' %>
		</div>
		<div class="col-lg-4 col-xs-12">
			<%= render partial: '0capitan/app/home/p' %>
		</div>
		<div class="col-lg-4">
			<%= render partial: '0capitan/app/home/p_mas' %>
		</div>
	</div>
</div>

<%#= image_tag 'logo_bajo.png', style: 'height:50px;width:auto;' %>

<%#= request.remote_ip %>
<%#= render partial: scp_prtl('0capitan', 'app/home', 'sign_in') if scp_prtl?('0capitan', 'app/home', 'sign_in') %>
