
<% if usuario_signed_in? %>

		<div class="shadow p-3 mb-3 bg-white rounded">
	<h5 class="text-info">Facturación</h5>
			<%= column_chart @facturacion, prefix: '$', thousands: ".", precision: 3 %>
		</div>
	</br>

	<div class='row'>
		<div class="col-lg-4 col-xs-12">
			<% unless @coleccion['sin_facturar-causas'].empty? %>
				<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'causas', title: 'Causas en ingreso', link_new: nil} %>

				<%= render partial: '0p/tabla/tabla', locals: {c: 'sin_facturar-causas'} %>
			<% end %>
			<hr>
			<% unless @coleccion['en_proceso-causas'].empty? %>
				<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'causas', title: 'Causas en ingreso', link_new: nil} %>
				<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['causas'], title: 'Causas en proceso' , size: 6} %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'en_proceso-causas'} %>
			<% end %>
		</div>
		<div class="col-lg-4 col-xs-12-">
			<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['tar_facturaciones'], title: 'Pagos', size: 4} %>

			<% unless @coleccion['sin_aprobacion-tar_facturaciones'].empty? %>
				<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['tar_facturaciones'], title: 'Pagos sin aprobación' , size: 6} %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'sin_aprobacion-tar_facturaciones'} %>
			<% end %>

			<% unless @coleccion['sin_facturar-tar_facturaciones'].empty? %>
				<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['tar_facturaciones'], title: 'Pagos sin facturar' , size: 6} %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'sin_facturar-tar_facturaciones'} %>
			<% end %>
		</div>
		<div class="col-lg-4">
			<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['tar_facturas'], title: 'Facturas', size: 4} %>

			<% unless @coleccion['por_emitir-tar_facturas'].empty? %>
				<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['tar_facturas'], title: 'Facturas por emitir' , size: 6} %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'por_emitir-tar_facturas'} %>
			<% end %>
			<% unless @coleccion['en_cobranza-tar_facturas'].empty? %>
				<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['tar_facturas'], title: 'Facturas en cobranza' , size: 6} %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'en_cobranza-tar_facturas'} %>
			<% end %>
		</div>
	</div>
<% else %>

<div class="row">
	<div class="col-lg-9 col-xs-12">
		<div class="row">
			<div class="col-lg-8 col-xs-12">
				<%= render partial: '0blog/last_article' unless @principal.blank? %>
			</div>
			<div class="col-lg-4">
				<%= render partial: '0blog/second_article', locals: {articulo: @segundo} unless @segundo.blank? %>
				<hr>
				<%= render partial: '0blog/second_article', locals: {articulo: @tercero} unless @tercero.blank? %>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class='titulo-seccion' style='padding: 1em;'>
			Temas
		</div>
		<div class="tema">
			<% BlgTema.all.order(:blg_tema).each do |tema| %>
				<%= render partial: '0blog/show_tema', locals: {tema: tema} %>
			<% end %>
		</div>
	</div>
</div>

<% end %>
<hr>
