
<% if usuario_signed_in? %>

	<div class='row'>
		<div class="col-md-4">
			<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['causas'], title: 'Causas', size: 4} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'causas', title: 'Causas sin cuantia', coleccion: @causas_sin_cuantia} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'causas', title: 'Causas sin facturar', coleccion: @causas_sin_facturar} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'causas', title: 'Causas en proceso', coleccion: @causas_en_proceso} %>
		</div>
		<div class="col-md-4">
			<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['tar_facturaciones'], title: 'Cargos', size: 4} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'tar_facturaciones', title: 'Cargos en aprobación', coleccion: @cargos_sin_aprobar} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'tar_facturaciones', title: 'Cargos sin facturar', coleccion: @cargos_sin_facturar} %>
		</div>
		<div class="col-md-4">
			<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['tar_facturas'], title: 'Facturas', size: 4} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'tar_facturas', title: 'Facturas por emitir', coleccion: @facturas_sin_emitir} %>
			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'tar_facturas', title: 'Facturas en cobranza', coleccion: @facturas_en_cobranza} %>
		</div>
	</div>
<% else %>

<div class="row">
	<div class="col-lg-9 col-xs-12">
		<div class="row">
			<div class=" col-xs-12 col-md-8">
				<%= render partial: '0blog/last_article' unless @principal.blank? %>
			</div>
			<div class="col-md-4">
				<%= render partial: '0blog/second_article', locals: {articulo: @segundo} unless @segundo.blank? %>
				<hr>
				<%= render partial: '0blog/second_article', locals: {articulo: @tercero} unless @tercero.blank? %>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class='titulo-seccion' style='padding: 1em;'>
			<p>Temas</p>
		</div>
		<div class="tema">
			<% BlgTema.all.order(:blg_tema).each do |tema| %>
				<%= render partial: '0blog/show_tema', locals: {tema: tema} %>
			<% end %>
		</div>
	</div>
</div>

<% end %>
<hr>
