<%= render partial: 'aplicacion/publicos/home/banner' %>
<!--<a href="https://www.freepik.es/search">Icono de VectorPortal</a-->
<%= render partial: 'aplicacion/publicos/home/obligaciones' %>
<%= render partial: 'aplicacion/publicos/home/productos_servicios' %>

<%= render partial: 'aplicacion/publicos/home/documentacion' %>
<%= render partial: 'aplicacion/publicos/home/capacitacion' %>
<%= render partial: 'aplicacion/publicos/home/informacion' %>



		<%#= render partial: '0p/home/txt', locals: {cdg: 'cmplmnt_simple'} %>
<div class="f_50_col">
	<div class="lft">
		<%#= render partial: '0p/home/txt', locals: {cdg: 'rsmn_ly21643'} %>
		<%#= render partial: '0p/home/txt', locals: {cdg: 'cmplmnt_medio'} %>
	</div>
	<div class="rght">
		<%#= render partial: '0p/home/txt', locals: {cdg: 'cmplmnt_simple'} %>
		<!--div class="homeText">
			<div class="h_txt">
				<div class="txt_ttl">
					Título					
				</div>
				<div class="txt_txt">
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
					Sanción del Acoso Laboral, Sexual o de Violencia en el Trabajo", del Ministerio del Trabajo y Previsión Social, sin perjuicio del análisis concreto que se realice por parte de esta Dirección tras su entrada en vigencia, que guarden relación con las consultas específicas o concretas que se sometan al conocimiento y resolución de este Servicio.
				</div>
			</div>
		</div-->
		<%#= image_tag "home_text.jpg" %>
	</div>
</div>
