<h3>Descripción general del ambiente de <b>LaborSafe</b></h3>

<p>Al ingresar por primera vez a su cuenta de <b>LaborSafe</b>, se econtrará con una ventana de bienvenida similar a la siguiente:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_1.png', width: "600" %>
</div>

<h4>Datos de la cuenta y menú desplegable</h4>

<p>En la parte superior encontrará la <b>razón social de la empresa</b> propietaria de la cuenta. Si se trata de una cuenta DEMO se indicará con la leyenda DEMO entre parénstesis, a la derecha de la razón social.</p>
<p>Inmeditamente abajo a la derecha, encontrará el correo electrónico del usuario activo. En el mismo nivel, a la izquierda, encontrará el ícono del <b>Menú Desplegable de la denuncia</b>.</p>

<h5>Menú desplegable de la denuncia</h5>

<p>Al presionar el ícono del menú, este se desplegará de la siguiente forma:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_2.png', width: "600" %>
</div>

<p>La plataforma distingue cuatro tipos de usuarios.</p>
<ul>
	<li><b>admin</b> : Administrador de la cuenta.</li>
	<li><b>recepcion</b> : Recepción de denuncias.</li>
	<li><b>investigador</b> : Investigador.</li>
	<li><b>rrhh</b> : Recursos humanos.</li>
</ul>

<p>Dependiendo del tipo de usuario activo, la plataforma desplegará los ítems y funcionalidades correspondientes. Con excepción de las restricciones destinadas a resguardar la confidencialidad del procedimiento, todas las restricciones se pueden personalizar según las necesidades de la empresa.</p>

<p>El menú desplegado nos muestra en la imagen dos opciones, pero el total de opciones que puede desplegar son cuatro:</p>

<ol>
	<li>Denuncias</li>
	<li>Investigadores</li>
	<li>Empresas externas</li>
	<li>Nómina</li>
</ol>

<h5>Denuncias</h5>

<p>En la imagen esta opción no se despliega pues es la opción ya desplegada.</p>
<p>El ítem <b>Denuncias</b> le da acceso al listado de denuncias ingresadas y a través de cada registro, podrá acceder al detalle de una denuncia en particular.</p>
<p>En este ambiente también se puede crear una nueva denuncia. Esta opción no está desplegada en la imagen del ejemplo porque aún no se cumplen las condiciones necesarias para activar la opción, en este caso, no se ha registrado aún ningún <i>investigador</i>.</p>

<h5>Investigadores</h5>

<p>El ítem <b>Investigadores</b> le da acceso a la lista de investigadores registrados en la plataforma.</p>
<p>Como refleja el mensaje de bienvenida, la plataforma no le permitirá crear denuncias si no ha registrado al menos un investigador.</p>

<h5>Empresas externas</h5>

<p>Esta opción no aparece en el menú del ejemplo porque está disponible sólo en la versión para empresas principales o usuarias.</p>
<p>Si la empresa propietaria de la cuenta se registró como empresa principal o usuaria, es obligación ingresar al menos una empresa externa para habilitar el ingreso de nuevas denuncias. En este caso el mensaje de bienvenida incluirá esta restricción en su descripción</p>

<h5>Nómina</h5>

<p>Esta opción está disponible sólo para usuarios <i>admin</i>. Esta opción le permitirá ingresar o actualizar los usuraios de su empresa que tendrán acceso a la plataforma.</p>

<h3>Ingreso del primer investigador</h3>

<h4>Paso 1: Seleccionar la opción Investigadores</h4>

<p>Seleccionamos la opción <b>Investigadores</b> en el menú desplegable lo cual nos dará acceso a la siguiente página.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_3.png', width: "600" %>
</div>

<p>La página desplegada es muy similar a la anterior, la única diferencia es el <b>encabezado</b> que en esta ocasión dice <b>Investigadores</b> y en su extremo derecho tiene un botón con el ícono <i class="bi bi-plus-circle"></i>. Este botón le dará acceso al formulario para ingresar un nuevo investigador.</p>
<p>En toda las tablas presentadas en la plataforma, los encabezados de las tablas mostrarán a su derecha un botón similar para ingresar un nuevo registro en ellas, a menos que el usuario no tenga permisos para realizar esta acción o el registro se encuentre protegido por razones propias del procedimiento.</p>
<p>Al presionar el botón para ingresar la información de nuestro primer investigador se desplegará el siguiente formulario:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_4.png', width: "600" %>
</div>

<p>Si bien los campos del formulario no requieren mayor explicación, sí son necesarias algunas observaciones:
<ol>
	<li>La plataforma verificará las cédulas de identidad de los participantes y los RUT de empresa que se ingresen utilizando para ello el dígito verificador.</li>
	<li>El reglamento establece que todos los participantes en el Procedimiento de Investigación y Sanción deben usar su <b>correo personal</b> y el investigador debe cumplir con esta exigencia.</li>
</ol>
</p>

<p>Para efectos del ejemplo, ingresaremos como nombre del investigador: <b>Nombre completo del investigador</b> Una vez ingresado el nuevo investigador nuestra página actualizada lucirá así:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_5.png', width: "600" %>
</div>

<p>Podemos ver que bajo el encabezado se muestra el primer registro de nuestra lista de investigadores.</p>
<p>En el extremo derecho del registro hay dos botones caracterizados por un ícono: <ol>
	<li><i class="bi bi-pencil"></i> : este botón le permitirá modificar la información del investigador.</li>
	<li><i class="bi bi-trash"></i> : este botón le permitirá eliminar investigador.</li>
</ol>
</p>

<p>A continuación del nombre del investigador encontrará un tercer botón con el ícono: <i class="bi bi-envelope-at"></i></p>

<p>Al presionar este botón la plataforma enviará al correo electrónico del investigador con un link que le permitirá <b>verificar la dirección de correo registrada.</b></p>
<p>Una vez verificado el correo electrónico, el ícono para enviar el correo de verificación será reemplazado por el ícono <i class="bi bi-at"></i> para señalar que la dirección de correo electrónico fue verificada.</p>
<p>Este botón esta disponible para todos los particpantes del Procedimiento de Investigación y Sanción, de esta forma la plataforma incorpora la verificación de correos personales como parte del procedimiento.</p>