<h3 class="mb-4">Configuración básica</h3>
<p><b>NOTA</b>: Esta configuración debe ser realizada únicamente por el administrador de la cuenta. Se recomienda completarla antes de otorgar acceso a los demás usuarios, de manera que ingresen a una cuenta ya preparada y operativa.</p>

<p>Este tutorial ha sido diseñado para guiar al administrador en el proceso de configuración inicial de la cuenta, asegurando que quede lista para su uso.</p>

<p>Por simplicidad, llevaremos a cabo la configuración considerando el caso de una empresa principal o usuaria. Este procedimiento contempla únicamente una tarea adicional respecto del que corresponde a una empresa que no participa en un régimen de subcontratación. Dicha tarea será destacada de manera diferenciada para facilitar su identificación.</p>

<h4>Primer ingreso a LABORSAFE</h4>

<p>
Los datos del administrador de la cuenta, ingresados a través del formulario de registro de empresa disponible en nuestra página principal, se utilizarán para generar el primer <i>usuario administrador</i> de su organización. Este usuario recibirá, vía correo electrónico, las instrucciones necesarias para completar su registro junto con sus credenciales de acceso.
</p>

<p>Al ingresar por primera vez a la plataforma, el usuario administrador visualizará la página principal correspondiente a la cuenta de su empresa.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/cnfgrcn_bsc_1.png', width: "700" %>
</div>

<p>En la parte superior de la imagen podemos distinguir tres elementos generales:</p>

<p><b>Menú de LABORSAFE</b></p>
<p>En el primer nivel de la imagen: a la izquierda el logo de LABORSAFE y a la derecha los tres ítems del menú.</p>

<p><b>Mensaje emergente</b></p>
<p>En la imagen el mensaje nos cuenta que nuestra sesión se inició correctamente.</p>

<p><b>Encabezado de la cuenta</b></p>
<p>Cuenta con tres elementos:
	<ul>
		<li>Nombre de la empresa: a la izquierda. Si el usuario es administrador de la cuenta, el nombre es además in link que lo conduce a un ambiente en el cual puede, por ejemplo, subir el ícono de su empresa para personalizar la cuenta.</li>
		<li>Producto: a continuación del nombre de la empresa, en este caso <i>DEMO</i>. Al presionar sobre él nos muestra información del producto activo.</li>
		<li>Usuario activo: A la derecha. Es un link que nos lleva al ambiente de edición del usuario, donde podemos cambiar la contraseña o eliminar nuestro usuario.</li>
	</ul>
</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/cnfgrcn_bsc_2.png', width: "700" %>
</div>

<div class="border-start border-secondary border-5 px-3 pt-1" style="font-size: 0.7rem; line-height: 1.5;">
	<p><b>Confidencialidad de las denuncias</b></p>
	<p>En el ejemplo aparece la dirección de correo <i>admin@empresa.cl</i> dando a entender que se trata del <i>usuario administrador</i> y que se trata de un <i>correo corporativo</i>.</p>
	<p>El usuario administrador tendrá acceso a la información de todas las denuncias, por ello este rol debe ser asignado a quien comprenda y garantice los estándares de confidencialidad exigidos por el reglamento.</p>
</div>

<p><b>Cuenta de la empresa</b></p>

<p>Finalmente llegamos a la información de la cuenta. El tab superior nos permite seleccionar cuatro opciones:
	<ol>
		<li>Denuncias</li>
		<li>Invetigadores</li>
		<li>Empresas externas (sólo para empresas principales o usuarias)</li>
		<li>Nómina</li>
	</ol>
</p>

<p>Podemos ver que la opción seleccionada por defecto es <i>Denuncias</i></p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/cnfgrcn_bsc_3.png', width: "700" %>
</div>

<p>Al final de este encabezado, a la derecha del texto “Denuncias”, debería aparecer el botón <i class="bi bi-plus-circle"></i> para agregar una nueva denuncia. Si no se muestra, es porque la plataforma requiere completar primero la configuración mínima, tal como se indica en el mensaje de bienvenida bajo el encabezado.</p>

<p>La configuración mínima solicitada es:
	<ul>
		<li>Ingresar al menos un investigador.</li>
		<li>Ingresar al menos una empresa externa (sólo para empresas principales o usuarias).</li>
		<li>Ingresar al menos un contacto de RRHH. Este contacto se utiliza para solicitar la verificación y complementación de los datos de los participantes. También para solicitar la documentación de los participantes solicitada por el investigador.</li>
		<li>Ingresar al menos un contacto para <i>atención psicológica temprana</i>. Se trata de la persona que debe coordinar y acompañar la atención psicologica temprana de las personas denucniantes.</li>
		<li>Ingresar al menos un contacto de <i>respaldo de correos electrónicos</i>. Todos los correos electrónicos enviados desde la plataforma quedan respaldados en esta dirección de correo.</li>
	</ul>
</p>

<p><b>NOTA</b>: Un contacto no es un usuario, es una dirección de correo que la cuenta usa con un fin específico.</p>

<h5 class="mb-3">Investigadores</h5>

<p>Para acceder a la lista de investigadores seleccione la opción <i>Investigadores</i>.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/cnfgrcn_bsc_4.png', width: "700" %>
</div>

<p>Como aún no se cumple con la configuración básica, la plataforma despliega el mismo mensaje, pero a diferencia del encabezado de las denuncias, en el encabezado de los investigadores está habilitado el botón <i class="bi bi-plus-circle"></i> que permite crear nuestro primer investigador.</p>

<p>Al presionar el botón <i class="bi bi-plus-circle"></i> accedemos al formulario para crea un investigador:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/cnfgrcn_bsc_5.png', width: "700" %>
</div>

<p>Los campos del formulario no requieren mayor explicación, sólo algunas observaciones:
<ol>
	<li>La plataforma verificará la cédula de identidad del investigador utilizando para ello el dígito verificador.</li>
	<li>La plataforma reconoce todos los formatos de <i>cédulas de identidad</i>, no es necesario ingresar el guión.</li>
	<li>El reglamento establece que todos los participantes en el Procedimiento de Investigación y Sanción deben usar su <b>correo personal</b> y el investigador también debe cumplir con esta exigencia.</li>
</ol>
</p>

<p>Para efectos del ejemplo, ingresaremos como nombre del investigador: <b>Investigador de la empresa</b> Una vez ingresado el nuevo investigador nuestra página actualizada lucirá así:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_5.png', width: "600" %>
</div>

<p>Podemos ver que bajo el encabezado se muestra el primer registro de nuestra lista de investigadores.</p>
<p>En el extremo derecho del registro hay dos botones caracterizados por un ícono: <ol>
	<li><i class="bi bi-pencil"></i> : este botón le permitirá <b>modificar</b> la información del investigador.</li>
	<li><i class="bi bi-trash"></i> : este botón le permitirá <b>eliminar</b> investigador.</li>
</ol>
</p>

<p>Bajo el nombre del investigador verá una leyenda que dice: <i class="bi bi-cone-striped text-danger"></i> <i>Email con link de verificación de correo electrónico.</i> que finaliza con el botón <i class="bi bi-envelope-at text-primary"></i> <span class="text-primary">Enviar</span> </p>

<p>Este botón envía un correo electrónico al email registrado para el investigador, con un link que le permitirá <i>verificar la dirección de correo registrada</i>.</p>

<p>Una vez enviado el correo electrónico, verá en la parte alta de la pantalla el mensaje <i class="bi bi-bell text-primary"></i> <span class="text-primary">Correo de verificación enviado</span> y, el mensaje bajo el nombre del investigador ha cambiado:
	<ol>
		<li>Al comienzo del mensaje (que sigue siendo el mismo) aparece ahora la fecha en la que se envió el correo de verificación.</li>
		<li>Al final del mensaje aún podemos ver el botón, pero ahora dice <span class="text-primary">Reenviar</span>, el cual nos permitirá enviar un segundo correo si fuera necesario.</li>
	</ol>
</p>

<p>Una vez verificado el correo electrónico por el investigador, el ícono para enviar el correo de verificación será reemplazado por el ícono <i class="bi bi-at text-primary"></i> acompañado de la palabra <span class="text-primary">Verificado!</span>.</p>

<p>Este botón está disponible para todos los participantes del Procedimiento de Investigación y Sanción, de esta forma <b>la plataforma incorpora la verificación de correos personales para todos participantes de una denuncia</b>.</p>

<p>Finalmente, vemos que el mensaje de bienvenida no ha desaparecido, pero ahora no considera como tarea pendiente el ingreso de un investigador.</p>

<h5 class="mb-3">Empresas externas</h5>

<div class="border-start border-secondary border-5 px-3 pt-1" style="font-size:10px; line-height: 1.5;">
	<p><b>Empresas principales o usuarias</b></p>
	<p>Sólo las empresas principales o usuaria requieren el ingreso de empresas externas.</p>
</div>

<p>Para acceder a la lista de empresas externas seleccione la opción <i>Empresas externas</i> del menú desplegable.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_6.png', width: "600" %>
</div>

<p>La situación es similar al ingreso de investigadores, para agregar una empresa externa presionamos el botón <i class="bi bi-plus-circle"></i> que se encuentra a la derecha del encabezado.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_7.png', width: "600" %>
</div>

<p>El campo <i>Tipo de empresa</i> tiene dos opciones:
	<ol>
		<li>Contrato</li>
		<li>EST</li>
	</ol>
</p>

<p>Observaciones:
	<ol>
		<li>El RUT de la empresa es verificado ultilizando el dígito verificador.</li>
		<li>Se recomienda que el <i>email de contacto</i> sea corporativo.</li>
	</ol>
</p>

<p>Una vez ingresa la empresa externa, veremos lo siguiente:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_8.png', width: "600" %>
</div>

<p>Bajo el encabezado vemos los datos de la empresa ingresada y, dado que completamos la información requerida para cumplir con la configuración mínima, ya no vemos el mensaje de bienvenida. Estamos habilitados para ingresar nuestra primera denuncia.</p>

<h3 class="mb-3">Ingreso de la primera denuncia</h3>

<p>Para acceder a la lista de denuncias seleccione la opción <i>Denuncias</i> del menú desplegable.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_9.png', width: "600" %>
</div>

<p>Ahora, ya está disponible el botón <i class="bi bi-plus-circle"></i> a la derecha del encabezado para ingresar nuestra primera denuncia.</p>

<p>La plataforma permite el ingreso de todos los tipos de denuncia posibles, para ilustrar el ingreso de una denuncia simple, hemos creado un tutorial que le permitirá familiarizarse con el ambiente de trabajo. <%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'dnnc_smpl', dscrpcn: 'Ejemplo de denuncia simple', tltp: 'Ejemplo de denuncia simple'} %>.</p>