<h3 class="mb-4">Descripción general del ambiente de <b>LaborSafe</b></h3>

<p>La siguiente descripción le servirá de ayuda y guía para familiarizarse con el ambiente de LaborSafe. Está diseñada especialmente para ayudar al usuario administrador a completar la configuración inicial de la cuenta y dejarla operativa.</p>

<p>Al ingresar por primera vez a la plataforma encontrará la ventana de bienvenida</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_1.png', width: "600" %>
</div>

<p>Revisaremos de arriba a abajo los distintos elementos presentes en la ventana.</p>

<h5 class="mb-3">Datos de la cuenta y menú desplegable</h5>

<p>En la línea superior encontrará la <b>razón social de la empresa</b> titular de la cuenta, en este caso usamos el nombre <b>Empresa de prueba</b>; inmediatamente a su derecha verá la leyenda <b>( DEMO )</b> lo cual indica que se trata de una cuenta que se activó para que el usuario conozca la plataforma; finalmente, sólo si el usuario es el administrador de la cuenta, verá el botón <i class="bi bi-arrow-bar-down"></i>, que le permitirá acceder a la personalización del logo de la empresa.</p>

<p>Si se trata de una versión DEMO, bajo la razón social de la empresa encontrará la leyenda (en letras pequeñas) <b>Su cuenta Demo le permite crear hasta 10 denuncias y estará activa por 30 días contados desde el registro de su empresa</b>.</p>

<p>Un nivel más abajo, encontrará el <b>Menú Desplegable de la denuncia</b> a la izquierda y el <b>correo electrónico del usuario activo</b> a la derecha.</p>

<p>El botón <i class="bi bi-question-circle"></i>, a la derecha del correo electrónico del usuario, lo llevará a la página de <b>Ayuda de LaborSafe</b>, la cual se abrirá en una pestaña distinta para su comodidad.</p>

<h5 class="mb-3">Menú desplegable de la denuncia</h5>

<p>Al presionar el ícono del menú, este se desplegará de la siguiente forma:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_2.png', width: "600" %>
</div>

<p>El menú desplegado nos muestra en la imagen dos opciones, pero el total de opciones que puede desplegar son cuatro:</p>
<ol>
	<li><b>Denuncias</b></li>
	<li><b>Investigadores</b></li>
	<li><b>Empresas externas</b></li>
	<li><b>Nómina</b></li>
</ol>

<p>Sólo el usuario administrador tiene acceso a todas las opciones del menú, un usuario de recepción o investigador sólo verá la información de su competencia.</p>
<p>La opción <b>Empresas externas</b> solo se despliega en la versión <i>ampliada</i> de la plataforma, para empresas principales o usuarias.</p>

<h5 class="mb-3">Denuncias</h5>

<p>Esta es la opción que se despliega por defecto al entrar a la cuenta.</p>
<p>Le da acceso al listado de denuncias ingresadas y a través de cada registro, presionando el link que se encuentra en el identificador de la denuncia, puede acceder al detalle de una denuncia en particular.</p>
<p>En este ambiente también se puede crear una nueva denuncia. Esta opción no está desplegada en la imagen del ejemplo porque aún no se cumplen las condiciones necesarias para activar la opción, en este caso, no se ha registrado aún un <i>investigador</i> (al menos uno).</p>

<h5 class="mb-3">Investigadores</h5>

<p>El ítem <b>Investigadores</b> le da acceso a la lista de investigadores registrados en la plataforma.</p>
<p>Como refleja el mensaje de bienvenida, <b>la plataforma no le permitirá crear denuncias si no ha registrado al menos un investigador</b>. Luego, nuestra primera tarea será registrar nuestro primer investigador (ver abajo <b>Ingreso del primer investigador</b>).</p>

<h5 class="mb-3">Empresas externas</h5>

<p>Esta opción no aparece en la imagen de arriba porque está disponible sólo en la versión para empresas principales o usuarias.</p>
<p>Si la empresa propietaria de la cuenta se registró como empresa principal o usuaria, es obligación ingresar al menos una empresa externa para habilitar el ingreso de nuevas denuncias. En este caso el mensaje de bienvenida también incluirá esta alerta en su descripción.</p>

<h5 class="mb-3">Nómina</h5>

<p>Esta opción está disponible sólo para usuarios <i>admin</i>. Le permitirá ingresar o actualizar la nómina de usuarios que tendrán acceso a la plataforma. También podrá, crear y administra los contactos que podrán recibir los correos electrónicos y notificaciones desde la plataforma (uso administrativo).</p>

<h3 class="mb-3">Ingreso del primer investigador</h3>

<h4>Paso 1: Seleccionar la opción Investigadores</h4>

<p>Seleccionamos la opción <b>Investigadores</b> en el menú desplegable lo cual nos dará acceso a la siguiente página.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_3.png', width: "600" %>
</div>

<p>La página desplegada es muy similar a la anterior, la única diferencia es el <b>encabezado</b> que en esta ocasión dice <b>Investigadores</b> y, en su extremo derecho, tiene un botón con el ícono <i class="bi bi-plus-circle"></i>. Este botón le dará acceso al <b>formulario para ingresar un nuevo investigador</b>.</p>
<p>En toda las tablas presentadas en la plataforma, sus encabezados mostrarán a su derecha un botón idéntico para ingresar un nuevo registro en ellas, a menos que el usuario no tenga permisos para realizar esta acción o el ingreso se encuentre protegido por razones propias del procedimiento.</p>
<p>Al presionar el botón para ingresar la información de nuestro primer investigador se desplegará el siguiente formulario:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_4.png', width: "600" %>
</div>

<p>Si bien los campos del formulario no requieren mayor explicación, sí son necesarias algunas observaciones:
<ol>
	<li>La plataforma verificará las cédulas de identidad de los participantes utilizando para ello el dígito verificador.</li>
	<li>El reglamento establece que todos los participantes en el Procedimiento de Investigación y Sanción deben usar su <b>correo personal</b> y el investigador también debe cumplir con esta exigencia.</li>
</ol>
</p>

<p>Para efectos del ejemplo, ingresaremos como nombre del investigador: <b>Nombre completo del investigador</b> Una vez ingresado el nuevo investigador nuestra página actualizada lucirá así:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/ambnt_5.png', width: "600" %>
</div>

<p>Podemos ver que bajo el encabezado se muestra el primer registro de nuestra lista de investigadores.</p>
<p>En el extremo derecho del registro hay dos botones caracterizados por un ícono: <ol>
	<li><i class="bi bi-pencil"></i> : este botón le permitirá <b>modificar</b> la información del investigador.</li>
	<li><i class="bi bi-trash"></i> : este botón le permitirá <b>eliminar</b> investigador.</li>
</ol>
</p>

<p>A continuación del nombre del investigador encontrará un tercer botón con el ícono: <i class="bi bi-envelope-at"></i></p>

<p>Al presionar este botón la plataforma enviará al correo electrónico del investigador con un link que le permitirá <b>verificar la dirección de correo registrada.</b> Una vez verificado el correo electrónico, el ícono para enviar el correo de verificación será reemplazado por el ícono <i class="bi bi-at"></i> para señalar que la dirección de correo electrónico fue verificada.</p>
<p>Este botón esta disponible para todos los particpantes del Procedimiento de Investigación y Sanción, de esta forma <b>la plataforma incorpora la verificación de correos personales para todos participantes de la denuncia</b>.</p>

<h3 class="mb-3">Ingreso de la primera denuncia</h3>

<p>Habiendo ingresado nuestro primer investigador, estamos en condiciones de ingresar nuestra primera denuncia.</p>
<p><b>NOTA</b>: Recuerde que si se registró como empresa principal o usuaria deberá ingresar al menos una empresa externa para activar el ingreso de denuncias. El procedimiento es similar al ingreso de un investigador: selecciones la opción <b>Empresas externas</b> en el menú desplegable y presiones el botón <i class="bi bi-plus-circle"></i> a la derecha del encabezado.</p>

<p>Para un tutorial del ingreso de una denuncia, vaya a <%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'dnnc_smpl', dscrpcn: 'Ejemplo de denuncia simple', tltp: 'Ejemplo de denuncia simple'} %> </p>