<h3>Recepción de denuncias</h3>
<b>Plazo para la realización de la etapa: 3 días hábiles</b>

<h4>Canales de denuncia</h4>
<p>Las empresas tienen la obligación de informar a sus empleados los canales de denuncia tanto internos como externos.</p>

<div class="row gx-1">
	<div class="col-lg-4 col-xs-12">
		<div class="text-center"><i class="bi bi-buildings"></i></br><b>Empresa</b></div>
		<ul>
			<li>Encargado de la recepción de denuncias (<i class="bi bi-person-lines-fill"></i>), especificado su cargo, email y teléfono.</li>
		</ul>
	</div>
	<div class="col-lg-4 col-xs-12">
		<div class="text-center"><i class="bi bi-bank"></i></br><b>Dirección del Trabajo</b></div>
		<ul>
			<li>Información de la oficina de la Dirección del Trabajo correspondiente.</li>
		</ul>
	</div>
	<div class="col-lg-4">
		<div class="text-center"><i class="bi bi-buildings-fill"></i></br><b>Contratista o EST</b></div>
		<ul>
			<li>Si se trata de una empresa principal o usuaria, es posible que la denuncia sea presentada en una empresa contratista o EST.</li>
		</ul>
	</div>
</div>
<p><b>NOTA</b>: Una empresa principal o usuaria tiene la obligación de recibir denuncias de personas denunciantes de empresas contratistas o EST.</p>

<p><b>CONFIDENCIALIDAD:</b> La denuncia es recibida por la persona encargada, quien debe guardar absoluta reserva respecto al contenido de ladenuncia y la identidad de sus participantes.</p>

<h3>La denuncia</h3>
<p>El reglamento establece que, la denuncia deberá contener, entre otros, los siguientes antecedentes:</p>
<%= content_tag :ol, style: "list-style-type: lower-alpha;" do %>
	<%= content_tag :li, 'Identificación de la persona afectada, con su nombre completo, número de cédula de identidad y correo electrónico personal, sin perjuicio de lo dispuesto en el artículo 516 del Código del Trabajo. En caso de ser distinta del denunciante deberá indicar dicha información y la representación que invoca.' %>
	<%= content_tag :li, 'Identificación de la o las personas denunciadas y sus cargos, cuando sea posible.' %>
	<%= content_tag :li, 'Vínculo organizacional que tiene la persona afectada con la o las personas denunciadas. En caso de que la persona denunciada sea externa a la empresa, indicar la relación que los vincula.' %>
	<%= content_tag :li, 'Relación de los hechos que se denuncian.' %>
	<%= content_tag :li, 'Si la denuncia se realiza directamente ante la Dirección del Trabajo, se deberá identificar a la empresa y su RUT o, en su defecto, identificar al representante conforme a lo dispuesto en el artículo 4º del Código del Trabajo.' %>
<% end %>

<p>Otros aspectos que se deben considerar son:</p>
<ol>
	<li>La denuncia puede ser presentada por un representante de la persona denunciada, la que deberá exhibir un poder simple que la acredite como tal. Los sindicatos pueden ser representantes pero no están eximidos de presentar el poder correspondiente.</li>
	<li>No es posible exigir a la persona denunciante que conozca todos los datos de la (o las) personas denunciadas, por lo tanto, el procedimiento debe considerar la verificación y complementación de la información recibida relativa a los participantes. Si se trata de una empresa principal u usuaria, esta tarea será realizada por una empresa externa (<i class="bi bi-buildings-fill"></i>).</li>
	<li>La empresa está obligada a capacitar a sus trabajadores en el Procedimiento de Investigación y Sanción.</li>
</ol>

<p><b>CONFIDENCIALIDAD:</b> Durante la <i>recepción de la denuncia</i>, el encargado debe informar a la persona denunciante o a su representante, respecto a su deber de confidencialidad.</p>

<h3>Evaluación de posibles derivaciones</h3>

<p style="font-size: 12px;line-height: 1.5;"><b>NOTA</b>: Ponemos esta tarea antes que la <i>Verificación y complementación de los datos de los participantes</i> porque, si la denuncia fue presentada <i>presencialmente</i> debemos ocuparnos de atender a la persona denunciante.</p>

<h4>Derechos de la persona denunciante</h4>
<p>Al evaluar las posibles derivaciones de la denuncia, es obligación de la empresa informar a la persona denunciante lo siguiente:
	<ol>
		<li>Que derecho a solicitar que la denuncia sera derivada a la Dirección del Trabajo.</li>
		<li>Que si su voluntad es que la empresa investigue la denuncia, ésta tiene el derecho a derivar la denuncia a la Dirección del Trabajo si lo estima pertinente, resolución que debe ser tomada dentro de los tres días hábiles contados a partir de la recepción de la denuncia y notificada por escrito a los participantes.</li>
		<li>Si se trata de una empresa principal o usuaria que recibe una denuncia que debe ser investigada por una empresa externa, la persona denunciante tiene el derecho a decidir si ésta será derivada a su empleador o a la Dirección del Trabajo.</li>
	</ol>
</p>

<h4>Derivaciones o investigación interna</h4>

<p>Una vez hemos informado a la persona denunciante sus derechos, debemos registrar su opción:</p>
<ol>
	<li>Derivar a la Dirección del Trabajo.</li>
	<li>Investigación interna.</li>
	<li>Derivar a su empleador, si se trata de una empresa principal o usuaria que recibe una denuncia que debe ser investigada por el empleador de la persona denunciante.</li>
</ol>

<h3>Prestar atención socológica temprana</h3>

<p>La empresa tiene la obligación de prestar <i>atención sicológica temprana</i> a la persona denunciante. La que debe ser coordinada inmediatamente una vez ingresada la denuncia.</p>
<p>Se debe recuparar toda la evidencia que respalde el cumplimiento de esta obligación y adjuntarlo a la carpeta de investigación.</p>
<p><b>NOTA para empresas principales o usuarias</b>: Si la persona denunciante es empleado de una empresa externa, se le debe solicitar que asista a la urgencia de la institución que le corresponde según su empresa y solicite la atención sicológica temprana correspondiente.</p>

<h3>Medidas de resguardo</h3>

<p>Es obligación de la empresa definir y aplicar <i>medidas de resguardo</i> que protejan a los particpantes y cumplan los estándares fijados por el reglamento respecto al cuidado de los participantes y la confidencialidad del procedimiento.</p>
<p>Estas medidas deben ser definidas y notificadas por escrito a todos los participantes.</p>
<p>Es deber de todos los participantes cumplir con las medidas adoptadas por la empresa.</p>
<p><b>NOTA para empresas principales o usuarias</b>: Si la persona denunciante es empleado de una empresa externa, la empresa principal o usuaria deebe tomar todas las medidas de resguardo que le sea posible, medidas que podrán ser complementadas o corregidas por la Dirección del Trabajo o la empresa externa, según corresponda.</p>

<h3>Verificación y complementación de los datos de los participantes</h3>
<p>Para verificar y complementar la información proporcionada por la persona denunciante, se debe enviar a la persona encargada de esta tarea en el área de RRHH, el datalle de los datos de los participantes entregados por la persona denunciante junto a la solicitud de verificar y completar, si corresponde.</p>
<p>La solicitud llevará los datos de las personas denunciantes, denunciadas y de los testigos de la persona denunciante si los presentó junto a la denuncia.</p>
<p>Es probable que la lista de testigos se complemente al momento de tomar declaración a las personas denunciantes y denunciadas, razón por la cual se debera hacer esta solicitud en una segunda oportunidad más adelante.</p>
<p>Una vez recibida la información corregida, se actualizarán los registros correspondientes.</p>

<h3>Cierre de la recepción de la denuncia</h3>

<p>En la tarea <i>Evaluación de posibles derivaciones</i>, recogimos la voluntad de la persona denunciante respecto a las posibles derivaciones de la denuncia.</p>
<p>La verificación y complementación de la información de los denunciantes podría haber cambiado las posibles derivaciones, razón por la cual dejamos para este momento, la definición de la empresa respecto a su derivación. Específicamente, la modificación podría establecer que para alguno de los participantes aplica el artículo 4to inciso segundo del Código del Trabajo, lo cual hace obligatorio derivar la denuncia a la Dirección del Trabajo.</p>
<p>Lo anterior puede cambiar nuestra voluntad de investigar la denuncia, pero no la voluntad de la persona denunciante de que la denuncia sea derivada, la que debe ser respetada siempre.</p>

<h4>Derivar la denuncia</h4>
<p>Si la denuncia será derivada a la Dirección del Trabajo o a una empresa externa (si corresponde),</p>