<h3>Ejemplo de denuncia simple</h3>

<p>Las características de este ejemplo son las siguientes:
	<ol>
		<li>La empresa NO cumple el rol de empresa principal o usuaria.</li>
		<li>Para ninguno de los participantes aplica el Artículo 4 inciso primero del Código del Trabajo.</li>
		<li>Para ninguno de los participantes aplica el Artículo 516 del código del Trabajo.</li>
		<li>Se trata de una denuncia investigada por la propia empresa.</li>
		<li>No se presenta objeción del investigador asignado.</li>
		<li>La denuncia esta completa y no presenta inconsistencias.</li>
		<li>El plazo para el pronunciamiento de la Dirección del Trabajo se cumple sin recibir el pronunciamiento.</li>
	</ol>
</p>

<p>Para ingresar una denuncia debemos seleccionar el ítem <b>Denuncias</b> del menú principal. Si recién se ingresó a la cuenta de la empresa, esta es la opción que aparece por defecto. Usted deberá ver algo similar a esta imagen:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_1.png', width: "600" %>
</div>

<p>Si a la derecha del encabezado <b>Denuncias</b> no aparece el botón <i class="bi bi-plus-circle"></i>, en la pantalla aparecerán el detalle de la información que debe completar para activar el ingreso de nuevas dennuncias. Para más información ver: 
<%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'ambnt', dscrpcn: 'Descripción general del ambiente LaborSafe', tltp: 'Descripción general del ambiente LaborSafe'} %>
</p>

<h4>Crear una nueva denuncia</h4>

<p>Al presionar el botón <i class="bi bi-plus-circle"></i> a la derecha del encabezado <b>Denuncias</b>, accederá al formulario de ingreso de denuncia.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_2.png', width: "600" %>
</div>

<p>Se puede ver en el formulario tres tipos de campos, dos de ingreso, cuatro de selección y uno opcional.</p>
<p>Los dos superiores:
	<ul>
		<li>Fecha y hora de la denuncia</li>
		<li>Identificador de la denuncia</li>
	</ul>
son campos que requieren el ingreso de información. La fecha y hora de la denuncia es, por supuesto la fecha y hora en la que fue presentada/enviada la denuncia; El identificador de la denuncia es propio de cada empresa. Por ejemplo, una empresa podría utilizar los apellidos de las personas denunciantes y denunciados para construir el identificador: <b>"Perez - Rivera"</b>, Otra empresa utilizará un identificador compuesto; <b>"L-2-2025"</b>, que identifica la denuncia por acoso laboral Nº 2 del año 2025, etc. <b>El ingreso de un indentificador de la denuncia es obligatorio</b></p>

<p>Los campos de selección son:
	<ul>
		<li><b>Motivo de la denuncia</b>: cuyas opciones son:
			<ol>
				<li>Acoso laboral</li>
				<li>Acoso sexual</li>
				<li>Violencia en el trabajo ejercida por terceros</li>
			</ol>
		</li>
		<li><b>Receptor de la denuncia</b>: cuyas opciones son:
			<ol>
				<li>Empresa</li>
				<li>Dirección del Trabajo</li>
				<li>Empresa externa (aparece sólo si la empresa es principal p usuaria)</li>
			</ol>
		</li>
		<li><b>Canal de denuncia</b>: cuyas opciones son:
			<ol>
				<li>Presencial</li>
				<li>Correo electrónico</li>
				<li>Plataforma</li>
			</ol>
		</li>
		<li><b>Quien denuncia</b>: cuyas opciones son:
			<ol>
				<li>Denunciante</li>
				<li>Representante</li>
			</ol>
		</li>
	</ul>
</p>

<p>Finalmente, el campo <b>Formato de la denuncia</b>, es un campo opcional pues aparece, sólo si se seleccionó la opción <b>Presencial</b> en el campo <i>Canal de denuncia</i>, ya que una denuncia que presentada en forma <i>presencial</i>, puede ser presentada por <i>escrito</i> o en forma <i>verbal</i>.</p>

<p>Para conocer en detalle los campos, sus opciones y todos los campos opcionales, presione en la parte inferior derecha del formulario el link <b>¿Necesita ayuda para llenar este formulario?</b></p>

<p>Una vez completado el formulario y presionado el botón Crear Denuncia</b>, la plataforma creará la denuncia y le presentará la página en la cual se ingresa la información de las personas denunciantes y denunciadas.</p>

<h4>Ingresar datos de las personas denunciantes, denunciadas y testigos</h4>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_3.png', width: "600" %>
</div>

<p>En la imagen anterior vemos en la parte superior, un mensaje que nos informa que la denuncia que acabamos de ingresar fue creada exitósamente.</p>
<p>Inmediatamente debajo de este anuncio, encontramos un encabezado que nos cuenta que estamos <b>dentro de la denuncia</b> cuyo identificador es <b>Denuncia simple</b> y nos muestra la fecha y hora de la denuncia.</p>

<p>Inmediatamente bajo el encabezado encontramos un <b>menu deplegable</b> a la izquierda, y a la derecha un link que nos permite ver un <b>resumen del estado de la denuncia</b>.</p>

<p>El menú desplegable de la izquierda tiene tres ítems (siempre vemos dos pues nunca se despliega la opción en la cual estamos):
	<ul>
		<li>Proceso</li>
		<li>Participantes</li>
		<li>Reportes</li>
	</ul>
</p>

<p>Como comprobamos, la creación de una denuncia nos conduce al ítem <b>Participantes</b>.</p>

<h5>Resumen del estado de la denuncia</h5>

<p>A medida que vamos ingresando información en la denuncia, o avanzando en el proceso según el <i>Procedimiento de Investigación y Sanción</i>, la plataforma va agregando a este reporte el datalle de cada acción realizada.</p>
<p>Si consultamos el resumen en este momento veremos lo siguiente:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_4.png', width: "600" %>
</div>

<p>Podemos ver en el resumen el detalle de la información que hasta el momento se ha ingresado de la denuncia. Respecto a la información de los participantes, se indica que no se han ingresado aún.</p>
<p>Tambieén se establece que no se ha terminado ninguna etapa aún.</p>
<p>Finalmente, respecto a la <b>Documentación obligatoria</b> no se ha subido ningún archivo aún. Particularmente muestra que está pendiente subir la <b>Denuncia</b> la cual está señalada como <b>pendiente</b> y que no se han subido anexos a la denuncia (opcionales).</p>

<h5>Ingreso de personas denunciadas, denunciantes y testigos</h5>

<p>Cerrando el informe de resumen, volvemos a la página <b>Participantes</b>.</p>
<p>Bajo el menú encontramos un mensaje que nos invita a ingresar los datos de las personas denunciantes y denunciadas. Y finalmente, encontramos el encabezado de la <b>listas de personas denunciantes</b> y a continuación, el de la <b>lista de personas denunciadas</b>.</p>
<p>A pesar de que el reglamento no se refiere nunca a denuncias realizadas por más de una persona denunciante, nos parece natural su implementación por las siguientes razones:
	<ol>
		<li>El reglamento establece que el sindicato de la empresa puede presentar la denuncia en representación de la parsona denunciante, en este contexto nos parece probable que en este ejercicio, dicha representación se extienda a más de una persona denunciante.</li>
		<li>La opción de dividir una denuncia de más de una persona denunciante en tantas denuncias como denunciantes, no sólo multiplica el trabajo administrativo y el número de declaraciones realizadas por los testigos, complejiza además la definición de medidas correctivas y sanciones, enfrentandonos a la situación en la que una persona denunciada pudiera tener más de una sanción, por ejemplo.</li>
	</ol>
</p>
<p>Vemos que el encabezado de la lista de personas denunciantes tiene dos botones en su extremo derecho, pero la lista de las personas denunciadas solo uno. Ya sabemos que el botón <i class="bi bi-plus-circle"></i> es el que me permite ingresar un nuevo registro, el botón <i class="bi bi-question-circle"></i>, donde quiera que se encuentre, representa <b>ayuda</b>.</p>
<p>El botón <i class="bi bi-question-circle"></i> en el encabezado de la lista de personas denunciantes es la ayuda que me permitirá comprender la información que se despliega en cada registro de una persona denunciante y su funcionalidad, lo mismo para el botón del encabezado de la lista de personas denunciadas.</p>
<p>Podemos concluir de lo anterior es que en este momento la plataforma sólo me permite ingresar personas denunciantes. Efectivamente, para poder ingresar una persona denunciada es necesario haber ingresado al menos una persona denunciante.</p>

<p>Al presionar el botón para ingresar una persona denunciante accederemos al siguiente formulario:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_5.png', width: "600" %>
</div>

<p>Al igual que en el ingreso de la denuncia, contamos con el <b>¿Necesita ayuda para llenar este formulario?</b> (abajo a la izquierda) que nos permite acceder a una descripción detallada de los campos solicitados.</p>
<p>Algunas observaciones acerca de los campos solicitados:
	<ol>
		<li>La <b>cédula de identidad será verificada por la plataforma, utiliando para ello el dígito verificador.</b>.</li>
		<li><b>Aplica el artículo 516 del Código del Trabajo</b>: Se marca este campo <b>si la persona denunciante NO tiene ni usa correo electrónico</b>, en este caso la ley obliga que toda la información y notificaciones del proceso se le envíen por correo certificado. Al seleccionar este campo aparecerá en el formulario un campo adicional para que se ingrese la dirección que se usará para estos efectos.</li>
		<li><b>Aplica el artículo 4 inciso primero del Código del Trabajo</b>: Se marca este campo <b>si la persona trabajadora tiene un cargo de gerencia</b>, situación en la cual es obligatorio derivar la denuncia a la Dirección del Trabajo.</li>
	</ol>
</p>

<p>El ingreso de una persona denunciada y de los testigos es similar al ingreso de la persona denunciante. Una vez ingresada la información que se tiene al momento de la denuncia, la página queda más o menos como muestra la siguiente imagen:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_6.png', width: "600" %>
</div>

<p>Como se puede ver, se ingreso una persona denunciante, la cual entregó los datos de uno de sus testigos, y una persona denunciada.</p>

<p>El ícono <i class="bi bi-envelope-at"></i> a la derecha de cada nombre indica que <b>no se ha verificado aún ninguno de los correos electrónicos de los participantes</b>.</p>
<p>Por último se aprecia que <b>no se ingresó la cédula de identidad de la parsona denunciada</b>.</p>

<p>El estado de la información de los participantes que muestra esta imagen es típico de una denuncia recién entregada.</p>
<p>Toda la información de los participantes debe ser verificada y completada por el área de recursos humanos. Para ello, la plataforma tiene un reporte que se envía por correo electrónico al contacto de recursos humanos registrado, solicitando que se verifiquen y completen los datos de los participantes.</p>

<p>El orden en el que presentamos las tareas <b>considera que el ingreso y proceso de la información puede ser realizado mientras la persona denunciante esta presencialmente entregando la denuncia</b>, por ello las tareas que no requieren su participación, como el envío de la solicitud de información a RRHH, se postergan hasta finalizar las tareas en las que puede participar la persona denunciante</p>

<p>La generación y envío del reporte de solicitud de información de los participantes lo revisaremos más adelante.</p>


<h4>Definición de las posibles derivaciones</h4>

<p>Para realizar esta tarea debemos estar en la página <b>Proceso</b> de la denuncia, la cual seleccionamos desde el menú desplegable de la denuncia.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_9.png', width: "600" %>
</div>

<p>La página <b>Proceso</b> de la denuncia nos muestra en que etapa del Procedimiento de Investigación y Sanción estamos y cual es la tarea que nos toca resolver.</p>

<p>Estamos en la etapa <b>Recepción de la denuncia</b> cuyo plazo vence el 22-5-2025.</p>
<p>Abajo, en letras un poco más pequeñas, encontraremos la tarea que nos corresponde realizar: <b>Definición de las posibles derivaciones</b>.</p>

<p>Bajo la tarea encontramos el detalle de la misma, en este caso muestra las tres opciones posibles. Cada opción termina con un link que permite definir la opción/acción elegida.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_10.png', width: "600" %>
</div>

<p>Cada párrafo o frase comienza con un ícono:
	<ol>
		<li><i class="bi bi-chat-left-dots"></i> : Antecede un párrafo que debe ser leído textualmente a la persona denunciate (si está presente). Se trata de información que es obligatorio entregar.</li>
		<li><i class="bi bi-clipboard2-check"></i> : Antecede un párrafo que describe una decisión adoptada o un hecho constatado. En el ejemplo señala que la segunda opción aplica si <b>La persona denunciante manifiesta su deseo que la denuncia sea investigada en la empresa.</b></li>
		<li><i class="bi bi-cursor"></i> : Antecede al link utilizado para adoptar la opción elegida.</li>
	</ol>
</p>

<p>En una segunda área delimitada por el encabezado <b>Documentación obligatoria</b>, encontramos la lista de documentos que dado el estado de la denuncia es obligatorio subir. En la imagen se aprecia que no se ha subido aún la denuncia, tampoco se han subido otros anexos de la denuncia.</p>

<p>Como nuestro ejemplo se trata de una denuncia investigada por la empresa, presionamos el link <b>La empresa decidió realizar la investigación de la denuncia.</b></p>

<p>Puede ver que los dos elementos que conforman hasta este minuto la lista de <b>Documentación obligatoria</b> comienzan con íconos distintos y además, tienen distinta funcionalidad (botones de la derecha).</p>
<ul>
	<li><i class="bi bi-file-earmark"></i> indica que se debe subir un documento único.</li>
	<li><i class="bi bi-list-ul"></i> indica que se trata de uno o más documentos (una sublista).</li>
</ul>
<p>En consecuencia, la funcionalidad asociada permite subir y gestionar un único documento o una lista de ellos según corresponda.</p>

<p>Para información detallada dre la gestión de la Documentación obligatoria visite 
	<%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'dcmntcn_oblgtr', dscrpcn: 'Gestión de la Documentación obligatoria', tltp: 'Gestión de la Documentación obligatoria'} %>
</p>

<p>Para avanzar con el ejemplo presionamos el tercer link: <b><i class="bi bi-cursor"></i> La empresa decidió realizar la investigación de la denuncia</b>, lo cual nos lleva a la siguiente página:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_11.png', width: "600" %>
</div>

<p>Seguimos en la etapa <b>Recepción de la denuncia</b> pero ahora la tarea es el <b>Cierre de la recepción de la denuncia</b>.</p>

<p>Lo primero que nos llama la atención del detalle de la tarea es la advertencia: <b><i class="bi bi-cone-striped"></i> No se puede cerrar la rececpción de la denuncia mientras no esté completa la información de los participantes</b>.</p>

<p>Al momento de recibir la denuncia, los datos de los participantes se ingresaron parcialmente. Para poder continuar debemos solicitar al área de RRHH que verifique y complete la información ingresada y, que además, nos envíe la documentació que deberemos tener a la vista a la hora de dedactar el informe de investigación.</p>

<h4>Verificación de datos de los participantes y solicitud de documentación</h4>

<p>Para completar los datos de los participantes, La plataforma permite enviar, via correo electrónico al contacto de RRHH, el detalle de los datos con los que se cuenta de los participantes y solicita lo siguiente:
	<ol>
		<li>Verificar, correjir y completar, si es necesario, la información de los participantes que se envía.</li>
		<li>Envíar toda la documentación que el reglamento exige tener a la vista a la hora de redactar el informe de la investigación (se envía detalle).</li>
	</ol>
</p>

<p>Para enviar el correo debe ir a la página <b>Reportes</b> de la denuncia. Para ello, presiones el menú desplegable que en este minuto se encuentra en la página <b>Participantes</b>. Al presionarlo aparecera el menú desplegable con las otras dos vistas de la denuncia: <b>Proceso</b> y <b>Reportes</b>, como muestra la siguiente imagen.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_7.png', width: "600" %>
</div>

<p>Presione el ítem <b>Reportes</b> y accederá a los resportes habilitados para la cuenta, como se muestra en la siguiente imagen:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_8.png', width: "600" %>
</div>

<p>La lista de reportes que se despliega tiene la siguiente funcionalidad:
	<ol>
		<li><b>El nombre del reporte</b> es un link que muestra un ejemplo del reporte</li>
		<li>El ícono <i class="bi bi-envelope-check"></i> a la derecha del nombre es el botón que envía el reporte a todos sus destinatarios.</li>
	</ol>
</p>

<p>Una vez enviado e correo con la solicitud, deberemos espera a recibir la información completa, la que utilizaremos para completar la información de los participantes. Para efectos de este ejemplo, considerareos que todo esto ya ocurrió.</p>

<p>Volvemos entonces a la página <b>Proceso</b> para retomar nuestras tareas.</p>

<h4>Cierre de la recepción de la denuncia</h4>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_12.png', width: "600" %>
</div>

<p>Antes de realizar la tarea, revisemos los nuevos elementos que podemos distinguir en la página:</p>

<p>Arriba de la información de la etapa y tarea actuales, ahora hay un texto que nos pregunta <b>¿Desea deshacer la última acción realizada?</b>. Al presionar este link, aparecerá bajo la pregunta un link, que nos permitirá deshacer la última acción realizada. En este caso, la tarea a deshacer es: <b>La empresa decidió realizar la investigación de la denuncia.</b></p>

<p>A partir de este momento, la plataforma siempre nos ofrecerá esta opción para devolvernos un paso en el procedimiento. Si la última acción fue presionar un link, le ofrecerá el link que le permitirá deshacer lo realizado. Si lo que hizo fue crear un registro, encontrará instrucciones para deshacer lo realizado.</p>

<p>Tambien podemos ver, sobre el detalle de la tarea, que apareció el encabezado del <b>Investigador</b> asignado a la denuncia y con ello, la posibilidad de asignar uno de los investigadores registrados al presionar el botón <i class="bi bi-plus-circle"></i>.</p>

<p>La asignación del investigador es formalmente la primera tarea de la etapa <b>Investigación</b> (etapa siguiente). Ya que algunas empresa asignan al investigador en la etapa de recepción, habilitamos la funcionalidad también en el cierre de la recepción.</p>

<p>Es recomendable asignar y notificar el investigador asignado a los participantes cuanto antes, esto permitirá la pronta resolución de una eventual objeción al investigador presentada por alguna de las personas denunciantes o denunciadas, evitando con ello, perjudicar el plazo de investigación.</p>

<p>Finalmente, vemos que apareció un nuevo elemento en la <b>Documentación obligatoria</b>: una lista de documentos para las <b>Medidas de resguardo</b></p>

<p>Ahora volvamos a la tarea:</p>

<p>Como ya se completo la información de los participantes, no vemos la advertencia que nos impedía avanzar. A cambio, al final de los textos con la información que debemos entregar a la persona denunciante, encontramos un formulario que nos solicita ingresar la <b>Fecha en la que se informa a la Dirección del Trabajo el inicio de la investigación.</b></p>

<p>Bajo el formulario para ingresar la fecha encontramos la leyenda: <b><i class="bi bi-cone-striped"></i> Esta fecha será usada para verificar el cumplimiento del plazo.</b> Si la fecha ingresada, es menor o igual al plazo de la etapa actual la plataforma dará por cumplido el plazo. Ingresaremos una fecha anterior en un día al plazo establecido (21-5-2025).</p>

<p>Para ingresar la fecha selecciono día, mes y año utilizando los menú desplegables del formulario y finalmente presiono el botón azul de la derecha del formulario. Esta acción nos llega a la siguiente imagen:</p>

<h4>Investigación : asignar un investigador</h4>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_13.png', width: "600" %>
</div>

<p>Podemos ver un nuevo elemento: <b>Etapas concluidas</b> en el que iran apareciendo las etapas concluidas y el detalle del cumplimiento del plazo establecido para cada etapa.</p>

<p>Al registrar la fecha en la cual se informó a la Dirección del Trabajo el inicio de la investigación, la plataforma verificó el cumplimiento del plazo asociado. El detalle desplegado indica que la etapa <b>Recepción de la denuncia</b>, cuyo plazo vencía el 22-05-2025, se terminó con un día de anticipación (21-05-2025).</p>

<p>Podemos verificar además que la nueva etapa, <b>Investigación</b>, debe concluir, a más tardar, el 01-07-2025</p>

<p>La primera tarea de la etapa de investigación es simplemente <b>Asignar un investigador</b>. Al presionar el botón <i class="bi bi-plus-circle"></i> en el extremo derecho del encabezado <b>Investigador</b> accederemos al formulario donde seleccionaremos al investigador.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_14.png', width: "600" %>
</div>

<p>Como solo hemos registrado un investigador llamado <b>Nombre completo del investigador</b>, sólo podemos seleccionar ese y presionar el botón <b>Crear Investigador</b>. De esta forma llegamos a la siguiente tarea de la etapa:</p>

<h4>Evaluación de la denuncia</h4>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_15.png', width: "600" %>
</div>

<p>Se ha desplegado el registro del investigador asignado bajo el encabezado. En el extremo derecho del registro podemos ver los botones que nos permiten modificarlo o eliminarlo.</p>
<p>A continuación del nombre del investigador, está el boton que nos permitirá notificar, via correo electrónico, a todos los participantes su designación.</p>
<p>Y bajo el nombre del investigador asignado se ven dos leyendas:
	<ol>
		<li>Investigador aún no ha sido notificado a los participantes</li>
		<li> Investigador sin objeción <i class="bi bi-square"></i></li>
	</ol>
</p>

<p>El cuadrado al final del segundo estado, es un botón que permite marcar el investigador como objetado.</p>

<p>Tratándose este ejemplo de una denuncia simple, no profundizaremos en la objeción del investigador asignado.</p>

<p>El reglamento establece que el investigador debe evaluar la denuncia verificando que esté completa y que no presente inconsistencias. Si la denuncia adolece de alguno de estos problemas, debe ser devuelta a la persona denunciante con las observaciones correspondientes y establecer un plazo para que sea devuelta con las observaciones resueltas.</p>
<p>En consecuencia, la <b>Documentación obligatoria</b> ahora solicita el documento <b>Evaluación de la denuncia</b></p>
<p>Como se trata de una denuncia simple, tomaremos la opción <b>La denuncia está completa y no presenta inconsistencias</b>, lo cual nos lleva a la siguiente imagen:</p>

<h4>Agendamiento y toma de declaraciones</h4>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_16.png', width: "600" %>
</div>

<p>La tarea es ahora <b>Agendamiento y toma de Declaraciones</b></p>
<p>En el lugar del detalle de la tarea encontramos una leyenda que nos dice que debemos ir a la página <b>Participantes</b> para cumpletar esta tarea.</p>
<p>En esta página nos encontraremos lo siguiente (la imagen sólo muestra la parte superior, no aparece el detalle de la persona denunciada.):</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_17.png', width: "600" %>
</div>

<p>En el detalle de cada participante ahora aparecen las notificaciones que han sido enviadas con su fecha y hora. Además se incluyo el encabezado <b>Agenda de declaraciones</b> (cada participante tiene una). En la mayoría de los casos, sólo hara falta una declaración, pero si este no es el caso, es posible ingresar más de una.</p>

<p>Para agendar una declaración basta con presionar el botón <i class="bi bi-plus-circle"></i> en el extremo derecho del encabezado <b>Agenda de declaraciones</b>, al hacerlo aparecerá el siguiente formulario:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_18.png', width: "600" %>
</div>

<p>Al ingresar una declaración a la agenda del testigo lucirá así:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_19.png', width: "600" %>
</div>

<p>Puede apreciar que junto con aparecer la cita en la agenda, bajo el encabezado <b>Documentación obligatoria</b> del testigo, ahora se solicita subir la <b>Declaración del particpante</b>, y se activa una lista para subir documentos que el testigo pueda adjuntar a su declaración como antecedentes (opcional).</p>

<p>La plataforma considera que la declaración fue tomada si se subió el corrrespondiente archivo de la declaración a la plataforma.</p>
<p>Para completar la tarea debemos, en consecuencia, agendar las declaraciones de todos los participantes y subir sus correspondientes declaraciones. Una vez completado todo esto volvemos a la página <b>Proceso</b> y nos encontramos con lo siguiente:</p>

<h4>Término de la investigación</h4>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_20.png', width: "600" %>
</div>

<p>Una vez tomadas las declaraciones, lo único que resta es dar por terminada la investigación.</p>

<p>El detalle de la tarea muestra esta vez sólo el formulario que nos pide ingresar la <b>Fecha término de la investigación</b>. La plataforma nos advierte, una vez más, que esta fecha será utilizada para evaluar el plazo de la etapa. Esta vez ingresaremos exáctamente la fecha del plazo, lo cual nos lleva a la siguiente etapa.</p>

<h4>Envío/recepción del Informe de Investigación</h4>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_21.png', width: "600" %>
</div>

<p>En la parte alta del proceso, se despliegan ahora las dos etapas terminadas.</p>
<p>Ahora nos encontramos en la etapa <b>Envío/recepción del Informe de Investigación</b> y la única tarea que tiene esta etapa es registrar la fecha en la que esto ocurre.</p>
<p>Como en este ejemplo la investigación fue realizada por la empresa, lo que corresponde es <i>Enviar el informe de la investigación (con sus correspondientes medidas correctivas y sanciones) a la Dirección del Trabajo.</i></p>

<p><b>IMPORTANTE</b>: al momento de agendar las declaraciones, reserve tiempo entre el término de la toma de las declaraciones y el término de la investigación para confeccionar el informe de investigación. Como podemos observar, el plazo para enviar el informe a la Dirección del Trabajo es de sólo dos días hábiles.</p>

<p>En la lista de <b>Documentación obligatoria</b>, podemos ver que se agregaron el informe de la investigación, las medidas correctivas y las sanciones de la investigación.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_22.png', width: "600" %>
</div>

<p>En esta ocasión, ingresaremos como fecha de envío del informe a la Dirección del Trabajo el 04-07-2025, es decir, la enviamos con 1 día de atraso.</p>

<h4>Pronunciamiento de la Dirección del Trabajo</h4>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_23.png', width: "600" %>
</div>

<p>Ya tenemos tres etapas concluidas y en la última de ellas se señala (en rojo) que no cumplimos el plazo establecido por un día.</p>

<p>Ahora veamos el detalle de la tarea:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_24.png', width: "600" %>
</div>

<p>La Dirección del Trabajo cuenta con 30 días hábiles para pronunciarse sobre el informe de investigación y las medidas y sanciones que contiene. Si se cumple el plazo y no se ha recibido el pronunciamiento, se da por aprobado el informe de investigación y se deben aplicar las medidas correctivas y sanciones.</p>
<p>El detalle de la tarea ofrece ambas opciones, ingresar la <b>Fecha recepción pronunciamiento de la DT</b> y el link que establece que <b>El plazo para recibir el pronunciamiento venció</b>. Para efectos de este ejemplo elegimos la última.</p>

<h4>Aplicación de Medidas correctivas y Sanciones</h4>

<p>El plazo para aplicar las medidas correctivas y sanciones es de <b>15 días corridos</b>, a diferencia de los otros plazos que eran en días hábiles.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_25.png', width: "600" %>
</div>

<p>Esta tarea es un poco diferente a las demás, consiste en subir archivos a la plataforma que respalden la aplicación de las medidas correctivas y sanciones.</p>
<p>Si miramos la lista de <b>Documentación obligatoria</b> veremos que se agregó al final, la lista de <b>Evidencias de la aplicación de Medidas y Sanciones</b></p>
<p>Si subimos un archivo a esta lista, nuestra página se verá así:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_26.png', width: "600" %>
</div>

<p>Podemos observar que la plataforma nos cuenta cual es la fecha del archivo más reciente que subimos, esto con el fin de controlar el cumplimiento del plazo.</p>
<p>Tambien nos solicita la fecha <b>Fecha de cierre de procedimiento de investigación y sanción.</b> Esta es la fecha en la que se terminaron de implementar las medidas correctivas y sanciones del informe de investigación. Tal como lo dice la leyenda del formulario, esta fecha se usa para evaluar el cumplimiento del plazo de la etapa.</p>
<p>Esta vez la fecha que ingresamos es anterior al plazo establecido.</p>
<p>La página del proceso finalmente luce así:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_27.png', width: "600" %>
</div>