<h3>Ejemplo de denuncia simple</h3>

<p>Este tutorial, destinado a usuarios principiantes, tiene como objetivo mostrar las principales características de la gestion de denuncias y familiarizar al usuario con en ambiente LABORSAFE.</p>

<p>Las características de la denuncia de este ejemplo son las siguientes:
	<ol>
		<li>La denuncia no ocurre en el contexto de régimen de subcontratación.</li>
		<li>La denuncia es investigada por la propia empresa.</li>
		<li>No se presenta objeción del investigador asignado.</li>
		<li>La denuncia no presenta inconsistencias.</li>
		<li>El plazo para el pronunciamiento de la Dirección del Trabajo se cumple sin recibir el pronunciamiento.</li>
	</ol>
</p>

<p>Para ingresar una denuncia debemos seleccionar el ítem <b>Denuncias</b> del menú principal.</p> 

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_1.png', width: "700" %>
</div>

<p><b>NOTA</b>:Si a la derecha del encabezado <i>Denuncias</i> no aparece el botón <i class="bi bi-plus-circle"></i>, es por alguna de las siguientes razones: 
	<ol>
		<li>No se ha completado la configuración básica de la cuenta.</li>
		<li>Ha vencido el plazo de su producto DEMO</li>
		<li>Ha completado el número de denuncias asignadas a su producto</li>
	</ol>
	Si se trata del primer caso encontrará lo necesario para completar la configutración básica en el link <%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'ambnt', dscrpcn: 'Configuración básica', tltp: 'Configuración básica'} %>
</p>

<%= render partial: prtl_name('hlp_ayudas', 'home/dnnc_smpl', 'crear_dnnc') %>

<h4>Ingreso de los participantes</h4>
<%= render partial: prtl_name('hlp_ayudas', 'home/dnnc_smpl', 'prtcpnts_ambnt') %>
<%= render partial: prtl_name('hlp_ayudas', 'home/dnnc_smpl', 'prtcpnts_ingrs') %>
<%= render partial: prtl_name('hlp_ayudas', 'home/dnnc_smpl', 'drvcns_crr') %>
<%= render partial: prtl_name('hlp_ayudas', 'home/dnnc_smpl', 'invstgcn') %>

<h4>Informe de Investigación</h4>

<p>En este punto nuestra página <i>Proceso</i> luce así:</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_25 -->
	<%= image_tag 'hlp/dnnc_smpl_25.webp', width: "600" %>
</div>

<p>En la parte alta del proceso, se despliegan ahora las dos etapas terminadas.</p>

<p>Nos encontramos en la etapa <b>Informe de investigación</b> y lo único que nos pide esta etapa es registrar la fecha en la cual se envió el infrome de investigación a la Dirección del Trabajo.</p>

<p>En esta ocasión, ingresaremos como fecha de envío del informe a la Dirección del Trabajo el 04-07-2025, es decir, la enviamos con 1 día de atraso.</p>

<p>Esto nos conduce a la siguiente etapa</p>

<h4>Pronunciamiento de la Dirección del Trabajo</h4>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_26 -->
	<%= image_tag 'hlp/dnnc_smpl_26.webp', width: "600" %>
</div>

<p>Mostramos tres etapas concluidas y en la última de ellas se señala (en rojo) que no cumplimos el plazo establecido por un día.</p>

<p>La Dirección del Trabajo cuenta con 30 días hábiles para pronunciarse sobre el informe de investigación y, las medidas y sanciones que contiene. Si se cumple el plazo y no se ha recibido el pronunciamiento, se da por aprobado el informe de investigación y se deben aplicar las medidas correctivas y sanciones contenidas en el informe.</p>
<p>La tarea ofrece ambas opciones: ingresar la <b>Fecha recepción pronunciamiento de la DT</b> y el link que establece que <b>El plazo para recibir el pronunciamiento venció</b>. Para efectos de este ejemplo elegimos la última.</p>

<h4>Aplicación de medidas correctivas y sanciones</h4>

<p>El plazo para aplicar las medidas correctivas y sanciones es de <b>15 días corridos</b>, a diferencia de los otros plazos que son en días hábiles.</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_27 -->
	<%= image_tag 'hlp/dnnc_smpl_27.webp', width: "600" %>
</div>

<p>Podemos ver en la tabla de etapas realizadas que la última etapa no tiene control de plazo, esto debido a que no se recibió el pronunciamiento.</p>

<p>Esta tarea consiste en subir archivos a la plataforma que respalden la aplicación de las medidas correctivas y sanciones.</p>
<p>Si miramos la lista de <b>Documentación obligatoria</b> veremos que se agregó al final la lista de <b>Evidencias de la aplicación de medidas y sanciones</b></p>
<p>Si subimos un archivo a esta lista, nuestra página se verá así:</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_28 -->
	<%= image_tag 'hlp/dnnc_smpl_28.webp', width: "600" %>
</div>

<p>La plataforma nos cuenta cual es la fecha del archivo más reciente que subimos con el fin de controlar el cumplimiento del plazo.</p>
<p>Debemos subir todos los archivos que sirvan de evidencia. Como la plataforma no tiene como saber cuantos son, desde que subimos el primero nos solicita la <b>Fecha de cierre de procedimiento de investigación y sanción.</b> Esta es la fecha en la que se terminaron de implementar las medidas correctivas y sanciones del informe de investigación. Tal como lo dice la leyenda del formulario, esta fecha se usa para evaluar el cumplimiento del plazo de la etapa.</p>
<p>Esta vez la fecha que ingresamos es anterior al plazo establecido.</p>
<p>La página del proceso finalmente luce así:</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_29 -->
	<%= image_tag 'hlp/dnnc_smpl_29.webp', width: "600" %>
</div>

<p><b>NOTA</b> Para simplificar este ejemplo, subimos solo los documentos necesarios para continuar con el procedimiento. Para una explicación detallada de la gestión de la Documentación obligatoria visite <%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'dcmntcn_oblgtr', dscrpcn: 'Gestión de la Documentación obligatoria', tltp: 'Gestión de la Documentación obligatoria'} %></p>