<h3>Ejemplo de denuncia simple</h3>

<p>Este tutorial, dirigido a usuarios principiantes, tiene como propósito mostrar las principales características de la gestión de denuncias y familiarizar al usuario con el entorno de <b>LABORSAFE</b>.</p>

<p>Las características de la denuncia utilizada en este ejemplo son las siguientes:</p>
<ol>
	<li>No se enmarca en un régimen de subcontratación.</li>
	<li>La investigación es realizada por la propia empresa.</li>
	<li>No existe objeción respecto del investigador asignado.</li>
	<li>La denuncia no presenta inconsistencias.</li>
	<li>El plazo para el pronunciamiento de la Dirección del Trabajo vence sin que se reciba respuesta.</li>
</ol>


<p>Para ingresar una denuncia, se debe seleccionar la pestaña <b>Denuncias</b> en el menú de la empresa.</p> 

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_01.png', width: "700" %>
</div>

<p><b>NOTA:</b>Si a la derecha del encabezado <i>Denuncias</i> no aparece el botón <i class="bi bi-plus-circle"></i>, puede deberse a alguna de las siguientes razones:</p>
<ol>
	<li>No se ha completado la configuración básica de la cuenta.</li>
	<li>Ha vencido el plazo de su producto DEMO</li>
	<li>Ha completado el número de denuncias asignadas a su producto</li>
</ol>

<p>En el primer caso, encontrará lo necesario para completar la configuración básica en el siguiente enlace: <%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'ambnt', dscrpcn: 'Configuración básica', tltp: 'Configuración básica'} %>. Las otras dos opciones aparecerán señaladas en el encabezado de la empresa.</p>


<%= render partial: prtl_name('hlp_ayudas', 'home/dnnc_smpl', 'crear_dnnc') %>

<h4>Ingreso de los participantes</h4>
<%= render partial: prtl_name('hlp_ayudas', 'home/dnnc_smpl', 'prtcpnts_ambnt') %>
<%= render partial: prtl_name('hlp_ayudas', 'home/dnnc_smpl', 'prtcpnts_ingrs') %>

<p>Para acceder a nuestro tutorial sobre la etapa de investigación de la denuncia, visite: <%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'dnnc_smpl_invstgcn', dscrpcn: 'Denuncia simple: Investigación', tltp: 'Denuncia simple: Investigación'} %></p>