<small>
<div class="row">
	<div class="col-lg-1">
		<%= render partial: '0p/tabla/btns_orden', locals: {objeto: objeto} %>
	</div>
	<div class="col-lg-10">
		<% if objeto.formula.present? %>
			<i class="bi bi-question-circle"></i> 
			<%= objeto.formula %>
		<% end %>
		<% if objeto.despliegue.present? %>
			<i class="bi bi-arrow-right"></i> 
			<%= objeto.despliegue %>
		<% end %>
		</br>
		<% unless objeto.comentario.blank? %>
			<i class="bi bi-dot"></i><i class="bi bi-chat-quote"></i> <i><%= objeto.comentario %></i>
		<% end %>
	</div>
	<div class="col-lg-1" align='right'>
		<small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small>
	</div>	
</div>
</small>