<small>
<div class="row">
	<div class="col-lg-1">
		<%= render partial: '0p/tabla/btns_orden', locals: {objeto: objeto} %>
	</div>
	<div class="col-lg-11">
		<i class="bi bi-question-circle"></i> 
		<b><%= objeto.tipo %></b> : 
		<% unless objeto.despliegue.blank? %>
			<%= objeto.despliegue %> | 
		<% end %>
		<% unless objeto.formula.blank? %>
			<%= objeto.formula %>
		<% end %> | 
		<small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small></br>
		<% unless objeto.comentario.blank? %>
			<i class="bi bi-dot"></i><i class="bi bi-chat-quote"></i> <i><%= objeto.comentario %></i>
		<% end %>
	</div>
</div>
</small>