<div class="ttl_lnks">
	<div class="ttl">
		<% if objeto.facturacion.blank? %>
			<i class="bi bi-coin"></i>
			Tarifa : 
			<% if objeto.moneda.blank? or objeto.monto.blank? %>
				<%= objeto.tar_servicio.descripcion unless objeto.tar_servicio.blank? %> 
				<i class="bi bi-dot"></i>
				<%= s_moneda(objeto.tar_servicio.moneda, objeto.tar_servicio.monto) unless objeto.tar_servicio.blank? %>
			<% else %>
				<%= s_moneda(objeto.moneda, objeto.monto) %>
			<% end %>
		<% end %>
		<% unless objeto.fecha_uf.blank? %>
			  ( UF del <%= dma(objeto.fecha_uf) %> ) 
		<% end %>

	</div>
	<div class="lnks">
		<% if objeto.facturacion.blank? %>
			<% if objeto.moneda.blank? or objeto.monto.blank? %>
				<%= render layout: '0p/collapse/link', locals: {label: 'Asesoria', objeto: objeto, tooltip: "#{objeto.tar_servicio.blank? ? 'Nueva' : 'Modifica'}" } do %>
					<% if  objeto.tar_servicio.blank? %>
						<i class="bi bi-plus-circle"></i>
					<% else %>
						<i class="bi bi-pencil"></i>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<% if objeto.facturacion.blank? %>
	<% if objeto.moneda.blank? or objeto.monto.blank? %>
		<%= render layout: '0p/collapse/display', locals: {label: 'Asesoria', objeto: objeto} do %>
			<%= render partial: 'asesorias/list/form_tar_servicio', locals: {objeto: objeto} %>
		<% end %>
	<% end %>
<% end %>
