<div class="ttl_lnks">
	<div class="ttl">
		<b>
		<% unless objeto.tipo_asesoria.blank? %>
			<% if objeto.tipo_asesoria.tipo_asesoria == 'Cargo' %>
				<i class="bi bi-coin"></i> 
			<% elsif objeto.tipo_asesoria.tipo_asesoria == 'Multa' %>
				<i class="bi bi-wallet2"></i> 
			<% elsif ['Redaccion', 'CartaDespido'].include?(objeto.tipo_asesoria.tipo_asesoria) %>
				<i class="bi bi-pencil-square"></i> 
			<% elsif objeto.tipo_asesoria.tipo_asesoria == 'Mensual' %>
				<i class="bi bi-calendar-check"></i> 
			<% elsif objeto.tipo_asesoria.tipo_asesoria == 'Consulta' %>
				<i class="bi bi-question-square"></i>
			<% end %>
		<% end %>
		<% if objeto.fecha.blank? %>
			</i> <%= dma(objeto.created_at) %>
		<% else %>
			</i> <%= dma(objeto.fecha) %>
		<% end %>
		<i class="bi bi-dot"></i>
		<%= objeto.tipo_asesoria.tipo_asesoria %>
		<% if objeto.pendiente %>
			<i class="bi bi-dot"></i>
			PENDIENTE
		<% end %>
		</b>
	</div>
	<div class="lnks">
		<%= render layout: '0p/layout/tooltip_link', locals: {link: "/asesorias/#{objeto.id}/swtch_pendiente", tooltip: 'Cambia responsabilidad'} do %>
			<i class="bi bi-arrow-repeat"></i>
		<% end %>
		<%= render layout: '0p/collapse/link', locals: {label: 'NuevaNota', objeto: objeto, tooltip: 'Agregar nota'} do %>
			<i class="bi bi-chat-left-text"></i>
		<% end %>
		<i class="bi bi-dot"></i>
		<% if operacion? %>
			<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} if check_crud(objeto) %>
		<% end %>
	</div>
</div>

<%= render layout: '0p/collapse/display', locals: {label: 'NuevaNota', objeto: objeto} do %>
	<%= render partial: 'notas/shr/form_nota', locals: {objeto: objeto, clss: objeto.class.name, oid: objeto.id} %>
<% end %>