<small>
<div class="list-item" style='background-color:#FFFFFF; padding-left: 1em; padding-top: .5em; padding-bottom: .5em; margin-bottom: 1em;'>

	<small><%= dma(objeto.created_at) %> | <%= objeto.estado %> | <i><%= objeto.cliente.razon_social %></i></small></br>
	<b><%= objeto.descripcion %></b></br>
	<%= render partial: 'asesorias/list/menu_asesoria', locals: {objeto: objeto} %></br>

	<small>
	<b><i class="bi bi-coin"></i> 
	<% if objeto.moneda.blank? or objeto.monto.blank? %>
		<%= s_moneda(objeto.tar_servicio.moneda, objeto.tar_servicio.monto) unless objeto.tar_servicio.blank? %>
	<% else %>
		<%= s_moneda(objeto.moneda, objeto.monto) %>
	<% end %>
	</b> | 

	<%= objeto.fecha.blank? ? 'sin fecha' : dma(objeto.fecha) %>
	<% unless objeto.fecha_uf.blank? %>
		 | <i class="bi bi-arrow-down-up"></i> <%= dma(objeto.fecha_uf) %>
	<% end %>
	<% unless objeto.plazo.blank? %>
		 | <i class="bi bi-alarm"></i> <%= dma(objeto.plazo) %>
	<% end %>
	</br>
	
	</small></small>

</div>
</small>
