<div class="as_bjt">
	<%= render partial: 'asesorias/list/line_asesoria', locals: {objeto: objeto} %>
	<%= render partial: 'asesorias/list/line_info', locals: {objeto: objeto} %>
	<% unless objeto.sin_cargo? %>
		<%= render partial: 'asesorias/list/line_tarifa', locals: {objeto: objeto} %>
	<% end %>

	<% if admin? %>
		<%= render partial: 'asesorias/list/line_aprobacion_factura', locals: {objeto: objeto} %>
		<%= render partial: 'asesorias/list/menu_asesoria', locals: {objeto: objeto} %>
	<% end %>

	<% unless objeto.notas.empty? %>
		<% objeto.notas.order(:created_at).each do |nota| %>
			<%= render partial: 'notas/list/objeto', locals: {objeto: nota} %>
		<% end %>
	<% end %>
</div>