<%= form_with(model: krn_empresa_externa) do |form| %>
  <% if krn_empresa_externa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(krn_empresa_externa.errors.count, "error") %> prohibited this krn_empresa_externa from being saved:</h2>

      <ul>
        <% krn_empresa_externa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rut, style: "display: block" %>
    <%= form.text_field :rut %>
  </div>

  <div>
    <%= form.label :razon_social, style: "display: block" %>
    <%= form.text_field :razon_social %>
  </div>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.text_field :tipo %>
  </div>

  <div>
    <%= form.label :contacto, style: "display: block" %>
    <%= form.text_field :contacto %>
  </div>

  <div>
    <%= form.label :email_contacto, style: "display: block" %>
    <%= form.text_field :email_contacto %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
