<p style="color: green"><%= notice %></p>

<%= render @krn_empresa_externa %>

<div>
  <%= link_to "Edit this krn empresa externa", edit_krn_empresa_externa_path(@krn_empresa_externa) %> |
  <%= link_to "Back to krn empresa externas", krn_empresa_externas_path %>

  <%= button_to "Destroy this krn empresa externa", @krn_empresa_externa, method: :delete %>
</div>
