<%= form_with(model: tar_elemento, local: true) do |form| %>
  <% if tar_elemento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tar_elemento.errors.count, "error") %> prohibited this tar_elemento from being saved:</h2>

      <ul>
      <% tar_elemento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :elemento %>
    <%= form.text_field :elemento %>
  </div>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
