<p id="notice"><%= notice %></p>

<h1>Tar Elementos</h1>

<table>
  <thead>
    <tr>
      <th>Orden</th>
      <th>Elemento</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tar_elementos.each do |tar_elemento| %>
      <tr>
        <td><%= tar_elemento.orden %></td>
        <td><%= tar_elemento.elemento %></td>
        <td><%= tar_elemento.codigo %></td>
        <td><%= link_to 'Show', tar_elemento %></td>
        <td><%= link_to 'Edit', edit_tar_elemento_path(tar_elemento) %></td>
        <td><%= link_to 'Destroy', tar_elemento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tar Elemento', new_tar_elemento_path %>
