<div class="ttl_lnks text-<%= ['realizada', 'cancelada'].include?(objeto.estado) or  (objeto.fecha < @hoy) ? 'muted' : 'primary' %>">
	<div class="ttl">
		<span class="text-<%=objeto.text_color%>">
		<!-- ICONO SEGÚN TIPO DE ACTIVIDAD -->
		<% if objeto.tipo == 'Audiencia' %>
			<i class="bi bi-bank2"></i>
		<% elsif objeto.tipo == 'Hito' %>
			<i class="bi bi-alarm"></i>
		<% elsif objeto.tipo == 'Reunión' %>
			<i class="bi bi-people"></i>
		<% elsif objeto.tipo == 'Tarea' %>
			<i class="bi bi-check2-square"></i>
		<% end %> 

		<!-- FECHA / DIA FECHA -->
		<b class="text-<%= objeto.text_color %>">
			<%= controller_name == 'age_actividades' ? hm(objeto.fecha) : dma_hm(objeto.fecha) %>
		</b>

		<% if objeto.estado == 'realizada' %>
			<i class="bi bi-check-lg"></i>
		<% elsif objeto.estado == 'cancelada' %>
			<i class="bi bi-x-lg"></i>
		<% end %>
		</span>

	</div>
	<div class="lnks">

		<!-- CAMBIO DE ESTADO -->
		<% unless ['Audiencia', 'Hito'].include?(objeto.tipo)  or (objeto.fecha < @hoy) %>

	        <% unless objeto.estado == 'realizada' %>
	        	<%= render layout: '0p/layout/tooltip_link', locals: {link: "/age_actividades/#{objeto.id}/cambia_estado?cn=#{controller_name}&e=realizada", tooltip: 'Marcar como realizada'} do %>
	                <i class="bi bi-check-lg"></i>
	        	<% end %>
	        <% end %>
	        <% unless objeto.estado == 'cancelada' %>
	        	<%= render layout: '0p/layout/tooltip_link', locals: {link: "/age_actividades/#{objeto.id}/cambia_estado?cn=#{controller_name}&e=cancelada", tooltip: 'Marcar como cancelada'} do %>
	                <i class="bi bi-x-lg"></i>
	        	<% end %>
	        <% end %>
	        <% unless objeto.estado == 'pendiente' %>
	        	<%= render layout: '0p/layout/tooltip_link', locals: {link: "/age_actividades/#{objeto.id}/cambia_estado?cn=#{controller_name}&e=pendiente", tooltip: 'Marcar como pendiente'} do %>
	                <i class="bi bi-arrow-left"></i>
	        	<% end %>
	        <% end %>

		<% end %>

		<!-- MAS INFORMACION -->
		<%= render layout: '0p/collapse/link', locals: {label: 'Info', objeto: objeto, tooltip: 'Ver información adicional'} do %>
			<i class="bi bi-plus-lg"></i>
		<% end %>

		<!-- BOTONES PARA ACTIVIDADES ACTIVAS -->

		<% unless ['realizada', 'cancelada'].include?(objeto.estado) %>

			<% unless usuarios.empty? or (objeto.fecha < @hoy)  %>
				<%= render partial: 'actividades/shr/ctvdd/encargados', locals: {objeto: objeto, usuarios: usuarios} %>
			<% end %>

			<%= render layout: '0p/collapse/link', locals: {label: 'NuevaNota', objeto: objeto, tooltip: 'Agregar nota'} do %>
				<i class="bi bi-chat-left-text"></i>
			<% end %>

			<!-- CAMBIO DE FECHA -->
			<%= render layout: '0p/collapse/link', locals: {label: 'CambioFecha', objeto: objeto, tooltip: 'Cambiar fecha de la actividad'} do %>
				<i class="bi bi-calendar-x"></i>
			<% end %>

			<!-- LINKS_E -->
			<% if (controller_name == 'age_actividades' and objeto.owner_id.blank?) or (controller_name != 'age_actividades' and (objeto.app_perfil_id == perfil_activo.id or admin?) ) %>
					<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
			<% end %>
		<% end %>
	</div>
</div>

<%= render layout: '0p/collapse/display', locals: {label: 'NuevaNota', objeto: objeto} do %>
  	<%= render partial: 'actividades/shr/ctvdd/frm_nota', locals: {objeto: objeto} %>
<% end %>

<%= render layout: '0p/collapse/display', locals: {label: 'CambioFecha', objeto: objeto} do %>
  	<%= render partial: 'actividades/shr/ctvdd/frm_cambio_fecha', locals: {objeto: objeto} %>
<% end %>

<%= render layout: '0p/collapse/display', locals: {label: 'Info', objeto: objeto} do %>
  	<%= render partial: 'actividades/shr/ctvdd/mas_info', locals: {objeto: objeto} %>
<% end %>
