<%= form_with(model: tema, local: true) do |form| %>
  <% if tema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tema.errors.count, "error") %> prohibited this tema from being saved:</h2>

      <ul>
      <% tema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :causa_id %>
    <%= form.number_field :causa_id %>
  </div>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :tema %>
    <%= form.text_field :tema %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
