<%= form_with(model: tar_nota_credito, local: true) do |form| %>
  <% if tar_nota_credito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tar_nota_credito.errors.count, "error") %> prohibited this tar_nota_credito from being saved:</h2>

      <ul>
      <% tar_nota_credito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numero %>
    <%= form.number_field :numero %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :monto %>
    <%= form.text_field :monto %>
  </div>

  <div class="field">
    <%= form.label :monto_total %>
    <%= form.check_box :monto_total %>
  </div>

  <div class="field">
    <%= form.label :tar_factura_id %>
    <%= form.number_field :tar_factura_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
