<%#= render layout: '0p/collapse/link', locals: {label: 'label', objeto: nil, tooltip: nil} do %>
	<!-- ... -->
<%# end %>

<a data-bs-toggle="collapse" href="#<%=label%><%= objeto.blank? ? nil : objeto.id%>" role="button" aria-expanded="false" aria-controls="<%=label%><%= objeto.blank? ? nil : objeto.id%>%>">
	<span data-toggle="tooltip" title="<%=tooltip%>"><%= yield %></span>
</a>