<% clss ||= nil %>

<%#= render layout: '0p/collapse/link', locals: {label: 'label', objeto: nil, tooltip: nil} do %>
	<!-- ... -->
<%# end %>

<% id = "#{label}#{objeto.blank? ? nil : objeto.id}" %>

<a class=<%=clss%> data-bs-toggle="collapse"
   href="#<%= id %>"
   role="button"
   aria-expanded="false"
   aria-controls="<%= id %>">
  <span data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-title="<%= tooltip %>"
        data-bs-custom-class="custom-tooltip">
    <%= yield %>
  </span>
</a>