<small>
	<i class="bi bi-geo-alt"></i> 
	<%= objeto.region.region unless objeto.region.blank? %> 
	<% if admin? %>
		<%= link_to "/org_regiones/#{objeto.id}/org_sucursales/new", title: 'Nueva sucursal', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
			<i class="bi bi-pin-map"></i>
		<% end %> 

		<%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %>
	<% end %></small></br>
	<small>
	<% objeto.org_sucursales.order(:org_sucursal).each do |sucursal| %>
		<div class="sucursal" style="padding-left: 1em; padding-right: 1em; padding-bottom: 1em;">
		<i class="bi bi-pin-map"></i> Sucursal 
		<b><%= link_to sucursal.org_sucursal, "/servicios/sucursales?sid=#{sucursal.id}" %></b></br>
		<%= sucursal.direccion %></br>
		</div>
	<% end %>
	</small>
</small>