<div id="<%= dom_id com_requerimiento %>">
  <p>
    <strong>Rut:</strong>
    <%= com_requerimiento.rut %>
  </p>

  <p>
    <strong>Razon social:</strong>
    <%= com_requerimiento.razon_social %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= com_requerimiento.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= com_requerimiento.email %>
  </p>

  <p>
    <strong>Contacto comercial:</strong>
    <%= com_requerimiento.contacto_comercial %>
  </p>

  <p>
    <strong>Reunion telematica:</strong>
    <%= com_requerimiento.reunion_telematica %>
  </p>

  <p>
    <strong>Laborsafe:</strong>
    <%= com_requerimiento.laborsafe %>
  </p>

  <p>
    <strong>Auditoria:</strong>
    <%= com_requerimiento.auditoria %>
  </p>

  <p>
    <strong>Externalizacion:</strong>
    <%= com_requerimiento.externalizacion %>
  </p>

  <p>
    <strong>Consultoria:</strong>
    <%= com_requerimiento.consultoria %>
  </p>

  <p>
    <strong>Capacitacion:</strong>
    <%= com_requerimiento.capacitacion %>
  </p>

  <p>
    <strong>Asesoria legal:</strong>
    <%= com_requerimiento.asesoria_legal %>
  </p>

</div>
