<%= render partial: '0p/ttl_shw', locals: {objt: @objeto} %>

<div class="row gx-1 mt-3">
  <div class="col-lg-4">
    <ul>
      <li>RUT: <%= s_rut(@objeto.rut) %></li>
      <li>Razón social: <%= @objeto.razon_social %></li>
      <li>Nombre: <%= @objeto.nombre %></li>
      <li>Email: <%= @objeto.email %>
        <% if @objeto.email == @objeto.email_ok %>
          <i class="bi bi-check2-all text-primary"></i>
        <% else %>
          <i class="bi bi-question-circle text-danger"></i>
        <% end %>
      </li>
    </ul>
    <div class="ms-3 p-2">
      <%= render partial: '0p/shw_field/chck_box', locals: {cndtn: @objeto.contacto_comercial, lbl: "Solicita contacto comercial"} %><br>
      <%= render partial: '0p/shw_field/chck_box', locals: {cndtn: @objeto.reunion_telematica, lbl: "Solicita reunión telemática"} %><br>
      <p><b>Interesado en los productos:</b></p>
      <%= render partial: '0p/shw_field/chck_box', locals: {cndtn: @objeto.laborsafe, lbl: "Software Laborsafe"} %><br>
      <%= render partial: '0p/shw_field/chck_box', locals: {cndtn: @objeto.auditoria, lbl: "Auditoría de investigaciones"} %><br>
      <%= render partial: '0p/shw_field/chck_box', locals: {cndtn: @objeto.externalizacion, lbl: "Externalización de investigaciones"} %><br>
      <%= render partial: '0p/shw_field/chck_box', locals: {cndtn: @objeto.consultoria, lbl: "Consultoría de implementación"} %><br>
      <%= render partial: '0p/shw_field/chck_box', locals: {cndtn: @objeto.capacitacion, lbl: "Capacitación"} %><br>
      <%= render partial: '0p/shw_field/chck_box', locals: {cndtn: @objeto.asesoria_legal, lbl: "Asesoría legal"} %><br>
    </div>
  </div>
  <div class="col-lg-8 col-xs-12">
    <%#= render partial: '0p/tbl_ttl', locals: {source: 'notas'} %>
    <%= render partial: prtl('notas', 'shr', 'notas_pendientes'), locals: {objeto: @objeto} %>

    <% unless @objeto.notas.where(realizado: true).empty? %>
      <div class="text-center fw-bold"><p>Notas realiazadas</p></div>
    <% end %>
    
    <%= render partial: prtl('notas', 'shr', 'notas_realizadas'), locals: {objeto: @objeto} %>
  </div>
</div>