<%= form_with(model: krn_denuncia) do |form| %>
  <% if krn_denuncia.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(krn_denuncia.errors.count, "error") %> prohibited this krn_denuncia from being saved:</h2>

      <ul>
        <% krn_denuncia.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cliente_id, style: "display: block" %>
    <%= form.number_field :cliente_id %>
  </div>

  <div>
    <%= form.label :receptor_denuncia_id, style: "display: block" %>
    <%= form.number_field :receptor_denuncia_id %>
  </div>

  <div>
    <%= form.label :empresa_receptora_id, style: "display: block" %>
    <%= form.number_field :empresa_receptora_id %>
  </div>

  <div>
    <%= form.label :motivo_denuncia_id, style: "display: block" %>
    <%= form.number_field :motivo_denuncia_id %>
  </div>

  <div>
    <%= form.label :investigador_id, style: "display: block" %>
    <%= form.number_field :investigador_id %>
  </div>

  <div>
    <%= form.label :fecha_hora, style: "display: block" %>
    <%= form.datetime_field :fecha_hora %>
  </div>

  <div>
    <%= form.label :fecha_hora_dt, style: "display: block" %>
    <%= form.datetime_field :fecha_hora_dt %>
  </div>

  <div>
    <%= form.label :fecha_hora_recepcion, style: "display: block" %>
    <%= form.datetime_field :fecha_hora_recepcion %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
