<div id="<%= dom_id krn_denuncia %>">
  <p>
    <strong>Cliente:</strong>
    <%= krn_denuncia.cliente_id %>
  </p>

  <p>
    <strong>Receptor denuncia:</strong>
    <%= krn_denuncia.receptor_denuncia_id %>
  </p>

  <p>
    <strong>Empresa receptora:</strong>
    <%= krn_denuncia.empresa_receptora_id %>
  </p>

  <p>
    <strong>Motivo denuncia:</strong>
    <%= krn_denuncia.motivo_denuncia_id %>
  </p>

  <p>
    <strong>Investigador:</strong>
    <%= krn_denuncia.investigador_id %>
  </p>

  <p>
    <strong>Fecha hora:</strong>
    <%= krn_denuncia.fecha_hora %>
  </p>

  <p>
    <strong>Fecha hora dt:</strong>
    <%= krn_denuncia.fecha_hora_dt %>
  </p>

  <p>
    <strong>Fecha hora recepcion:</strong>
    <%= krn_denuncia.fecha_hora_recepcion %>
  </p>

</div>
