<div id="<%= dom_id krn_denunciante %>">
  <p>
    <strong>Denuncia:</strong>
    <%= krn_denunciante.denuncia_id %>
  </p>

  <p>
    <strong>Empresa externa:</strong>
    <%= krn_denunciante.empresa_externa_id %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= krn_denunciante.rut %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= krn_denunciante.nombre %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= krn_denunciante.cargo %>
  </p>

  <p>
    <strong>Lugar trabajo:</strong>
    <%= krn_denunciante.lugar_trabajo %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= krn_denunciante.email %>
  </p>

  <p>
    <strong>Email ok:</strong>
    <%= krn_denunciante.email_ok %>
  </p>

  <p>
    <strong>Articulo 4 1:</strong>
    <%= krn_denunciante.articulo_4_1 %>
  </p>

</div>
