<p style="color: green"><%= notice %></p>

<%= render @krn_denunciante %>

<div>
  <%= link_to "Edit this krn denunciante", edit_krn_denunciante_path(@krn_denunciante) %> |
  <%= link_to "Back to krn denunciantes", krn_denunciantes_path %>

  <%= button_to "Destroy this krn denunciante", @krn_denunciante, method: :delete %>
</div>
