<!--div class="row"-->
	<div class="col-2">
		<small><%= render partial: '0p/tabla/btns_orden', locals: {objeto: objeto} %></small>
	</div>
	<div class="col-10">
		<small>
			<b><%= objeto.formula%></b> <i class="bi bi-arrow-right-circle"></i> 
			<% unless objeto.tag == '-' %>
				<%= objeto.tag %> | 
			<% end %>
			<i><%= objeto.m_dato %></i></br>
			<small>
				<%= objeto.tipo%>
				<%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %>
			</small>
		</small>
	</div>
<!--/div-->