<h5><%= @objeto.ownr.razon_social %></h5>

<%= render partial: '0p/lbld_inpts/datetime', locals: { form: form, token: :fecha_hora, label: 'Fecha y hora de la denuncia' } %>

<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :identificador, label: 'Identificador de la denuncia' } %>

<div class="row gx-1">
	<div class="col-lg-3 col-xs-12">
		<%= render partial: '0p/lbld_inpts/select_id', locals: { form: form, token: :motivo_denuncia, colection: KrnDenuncia::MOTIVOS, label: 'Motivo de la denuncia' } %>
	</div>
	<div class="col-lg-3 col-xs-12">
  <!-- Grupo condicional para empresa_externa -->
			<%= render partial: '0p/lbld_inpts/select_id', locals: { form: form, token: :receptor_denuncia, colection: rcptr_lst(@objeto.ownr), label: 'Receptor de la denuncia', data: { 
              'conditional-fields-target': 'receptorDenuncia',
              action: 'change->conditional-fields#toggleEmpresaExterna'
            } } %>
	</div>
	<div class="col-lg-3 col-xs-12">
		<%= render partial: '0p/lbld_inpts/select', locals: { form: form, token: :via_declaracion, sel_list: KrnDenuncia::VIAS_DENUNCIA, label: 'Canal de denuncia', data: { 'conditional-fields-target': 'viaDeclaracion', action: 'change->conditional-fields#toggleTipoDeclaracion'} } %>
	</div>
	<div class="col-lg-3">
		<%= render partial: '0p/lbld_inpts/select', locals: { form: form, token: :presentado_por, sel_list: KrnDenuncia::TIPOS_DENUNCIANTE, label: 'Quien denuncia', data: { 
              'conditional-fields-target': 'presentadoPor',
              action: 'change->conditional-fields#toggleRepresentante'
            } } %>
	</div>

</div>

<div data-conditional-fields-target="empresaExternaGroup" hidden>
	  <%= render "krn_empresa_externa_id", form: form %>
</div>

<div data-conditional-fields-target="tipoDeclaracionGroup" hidden>
  <%= render "tipo_declaracion", form: form %>
</div>

<div data-conditional-fields-target="representanteGroup" hidden>
  <%= render "representante", form: form %>
</div>

<!-- Usado para pruebas de Javascript -->
<%#= render partial: '0p/lbld_inpts/radio', locals: {form: form, token: :tipo_declaracion, radio_list: KrnDenuncia::TIPOS_DENUNCIA, label: 'Formato de la denuncia', id: 'tipo_declaracion' } %>

<%= render partial: '0p/lbld_inpts/hidden_lst', locals: { form: form, hddn_lst: [:ownr_type, :ownr_id] } %>

<%#= turbo_frame_tag "cndtnl_via_declaracion" do %>
  <%#= render partial: 'karin/krn_denuncias/list/cndtnl_via_declaracion', locals: { data: @objeto, form: form } %>
<%# end %>