<h5><%= @objeto.ownr.razon_social %></h5>

<%= render partial: '0p/lbld_inpts/datetime', locals: { form: form, token: :fecha_hora, label: 'Fecha y hora de la denuncia' } %>

<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :identificador, label: 'Identificador de la denuncia' } %>

<div class="row gx-1">
	<div class="col-lg-3 col-xs-12">
		<%= render partial: '0p/lbld_inpts/select_id', locals: { form: form, token: :motivo_denuncia, colection: KrnDenuncia::MOTIVOS, label: 'Motivo de la denuncia' } %>
	</div>
	<div class="col-lg-3 col-xs-12">
		<%= render partial: '0p/lbld_inpts/select_id', locals: { form: form, token: :receptor_denuncia, colection: rcptr_lst(@objeto.ownr_krn_formato), label: 'Receptor de la denuncia', data: { action: "change-dynamic-dnnc#toggleKrnEmpresaExternaId", dynamic_form_target: "receptorDenuncia"} } %>
	</div>
	<div class="col-lg-3 col-xs-12">
		<%= render partial: '0p/lbld_inpts/select', locals: { form: form, token: :via_declaracion, sel_list: KrnDenuncia::VIAS_DENUNCIA, label: 'Canal de denuncia', data: { action: "change-dynamic-dnnc#toggleTipoDeclaracion", dynamic_form_target: "viaDeclaracion" } } %>
	</div>
	<div class="col-lg-3">
		<%= render partial: '0p/lbld_inpts/select', locals: { form: form, token: :presentado_por, sel_list: KrnDenuncia::TIPOS_DENUNCIANTE, label: 'Quien denuncia', data: { action: "change-dynamic-dnnc#toggleRepresentante", dynamic_form_target: "presentadoPor" } } %>
	</div>

</div>

<div id="krn-empresa-externa-id-container" class="<%= 'd-none' unless @objeto.receptor_denuncia == 'Empresa externa' %>">
  <%= render "krn_empresa_externa_id", form: form %>
</div>

<div id="tipo-declaracion-container" class="<%= 'd-none' unless @objeto.via_declaracion == 'Presencial' %>">
  <%= render "tipo_declaracion", form: form %>
</div>

<div id="representante-container" class="<%= 'd-none' unless @objeto.presentado_por == 'Representante' %>">
  <%= render "representante", form: form %>
</div>

<!-- Usado para pruebas de Javascript -->
<%#= render partial: '0p/lbld_inpts/radio', locals: {form: form, token: :tipo_declaracion, radio_list: KrnDenuncia::TIPOS_DENUNCIA, label: 'Formato de la denuncia', id: 'tipo_declaracion' } %>

<%= render partial: '0p/lbld_inpts/hidden_lst', locals: { form: form, hddn_lst: [:ownr_type, :ownr_id] } %>

<%#= turbo_frame_tag "cndtnl_via_declaracion" do %>
  <%#= render partial: 'karin/krn_denuncias/list/cndtnl_via_declaracion', locals: { data: @objeto, form: form } %>
<%# end %>