	<%= render partial: '0p/general/ttl_shw', locals: {objeto: @objeto, dir: 'shw', bk_lnk: nil } %>
	<%= render partial: '0p/tabs/tabs', locals: { token: :menu } %>

<div class="shw_bx">
	<%= render partial: prtl_name('krn_denuncias', 'shw', 'shw_lst'), locals: {objeto: @objeto} %>
</div>

<% @etps.each do |etp| %>
	<%= render partial: prtl_name('ctr_etapas', 'code', 'objeto'), locals: {objeto: etp, ownr: @objeto, scndry: nil} if prtl?('ctr_etapas', 'code', 'objeto') %>
<% end %>

<% if @objeto.ingrs_dnncnts? %>
	<hr>
	<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'krn_denunciantes', ttl: "Persona(s) denunciante(s)", ownr: @objeto} %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'krn_denunciantes'} %>
<% end %>
<% if @objeto.dnncnts? %>
	<hr>
	<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'krn_denunciados', ttl: "Persona(s) denunciada(s)", ownr: @objeto} %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'krn_denunciados'} %>
<% end %>