<%= render partial: '0p/general/clss_dir_objt_ttl', locals: {clss: 'shw_ttl', dir: 'shw', objt: @objeto, bck: nil} %>

<% @etps.each do |etp| %>
	<%= render partial: prtl_name('ctr_etapas', 'code', 'objeto'), locals: {objeto: etp, ownr: @objeto, scndry: nil} if prtl?('ctr_etapas', 'code', 'objeto') %>
<% end %>

<% if @objeto.fecha_hora_corregida.present? or (@objeto.vlr_dnnc_eval_ok? and @objeto.dnnc_eval_ok?) %>
	<div class="dlg_bsc">
		Gestión de declaraciones activada para cada participante.
	</div>
<% end %>
<!-- INGRESO BÁSICO COMPLETO -->
<% if @objeto.ingrs_dnnc_bsc? %>
	<hr>
	<div class="objt">
		<%= render partial: '0p/general/clss_dir_c_ttl', locals: {clss: 'prtcpnts_ttl', dir: 'indx', source: 'krn_denunciantes', ownr: @objeto} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'krn_denunciantes'} %>
	</div>
<% end %>
<!-- DENUNCIANTES OK Y MOTIVO DISTINTO DE VIOLENCIA -->
<% if @objeto.ingrs_dnncnts_ok? and @objeto.no_vlnc? %>
	<hr>
	<div class="objt">
		<%= render partial: '0p/general/clss_dir_c_ttl', locals: {clss: 'prtcpnts_ttl', dir: 'indx', source: 'krn_denunciados', ownr: @objeto} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'krn_denunciados'} %>
	</div>
<% end %>