<%= render partial: 'cuentas/shw/ttl', locals: {objt: @objeto, col_lft: 7} %>

<%= render partial: prtl_name(@objeto, 'shw/icons', 'shw_menu') %>

<% case @tbs[@indx] %>
<% when 'Proceso' %>
	<div style="margin-left: 5%;">
		<%= render partial: prtl_name(@objeto, 'shw/proceso', 'etps_rlzds'), locals: {ownr: @objeto} %>

		<% unless @tar_last.blank? %>
			<% if prtl?(@objeto, "proc/#{@tar_last.codigo}", 'undo') %>
				<%= render layout: 'cuentas/prtls/proceso/actn' do %>
					<%= render layout: '0p/collapse/link', locals: {label: 'Undo', objeto: nil, tooltip: nil} do %>
						<div class="mx-1 fw-bold" style="font-size: 18px;">¿Desea deshacer la última acción realizada?</div>
					<% end %>

					<%= render layout: '0p/collapse/dsply', locals: {label: 'Undo', objeto: nil} do %>
						<%= render partial: '0p/prtls/dsply', locals: {objt: @objeto, dir: "proc/#{@tar_last.codigo}", prtl: 'undo'} unless @tar_last.blank? %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

		<%= render partial: prtl_name(@objeto, 'shw/proceso', 'stts'), locals: {ownr: @objeto} %>
		<div class="pt-2" style="margin-left: 5%;">
			<%= render partial: prtl_name(@objeto, 'shw/proceso', 'dsply_tarea'), locals: {ownr: @objeto} %>

			<%= render partial: 'karin/prtls/nts', locals: {objeto: @objeto} %>
		</div>
		<div class="mt-5 ms-2">
			<%= render partial: 'karin/prtls/dcs', locals: {ownr: @objeto} %>
		</div>
	</div>
<% when 'Participantes' %>
	<!-- Registros acumulados de la denuncia -->
	<%= render partial: prtl_name(@objeto, 'shw/participantes', 'prtcpnts'), locals: {objeto: @objeto} %>
	<!-- Despliegue de Denunciantes y Denunciados -->
<% when 'Agenda' %>
	<!-- Resumen de las declaraciones -->
	<%= render partial: prtl_name(@objeto, 'shw/agenda', 'dclrcns'), locals: {ownr: @objeto} %>
<% end %>

<%= render layout: '0p/mdl/modal', locals: {cdg: 'Detalle', ttl: 'Reporte de la denuncia', sz: 'lg'} do %>
	<%= render partial: prtl_name(@objeto, 'shw/proceso', 'rgstrs'), locals: {objeto: @objeto} %>
<% end %>

<%#= @etp_last.codigo unless @etp_last.blank? %>
<%#= @tar_last.codigo unless @tar_last.blank? %>