<%= render partial: 'cuentas/shw/ttl', locals: {objt: @objeto} %>

<%= render partial: prtl_name(@objeto, 'shw/icons', 'shw_menu') %>

<% case @tbs[@indx] %>
<% when 'Proceso' %>
	<div style="margin-left: 5%;">
		<%= render partial: '0p/prtls/dsply', locals: {objt: @objeto, dir: 'shw/shr', prtl: 'prlg'} %>
		<%= render partial: prtl_name(@objeto, 'shw/proceso', 'etps_rlzds'), locals: {ownr: @objeto} %>
		<%= render partial: prtl_name(@objeto, 'shw/proceso', 'stts'), locals: {ownr: @objeto} %>
		<div class="pt-2" style="margin-left: 5%;">
			<%= render partial: '0p/prtls/dsply', locals: {objt: @objeto, dir: "proc/#{@tar_last.codigo}", prtl: 'undo'} unless @tar_last.blank? %>
			<%= render partial: prtl_name(@objeto, 'shw/proceso', 'dsply_tarea'), locals: {ownr: @objeto} %>
		</div>
	</div>
	<%#= render partial: 'karin/prtls/etp_tar', locals: {ownr: @objeto} %>
	<!-- NOTAS -->
	<%= render partial: 'karin/prtls/nts', locals: {objeto: @objeto} %>
	<%= render partial: prtl_name(@objeto, 'shw/proceso', 'tbls'), locals: {ownr: @objeto} %>
<% when 'Participantes' %>
	<%= render partial: '0p/prtls/dsply', locals: {objt: @objeto, dir: 'shw/shr', prtl: 'prlg'} %>
	<!-- Registros acumulados de la denuncia -->
	<%= render partial: prtl_name(@objeto, 'shw/participantes', 'prtcpnts'), locals: {objeto: @objeto} %>
	<%#= render partial: '0p/proc/dnnc_rgstrs', locals: {objeto: @objeto} %>
	<!-- Despliegue de Denunciantes y Denunciados -->
<% when 'Documentos obligatorios' %>
	<!-- Archivo de la denuncia -->
	<%= render partial: 'karin/prtls/dcs', locals: {ownr: @objeto} %>
<% when 'Declaraciones' %>
	<!-- Resumen de las declaraciones -->
	<%= render partial: 'karin/prtls/prtcpnts_dclrcns', locals: {ownr: @objeto} %>
<% end %>

<%= render layout: '0p/mdl/modal', locals: {cdg: 'Detalle', ttl: 'Reporte de la denuncia', sz: 'lg'} do %>
	<%= render partial: prtl_name(@objeto, 'shw/proceso', 'rgstrs'), locals: {objeto: @objeto} %>
<% end %>

<%#= @etp_last.codigo unless @etp_last.blank? %>
<%#= @tar_last.codigo unless @tar_last.blank? %>