<%= render partial: '0p/ttl_shw', locals: {objt: @objeto} %>


<div class="mt-1 bg-white shadow border rounded p-2">
	<!-- Registros acumulados de la denuncia -->
	<%= render partial: '0p/proc/dnnc_rgstrs', locals: {objeto: @objeto} %>

	<!-- Despliegue de Denunciantes y Denunciados -->
	<%= render partial: 'karin/prtls/prtcpnts', locals: {ownr: @objeto} %>
</div>

<div class="mt-1 bg-white shadow border rounded p-2">
	<!-- ETAPAS REALIZADAS -->
	<%= render partial: 'karin/prtls/etps_rlzds', locals: {ownr: @objeto} %>

	<!-- STTS -->
	<%= render partial: 'karin/prtls/stts', locals: {ownr: @objeto} %>

	<!-- ETAPA y TAREA activa -->
	<%= render partial: 'karin/prtls/etp_tar', locals: {ownr: @objeto} %>
</div>

<!-- NOTAS -->
<%= render partial: 'karin/prtls/nts', locals: {objeto: @objeto} %>


<!-- Archivo de la denuncia -->
<%= render partial: 'karin/prtls/dcs', locals: {ownr: @objeto} %>

<!-- Resumen de las declaraciones -->
<%= render partial: 'karin/prtls/dclrcns', locals: {ownr: @objeto} %>

<%#= @etp_last.codigo unless @etp_last.blank? %>
<%#= @tar_last.codigo unless @tar_last.blank? %>

<%# if dog? %>
	<%#= "rep_archivos" if @objeto.rep_archivos.any? %>
	<%#= "valores" if @objeto.valores.any? %>
	<%#= "ctr_registros" if @objeto.ctr_registros.any? %>
	<%#= "krn_denunciantes" if @objeto.denunciantes? %>
	<%#= "krn_denunciados" if @objeto.denunciados? %>
	<%#= "krn_derivaciones" if @objeto.derivaciones? %>
	<%#= "krn_declaraciones" if @objeto.declaraciones? %>
	<%#= "krn_inv_denuncias" if @objeto.krn_inv_denuncias.any? %>
<%# end %>