<%= render partial: '0p/ttl_shw', locals: {objt: @objeto} %>

<!-- 1.- Se procesan las etapas del procedimiento -->
<% @etps.each do |etp| %>
	<%= render partial: prtl_name('ctr_etapas', 'code', 'objeto'), locals: {objeto: etp, ownr: @objeto, scndry: nil} if prtl?('ctr_etapas', 'code', 'objeto') %>
<% end %>



<% if @dnnc_jot['fecha_hora_corregida_prsnt'] or (@dnnc_jot['vlr_dnnc_eval_ok'] and @dnnc_jot['dnnc_eval_ok']) %>
	<% if @dnnc_jot['dclrcns_ok'] %>
		<div class="dlg_bsc">
			Todas las declaraciones marcadas como realizadas.
		</div>
	<% else %>
		<div class="dlg_bsc">
			Agendamiento y gestión de declaraciones activada para cada participante.
		</div>
	<% end %>
<% end %>

<% if dog? %>
	<%= "rep_archivos" if @objeto.rep_archivos.any? %>
	<%= "valores" if @objeto.valores.any? %>
	<%= "ctr_registros" if @objeto.ctr_registros.any? %>
	<%= "krn_denunciantes" if @objeto.krn_denunciantes.any? %>
	<%= "krn_denunciados" if @objeto.krn_denunciados.any? %>
	<%= "krn_derivaciones" if @objeto.krn_derivaciones.any? %>
	<%= "krn_declaraciones" if @objeto.krn_declaraciones.any? %>
	<%= "krn_inv_denuncias" if @objeto.krn_inv_denuncias.any? %>
<% end %>