<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @m_elemento.orden %>
</p>

<p>
  <strong>M elemento:</strong>
  <%= @m_elemento.m_elemento %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @m_elemento.tipo %>
</p>

<p>
  <strong>M formato:</strong>
  <%= @m_elemento.m_formato_id %>
</p>

<%= link_to 'Edit', edit_m_elemento_path(@m_elemento) %> |
<%= link_to 'Back', m_elementos_path %>
