<%= render partial: '0p/ttl_clss', locals: {source: 'doc_emitidos', clss: :gray, dir: 'shw'} %>
<%= render partial: 'layouts/partials/notice_alert' %>

<div class="m-2">
  <p>
    <% if @objeto.cliente.present? %>
      <i class="bi bi-check-circle"></i>
    <% end %>
    Cliente: <strong><%= @objeto.razon_social_receptor %></strong><br>
    Fecha: <%= l(@objeto.fecha_emision) %>
    Monto: <b><%= s_pesos(@objeto.monto_total) %></b>
  </p>
</div>

<%= render partial: '0p/tbl_clss', locals: {clccn: @detalles, typ: 'tr'} %>

<p><b>Pagos conciliados</b></p>
<%= render partial: '0p/tbl_clss', locals: {clccn: @objeto.doc_pagos, typ: 'tr'} %>

<%#= link_to 'Volver', @objeto.doc_planilla %>

