<div id="<%= dom_id check_fuente %>">
  <p>
    <strong>Check realizado:</strong>
    <%= check_fuente.check_realizado_id %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= check_fuente.usuario_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= check_fuente.fecha %>
  </p>

  <p>
    <strong>Fuente:</strong>
    <%= check_fuente.fuente %>
  </p>

</div>
