<div class="row gx-1 mx-4 px-4 text-primary objt_lnk" style="font-size: .6rem; line-height: 1.5;">
	<div class="col-10">
		<i class="bi bi-arrow-return-right"></i>
		<i class="bi bi-card-text"></i>
		<%= dma_hm(objt.fecha ? objt.fecha : objt.created_at)%> <%= objt.usuario.nombre %> 
		<b><%= objt.fuente %></b> 
	</div>
	<div class="col-2 text-end">
		<% if objt.pdf.attached? %>
			<%= render layout: '0p/tltp_lnk', locals: {lnk: "/check_fuentes/#{objt.id}/show_pdf", tltp: "Bajar archivo fuente", target: '_blank'} do %>
				<i class="bi bi-download"></i>
			<% end %>
		<% end %>
		<%= render partial: '0p/tbl/lnk_elmnr', locals: {objeto: objt} %>
		<i class="bi bi-arrow-return-left"></i>
	</div>
</div>