<div style="margin-left: 7%;">

	<div class="ms-5 objt_lnk" style="font-size: 14px;">

		<%= render partial: 'karin/prtls/prtcpnts/objt/email_verification', locals: {objeto: objeto} %>

		<% unless objeto.articulo_516 %>
			<% if objeto.verified? and objeto.email == objeto.email_ok %>

				<%= render partial: 'karin/prtls/prtcpnts/objt/chck_dnncnt_info_oblgtr', locals: {objeto: objeto} %>
				<%= render partial: 'karin/prtls/prtcpnts/objt/chck_drchs', locals: {objeto: objeto} %>
				<%= render partial: 'karin/prtls/prtcpnts/objt/chck_invstgcn', locals: {objeto: objeto} %>
				<%= render partial: 'karin/prtls/prtcpnts/objt/chck_mdds_rsgrd', locals: {objeto: objeto} %>
				<%= render partial: 'karin/prtls/prtcpnts/objt/chck_ntfccn_drvcns', locals: {objeto: objeto} %>
				<%= render partial: 'karin/prtls/prtcpnts/objt/chck_invstgdr', locals: {objeto: objeto} %>

			<% else %>
				<br><i class="bi bi-cone-striped text-danger"></i> No se puede enviar información a los participantes mientras su correo electrónico no se haya verificado.
			<% end %>
		<% end %>
	</div>

	<% if objeto.pdf_registros.any? %>
		<%= render partial: 'cuentas/indx/ttl_scndry', locals: {source: 'pdf_registros', brdr_wdth: 1, ownr: objeto, fs: 6, ttl: true} %>
		<% objeto.pdf_registros.order(:created_at).each do |mail| %>
			<%= render partial: '0p/tbl/ln', locals: {objt: mail, crud: 'lnks'} %>
		<% end %>
	<% end %>

	<% if @objeto.investigadores? %>
		<%= render partial: 'cuentas/indx/ttl_scndry', locals: {source: 'krn_declaraciones', brdr_wdth: 1, ownr: objeto, fs: 6} %>
		<div class="py-2">
			<% objeto.krn_declaraciones.fecha_ordr.each do |dclrcn| %>
				<%= render partial: '0p/tbl/ln', locals: {objt: dclrcn, ownr: objeto, crud: 'lnks'} %>
			<% end %>
		</div>
	<% end %>

	<% if objeto.class.name == 'KrnDenunciante' or @objeto.investigadores? %>
		<%= render partial: 'cuentas/indx/ttl_scndry', locals: {source: 'rep_archivos', brdr_wdth: 1, ownr: objeto, fs: 6} %>
		<div class="py-2">
			<% @p_fls[objeto.class.name][objeto.id].each do |dc| %>
				<% if dc.multiple == true %>
					<%= render partial: '0p/proc/dcs_ln', locals: {dc: dc, fls: objeto.fls(dc), ownr: objeto} %>
				<% else %>
					<%= render partial: '0p/proc/dc_ln', locals: {dc: dc, fl: objeto.fl(dc), ownr: objeto} %>
				<% end %>
			<% end %>
		</div>
	<% end %>

</div>