<div style="margin-left: 7%;">

	<div class="ms-5 objt_lnk" style="font-size: 14px;">
		<% if objeto.email.present? and (objeto.email != objeto.email_ok) %>
			<i class="bi bi-cone-striped text-danger"></i> El correo electrónico del participante aún no se ha verificado.
		<% end %>
		<%= render partial: 'karin/prtls/prtcpnts/email_verification', locals: {objeto: objeto} %>

		<% if objeto.class.name == 'KrnDenunciante' %>
			<br>
			<% if @objt['verbal?'] %>
				<i class="bi bi-check2-all"></i> Se entregó la información obligatoria.
			<% elsif objeto.info_oblgtr? %>
				<i class="bi bi-check2-all"></i> Se envió la información obligatoria por correo electrónico.
			<% else %>
				<i class="bi bi-cone-striped text-danger"></i> Se debe enviar la información obligatoria por correo electrónico.
				<%= render layout: '0p/tltp_lnk', locals: {lnk:"/krn_reportes/generate_and_send_report?oid=#{@objeto.id}&rprt=dnncnt_info_oblgtr"} do %>
					<i class="bi bi-envelope-at"></i> Enviar!
				<% end %>
			<% end %>
		<% end %>
	</div>

	<% if @objeto.investigadores? %>
		<%= render partial: 'cuentas/indx/ttl_scndry', locals: {source: 'krn_declaraciones', brdr_wdth: 1, ownr: objeto, fs: 6} %>
		<div class="py-2">
			<% objeto.krn_declaraciones.fecha_ordr.each do |dclrcn| %>
				<%= render partial: '0p/tbl/ln', locals: {objt: dclrcn, ownr: objeto, crud: 'lnks'} %>
			<% end %>
		</div>
	<% end %>

	<% if objeto.pdf_registros.any? %>
		<%= render partial: 'cuentas/indx/ttl_scndry', locals: {source: 'pdf_registros', brdr_wdth: 1, ownr: objeto, fs: 6} %>
		<% objeto.pdf_registros.order(:created_at).each do |mail| %>
			<%= render partial: '0p/tbl/ln', locals: {objt: mail, crud: 'lnks'} %>
		<% end %>
	<% end %>

	<% if objeto.class.name == 'KrnDenunciante' or @objeto.investigadores? %>
		<%= render partial: 'cuentas/indx/ttl_scndry', locals: {source: 'rep_archivos', brdr_wdth: 1, ownr: objeto, fs: 6} %>
		<div class="py-2">
			<% @p_fls[objeto.class.name][objeto.id].each do |dc| %>
				<% if dc.multiple == true %>
					<%= render partial: '0p/proc/dcs_ln', locals: {dc: dc, fls: objeto.fls(dc), ownr: objeto} %>
				<% else %>
					<%= render partial: '0p/proc/dc_ln', locals: {dc: dc, fl: objeto.fl(dc), ownr: objeto} %>
				<% end %>
			<% end %>
		</div>
	<% end %>

</div>