<div class='row'>
	<div class='col-md-1'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Orden', v: true } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :orden } %>
	</div>
	<div class='col-md-2'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Código', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :codigo } %>
	</div>
	<div class='col-md-9'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Detalle', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :detalle } %>
	</div>
</div>

<div class='row'>
	<div class='col-md-2'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Tipo', v: true } %>
		<%= render partial: '0p/form_fields/select', locals: { form: form, token: :tipo, sel_list: TarDetalle::TIPOS, label: 'Tipo' } %>
	</div>
	<div class='col-md-10'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Formula', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :formula } %>
	</div>
</div>

<%= render partial: '0p/form_fields/check_box', locals: { form: form, token: :esconder, label: 'esconder' } %>
<%= render partial: '0p/form_fields/check_box', locals: { form: form, token: :total, label: 'total' } %>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :tar_tarifa_id } %>


</br></br>
<h6>Tipos de detalles</h6>
<table class="table table-sm  thead-dark">
	<tbody>
		<tr><td><small>valor</small></td><td><small>ingreso de un valor para utilizar en el cálculo</small></td></tr>
		<tr><td><small>suma</small></td><td><small>suma de dos elementos, valores o fórmulas</small></td></tr>
		<tr><td><small>producto</small></td><td><small>producto de dos elementos, valores o fórmulas</small></td></tr>
		<tr><td><small>condicional</small></td><td><small>condicion ? verdadero : falso || condicion: operador op1 op2</small></td></tr>
		<tr><td><small>piso_tope</small></td><td><small>piso <= valor <= tope</small></td></tr>
		<tr><td><small>ahorro</small></td><td><small>demandado pagado</small></td></tr>
		<tr><td><small>máximo</small></td><td><small>entrega el máximo de dos valores</small></td></tr>
		<tr><td><small>otros</small></td><td><small>entrega la suma de los valores etiquetados como otros</small></td></tr>
		<tr><td><small>pesos</small></td><td><small>valor en pesos</small></td></tr>
		<tr><td><small>uf</small></td><td><small>valor en uf</small></td></tr>
	</tbody>
</table>