<%= form_with(model: tar_detalle, local: true) do |form| %>
  <% if tar_detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tar_detalle.errors.count, "error") %> prohibited this tar_detalle from being saved:</h2>

      <ul>
      <% tar_detalle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
  </div>

  <div class="field">
    <%= form.label :detalle %>
    <%= form.text_field :detalle %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :formula %>
    <%= form.text_field :formula %>
  </div>

  <div class="field">
    <%= form.label :tar_tarifa_id %>
    <%= form.number_field :tar_tarifa_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
