<p id="notice"><%= notice %></p>

<h1>Tar Detalles</h1>

<table>
  <thead>
    <tr>
      <th>Orden</th>
      <th>Codigo</th>
      <th>Detalle</th>
      <th>Tipo</th>
      <th>Formula</th>
      <th>Tar tarifa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tar_detalles.each do |tar_detalle| %>
      <tr>
        <td><%= tar_detalle.orden %></td>
        <td><%= tar_detalle.codigo %></td>
        <td><%= tar_detalle.detalle %></td>
        <td><%= tar_detalle.tipo %></td>
        <td><%= tar_detalle.formula %></td>
        <td><%= tar_detalle.tar_tarifa_id %></td>
        <td><%= link_to 'Show', tar_detalle %></td>
        <td><%= link_to 'Edit', edit_tar_detalle_path(tar_detalle) %></td>
        <td><%= link_to 'Destroy', tar_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tar Detalle', new_tar_detalle_path %>
