<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @tar_detalle.orden %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @tar_detalle.codigo %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @tar_detalle.detalle %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @tar_detalle.tipo %>
</p>

<p>
  <strong>Formula:</strong>
  <%= @tar_detalle.formula %>
</p>

<p>
  <strong>Tar tarifa:</strong>
  <%= @tar_detalle.tar_tarifa_id %>
</p>

<%= link_to 'Edit', edit_tar_detalle_path(@tar_detalle) %> |
<%= link_to 'Back', tar_detalles_path %>
