<div id="<%= dom_id krn_denunciado %>">
  <p>
    <strong>Denuncia:</strong>
    <%= krn_denunciado.denuncia_id %>
  </p>

  <p>
    <strong>Empresa externa:</strong>
    <%= krn_denunciado.empresa_externa_id %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= krn_denunciado.rut %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= krn_denunciado.nombre %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= krn_denunciado.cargo %>
  </p>

  <p>
    <strong>Lugar trabajo:</strong>
    <%= krn_denunciado.lugar_trabajo %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= krn_denunciado.email %>
  </p>

  <p>
    <strong>Email ok:</strong>
    <%= krn_denunciado.email_ok %>
  </p>

  <p>
    <strong>Articulo 4 1:</strong>
    <%= krn_denunciado.articulo_4_1 %>
  </p>

</div>
