<p style="color: green"><%= notice %></p>

<%= render @krn_denunciado %>

<div>
  <%= link_to "Edit this krn denunciado", edit_krn_denunciado_path(@krn_denunciado) %> |
  <%= link_to "Back to krn denunciados", krn_denunciados_path %>

  <%= button_to "Destroy this krn denunciado", @krn_denunciado, method: :delete %>
</div>
