		<div class="row mt-3 p-2 gx-1 border2 rounded-4" style="margin-left: 3%; margin-right: 3%; color: #3c6e71;">
			<div class="col text-center">
				<%= image_tag 'logo/istp_50.png', class: 'img-fluid' %>
			</div>
			<div class="col text-center">
				<%= image_tag 'logo/addt_50.png', class: 'img-fluid' %>
			</div>
		</div>


<div class="row gx-1 mt-1 py-4 fs-4" style="margin-left: 3%; margin-right: 3%; color: #3c6e71;">

	<div class="col-lg-6 col-xs-12">

		<!--div class="row p-2 gx-1 border rounded-4">
			<div class="col">
				<%#= image_tag 'logo/istp_50.png', class: 'img-fluid' %>
			</div>
			<div class="col text-end">
				<%#= image_tag 'logo/addt_50.png', class: 'img-fluid' %>
			</div>
		</div-->

		<p class="pt-3 px-5 text-center" style="font-size: 1.2rem;line-height: 1.5;">LaborSafe es un proyecto desarrollado en asociación con <i>Abogados derecho del trabajo</i> (ADDT). Agrupación con vasta experiencia en derecho laboral.</p>

		<p class="pt-3 px-5 text-center" style="font-size: 1.1rem;line-height: 1.5;"><i class="bi bi-check2-all"></i> Externalice sus investigaciones de la ley 21.643.</p>
		<p class="pt-1 px-5 text-center" style="font-size: 1.1rem;line-height: 1.5;"><i class="bi bi-check2-all"></i> Complemente su proyecto con consultoría y capacitación del mejor estándar.</p>

	    <div class="p-3 text-center">
	    	<%= render partial: 'home/box/btn_demo', locals: {align: 'end', pddng: 2} %>
	    </div>

	</div>
	<div class="col-lg-6">
		<%= render partial: 'home/box/concept', locals: {cncpt: 'Externalización de investigaciones', dtll: 'Garantice el mejor estándar disponible para sus investigaciones.', gly: 'cloud-check'} %>
		<%= render partial: 'home/box/concept', locals: {cncpt: 'Consultoría en la implementación de la ley', dtll: 'Asesórese con los mejores profesionales.', gly: 'lightbulb'} %>
		<%= render partial: 'home/box/concept', locals: {cncpt: 'Capacitaciones obligatorias', dtll: 'Cumplimiento de la ley 21.643.', gly: 'mic'} %>
		<%= render partial: 'home/box/concept', locals: {cncpt: 'Capacitación del equipo de trabajo', dtll: 'Ponemos a su disposición un experimentado equipo de relatores.', gly: 'mic'} %>
		<%= render partial: 'home/box/concept', locals: {cncpt: 'Formación de investigadores', dtll: 'Garantice el estándar de sus investigaciones.', gly: 'mic'} %>
	</div>
</div>