<div class="row gx-1 mt-3 py-4 fs-4" style="margin-left: 3%; margin-right: 3%; color: #3c6e71;">


</div>

<div class="row gx-1 mt-3 py-4 fs-4" style="margin-left: 3%; margin-right: 3%; color: #3c6e71;">
  <div class="col-lg-6 col-xs-12">
    <!-- Pseudo-elemento para el fondo con transparencia -->
    <!-- Contenido (no afectado por la transparencia) -->
	<div class="text-center">
		<%= image_tag 'addt_foot.png', class: 'img-fluid' %>
	</div>
    <p class="m-0 px-4 text-center">
      ABOGADOS DERECHO DEL TRABAJO
    </p>

    <p class="mt-3 text-center" style="font-size: 1rem;">Agrupación de abogados con vasta experencia en derecho del trabajo, se asocia con LaborSafe para ofrecer soluciones integradas.</p>

    <p class="mt-3 text-center" style="font-size: 1rem;">Utilice nuestras versiones extándar o solicite la evaluación de su proyecto personalizado.</p>
    <!--div class="mt-4 p-4 border border-4 rounded-4" style="background-color: #e3f2fd;border-color: #6096ba;color: #3c6e71;">
	    <div class="fs-5">
	    	Registre su empresa para:
	    </div>
	    <div class="mt-2 fs-6">
	    	<ul>
	    		<li>Solicitar información comercial</li>
	    		<li>Coordinar una presentación vía telemática</li>
	    	</ul>
	    </div>
	    <div class="text-end">
	    	<%#= render partial: 'home/box/btn_demo', locals: {align: 'end', pddng: 2} %>
	    </div>
    </div-->
  </div>
  <div class="col-lg-6">
  	<%= render partial: 'home/box/concept', locals: {cncpt: 'Externalización de investigaciones', dtll: 'Garantice el mejor estándar disponible para sus investigaciones.', gly: 'cloud-check'} %>
  	<%= render partial: 'home/box/concept', locals: {cncpt: 'Consultoría en la implementación de la ley', dtll: 'Asesórese con los mejores profesionales.', gly: 'lightbulb'} %>
  	<%= render partial: 'home/box/concept', locals: {cncpt: 'Capacitaciones obligatorias', dtll: 'Cumplimiento de la ley 21.643.', gly: 'mic'} %>
  	<%= render partial: 'home/box/concept', locals: {cncpt: 'Capacitación del equipo de trabajo', dtll: 'Ponemos a su disposición un experimentado equipo de relatores.', gly: 'mic'} %>
  	<%= render partial: 'home/box/concept', locals: {cncpt: 'Formación de investigadores', dtll: 'Garantice el estándar de sus investigaciones.', gly: 'mic'} %>
  </div>
</div>