<div class="row gx-1 mt-3 py-4 ubuntu-regular" style="margin-left: 3%; margin-right: 3%; color: #3c6e71;">

  <p class="m-0 px-4 fs-3">
    Software para el registro y control del <i>procedimiento de investigación y sanción</i><br>Ley 21.643 (Ley Karin)
  </p>

  <div class="col-lg-4 col-xs-12 p-3 fs-4">
    <%= render partial: 'home/box/concept', locals: {cncpt: 'Cumplimiento', dtll: 'Informa paso a paso los requisitos de la ley.', gly: 'trophy'} %>
    <%= render partial: 'home/box/concept', locals: {cncpt: 'Simplicidad', dtll: 'Proceso completamente asistido, no requiere conocimiento experto del procedimiento.', gly: 'bicycle'} %>
    <%= render partial: 'home/box/concept', locals: {cncpt: 'Documentación obligatoria', dtll: 'Cada denuncia cuenta con un repositorio con control decumental.', gly: 'folder-check'} %>
  </div>
  <div class="col-lg-4 col-xs-12 p-3 fs-4">
      <%= render partial: 'home/box/concept', locals: {cncpt: 'Control de plazos', dtll: 'Control de plazos sensible al tipo de investigación.', gly: 'calendar2-check'} %>
    <%= render partial: 'home/box/concept', locals: {cncpt: 'Notificaciones e información obligatoria', dtll: 'Generación automatizada y envío trazable desde la plataforma.', gly: 'bell'} %>
    <%= render partial: 'home/box/concept', locals: {cncpt: 'Confidencialidad', dtll: 'Modelo de confidencialidad para usuarios y participantes.', gly: 'ban'} %>
  </div>
  <div class="col-lg-4">
    <div class="mt-4 p-4 border border-4 rounded-4 shadow-sm" style="background-color: #e3f2fd;border-color: #6096ba;color: #3c6e71;">
	    <div class="mb-3 fs-5 text-center">
	    	Registre su empresa para obtener su versión DEMO
	    </div>
	    <!--div class="mt-2 fs-6">
	    	<ul>
	    		<li>Tener acceso a una versión DEMO</li>
	    		<li>Solicitar información comercial</li>
	    		<li>Coordinar una presentación vía telemática</li>
	    	</ul>
	    </div-->
	    <div class="text-center">
	    	<%= render partial: 'home/box/btn_demo', locals: {align: 'end', pddng: 2} %>
	    </div>
    </div>
  </div>
</div>