	<div class="menu_left">
		<%= render partial: '0capitan/app/over/item', locals: {text: nil, link: root_path, gly: 'house', metodo: nil} %>
		<%= render partial: '0capitan/app/over/item', locals: {text: 'AYUDA', link: '/publicos/ayuda', gly: nil, metodo: nil} %>
		<%= render partial: '0capitan/app/over/item', locals: {text: 'CONTACTO', link: '/publicos/contacto', gly: nil, metodo: nil} %>
		<%= render partial: '0capitan/app/over/item', locals: {text: 'ACERCA', link: '/publicos/acerca', gly: nil, metodo: nil} %>
	</div>
	<div class="menu_center">
		<%= render partial: '0capitan/app/over/item', locals: {text: nil, link: root_path, gly: 'instagram', metodo: nil} %>
	</div>
	<div class="menu_right">

        <% if usuario_signed_in? %>

			<span><%= render partial: '0capitan/app/over/item', locals: {text: nil, link: destroy_usuario_session_path, metodo: :delete, gly: 'door-open'} %></span>

        <% else %>

			<span><%= render partial: '0capitan/app/over/item', locals: {text: nil, link: new_usuario_session_path, metodo: :get, gly: 'person'} %></span>

			<span><%= render partial: '0capitan/app/over/item', locals: {text: nil, link: new_usuario_registration_path, metodo: :get, gly: 'person-plus'} %></span>

      
        <% end %>
	
	</div>