<div class="row px-3 pb-1 gx-1 app_lnk" style="font-size: 13px;line-height: 1.2;">
	<div class="col">

		<i class="bi bi-cash-coin"></i> 
		<!-- Actualizado con uso de cuantía en el registro -->
		<%= s_pesos(objeto.ttl_cuantia) %>
		<i class="bi bi-arrow-right"></i>

		<% unless objeto.monto_pagado.blank? %>
			<%= s_pesos(objeto.monto_pagado) %>
		<% else %> 
			<% unless objeto.monto_conciliaciones.empty? %>
				<%= objeto.monto_conciliaciones.last.tipo %> : <%= s_pesos(objeto.monto_conciliaciones.last.monto) %>
			<% end %>
		<% end %>

	</div>
	<div class="col text-end">
		<% if objeto.estado == 'tramitación' %>
			<%= render partial: '0p/tbl/lnk_new', locals: {source: 'monto_conciliaciones', blngs: objeto} %>
		<% end %>
		<% unless objeto.monto_conciliaciones.empty? %>
			<i class="bi bi-dot"></i>
			<%= render partial: '0p/tbl/lnk_editar', locals: {objeto: objeto.monto_conciliaciones.last } %>
		<% end %>
	</div>
</div>