<% if check_k_estados(objeto) %>
	<% unless objeto.estado.blank? %>

		<div class="chng_st">
			<div class="st">
				<i class="bi bi-tag"></i>
				<%= objeto.estado %>
			</div>
			<div class="lnks">
				<% unless @st_usuario.empty? %>
					<% @st_usuario.each do |st_estado| %>
						<i class="bi bi-person"></i>
		  				<%= link_to link_x_btn(objeto, "/cambio_estado?st=#{st_estado}", false) do %>
							<i class="bi bi-box-arrow-in-right"></i></i> <%= st_estado %>
		  				<% end %>
					<% end %>
				<% end %>
				<% unless @st_admin.empty? %>
					<% @st_admin.each do |st_estado| %>
						<i class="bi bi-person-fill"></i>
		  				<%= link_to link_x_btn(objeto, "/cambio_estado?st=#{st_estado}", false) do %>
							<i class="bi bi-box-arrow-in-right"></i></i> <%= st_estado %>
		  				<% end %>
					<% end %>
				<% end %>
			</div>
		</div>

	<% end %>
<% end %>