<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['app_documentos'], title: "Documento : #{@objeto.app_documento}", size: 4 } %>

<p><small>
<i class="bi bi-file-check"></i> <%= @objeto.doc_existencia %>
<i class="bi bi-calendar-event"></i> <%= @objeto.doc_vencimiento %>
</small></p>

<%= render partial: '/repositorios/partials/link_owner' %>

<%= render partial: 'repositorios/app_documentos/partials/directorio' %>
