<% unless objt.tiene_email_verificado? %>
  <li>
    <%= render layout: '0p/tltp_lnk', locals: {lnk: url_params("/krn_investigadores/#{objt.id}/reenviar_correo", {key: 'invstgdr'}), tltp: nil, data: { turbo_method: :post}, clss: 'dropdown-item'} do %>
      Enviar verificación de email
    <% end %>
  </li>

  <% unless objt.tiene_email_validado? %>
    <li>
      <%= render layout: '0p/tltp_lnk', locals: {lnk: url_params("/krn_investigadores/#{objt.id}/rlzd", {mdl: 'act', cdg: 'verificar_email', p: true}), tltp: nil, data: { turbo_method: :post}, clss: 'dropdown-item'} do %>
        Marcar como validado
      <% end %>
    </li>
  <% else %>
    <li>
      <%= render layout: '0p/tltp_lnk', locals: {lnk: url_params("/krn_investigadores/#{objt.id}/rlzd", {mdl: 'act', cdg: 'verificar_email', p: 'trash'}), tltp: nil, data: { turbo_method: :post}, clss: 'dropdown-item'} do %>
        Eliminar marca de validado
      <% end %>
    </li>
  <% end %>
<% end %>

<% if current_usuario.operacion? %>

  <% unless objt.tiene_email_verificado? or objt.articulo_516 %>
    <li><hr class="dropdown-divider"></li>
  <% end %>

  <%#= render partial: '0p/tbl/plldwn_show', locals: {objt: objt, orgn: @orgn} %>
  <%= render partial: '0p/tbl/plldwn_editar', locals: {objt: objt, orgn: @orgn} %>

  <li><hr class="dropdown-divider"></li>

  <%= render partial: '0p/tbl/plldwn_eliminar', locals: {objt: objt, orgn: @orgn} %>

<% end %>