<div class="app_nt_<%=clr%>">
	<% unless objeto.blank? %>
		<div class="ln_nt_crd">
			<div class="ln_nm">
				<i class="bi bi-cone-striped text-<%=clr%>"></i>
				<%= dma_hm(objeto.created_at) %>
			</div>
			<div class="ln_lnks">
				<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
			</div>
		</div>
	<% end %>
	<div class="nt">
		<% if clr =='g' %>
			<i class="bi bi-dot text-info"></i>
		<% elsif clr == 'y' %>
			<i class="bi bi-exclamation-lg text-warning"></i>
		<% elsif  clr == 'r' %>
			<i class="bi bi-cone-striped text-danger"></i>
		<% end %>
		<%= nota %>
	</div>
</div>