<small>
<div class="list-item">

	<i class="bi bi-briefcase"></i> 
	<b><%= objeto.descripcion %></b> | <small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small></br>

	<small>
	<% unless objeto.detalle.blank? %>
		<%= objeto.detalle %></br>
	<% end %>
	<i class="bi bi-dot"></i> <%= objeto.tipo %> : <%= s_moneda(objeto.moneda, objeto.monto) %></br>
	</small>

</div>
</small>