<div class="shw_flds_lst">
	<% if objeto.krn_empresa_externa_id.present? %>
		<%= render partial: '0p/shw/fld_ln', locals: {fld: 'RUT empresa externa', vl: objeto.krn_empresa_externa.rut, algn: 'left'} %>
		<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Empresa externa', vl: objeto.krn_empresa_externa.razon_social, algn: 'left'} %>
	<% end %>

	<b>
		<%= render partial: '0p/shw/fld_ln', locals: {fld: 'RUT demandante', vl: objeto.rut, algn: 'left'} %>
		<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Nombre demandante', vl: objeto.nombre, algn: 'left'} %>
	</b>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Cargo', vl: objeto.cargo, algn: 'left'} %>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Lugar de trabajo', vl: objeto.lugar_trabajo, algn: 'left'} %>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'email', vl: objeto.email, algn: 'left'} %>

	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Empleador', vl: objeto.empleador, algn: 'left'} %>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Representante', vl: objeto.representante, algn: 'left'} %>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Documento que acredita representación', vl: objeto.doc_representante, algn: 'left'} %>

	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Aplica artículo 4 inciso primero del Código del trabajo', vl: objeto.articulo_4_1 ? 'SI' : 'NO', algn: 'left'} %>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'El denunciante cuenta con el reglamento interno actualizado', vl: objeto.dnnte_info_reglamento ? 'SI' : 'NO', algn: 'left'} %>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'El denunciante fue capacitado en el procedimiento de investigacióm y sanción', vl: objeto.dnnte_info_procedimiento ? 'SI' : 'NO', algn: 'left'} %>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'El denunciante fue informado de sus derechos relativos al procedimiento de Investigación y sanción', vl: objeto.dnnte_info_procedimiento ? 'SI' : 'NO', algn: 'left'} %>
</div>
<div class="shw_bx">
	<b>Archivo(s) de la persona denunciante</b></br>
	<%= render partial: "repositorios/shr/dc_admin", locals: {cntrl: cntrl_diat_diep(objeto), ownr: objeto, fl: @diat_diep[objeto.id], dc: @dc_diat_diep} %>
</div>