<p id="notice"><%= notice %></p>

<h1>M Reg Facts</h1>

<table>
  <thead>
    <tr>
      <th>M registro</th>
      <th>Tar factura</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_reg_facts.each do |m_reg_fact| %>
      <tr>
        <td><%= m_reg_fact.m_registro_id %></td>
        <td><%= m_reg_fact.tar_factura %></td>
        <td><%= m_reg_fact.monto %></td>
        <td><%= link_to 'Show', m_reg_fact %></td>
        <td><%= link_to 'Edit', edit_m_reg_fact_path(m_reg_fact) %></td>
        <td><%= link_to 'Destroy', m_reg_fact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M Reg Fact', new_m_reg_fact_path %>
