<p id="notice"><%= notice %></p>

<p>
  <strong>M registro:</strong>
  <%= @m_reg_fact.m_registro_id %>
</p>

<p>
  <strong>Tar factura:</strong>
  <%= @m_reg_fact.tar_factura %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @m_reg_fact.monto %>
</p>

<%= link_to 'Edit', edit_m_reg_fact_path(@m_reg_fact) %> |
<%= link_to 'Back', m_reg_facts_path %>
