<% if controller_name == 'servicios' %>
	Detalle Cuantía</br>
<% end %>

<small><small>

<!-- Encabezado -->
<div class="row text-info">
	<div class="col-<%= controller_name == 'causas' ? '6' : '9' %>">
		<div style='padding-left: 1em;'>
			<i>Item</i>
		</div>
	</div>
	<% if controller_name == 'causas' %>
		<div class="col-3" align='right'>
			<i>Tarifa</i>
		</div>
	<% end %>
	<div class="col-3" align='right'>
		<i>Cuantía</i>
	</div>
</div>

<!-- Detalles de cuantía -->
<div class="row text-muted">
	<% objeto.valores_cuantia.each do |vc| %>
		<div class="col-<%= controller_name == 'causas' ? '6' : '9' %>">
			<div style='padding-left: 1em;'>
				<% if vc.tar_detalle_cuantia.tar_detalle_cuantia == 'Otro' and controller_name == 'causas' %>
					<i class="bi bi-asterisk"></i>
				<% end %>
				<%= @valores_cuantia[objeto.id][vc.id][:nombre] %>
				<% unless @valores_cuantia[objeto.id][vc.id][:nota].blank? %>
					 ( <%= @valores_cuantia[objeto.id][vc.id][:nota] %> )
				<% end %>
				<%= "( #{@valores_cuantia[objeto.id][vc.id][:p100]}% )" if porcentaje_cuantia %>
				<% if controller_name == 'causas' %>
					<%= render partial: '0p/tabla/links_e', locals: {objeto: vc} %>
				<% end %>
			</div>
		</div>
		<div class="col-3" align='right'>
			<%= render partial: 'causas/partials/icono_check_valor', locals: {check_valor: @valores_cuantia[objeto.id][vc.id][:check_honorarios]} %>
			<% unless @valores_cuantia[objeto.id][vc.id][:activado] %><del><% end %>
			<%= s_moneda( vc.moneda, @valores_cuantia[objeto.id][vc.id][:honorarios] ) %>
			<% unless @valores_cuantia[objeto.id][vc.id][:activado] %></del><% end %>
		</div>
		<% if controller_name == 'causas' %>
			<div class="col-3" align='right'>
				<%= render partial: 'causas/partials/icono_check_valor', locals: {check_valor: @valores_cuantia[objeto.id][vc.id][:check_cuantia]} %>
				<% unless @valores_cuantia[objeto.id][vc.id][:activado] %><del><% end %>
				<%= s_moneda( vc.moneda, @valores_cuantia[objeto.id][vc.id][:cuantia] ) %>
				<% unless @valores_cuantia[objeto.id][vc.id][:activado] %></del><% end %>
			</div>
		<% end %>
	<% end %>

</div>

<% if objeto.cuantia_modificada? %>
	<i class="bi bi-cone-striped"></i> Esta cuantía ha sido modificada!
<% end %>
</small></small>