<div class="titulo">

	<div class="text-info">
		<div class="row">
			<div class="col-10">
				<i class="bi bi-<%=controller_icon['tar_tarifas']%>"></i> <%= objeto.tar_tarifa.blank? ? 'Tarifa' : 'Tarifa asignada' %>
			</div>
			<div class="col-2">
				<%= render layout: '0p/collapse/link', locals: {label: 'AsignaTarifa', objeto: nil, tooltip: 'asigna'} do %>
					<small>
					<% if objeto.tar_tarifa.blank? %>
						<i class="bi bi-plus-circle"></i>
					<% else %>
						<i class="bi bi-pencil"></i>
					<% end %>
					</small>
				<% end %>
			</div>
		</div>
	</div>

</div>

<%= render layout: '0p/collapse/display', locals: {label: 'AsignaTarifa', objeto: nil, tooltip: 'Tarifas'} do %>
	<div class="shadow p-3 mb-1 bg-white rounded">
		<div class="text-info">
				<%= render partial: 'causas/partials/sel_tarifas', locals: {objeto: objeto} %>
		</div>
	</div>	
<% end %>

<div class="shadow p-3 mb-3 bg-white rounded">

	<small class="text-muted">
	<% if @objeto.tar_tarifa.present? %>
		<%= link_to @objeto.tar_tarifa.tarifa, @objeto.tar_tarifa %> 
		<% if objeto.facturaciones.empty? %>
			<%= link_to "/tar_tarifas/#{@objeto.tar_tarifa.id}/desasigna?cid=#{objeto.id}" do %>
				<i class="bi bi-x-circle"></i>
			<% end %>
		<% end %>
		<%= render partial: 'tarifas/tar_tarifas/list/detalle_tarifa', locals: {objeto: @objeto.tar_tarifa} %>
	<% else %>
		Sin tarifa asignada
	<% end %>
	</small>

</div>