<%= form_for :form_valor, url: "/causas/#{causa.id}/agrega_valor?vid=#{variable.id}" do |form| %>

	<small><small>[ <%= variable.tipo %> : <%= variable.control %> ]</small></small></br>
	<div class='form-inline'>

		<% case variable.tipo %>
		<% when 'Texto' %>
			<%= render partial: '0p/form_fields/text', locals: { form: form, token: :c_texto } %>
		<% when 'Párrafo' %>
			<%= render partial: '0p/form_fields/text_area', locals: { form: form, token: :c_parrafo } %>
		<% when 'Número' %>
			<%= render partial: '0p/form_fields/number', locals: { form: form, token: :c_number } %>
		<% when 'Monto pesos' %>
			<%= render partial: '0p/form_fields/number', locals: { form: form, token: :c_number } %>
		<% when 'Monto UF' %>
			<%= render partial: '0p/form_fields/number', locals: { form: form, token: :c_number } %>
		<% end %>

		<button type="submit" class="btn btn-info">
		  <i class="bi bi-caret-right icon-white"></i>
		</button>

	</div>
<% end  %>
