<%= s_uf5(@h_pagos[pago.id][:monto_uf]) %>
<i class="bi bi-arrow-left-right"></i>
<%= s_pesos(@h_pagos[pago.id][:monto_pesos]) %>

<div style='padding-left: 1em; padding-right: 1em; line-height: 13px;'>

	<% if @h_pagos[pago.id][:pago].present? %>
		<small><small>
		Pago aprobado el <%= dma(@h_pagos[pago.id][:pago].created_at) %>
		</small></small>
		<small><%= render partial: 'tarifas/tar_facturaciones/list/aprobaciones_facturas', locals: {objeto: @h_pagos[pago.id][:pago]} %></small>
	<% else %>
		<small><small>Pago sin aprobación</small></small>
	<% end %>
	</br>

	<small><small>
	<div class="row">
		<div class="col-10">
			<i class="bi bi-arrow-right"></i> 
			<% case @h_pagos[pago.id][:origen_fecha_pago] %>
			<% when 'TarUfFacturacion' %>
				UF definida para este pago.
			<% when 'TarPago' %>
				UF definida por la fecha de aprobación.
			<% when 'Today' %>
				Cálculo realizado con la UF del día.
			<% end %> 
			( <%= dma(objeto.fecha_calculo_pago(pago)) %> )

			<% unless objeto.pago_generado(pago).present? %>
				</br>
				<%= render layout: '0p/collapse/link', locals: {label: 'AgregaModifica', objeto: pago, tooltip: objeto.tar_uf_facturacion(pago).blank? ? 'agrega ' : 'modifica ' } do %>
					<%= objeto.tar_uf_facturacion(pago).blank? ? 'agrega ' : 'modifica ' %> fecha de la uf
				<% end %>
				<% unless objeto.tar_uf_facturacion(pago).blank? %>
					<i class="bi bi-dot"></i>
					<%= link_to "/causas/#{objeto.id}/elimina_uf_facturacion?pid=#{pago.id}" do %>
						<small><i class="bi bi-trash"></i></small>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="col-2" align='right'>
			<b><%= objeto.uf_calculo_pago(pago).blank? ? 'UF no encontrada' : s_pesos2(objeto.uf_calculo_pago(pago).valor) %></b>
		</div>
	</div>

	<%= render layout: '0p/collapse/display', locals: {label: 'AgregaModifica', objeto: pago} do %>
		<%= render partial: "causas/partials/form_uf_facturacion", locals: {objeto: objeto, pago: pago} %>
	<% end %>
	</small></small>

	<% if @h_pagos[pago.id][:pago].blank? %>
		<%= render partial: '0p/general/btn_proceso', locals: {texto: 'Aprobar pago', gly: 'check-all', link: "/tar_facturaciones/crea_facturacion?owner_class=#{objeto.class.name}&owner_id=#{objeto.id}&facturable=#{pago.codigo_formula}", clr: config[:color][:app], delete: false} unless pago.codigo_formula.blank? %></br>
	<% end %>

</div>