<small>
	<% unless @tar_cliente.empty? %>
		<b class="text-info">Tarifas del cliente</b></br>
		<div style="padding-left: 1em">
			<small class="text-muted">
			<% @tar_cliente.each do |tar| %>
				<%= link_to "/tar_tarifas/#{tar.id}/asigna?cid=#{objeto.id}" do %>
					<i class="bi bi-arrow-bar-left"></i>
				<% end %>  
				<%= tar.tarifa %>
				<%= link_to tar do %>
					<i class="bi bi-box-arrow-right"></i>
				<% end %></br>
			<% end %>
			</small>
		</div>
	<% end %>
	<% unless @tar_generales.empty? %>
		<b class="text-info">Tarifas generales</b></br>
		<div style="padding-left: 1em">
			<small class="text-muted">
			<% @tar_generales.each do |tar| %>
				<%= link_to "/tar_tarifas/#{tar.id}/asigna?cid=#{objeto.id}" do %>
					<i class="bi bi-arrow-bar-left"></i>
				<% end %>  
				<%= tar.tarifa %>
				<%= link_to tar do %>
					<i class="bi bi-box-arrow-right"></i>
				<% end %></br>
			<% end %>
			</small>
		</div>
	<% end %>
</small>