<p class="text-info">
	<i class="bi bi-file-earmark-font"></i> Archivos 
	<%= link_to "/app_archivos/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}" do %>
		<i class="bi bi-plus-circle"></i>
	<% end %>
</p>
<% objeto.archivos.order(:app_archivo).each do |archivo| %>
	<small>
		<i class="bi bi-file-earmark-font"></i> 
		<% if archivo.archivo.present? %>
			<%= link_to archivo.archivo.url, class: 'sb-link', target: :_blank do %>
				<%= archivo.app_archivo %> 
			<% end %>
		<% else %>
			<%= archivo.app_archivo %> 
		<% end %>
		<%= render partial: '0p/tabla/links_e', locals: {objeto: archivo} %>
	</small>
<% end %>
