<div class="row">
	<div class="col-lg-3 col-xs-12">
		<p class="text-info"><i class="bi bi-list-check"></i> Datos</p>
		<% ['demandante', 'cargo', 'sucursal', 'abogados'].each do |antecedente| %>
			<%= render partial: 'causas/antecedentes/antecedente', locals: {objeto: objeto, tag: antecedente} %>
		<% end %>
		<hr>
		<%= render partial: 'repositorios/app_archivos/partials/show_archivos', locals: {objeto: objeto} %>
		<hr>
		<%= render partial: 'recursos/app_enlaces/partials/show_enlaces', locals: {objeto: objeto} %>
	</div>
	<div class="col-lg-6 col-xs-12">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tar_facturaciones', title: 'Pagos de la causa', link_new: nil} %>

		<% unless @objeto.tar_tarifa.blank? %>
			<% unless @coleccion['tar_facturaciones'].empty? %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_facturaciones'} %>
			<% end %>
		<% end %>
	</div>
	<div class="col-lg-3">
	</div>
</div>
