<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'Causas', title: 'Datos', link_new: nil} %>

<% @variables.each do |variable| %>
	<div class="shadow mb-1 bg-white rounded">

		<div style="padding-left: 1em; padding-bottom: 1em">
			<%= render layout: '0p/collapse/link', locals: {label: 'FormValor', objeto: variable} do %>
				<small><%= variable.variable %></small>
			<% end %> </br>


			<small><%= render partial: 'variables/list/valor_variable', locals: {objeto: variable, causa: objeto} %></small>

		</div>
		<%= render layout: '0p/collapse/display', locals: {label: 'FormValor', objeto: variable} do %> 
		  	<%= render partial: 'causas/datos/form_valor', locals: {causa: objeto, variable: variable} %>
		<% end %>
	</div>
<% end %>
<hr>
