<div class="row">
	<div class="col-lg-4 col-xs-12">

		<%= render partial: 'causas/partials/display_tarifa', locals: {objeto: objeto} %>

 		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tar_facturaciones', title: 'Pagos de la causa', link_new: nil} %>

		<% unless objeto.tar_tarifa.blank? %>
			<% unless @coleccion['tar_facturaciones'].empty? %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_facturaciones'} %>
			<% end %>
		<% end %>
	</div>
	<div class="col-lg-8">

		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tar_pagos', title: 'Aprobación de pagos', link_new: nil } %>

		<% unless objeto.tar_tarifa.blank? or objeto.tar_tarifa.tar_pagos.empty? %>
			<% objeto.tar_tarifa.tar_pagos.order(:orden).each do |pago| %>
				<div class="shadow p-3 mb-3 bg-white rounded">
					<%= render partial: 'organizacion/servicios/aprobacion/encabezado_pago', locals: {objeto: pago, owner: objeto} %>
					<%= render partial: 'causas/partials/pago_comentarios', locals: {pago: pago, causa: objeto } %>
				</div>

			<% end %>
		<% end %>

	</div>
</div>