<div class="row">
	<div class="col-lg-5 col-xs-12">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tar_facturaciones', title: 'Pagos de la causa', link_new: nil} %>

		<% unless objeto.tar_tarifa.blank? %>
			<% unless @coleccion['tar_facturaciones'].empty? %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_facturaciones'} %>
			<% end %>
		<% end %>

		<hr>

		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'app_documentos', title: 'Documentos', link_new: "/app_documentos/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}"} %>

		<%= render partial: 'repositorios/app_documentos/partials/control_documentos', locals: {pendientes: @docs_pendientes} %>

		<hr>

		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'app_archivos', title: 'Archivos', link_new: "/app_archivos/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}"} %>

		<%= render partial: 'repositorios/app_archivos/partials/control_archivos', locals: {pendientes: @archivos_pendientes} %>

		<hr>

		<%= render partial: 'recursos/app_enlaces/partials/show_enlaces', locals: {objeto: objeto} %>
	</div>
	<div class="col-lg-7">

		<%= render partial: 'causas/partials/tab_seg_datos', locals: {objeto: objeto} %>

		<%= render partial: 'causas/partials/tab_seg_actividades', locals: {objeto: objeto} %>

	</div>
</div>
