<div class="row">
	<div class="col-lg-4 col-xs-12">
		<%= render partial: 'causas/partials/tab_seg_datos', locals: {objeto: objeto} %>
	</div>
	<div class="col-lg-6">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tar_valor_cuantias', title: 'Cuantía', link_new: "/tar_valor_cuantias/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}"} %>

		<% unless objeto.valores_cuantia.empty? %>
			<div class="shadow p-3 mb-1 bg-white rounded">
				<%= render partial: 'causas/partials/detalle_cuantia', locals: {objeto: objeto} %>
			</div>
			
			<div class="shadow p-3 mb-1 bg-white rounded">
				<div class="row">
					<div class="col-6">
						<b>Total Cuantia</b>
					</div>
					<div class="col-6" align='right'>
						<b>
							<%= "#{s_uf(@totales_cuantia[objeto.id][:cuantia_uf]) unless @totales_cuantia[objeto.id][:cuantia_uf] == 0}#{' + ' unless @totales_cuantia[objeto.id][:cuantia_uf]*@totales_cuantia[objeto.id][:cuantia_pesos] == 0}#{s_pesos(@totales_cuantia[objeto.id][:cuantia_pesos]) unless @totales_cuantia[objeto.id][:cuantia_pesos] == 0}" %>
						</b>
					</div>
				</div>
			</div>
			<div class="shadow p-3 mb-3 bg-white rounded">
				<div class="row">
					<div class="col-6">
						<b>Total Cuantia Honorarios</b>
					</div>
					<div class="col-6" align='right'>
						<b>
							<%= "#{s_uf(@totales_cuantia[objeto.id][:honorarios_uf]) unless @totales_cuantia[objeto.id][:honorarios_uf] == 0}#{' + ' unless @totales_cuantia[objeto.id][:honorarios_uf]*@totales_cuantia[objeto.id][:honorarios_pesos] == 0}#{s_pesos(@totales_cuantia[objeto.id][:honorarios_pesos]) unless @totales_cuantia[objeto.id][:honorarios_pesos] == 0}" %>
						</b>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>