<div class='row justify-content-center mt-4'>
  <div class='col-md-4'>
    <div class="devise-box">

      <h4 class="text-center">
        
      <h4 class="text-center">
        <%= image_tag 'logo/istp_30.png', class: 'img-fluid' %>
        <i class="bi bi-person2-check"></i> Registro
      </h4>
        <%#= render partial: '0p/general/icon_text', locals: {text: 'Registro', gly: 'person-plus', clr: 'info'} %></h4>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
             format: :turbo_stream, 
             data: { turbo_frame: :registration_form }) do |f| %>

        <%= render "usuarios/shared/error_messages", resource: resource %>

        <!--div class="formCell">
          <%#= f.label :email %>
          <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div-->
        <div class="form-floating mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', id: 'emailInput', placeholder: 'Email' %>
          <%= f.label :email, 'Email', for: 'emailInput' %>
        </div>

        <!--div class="formCell">
          <%#= f.label 'contraseña' %>
          <%# if @minimum_password_length %>
          <small><em>(<%#= @minimum_password_length %> caracteres mínimo)</em></small>
          <%# end %><br />
          <%#= f.password_field :password, autocomplete: "new-password" %>
        </div-->
        <!-- Campo de contraseña -->
        <div class="form-floating mb-3">
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', id: 'passwordInput', placeholder: 'Password' %>
          <%= f.label :password, 'Password', for: 'passwordInput' %>
        </div>

        <!--div class="formCell">
          <%#= f.label 'confirmación de contraseña' %>
          <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div-->
        <div class="form-floating mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', id: 'passwordConfirm', placeholder: 'Password' %>
          <%= f.label :password_confirmation, 'Confirmación de password', for: 'passwordConfirm' %>
        </div>

        <!--/br-->

        <div class="mb-3">
          <%= f.submit "Registrar" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

      <div class="text-end" style="font-size: .6rem;">Autenticado con Devise</div>
      
    </div>
  </div>
</div>