<%= form_with(model: hecho_archivo, local: true) do |form| %>
  <% if hecho_archivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hecho_archivo.errors.count, "error") %> prohibited this hecho_archivo from being saved:</h2>

      <ul>
      <% hecho_archivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hecho_id %>
    <%= form.number_field :hecho_id %>
  </div>

  <div class="field">
    <%= form.label :app_archivo_id %>
    <%= form.number_field :app_archivo_id %>
  </div>

  <div class="field">
    <%= form.label :establece %>
    <%= form.check_box :establece %>
  </div>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
