<p id="notice"><%= notice %></p>

<h1>Hecho Archivos</h1>

<table>
  <thead>
    <tr>
      <th>Hecho</th>
      <th>App archivo</th>
      <th>Establece</th>
      <th>Orden</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hecho_archivos.each do |hecho_archivo| %>
      <tr>
        <td><%= hecho_archivo.hecho_id %></td>
        <td><%= hecho_archivo.app_archivo_id %></td>
        <td><%= hecho_archivo.establece %></td>
        <td><%= hecho_archivo.orden %></td>
        <td><%= link_to 'Show', hecho_archivo %></td>
        <td><%= link_to 'Edit', edit_hecho_archivo_path(hecho_archivo) %></td>
        <td><%= link_to 'Destroy', hecho_archivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hecho Archivo', new_hecho_archivo_path %>
