<div class="row gx-1 px-4 text-<%= objt.pdf.attached? ? 'success' : 'primary' %> objt_lnk">
	<div class="col-10">
		<i class="bi bi-arrow-return-right"></i>
		<% if objt.pdf.attached? %>
			<i class="bi bi-file-earmark-check"></i>
		<% else %>
			<i class="bi bi-check-circle"></i>
		<% end %>
		<%= dma_hm(objt.created_at)%> <%= objt.fuente if objt.fuente? %>
	</div>
	<div class="col-2 text-end">
		<%# No hay restricci{on para eliminar una marca de realizado %>

		<%= render partial: prtl('check_realizados', 'objt', 'btn_dwnld'), locals: {objt: objt, mdl: ClssPrcdmnt, code: objt.cdg} if objt.pdf.attached? %>
		<%= render partial: '0p/tbl/lnk_elmnr', locals: {objeto: objt} if current_usuario.dog? %>
		<i class="bi bi-arrow-return-left"></i>
	</div>
</div>