<div class='row'>
	<div class='col-lg-6 col-xs-12'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Tipo asesoría', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :tipo_asesoria_id, colection: TipoAsesoria.all.order(:tipo_asesoria).collect { |ta| [ta.tipo_asesoria, ta.id] }, display_field: 'tipo_asesoria', prompt: 'Tipo Asesoria' } %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Cliente', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :cliente_id, colection: Cliente.all.order(:razon_social).collect { |cli| [cli.razon_social, cli.id] }, display_field: 'razon_social', prompt: 'Cliente' } %>
	</div>
</div>

<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Descripción', v: true } %>
<%= render partial: '0p/form_fields/text', locals: { form: form, token: :descripcion } %>

<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Detalle', v: false } %>
<%= render partial: '0p/form_fields/text_area', locals: { form: form, token: :detalle } %>

<div class='row'>
	<div class='col-lg-4 col-xs-12'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Fecha', v: false } %>
		<%= render partial: '0p/form_fields/date', locals: { form: form, token: :fecha } %>
	</div>
	<div class='col-lg-4 col-xs-12'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Fecha UF', v: false } %>
		<%= render partial: '0p/form_fields/date', locals: { form: form, token: :fecha_uf } %>
	</div>
	<div class='col-md-4'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Plazo', v: false } %>
		<%= render partial: '0p/form_fields/date', locals: { form: form, token: :plazo } %>
	</div>
</div>
<hr>
<small><small><i>Si se trata de una asesoría única, llené directamente estos campos para no asignar tarifa.</i></small></small></br>

<div class="row">
	<div class="col-lg-2 col-xs-12">
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Moneda', v: false } %>
		<%= render partial: '0p/form_fields/radio', locals: { form: form, token: :moneda, radio_list: ['Pesos', 'UF'] } %>
	</div>
	<div class="col-lg-2">
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Monto', v: false } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :monto } %>
	</div>
</div>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :estado } %>