<%= render '0capitan/layouts/title_box' do %>
	<div class="text-info" style='padding-left: 1em; padding-right: 1em;'>
		<h5 class="text-info">
			<%= render partial: 'asesorias/partials/encabezado', locals: {objeto: @objeto} %>
		</h5>
		<%= render partial: 'estados/st_bandejas/partials/change_state', locals: {objeto: @objeto} %>
	</div>
<% end %>
<div class="row">
	<div class="col-lg-5 col-xs-12">
		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'app_repos', title: 'Documentos, archivos & enlaces', link_new: nil} %>

		<div class="shadow p-3 mb-3 bg-white rounded">

			<%= render partial: 'repositorios/app_documentos/partials/display_documentos', locals: {objeto: @objeto, pendientes: [], coleccion: @coleccion['app_documentos']} %>
			<%= render partial: 'repositorios/app_archivos/partials/display_archivos', locals: {objeto: @objeto, pendientes: [], coleccion: @coleccion['app_archivos']} %>

			<%= render partial: 'recursos/app_enlaces/partials/display_enlaces', locals: {objeto: @objeto} %>

		</div>

		<hr>

		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'tar_facturaciones', title: 'Pago', link_new: nil} %>

		<% unless @objeto.tar_servicio.blank? %>
			<% unless @objeto.facturacion.blank? %>
				<%= render partial: 'tarifas/tar_facturaciones/list/objeto', locals: {objeto: @objeto.facturacion} %>
			<% end %>
		<% end %>

	</div>
	<div class="col-lg-7">

		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'age_actividades', title: 'Actividades', link_new: nil} %>

		<div class="shadow p-3 mb-3 bg-white rounded">

			<%= render partial: 'age_actividades/partials/display_reuniones_tareas', locals: {objeto: @objeto, actividad: 'Reuniones', coleccion: @coleccion['reunion-age_actividades']} %>
			<%= render partial: 'age_actividades/partials/display_reuniones_tareas', locals: {objeto: @objeto, actividad: 'Tareas', coleccion: @coleccion['tarea-age_actividades']} %>

		</div>

	</div>
</div>
