<div id="<%= dom_id denuncia %>">
  <p>
    <strong>Empresa:</strong>
    <%= denuncia.empresa_id %>
  </p>

  <p>
    <strong>Tipo denuncia:</strong>
    <%= denuncia.tipo_denuncia_id %>
  </p>

  <p>
    <strong>Denunciante:</strong>
    <%= denuncia.denunciante %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= denuncia.rut %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= denuncia.cargo %>
  </p>

  <p>
    <strong>Lugar trabajo:</strong>
    <%= denuncia.lugar_trabajo %>
  </p>

  <p>
    <strong>Verbal escrita:</strong>
    <%= denuncia.verbal_escrita %>
  </p>

  <p>
    <strong>Empleador dt tercero:</strong>
    <%= denuncia.empleador_dt_tercero %>
  </p>

  <p>
    <strong>Presencial electronica:</strong>
    <%= denuncia.presencial_electronica %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= denuncia.email %>
  </p>

</div>
