<div class="row gx-1 mt-3 border rounded-4 fs-3 text-white" style="margin-left: 3%; margin-right: 3%;">

	<% if prtl?('home', "artcls/#{params[:tkn]}", 'img') %>
		<%= render partial: "aplicacion/home/artcls/#{params[:tkn]}/img" %>
    <% end %>

	<div class="mt-4 px-5 text-start text-secondary app_lnk" style="font-size: .9rem;line-height: 1.5;color: #3c6e71;">

		<% if prtl?('home', "artcls/#{params[:tkn]}", 'artcl') %>
			<%= render partial: "aplicacion/home/artcls/#{params[:tkn]}/artcl", locals: {tkn: params[:tkn]} %>
        <% end %>

    	<p>Más información en:
    		<ul>
    			<li><%= render layout: '0p/tltp_lnk', locals: {lnk: "https://www.laborsafe.cl/"} do%>
    				www.laborsafe.cl
    			<% end %></li>
   				<% if params[:tkn] != 'costos' %>
        			<li>
						<%= render layout: '0p/tltp_lnk', locals: {lnk: "https://www.laborsafe.cl/artcls/costos"} do%>
	        				Artículo: Los costos del incumplimiento
	        			<% end %>
	    			</li>
   				<% end %>
   				<% if params[:tkn] != 'externalizacion' %>
        			<li>
						<%= render layout: '0p/tltp_lnk', locals: {lnk: "https://www.laborsafe.cl/artcls/externalizacion"} do%>
	        				Artículo: Externalización de investigaciones
	        			<% end %>
	    			</li>
   				<% end %>
    		</ul>
    	</p>
		<p class="text-center"><i class="bi bi-c-circle"></i> Equipo de LaborSafe<br>www.laborsafe.cl</p>

	</div>

</div>