<div class="row gx-1">
  <div class="col-lg-6 col-xs-12">
    <%= render partial: '0ttl/ttl', locals: {source: 'age_actividades', dir: 'adncs', hide_lnks: true} %>
    <%= render partial: '0t/tbl', locals: {source: 'age_actividades', clccn: @actividades} %>
  </div>

  <div class="col-lg-6">
    <%= render partial: '0ttl/ttl', locals: {source: 'age_pendientes'} %>

    <div class="mt-1">
      <%= render partial: '0p/tabs/tabs', locals: {token: :tab} %>
      <div class="pt-1 border-start border-end border-bottom" style="margin-top: -1px; min-height: 10rem;">
        <%= render partial: '0t/tbl', locals: { source: 'age_pendientes', clccn: @pndnts, typ: 'ln' } %>
      </div>
    </div>

  </div>
</div>