<!-- Carousel -->
<%= render partial: 'aplicacion/home/public/banner' %>
<div style="background-image: url('<%= asset_path('home/bg_home.webp') %>'); background-size: cover; background-position: top;background-attachment: fixed;">

	<%= render partial: 'aplicacion/home/public/ticker' %>

	<div class="mt-4 text-center clr_azul_principal montserrat-regular">
		<%= render 'aplicacion/home/public/prdct_gnrl' %>
		<%= render 'aplicacion/home/public/prdct_perfil' %>

		<div class="row gx-4" style="margin: 0.5rem 5%;">
			<div class="col-lg-6 col-xs-12 pb-1">
				<%= link_to "Ver reporte de denuncia simple", "/com_documentos/#{@rprt_dnnc.id}/show_pdf", class: "btn btn-primary w-100", target: '_blank' if @rprt_dnnc %>
			</div>
			<div class="col-lg-6 pb-1">
				<%= render layout: '0p/collapse/bttn', locals: {clss_bttn: 'btn btn-primary w-100', label: 'Cntct', objeto: nil, tooltip: nil} do %>
					Contacto comercial
				<% end %>
			</div>
		</div>
		<div class="row gx-4" style="margin: 0.5rem 5%;">
			<div class="col-lg-6 col-xs-12 pb-1">
				<%= link_to "Presentación comercial", "/com_documentos/#{@prsntcn.id}/show_pdf", class: "btn btn-primary w-100", target: '_blank' if @prsntcn %>
			</div>
			<div class="col-lg-6 pb-1">
				<%= render layout: '0p/collapse/bttn', locals: {clss_bttn: 'btn btn-primary w-100', label: 'Demo', objeto: nil, tooltip: nil} do %>
					Versión demostrativa personalizada
				<% end %>
			</div>
		</div>

		<!-- COLLAPSE partials -->
		<%= render layout: '0p/collapse/dsply', locals: {label: 'Cntct', objeto: nil} do %>
			<div class="container mt-5">
			  <div class="row justify-content-center">
					<div class="col-lg-6">
						<%= render partial: 'empresas/contacto' %>
					</div>
				</div>
			</div>
		<% end %>
		<%= render layout: '0p/collapse/dsply', locals: {label: 'Demo', objeto: nil} do %>
			<div class="container mt-5">
			  <div class="row justify-content-center">
					<div class="col-lg-6">
						<%= render partial: 'empresas/registro' %>
					</div>
				</div>
			</div>
		<% end %>

	</div>

</div>

<%= render partial: 'aplicacion/home/public/artcl' %>

<%= render partial: 'aplicacion/home/public/modal_errores_form' %>