<table class="table <%= table_types_base[:borderless] %> table-sm">
  <tbody>

    <!-- Directorios-->
    <% unless @coleccion["#{tag unless tag.blank?}app_directorios"].blank? %>
      <% @coleccion["#{tag unless tag.blank?}app_directorios"].each do |dir| %>
        <%= render partial: "/repositorios/app_directorios/partials/modelo", locals: {a: 'index', objeto: dir} %>
      <% end  %>
    <% end %>

    <!-- Archivos-->
    <% unless @coleccion["#{tag unless tag.blank?}app_archivos"].blank? %>
      <% @coleccion["#{tag unless tag.blank?}app_archivos"].each do |archivo| %>
        <%= render partial: "/repositorios/app_archivos/partials/modelo", locals: {a: 'index', objeto: archivo} %>
      <% end  %>
    <% end %>

  </tbody>
</table>

<%= render partial: '0p/tabla/btn_nuevo_o', locals: {c: 'app_directorios', o: objeto} %>
<%= render partial: '0p/tabla/btn_nuevo_o', locals: {c: 'app_archivos', o: objeto} %>