<% dir ||= 'lst' %>
<div class="row gx-1 px-2 py-1">
	<div class="col-2 objt_lnk">
		<%= render layout: '0p/tltp_lnk', locals: {lnk: objt, tltp: 'Ver Cliente' } do %>
			<%= s_rut(objt.rut) %>
		<% end %>
	</div>
	<div class="col-8 objt_lnk">
		<%= objt.razon_social %>

		<!-- Warnings del -->
		<% unless objt.archivos_faltantes.empty? and objt.archivos_vacios.empty? %>
			<i class="bi bi-dot"></i>
			<%= render layout: '0p/collapse/link', locals: {label: 'Warnings', objeto: objt, tooltip: 'Desplegar advertencias'} do %>
				<i class="bi bi-cone-striped text-danger"></i>
			<% end %>
		<% end %>
	</div>
	<div class="col-2 text-end">
		<% if current_usuario.operacion? %>
			<%= render partial: '0p/tbl/plldwn_lnks', locals: {objt: objt} %>
		<% end %>
	</div>
</div>

<% unless objt.archivos_faltantes.empty? and objeto.archivos_vacios.empty? %>
	<%= render layout: '0p/collapse/dsply', locals: {label: 'Warnings', objeto: objt} do %>
		<%= render partial: prtl_name(objt, dir, 'cllps_dsply'), locals: {objt: objt} %>
	<% end %>
<% end %>