<%= render partial: '0p/ttl_clss', locals: {source: 'doc_cierres', clss: :gray, dir: 'shw'} %>
<%= render partial: 'layouts/partials/notice_alert' %>

<b>Cobranza</b><br>
<%= render partial: '0p/tbl_clss', locals: {clccn: @cbrnz, typ: 'ln'} %>
<div class="row gx-1 fw-bold">
  <div class="col-8">
    TOTAL COBRANZA
  </div>
  <div class="col-2 text-end">
    <%= s_pesos(@cbrnz.map {|tr| tr.monto}.sum) %>
  </div>
</div>

<b>Pago proveedores</b><br>
<%= render partial: '0p/tbl_clss', locals: {clccn: @prvdrs, typ: 'ln'} %>
<div class="row gx-1 fw-bold">
  <div class="col-8">
    TOTAL PROVEEDORES
  </div>
  <div class="col-2 text-end">
    <%= s_pesos(@prvdrs.map {|tr| tr.monto}.sum) %>
  </div>
</div>

<b>Socios</b><br>
<%= render partial: '0p/tbl_clss', locals: {clccn: @scs, typ: 'ln'} %>
<div class="row gx-1 fw-bold">
  <div class="col-8">
    TOTAL SOCIOS
  </div>
  <div class="col-2 text-end">
    <%= s_pesos(@scs.map {|tr| tr.monto}.sum) %>
  </div>
</div>

<b>RRHH</b><br>
<%= render partial: '0p/tbl_clss', locals: {clccn: @trbjdrs, typ: 'ln'} %>
<div class="row gx-1 fw-bold">
  <div class="col-8">
    TOTAL RRHH
  </div>
  <div class="col-2 text-end">
    <%= s_pesos(@trbjdrs.map {|tr| tr.monto}.sum) %>
  </div>
</div>

<b>Facturas emitidas</b><br>
<div style="font-size: .6rem;line-height: 1.5;"><%= render partial: '0p/tbl_clss', locals: {clccn: @emtds, typ: 'tr'} %></div>
<div class="row gx-1 fw-bold">
  <div class="col-8">
    TOTAL Facturas emitidas
  </div>
  <div class="col-2 text-end">
    <%= s_pesos(@emtds.map {|tr| tr.monto_sumable}.sum) %>
  </div>
</div>

<b>Facturas recibidas</b><br>
<div style="font-size: .6rem;line-height: 1.5;"><%= render partial: '0p/tbl_clss', locals: {clccn: @rcbds, typ: 'tr'} %></div>
<div class="row gx-1 fw-bold">
  <div class="col-8">
    TOTAL Facturas recibidas
  </div>
  <div class="col-2 text-end">
    <%= s_pesos(@rcbds.map {|tr| tr.monto_sumable}.sum) %>
  </div>
</div>

<hr>
<b>Detalle de la cartola</b><br>
<%= render partial: '0p/tbl_clss', locals: {clccn: @trnsccns, typ: 'ln'} %>