<% if admin? %>
  <div class="f_50lft_col">
    <div class="lft">
      <%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'blg_articulos', ttl: "Artículos", ownr: nil } %>

      <%= render partial: '0p/tabla/tabla', locals: {c: 'general-blg_articulos'} %>
    </div>
    <div class="rght">
      <%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'blg_temas', ttl: "Temas", ownr: nil } %>

      <%= render partial: '0p/tabla/tabla', locals: {c: 'blg_temas'} %>
    </div>
  </div>
<% else %>
  <%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'blg_articulos', ttl: "Mis artículos", ownr: nil } %>

  <%= render partial: '0p/tabla/tabla', locals: {c: 'perfil-blg_articulos'} %>
<% end %>