<% if admin? %>
  <div class="f_50lft_col">
    <div class="lft">
      <%= render partial: '0capitan/general/app_ttl', locals: {c: 'blg_articulos', title: "Artículos", link: 'new', tooltip: 'Agrega artículo' } %>

      <%= render partial: '0p/tabla/tabla', locals: {c: 'general-blg_articulos'} %>
    </div>
    <div class="rght">
      <%= render partial: '0capitan/general/app_ttl', locals: {c: 'blg_temas', title: "Temas", link: 'new', tooltip: 'Agrega tema' } %>

      <%= render partial: '0p/tabla/tabla', locals: {c: 'blg_temas'} %>
    </div>
  </div>
<% else %>
  <%= render partial: '0capitan/general/app_ttl', locals: {c: 'blg_articulos', title: "Mis artículos", link: 'new', tooltip: 'Agrega artículo' } %>

  <%= render partial: '0p/tabla/tabla', locals: {c: 'perfil-blg_articulos'} %>
<% end %>