<div class='blg-articulo'>
  <div class="row">
    <div class="col-12 col-lg-4 foto-articulo">
      <%= image_tag @objeto.imagen.half.url, class: "card-img img-fluid rounded-0" unless @objeto.imagen.blank? %>
    </div>
    <div class="col-lg-8 encabezado-articulo">
      <div class='titulo-articulo' align='center'><p><h4><%= @objeto.blg_articulo %></h4></p></div>
      <p class='text-muted' align='center'><small><%= @objeto.autor %></small></p>
      <div class='descripcion-articulo text-muted' align='center'>
        <%= @objeto.descripcion %>
      </div>
    </div>
  </div>
  <div class="row cuerpo-articulo">
    <div class="col-12">
      <%= sanitize simple_format(@objeto.articulo) %>
    </div>
  </div>
</div>