<tr class="app_lnk" style="font-size: 1rem;line-height: 1.5;">
	<td class="ps-3"><%= dma_hm(objt.fecha_hora) %></td>
	<td class="fw-bold">
		<% if objt.auditoria %>
			<i class="bi bi-clipboard2-pulse"></i>
		<% end %>
		<% if current_usuario.dog? %>
			<%= render partial: '0p/tbl/lnk_elmnr', locals: {objeto: objt} %>
		<% end %>
		<%= render layout: '0p/tltp_lnk', locals: {lnk: objt, tltp: 'Ver denuncia'} do %>
			<%= objt.identificador %>
		<% end %>
	</td>
	<td><%= objt.motivo_denuncia %></td>
	<td class="pe-3 text-end">
		<% if current_usuario.recepcion? %>
			<% unless (objt.krn_derivaciones.any? or objt.rep_archivos.any?) %>
				<%= render partial: '0p/tbl/lnks_e', locals: {objeto: objt} %>
			<% end %>
		<% end %>
	</td>
</tr>