<%= form_with(model: m_valor, local: true) do |form| %>
  <% if m_valor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(m_valor.errors.count, "error") %> prohibited this m_valor from being saved:</h2>

      <ul>
      <% m_valor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :m_valor %>
    <%= form.text_field :m_valor %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :m_conciliacion_id %>
    <%= form.number_field :m_conciliacion_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
