<p><%= image_tag 'logo_tyc.png' %></p>
<%= render partial: '0p/general/gly_title_size', locals: {gly: 'cash-coin', title: "Facturación por aprobar", size: 4} %>

<% if @status %>
	<% @coleccion['clientes'].each do |cliente| %>

		<h5><i class="bi bi-building"></i> <%= link_to cliente.razon_social, "/app_recursos/aprobacion?id=#{cliente.id}" %></h5>

		<% cliente.aprobaciones.each do |facturacion| %>

			<div class='row'>
				<div class="col-md-6">
					<b><%= facturacion.pago_tarifa.tar_pago %></b></br>
					<!--small-->
						<b>
							<% unless uf_del_dia.blank? %>
							<%= facturacion.padre.class.name %> : 
							<% if facturacion.padre.class.name == 'Causa' %>
								<%= link_to facturacion.padre.rit, facturacion.padre  %> <%= '|' %> 
								<%= "#{facturacion.padre.as_owner} : #{s_moneda(facturacion.moneda, facturacion.monto)}" %>
							<% end %>
							<%= "#{facturacion.padre.class.name} : #{facturacion.padre.rit if facturacion.padre.class.name == 'Causa'} #{'|' if facturacion.padre.class.name == 'Causa'} #{facturacion.padre.as_owner} : #{facturacion.moneda == 'Pesos' ? number_to_currency(facturacion.monto, locale: :en, precision: 0) : number_to_currency(facturacion.monto, unit: 'UF', precision: 5)}" %> | <%=  "#{facturacion.moneda == 'Pesos' ? number_to_currency(facturacion.monto / uf_del_dia, unit: 'UF', precision: 5) : number_to_currency(facturacion.monto * uf_del_dia, locale: :en, precision: 0)}" %>
							<% else %>
								UF del día no ingresada!
							<% end %>
						</b></br>
						<small><%= link_to 'Ver reporte', facturacion.owner, target: :_blank if facturacion.owner.class.name == 'RegReporte' %></small>
						<%= render partial: 'tarifas/partials/cuantia', locals: {objeto: facturacion.padre, pago: facturacion.pago} if facturacion.owner.class.name == 'Causa'%>
					<!--/small-->
				</div>
				<div class="col-md-6"></div>
			</div>

			<hr>
		<% end %>
		<h4><%= "TOTAL FACTURA : #{s_uf(cliente.aprob_total_uf)} | #{s_pesos(cliente.aprob_total_pesos)}" %></h5>

	<% end %>
<% else %>
	Sin causas en estado de aprobación
<% end %>