<p><%= image_tag 'logo_tyc.png' %></p>
<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'cash-coin', text: "Facturaciones por aprobar", clr: config[:color][:app]} %></h5>

<% if @status %>
<% @coleccion['clientes'].each do |cliente| %>
	<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'building', text: cliente.razon_social, clr: config[:color][:app]} %></h4>

	<% @facturaciones.where(tar_factura_id: nil).each do |facturacion| %>

		<div class='row'>
			<div class="col-md-6">
				<b><%= facturacion.pago_tarifa.tar_pago %></b></br>
				<!--small-->
					<b>
						<% unless uf_del_dia.blank? %>
						<%= "#{facturacion.padre.class.name} : #{facturacion.padre.rit if facturacion.padre.class.name == 'Causa'} #{'|' if facturacion.padre.class.name == 'Causa'} #{facturacion.padre.as_owner} : #{facturacion.moneda == 'Pesos' ? number_to_currency(facturacion.monto, locale: :en, precision: 0) : number_to_currency(facturacion.monto, unit: 'UF', precision: 2)}" %> | <%=  "#{facturacion.moneda == 'Pesos' ? number_to_currency(facturacion.monto / uf_del_dia, unit: 'UF', precision: 2) : number_to_currency(facturacion.monto * uf_del_dia, locale: :en, precision: 0)}" %>
						<% else %>
							UF del día no ingresada!
						<% end %>
					</b></br>
					<small><%= link_to 'Ver reporte', facturacion.owner, target: :_blank if facturacion.owner.class.name == 'RegReporte' %></small>
					<%= render partial: 'tarifas/partials/cuantia', locals: {objeto: facturacion.padre, pago: facturacion.pago} if facturacion.owner.class.name == 'Causa'%>
				<!--/small-->
			</div>
			<div class="col-md-6"></div>
		</div>

		<hr>
	<% end %>
	<h4><%= "TOTAL FACTURA : #{s_uf(@total_uf)} | #{s_pesos(@total_pesos)}" %></h5>

<% end %>
<% else %>
	Sin causas en estado de aprobación
<% end %>