<hr>
<% if usuario_signed_in? %>

	<div class='row no-gutters'>
		<div class="col-md-4">
			<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['causas'], title: 'Causas', size: 4} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'causas', title: 'Causas sin cuantia', coleccion: @causas_sin_cuantia} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'causas', title: 'Causas sin facturar', coleccion: @causas_sin_facturar} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'causas', title: 'Causas en proceso', coleccion: @causas_en_proceso} %>
		</div>
		<div class="col-md-4">
			<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['tar_facturaciones'], title: 'Cargos', size: 4} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'tar_facturaciones', title: 'Cargos en aprobación', coleccion: @cargos_sin_aprobar} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'tar_facturaciones', title: 'Cargos sin facturar', coleccion: @cargos_sin_facturar} %>
		</div>
		<div class="col-md-4">
			<%= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['tar_facturas'], title: 'Facturas', size: 4} %>

			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'tar_facturas', title: 'Facturas por emitir', coleccion: @facturas_sin_emitir} %>
			<%= render partial: 'aplicacion/app_recursos/partials/display_elemento', locals: {c: 'tar_facturas', title: 'Facturas en cobranza', coleccion: @facturas_en_cobranza} %>
		</div>
	</div>
<% else %>

<div class="row justify-content-center g-0">
	<div class="col-12 col-md-5">
		<div class="card bg-dark text-white">
			<%= image_tag HImagen.find_by(nombre: 'Portada').imagen(nil).imagen.half.url, class: "card-img img-fluid" unless HImagen.find_by(nombre: 'Portada').blank? %>
		  <div class="card-img-overlay">
		    <h5 class="card-title"><b>¿Cuáles son los principales elementos de un contrato?</b></h5>
		    <p class="card-text">Guía práctica para revisar un contrato.</p>
		    <p class="card-text"><%= link_to 'leer más...', root_path %></p>
		  </div>
		</div>
	</div>
	<div class="col-12 col-md-5">
		<div class="card bg-dark text-white">
			<%= image_tag HImagen.find_by(nombre: 'Trabajador').imagen(nil).imagen.url, class: 'card-img', size: "350x175" unless HImagen.find_by(nombre: 'Trabajador').blank? %>
		  <div class="card-img-overlay">
		    <h5 class="card-title"><b>¿Qué hacer si me despiden?</b></h5>
		    <p class="card-text">¿Cuáles son mis derechos? ¿Cuáles mis responsabilidades?</p>
		    <p class="card-text"><%= link_to 'leer mas..', root_path %></p>
		  </div>
		</div>
		<div class="card bg-dark text-white">
			<%= image_tag HImagen.find_by(nombre: 'Documentos').imagen(nil).imagen.url, class: 'card-img', size: "350x175" unless HImagen.find_by(nombre: 'Documentos').blank? %>
		  <div class="card-img-overlay">
		    <h5 class="card-title"><b>¿Acoso laboral? como actuar ante un probable acoso.</b></h5>
		    <p class="card-text">Guía práctica para enfrentar la situación..</p>
		    <p class="card-text"><%= link_to 'leer mas...', root_path %></p>
		  </div>
		</div>
	</div>
</div>


<hr>
<div class="row justify-content-center">
	<div class="col-12 col-md-10">
		<div class="row">
	<div class="col-md-4">
		<div class="card" style="width: 22rem;" >
		<%= image_tag HImagen.find_by(nombre: 'Trabajador').imagen(nil).imagen.url, class: 'card-img', size: "350x180" unless HImagen.find_by(nombre: 'Trabajador').blank? %>
		  <div class="card-body">
		    <h5 class="card-title">Título de este artículo acerca de los derechos de los trabajadores</h5>
		    <p class="card-text">
		    	Breve reseña del artículo...
			</p>
		    <%= link_to 'leer mas...', root_path %>
		  </div>
		</div>
	</div>
	<div class="col-12 col-md-4" align='center'>
		<div class="card" style="width: 22rem;">
		<%= image_tag HImagen.find_by(nombre: 'Sindicato').imagen(nil).imagen.url, class: 'card-img', size: "350x180" unless HImagen.find_by(nombre: 'Sindicato').blank? %>
		  <div class="card-body">
		    <h5 class="card-title">Título de este artículo acerca de los derechos de los sindicatos</h5>
		    <p class="card-text">
		    	Breve reseña del artículo...
		    </p>
		    <%= link_to 'leer mas...', root_path %>
		  </div>
		</div>
	</div>
	<div class="col-12 col-md-4" align='center'>
		<div class="card" style="width: 22rem;">
		<%= image_tag HImagen.find_by(nombre: 'Documentos').imagen(nil).imagen.url, class: 'card-img', size: "350x180" unless HImagen.find_by(nombre: 'Documentos').blank? %>
		  <div class="card-body">
		    <h5 class="card-title">Título de este artículo acerca de Documentación</h5>
		    <p class="card-text">Breve reseña del artículo...</p>
		    <%= link_to 'leer mas...', root_path %>
		  </div>
		</div>
	</div>
		</div>
	</div> 
</div>

<% end %>
<hr>
<%#= render partial: 'home/h_imagenes/partials/imagen', locals: {nombre: 'Portada', size: config[:image][:portada][:size]} %>
<%#= render partial: 'home/h_imagenes/partials/imagen', locals: {nombre: 'Foot', size: config[:image][:foot][:size]} %>


<%#= render partial: 'home/h_temas/partials/tema', locals: {nombre: 'Muestra de un tema cualquiera', first_col: 4, img_side: 'izq'} %>
<%#= render partial: 'home/h_temas/partials/tema', locals: {nombre: 'Muestra de un tema cualquiera', first_col: 4, img_side: 'der'} %>

<%#= render partial: 'home/h_links/partials/link', locals: {texto: 'Prueba'} %>
