<div class="m-3">
	<h4>Procesos</h4>
	<% if dog? %>
		<%= render layout: '0p/tltp_lnk', locals: {lnk: '/app_recursos/chck_estds', tltp: 'Chequea estados de las causas', data: {turbo_method: :post}} do %>
			<i class="bi bi-cursor"></i> Chequea estados de las causas!
		<% end %>

		<%= render layout: '0p/tltp_lnk', locals: {lnk: '/app_recursos/migrar_notas', tltp: 'Migrar notas', data: {turbo_method: :post}} do %>
			<i class="bi bi-cursor"></i> Migrar notas!
		<% end %>

		<%= render layout: '0p/tltp_lnk', locals: {lnk: '/app_recursos/activar_fecha_en_notas', tltp: 'Activa fecha en notas', data: {turbo_method: :post}} do %>
			<i class="bi bi-cursor"></i> Activa fecha en notas!
		<% end %>

		<%= render layout: '0p/tltp_lnk', locals: {lnk: '/app_recursos/purge_rep_archivos', tltp: 'Purga RepArchivo de denuncias', data: {turbo_method: :post}} do %>
			<i class="bi bi-cursor"></i> Purga RepArchivo de denuncias!
		<% end %>

		<%= render layout: '0p/tltp_lnk', locals: {lnk: '/app_recursos/migrar_tenants', tltp: 'Migrar tenants', data: {turbo_method: :post}} do %>
			<i class="bi bi-cursor"></i> Migrar tenants!
		<% end %>

		<div>
		<%= render layout: '0p/tltp_lnk', locals: {lnk: '/app_recursos/cargar_menu', tltp: 'Cargar menu', data: {turbo_method: :post}} do %>
			<i class="bi bi-cursor"></i> Cargar menú!
		<% end %>
		</div>

		<div>
		<%= render layout: '0p/tltp_lnk', locals: {lnk: '/app_recursos/migrar_cuantias', tltp: 'Migrar cuantias', data: {turbo_method: :post}} do %>
			<i class="bi bi-cursor"></i> Migrar cuantias!
		<% end %>
		</div>
	<% end %>
</div> 