<%# Este partial se unificó con el código de _dsply_act_archivo pero no cumplen el mismo propósito %>
<%# _dsply_act_archivo se usa para controlar los reportes administrativos. En ese contexto, el reporte es el título %>
<%# en este partial el reporte es una línea de una lista %>

<%# Usa Modelo de REPORTES %>
<% es_lista 		= ClssPdfRprt.lista_rprt?(code) %>

<% act_archivos 	= es_lista ? ownr.act_archivos.where(act_archivo: code) : nil %>
<% act_referencias 	= es_lista ? ownr.act_referencias.where(code: code) : nil %>
<% chk_realizados 	= es_lista ? ownr.check_realizados.where(cdg: code) : nil %>

<% act_archivo 		= es_lista ? nil : ownr.act_archivos.find_by(act_archivo: code) %>
<% act_referencia	= es_lista ? nil : ownr.act_referencias.find_by(code: code) %>
<% chk_realizado 	= es_lista ? nil : ownr.check_realizados.find_by(cdg: code) %>

<% subido 			= act_archivos&.any? || act_referencias&.any? || act_archivo || act_referencia %>
<% realizado 		= chk_realizados || chk_realizado %>


<div class="row gx-1">
	<div class="col-lg-10 <%= 'text-primary' if (subido || realizado) %>">

		<% unless (subido || realizado) %>
			<% if @kproc.tarea == mdl.tsk_name[code] %>
				<i class="bi bi-arrow-right"></i>
			<% end %>
			<i class="bi bi-cone-striped text-danger"></i> 
		<% else %>
			<% if realizado %>
				<i class="bi bi-clipboard-check"></i>
			<% elsif es_lista %>
				<%# Se unificó el ícono para las listas %>
				<i class="bi bi-list-task text-secondary"></i>
			<% elsif act_archivo or act_referencia %>
				<i class="bi bi-file-earmark-pdf"></i>
			<% end %>
		<% end %>
		<%= ClssPrcdmnt.act_nombre[code] %>

	</div>

	<div class="col-lg-2 text-end app_lnk">

		<% unless (subido || realizado) && !ClssPdfRprt.mltpl_rprt(code) %>
			<%# Si hay más de uno como lo registro y se puede enviar uno y otro verificado!! %>

			<!-- BTN REALIZADO -->
			<%= render partial: prtl('act_archivos', 'objt', 'btn_rlzd'), locals: {ownr: ownr, code: code} %>

			<%# REPORTES ADMINISTRATIVOS : ownr = dstntr y ref = Denuncia %>
			<% unless code.start_with?('txt_') %>
			<%= render partial: prtl('act_archivos', 'objt', 'btn_email_rprt'), locals: {objeto: ownr, code: code} %>
			<% end %>

		<% else %>
			<% unless es_lista %>
				<% archivo = act_archivo ? act_archivo : (act_referencia ? act_referencia.act_archivo : nil) %>

				<% if subido && archivo %>
					<%# DOWNLOAD de ActArchivo %>
					<%= render partial: prtl('act_archivos', 'objt', 'btn_dwnld'), locals: {act_archivo: archivo, mdl: ClssPrcdmnt, code: code} %>

					<%# ELIMINAR ActArchivo %>
					<%= render partial: '0p/tbl/lnk_elmnr', locals: {objeto: archivo} if current_usuario.dog? %>

				<% end %>
			<% end %>
		<% end %>

	</div>

</div>

<% if act_archivos&.any? or act_referencias&.any? %>

	<% lista = act_archivos&.any? ? act_archivos : act_referencias %>
	
	<% lista.each do |rgstr| %>

		<% archivo = act_archivos&.any? ? rgstr : rgstr.act_archivo %>

		<% if archivo %>
		<div class="row gx-1 px-4 text-primary objt_lnk">
			<div class="col-10">
				<i class="bi bi-arrow-return-right"></i>
				<i class="bi bi-file-pdf"></i>
				<%= dma_hm(archivo.created_at)%>
			</div>
			<div class="col-2 text-end">
				<%= render partial: prtl('act_archivos', 'objt', 'btn_dwnld'), locals: {act_archivo: archivo, mdl: ClssPrcdmnt, code: code} %>
				<%# Sólo DOG puede eliminar un archivo enviado o generado %>
				<%= render partial: '0p/tbl/lnk_elmnr', locals: {objeto: archivo} if current_usuario.dog? %>
				<i class="bi bi-arrow-return-left"></i>
			</div>
		</div>
		<% end %>

	<% end %>
<% end %>

<% if realizado %>

	<%= render partial: prtl('check_realizados', nil, 'lst_rlzds'), locals: {ownr: ownr, code: code} %>

<% end %>