<%= render layout: 'rprts/krn_reportes/rprt_dnnc/box_tmplt', locals: {ttl: 'Acciones registradas', fnt_rem: 0.9} do %>
	<% if reporte[:prtcpnts_minimos] or reporte[:coordinacion_apt] or reporte[:infrmcn_slctd] or reporte[:dnncnt_invstgcn_local] or reporte[:invstgcn_local_externa] or reporte[:evlcn_ok] or reporte[:plz_prnncmnt] %>
		<ol>
			<% if reporte[:prtcpnts_minimos] %><li><%=reporte[:prtcpnts_minimos]%></li><% end %>
			<% if reporte[:coordinacion_apt] %><li><%=reporte[:coordinacion_apt]%></li><% end %>
			<% if reporte[:infrmcn_slctd] %><li><%=reporte[:infrmcn_slctd]%></li><% end %>
			<% if reporte[:dnncnt_invstgcn_local] %><li><%=reporte[:dnncnt_invstgcn_local]%></li><% end %>
			<% if reporte[:invstgcn_local_externa] %><li><%=reporte[:invstgcn_local_externa]%></li><% end %>
			<% if reporte[:evlcn_ok] %><li><%=reporte[:evlcn_ok]%></li><% end %>
			<% if reporte[:plz_prnncmnt] %><li><%=reporte[:plz_prnncmnt]%></li><% end %>
		</ol>
	<% end %>
<% end %>