<%= render layout: 'rprts/krn_reportes/rprt_dnnc/box_tmplt', locals: {ttl: 'Documentos generales externos', fnt_rem: 0.9} do %>
	<% @acts_hsh[@ownr.clss_id][:cdgs].each do |act| %>

		<div class="row gx-1 text-<%=ClssPrcdmnt.act_lst?(act) ? 'secodary' : 'primary'%>">
			<div class="col-10" style="font-size: <%='0.7rem;' if ClssPrcdmnt.act_lst?(act) %>">
				<% unless ClssPrcdmnt.act_lst?(act) %>· <% end %>
				<%=ClssPrcdmnt.act_nombre[act]%>
			</div>
			<div class="col-2 text-end">
				<% unless ClssPrcdmnt.act_lst?(act) %>
					<% if @acts_hsh[@ownr.clss_id][act] %>
						<% if @acts_hsh[@ownr.clss_id][act].rlzd? %>
							Revisado
						<% else %>
							PDF
						<% end %>
					<% else %>
						Faltante
					<% end %>
				<% end %>
			</div>
		</div>

		<% if ClssPrcdmnt.act_lst?(act) %>
			<div class="ms-3 text-primary">
				<% @acts_hsh[@ownr.clss_id][act].each do |lst_fl| %>
					<div class="row gx-1">
						<div class="col-10">
							<i class="bi bi-arrow-return-right"></i>
							· <%=lst_fl.nombre%>
						</div>
						<div class="col-2 text-end">
							<% if lst_fl.rlzd? %>
								Revisado
							<% else %>
								PDF
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>

	<% end %>
<% end %>