<%= render layout: 'rprts/krn_reportes/rprt_dnnc/box_tmplt', locals: {ttl: 'Derivaciones', fnt_rem: 0.9} do %>
	<% if reporte[:derivaciones]&.any? %>

		<table class="table table-sm table-striped">
			<tbody>
				<% reporte[:derivaciones].each do |drv| %>
					<tr>
						<td><%=dma(drv[0])%></td>
						<td class="text-end"><%=ClssDrvcn::HSH_TXTS[drv[1].to_sym][:gls]%></td>
					</tr>
				<% end %>
			</tbody>
		</table>

	<% else %>
		<div class="py-2">No se han registrado derivaciones de la denuncia.</div>
	<% end %>
<% end %>

<%= render layout: 'rprts/krn_reportes/rprt_dnnc/box_tmplt', locals: {ttl: 'Investigador asignado', fnt_rem: 0.9} do %>
	<% if reporte[:investigadores]&.any? %>

		<table class="table table-sm table-striped">
			<tbody>
				<% reporte[:investigadores].each do |inv| %>
					<tr>
						<td><%=inv[0]%></td>
						<td class="text-end"><%=inv[1] ? 'objetado' : 'activo'%></td>
					</tr>
				<% end %>
			</tbody>
		</table>

	<% else %>
		<div class="py-2">No se ha asignado un investigador a la denuncia.</div>
	<% end %>
<% end %>