<%= render layout: 'rprts/krn_reportes/rprt_dnnc/box_tmplt', locals: {ttl: 'Denuncia por Ley 21.643 (Ley Karin)', align: 'center'} do %>
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td>Identificador</td>
				<td class="fw-bold"><%=reporte[:identificador]%></td>
			</tr>
			<tr>
				<td><%=reporte[:ownr_type]%></td>
				<td class="fw-bold"><%=reporte[:razon_social]%></td>
			</tr>
			<tr>
				<td>Motivo de la denuncia</td>
				<td class="fw-bold"><%=reporte[:motivo]%></td>
			</tr>
		</tbody>
	</table>

	<ul>
		<li><%=reporte[:receptor]%></li>
		<li><%=reporte[:canal]%></li>
		<li><%=reporte[:denunciante]%></li>
	</ul>
<% end %>