<%= render layout: 'rprts/krn_reportes/rprt_dnnc/box_tmplt', locals: {ttl: 'Denuncia por Ley 21.643 (Ley Karin)', align: 'center'} do %>
	<table class="table table-sm table-striped">
		<tbody>
			<tr>
				<td>Identificador</td>
				<td class="fw-bold"><%=@rprt[:identificador]%></td>
			</tr>
			<tr>
				<td><%=@rprt[:ownr_type]%></td>
				<td class="fw-bold"><%=@rprt[:razon_social]%></td>
			</tr>
			<tr>
				<td>Motivo de la denuncia</td>
				<td class="fw-bold"><%=@rprt[:motivo]%></td>
			</tr>
		</tbody>
	</table>

	<ul>
		<li><%=@rprt[:receptor]%></li>
		<li><%=@rprt[:canal]%></li>
		<li><%=@rprt[:denunciante]%></li>
	</ul>
<% end %>