<% act_id = "#{ownr.class.name}_#{ownr.id}" %>
<div class="row gx-1">
	<div class="col-10 <%= 'text-primary' if ownr.pdf_registros.exists?(cdg: code) %>">

		<% unless mdl.actn_multpl?(code) or mdl.ref_generated?(code) %>· <% end %>
		<span class="text-<%=mdl.act_lst?(code) ? 'secondary' : 'primary'%>"><%=mdl.act_nombre[code]%></span>

	</div>
	<div class="col-2 text-end ">
		<% if mdl.actn_multpl?(code) or mdl.ref_generated?(code) %>
			<%= hsh[act_id][code].none? ? 'Lista vacía' : (hsh[act_id][:rlzds].objt_rlzd?(ownr, code) ? 'Revisado' : 'PDF') %>
		<% else %>
			<%= hsh[act_id][code].nil? ? 'Faltante' : (hsh[act_id][:rlzds].objt_rlzd?(ownr, code) ? 'Revisado' : 'PDF') %>
		<% end %>
	</div>
</div>