<% prrdds 	= [nil, true].include?(prrdds) ? true : false %>
<% blue_dot = [nil, true].include?(blue_dot) ? true : false %>
<div class="m-1 border border-success rounded">

	<%= render partial: 'notas/list/objt', locals: {objeto: objeto, prrdds: prrdds, blue_dot: blue_dot} %>

	<%= render partial: 'actividades/shr/prtcpnts', locals: {objeto: objeto} unless krn_routes? %>

	<div class="px-3 app_lnk fw-bold" style="font-size: 0.7rem;">
		<i class="bi bi-chat-right-text text-<%=objeto.realizado ? 'muted' : objeto.prioridad %>"></i>
		<% if objeto.tarea_con_plazo %>
			<i class="bi bi-alarm"></i> <%= dma(objeto.fecha_gestion) %> 
		<% end %>
		<%= objeto.nota %>
	</div>

</div>