<div class="<%=c_ttl_clss[c][:ttl]%>">

	<div class="ttl_ttl">
		<i class="bi bi-<%=controller_icon[c]%>"></i> 
		<%=title%>
	</div>
	<div class="ttl_lnks">
		<% unless link.blank? %>
			<%= link_to link do %>
				<i class="bi bi-<%=link_gly%>"></i>
			<% end %>
		<% end %>
	</div>

</div>