<div class="<%=clss%>">
	<div class="ttl_ttl">
		<%= render partial: '0p/general/gly', locals: {gly: controller_icon[cntrllr(cntrllr)]} %>
		<% if prtl?(cntrllr, 'indx', "objt") %>
			<%= render partial: prtl_name(cntrllr, 'indx', "objt"), locals: {ownr: ownr} %>
		<% else %>
			<%= ttl unless ttl.blank? %>
		<% end %>
	</div>
	<div class="ttl_lnks">
		<% if prtl?(cntrllr, 'indx', "lnks") %>
			<%= render partial: prtl_name(cntrllr, 'indx', "lnks"), locals: {ownr: ownr} %>
		<% else %>
			<%= render partial: '0p/tabla/lnk_new', locals: {lnk: "/#{cntrllr(cntrllr)}/new#{ownr_prms(ownr) unless ownr.blank?}", tltp: "Agrega #{c_to_name(cntrllr(cntrllr))}"} %>
		<% end %>
	</div>
</div>
<% if prtl?(cntrllr, 'indx', "dsply") %>
	<%= render partial: prtl_name(cntrllr, 'indx', "dsply"), locals: {ownr: ownr} %>
<% end %>