<!-- Denuncia recibida en una empresa externa -->
<% if @dnnc_jot['rcp_externa'] and @dnnc_jot['p_plus'] %>
	<%= render partial: '0p/actv_bx/f_and_a', locals: {objeto: ownr, code: 'externa_id', accn: 'Selección'} %>
<% end %>

<!-- Formato de la declaración (si es presencial) -->
<% if @dnnc_jot['prsncl'] %>
	<%= render partial: '0p/actv_bx/f_and_a', locals: {objeto: ownr, code: 'tipo', accn: 'Radio'} %>
<% end %>

<!-- Representante: si fue presentada por un representante -->
<% if @dnnc_jot['rprsntnt'] %>
	<%= render partial: '0p/actv_bx/f_and_a', locals: {objeto: ownr, code: 'representante', accn: 'Selección'} %>
<% end %>

<div class="row gx-1">
	<div class="col-lg-6 col-xs-12">

<% if @dnnc_jot['ingrs_dnnc_bsc'] %>

    <%= render partial: '0p/ttl_sub_tbl', locals: {source: 'krn_denunciantes', ownr: @objeto} %>
	<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_denunciantes', typ: 'ln'} %>

<% end %>
		
	</div>
	<div class="col-lg-6">

<!-- DENUNCIANTES OK Y MOTIVO DISTINTO DE VIOLENCIA -->
<% if @dnnc_jot['no_vlnc'] %>

    <%= render partial: '0p/ttl_sub_tbl', locals: {source: 'krn_denunciados', ownr: @objeto, lnks: 'prtl'} %>
	<% if @dnnc_jot['dnncnts_any'] %>
		<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_denunciados', typ: 'ln'} %>
	<% end %>

<% else %>
	<div class="dlg_bsc">
		<i class="bi bi-lightbulb"></i> 
		Denuncia de violencia en el trabajo ejercida por terceros. Las personas denunciadas (si las hay) se detallan en las declaraciones.
	</div>
<% end %>

		
	</div>
</div>