<div class="f_50lft_col">
  <div class="lft">
    <%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'lgl_documentos', ttl: "Documentos legales", ownr: nil } %>
    <%= render partial: '0p/tabla/tabla', locals: {c: 'lgl_documentos'} %>
  </div>
  <div class="rght">
    <%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'lgl_entidades', ttl: "Entidades", ownr: nil } %>
    <%= render partial: '0p/tabla/tabla', locals: {c: 'lgl_entidades'} %>

    <%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'lgl_recursos', ttl: "Recursos", ownr: nil } %>
    <%= render partial: '0p/tabla/tabla', locals: {c: 'lgl_recursos'} %>

    <%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'lgl_n_empleados', ttl: "Número de empleados", ownr: nil } %>
    <%= render partial: '0p/tabla/tabla', locals: {c: 'lgl_n_empleados'} %>
  </div>
</div>