<p style="color: green"><%= notice %></p>

<%= render @tipo_denuncia %>

<div>
  <%= link_to "Edit this tipo denuncia", edit_tipo_denuncia_path(@tipo_denuncia) %> |
  <%= link_to "Back to tipo denuncias", tipo_denuncias_path %>

  <%= button_to "Destroy this tipo denuncia", @tipo_denuncia, method: :delete %>
</div>
