<div class="lgl_prrf" id="oid_<%=objeto.id%>">
	<div class="lnks">
		<%= link_to objeto.orden, objeto %>
		<% if admin? %>
			<% if objeto.resumen.present? or objeto.chk_ocultar %>
				<%= render layout: '0p/collapse/link', locals: {label: 'VerParrafo', objeto: objeto, tooltip: 'Ver texto'} do %>
					<i class="bi bi-arrow-bar-down"></i>
				<% end %>
			<% end %>
		<% end %>
		<% if dog? %>
			<i class="bi bi-dot"></i>
			<%= render partial: '0p/tabla/links_e', locals: { objeto: objeto} %>
			<i class="bi bi-dot"></i>
			<% unless objeto.orden == 1 %>
				<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/cnct_up", tooltip: "Fundir arriba"} do %>
					<i class="bi bi-arrow-up"></i>
				<% end %>
			<% end %>
			<i class="bi bi-dot"></i>
			<% unless objeto.orden == 1 %>
				<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/prnt?d=u", tooltip: "Hacia arriba"} do %>
					<i class="bi bi-arrow-90deg-up"></i>
				<% end %>
			<% end %>
			<% unless objeto.parent.blank? %>
				<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/prnt?d=d", tooltip: "Hacia abajo"} do %>
					<i class="bi bi-arrow-90deg-down"></i>
				<% end %>
			<% end %>
			<i class="bi bi-dot"></i>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_puntos/new?oid=#{objeto.id}", tooltip: "Crea punto"} do %>
				<i class="bi bi-plus-circle"></i>
			<% end %>
		<% end %>
	</div>
	<div class="prff">
		<div style="padding-left: <%=objeto.n_parent * 2%>em;">

			<% if objeto.chk_ocultar %>
				<small><i>Oculto</i></small>
			<% else %>
				<% if ['Encabezado', 'Punto', 'Artículo'].include?(objeto.tipo) %>
					<b>
				<% end %>

					<%= objeto.resumen.blank? ? objeto.lgl_parrafo.gsub(/\n/, '</br>').html_safe : objeto.resumen.gsub(/\n/, '</br>').html_safe %>

				<% if ['Encabezado', 'Punto', 'Artículo'].include?(objeto.tipo) %>
					</b>
				<% end %>
			<% end %>

		</div>
	</div>
	<div class="dsply">
		<% if objeto.resumen.present? or objeto.chk_ocultar %>
			<%= render layout: '0p/collapse/display', locals: {label: 'VerParrafo', objeto: objeto} do %>
				<div class="g_cllps">
					<%= objeto.lgl_parrafo.gsub(/\n/, '</br>').html_safe %>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="lst">
		<% unless objeto.lgl_puntos.empty? %>
			<% objeto.lgl_puntos.order(:orden).each do |punto| %>
				<div style="padding-left: <%=objeto.n_parent * 2%>em;">
					<div class="ln_ordr">
						<div class="ln_orden">
							<%= render partial: '0p/tabla/links_orden', locals: {objeto: punto} %>
						</div>
						<div class="ln_ln">
							<i class="bi bi-check-circle"></i>
							<%= render layout: '0p/collapse/link', locals: {label: 'VerCita', objeto: punto, tooltip: 'Ver cita'} do %>
								<i class="bi bi-arrow-bar-down"></i>
							<% end %>
							<%= punto.lgl_punto %>
						</div>
						<div class="ln_lnks">
							<% if admin? %>
								<%= render partial: '0p/tabla/links_e', locals: {objeto: punto} %>
							<% end %>
						</div>
					</div>
					<%= render layout: '0p/collapse/display', locals: {label: 'VerCita', objeto: punto} do %>
						<div class="g_cllps">
							<%= punto.cita.gsub(/\n/, '</br>').html_safe %>
						</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
