<div class="lgl_prrf" id="oid_<%=objeto.id%>">
	<div class="lnks">
		<%= link_to objeto.orden, objeto %>
		<% if admin? %>
			<i class="bi bi-dot"></i>
			<%= render partial: '0p/tabla/links_e', locals: { objeto: objeto} %>
			<i class="bi bi-dot"></i>
			<% unless objeto.pdd_lft == 0 or objeto.pdd_lft.blank? %>
				<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/padd?d=l", tooltip: "Hacia la izquierda"} do %>
					<i class="bi bi-arrow-left"></i>
				<% end %>
			<% end %>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/padd?d=r", tooltip: "Hacia la izquierda"} do %>
				<i class="bi bi-arrow-right"></i>
			<% end %>
			<i class="bi bi-dot"></i>
			<% unless objeto.orden == 1 %>
				<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/cnct_up", tooltip: "Fundir arriba"} do %>
					<i class="bi bi-arrow-up"></i>
				<% end %>
			<% end %>
			<i class="bi bi-dot"></i>
			<% unless objeto.orden == 1 %>
				<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/prnt?d=u", tooltip: "Hacia arriba"} do %>
					<i class="bi bi-arrow-90deg-up"></i>
				<% end %>
			<% end %>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/prnt?d=d", tooltip: "Hacia abajo"} do %>
				<i class="bi bi-arrow-90deg-down"></i>
			<% end %>
		<% end %>
	</div>
	<div class="prff">
		<div style="padding-left: <%=objeto.n_parent * 2%>em;">
			<%= objeto.lgl_parrafo.gsub(/\n/, '</br>').html_safe %>
		</div>
	</div>
</div>