<div class="form-box">
	<%= render partial: '0p/form/header', locals: {text: m_to_name(@objeto.class.name), size: cfg_fonts[:size_title]} %>
</div>

<div class="<%=form_class(@objeto)%>">
	<main>
		<%= render partial: '0p/form/header', locals: {text: m_to_name(@objeto.class.name), size: cfg_fonts[:size_title]} %>
		<%= form_with(model: @objeto, local: true) do |form| %>
			<% if @objeto.errors.any? %>
				<div id="error_explanation">
					<h4 class='text-info'><%= @objeto.errors.count %> <%= @objeto.errors.count == 1 ? 'error' : 'errores' %> evitan que este registro sea grabado:</h4>

					<ul>
					<% @objeto.errors.full_messages.each do |message| %>
					<li class='text-info'><%= message %></li>
					<% end %>
					</ul>
		  
				</div>
			<% end %>

			<div class="input-box">
				<%= render partial: detail_partial(controller_name), locals: {c: controller_name, form: form} %>	
				<button class="button">Search</button>
			</div>

				<%= button_tag do %>
					<%= submit_text(@objeto) %>
				<% end %>


		<% end %>
	</main>
</div>