<% data ||= nil %>

<div class="form-box">
	<%= render partial: '0p/form/header', locals: {text: m_to_name(@objeto.class.name), size: config[:font_size][:title]} %>
</div>

<div class="form-box">
	<%= form_with(model: @objeto, local: true, data: data) do |form| %>
		<% if @objeto.errors.any? %>
		<div id="error_explanation">
			<h4 class='text-warning'><%= @objeto.errors.count %> <%= @objeto.errors.count == 1 ? 'error' : 'errores' %> evitan que este registro sea grabado:</h4>

			<ul>
			<% @objeto.errors.full_messages.each do |message| %>
			<li class='text-warning'><%= message %></li>
			<% end %>
			</ul>
  
		</div>
		<% end %>

		<% unless detail_partial(@objeto).blank? %>
			<%= render partial: detail_partial(@objeto), locals: {c: controller_name, form: form} %>
		<% else %>
			<h3>Ne se encontró archivo con el formulario</h3>
		<% end %>

		<div class="formCell">
			<%= form.submit "#{ action_name == 'new' ? (@objeto.class.name == 'RepArchivo' ? 'Subir' : 'Crear') : 'Modificar'} #{m_to_name(@objeto.class.name)}" %>
		</div>
	<% end %>
</div>