<%# views/0p/form/_form.html.erb  %>
<%# female: reemplaza Nuevo por Nueva. Por defecto es false %>
<% fml  ||= false %>	
<% data ||= nil %>

<%# @bck_rdrccn se utiliza para pasar la ruta a la que debe volver el formulario %>
<%# No tengo claro aún de donde viene y cómo se usa (Reemplazar este comentario por la explicación) %>
<% @bck_rdrccn ||= "/#{@objeto.class.name.tableize}" %>

<% if krn_routes? %>
	<%# Se hereda fml (female) %>
	<%= render partial: '0p/form/krn_header', locals: {fml: fml} %>
<% else %>
	<div class="form-box">
		<%= render partial: '0p/form/header', locals: {text: to_name(@objeto.class.name), size: config[:font_size][:title]} %>
	</div>
<% end %>

<div class="form-box">
	<%= form_with(model: @objeto, local: true, data: data) do |form| %>
		<% if @objeto.errors.any? %>
		<div id="error_explanation">
			<h4 class='text-warning'><%= @objeto.errors.count %> <%= @objeto.errors.count == 1 ? 'error' : 'errores' %> evitan que este registro sea grabado:</h4>

			<ul>
			<% @objeto.errors.full_messages.each do |message| %>
			<li class='text-warning'><%= message %></li>
			<% end %>
			</ul>
  
		</div>
		<% end %>

		<% form_prtl = fields_prtl(@objeto) %>
		<% if form_prtl %>
			<%= render partial: form_prtl, locals: {c: controller_name, form: form} %>

			<%# La ruta de redirección se pasa como campo oculto al controlador para garantizar la redirección %>
			<%= hidden_field_tag :bck_rdrccn, @bck_rdrccn %>
		<% else %>
			<h3>Ne se encontró archivo con el formulario</h3>
		<% end %>

		<div class="my-3">
			<div class="row">
				<div class="col app_lnk">
					<%= form.submit "#{ action_name == 'new' ? (@objeto.class.name == 'RepArchivo' ? 'Subir' : 'Crear') : 'Modificar'} #{to_name(@objeto.class.name).downcase}" %>
				</div>
				<div class="col text-end pt-3">
					<% if prtl?(@objeto, 'hlp', 'detail') %>
						<%= render layout: '0p/mdl/link', locals: {cdg: 'hlp_detail', tltp: 'Ayuda'} do %>
							<i class="bi bi-cursor"></i> ¿Necesita ayuda para llenar este formulario?
						<% end %>
						<%= render partial: '0p/mdl/mdl', locals: {cdg: "hlp_detail", ttl: "Ingreso de #{to_name(@objeto).downcase}", prtl: prtl_name(@objeto, 'hlp', 'detail'), sz: 'lg'} %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>