<!-- Modal -->
<div class="modal fade" id="<%=actn%><%=objeto.class.name%>" tabindex="-1" aria-labelledby="<%=actn%><%=objeto.class.name%>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=actn%><%=objeto.class.name%>Label">
          <%= render partial: '0p/form/frm_hdr', locals: {objeto: objeto, actn: actn} %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <%= render partial: '0p/form/frm', locals: {objeto: objeto, actn: actn} %>

      </div>
    </div>
  </div>
</div>