<%= form_with(model: lgl_tipo_entidad) do |form| %>
  <% if lgl_tipo_entidad.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lgl_tipo_entidad.errors.count, "error") %> prohibited this lgl_tipo_entidad from being saved:</h2>

      <ul>
        <% lgl_tipo_entidad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lgl_tipo_entidad, style: "display: block" %>
    <%= form.text_field :lgl_tipo_entidad %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
