<p style="color: green"><%= notice %></p>

<%= render @lgl_tipo_entidad %>

<div>
  <%= link_to "Edit this lgl tipo entidad", edit_lgl_tipo_entidad_path(@lgl_tipo_entidad) %> |
  <%= link_to "Back to lgl tipo entidades", lgl_tipo_entidades_path %>

  <%= button_to "Destroy this lgl tipo entidad", @lgl_tipo_entidad, method: :delete %>
</div>
