<div class="row">
	<div class="col-4">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :st_modelo, label: 'Modelo' } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :st_modelo } %>
	</div>
	<div class="col-4">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :crud, label: 'Acceso crud' } %>
		<%= render partial: '0p/form_fields/select', locals: { form: form, token: :crud, sel_list: AutTipoUsuario.all.order(:aut_tipo_usuario).map {|atu| atu.aut_tipo_usuario}, label: nil } %>
	</div>
	<div class="col-4">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :k_estados, label: 'Acceso estados' } %>
		<%= render partial: '0p/form_fields/select', locals: { form: form, token: :k_estados, sel_list: AutTipoUsuario.all.order(:aut_tipo_usuario).map {|atu| atu.aut_tipo_usuario}, label: nil } %>
	</div>
</div>