<p id="notice"><%= notice %></p>

<h1>M Datos</h1>

<table>
  <thead>
    <tr>
      <th>M dato</th>
      <th>Tipo</th>
      <th>Formula</th>
      <th>Split tag</th>
      <th>M formato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_datos.each do |m_dato| %>
      <tr>
        <td><%= m_dato.m_dato %></td>
        <td><%= m_dato.tipo %></td>
        <td><%= m_dato.formula %></td>
        <td><%= m_dato.split_tag %></td>
        <td><%= m_dato.m_formato_id %></td>
        <td><%= link_to 'Show', m_dato %></td>
        <td><%= link_to 'Edit', edit_m_dato_path(m_dato) %></td>
        <td><%= link_to 'Destroy', m_dato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M Dato', new_m_dato_path %>
