<%# Se puede enviar más de una vez para permitir modificaciones %>
<%# individualizar excepciones %>

<% unless ClssPdfRprt.txt_plntlls?(objt.codigo) %>
  <li>

    <%= render layout: '0p/tltp_lnk', locals: {lnk:"/krn_denuncias/#{@objeto.id}/krn_pdf_rprt?rprt=#{objt.codigo}&nid=#{objt.id}", tltp: 'Generar, almacenar y enviar reporte', data: {turbo_method: :post, turbo_confirm: 'Confirmar envío de email'}, clss: 'dropdown-item'} do %>
      <%= ClssPdfRprt.no_email_rprt?(objt.codigo) ? 'Generar' : 'Enviar' %> reporte
    <% end %>

  </li>
<% end %>

<% if objt.codigo == 'txt_dclrcn' %>
  <li>
    <%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_textos/#{objt.id}/anonimizar", tltp: "Anonimizar #{ClssPrcdmnt.act_nombre['txt_dclrcn']}", data: {turbo_method: :post, turbo_confirm: 'Confirmar generación PDF'}, clss: 'dropdown-item'} do %>
      Anonimizar
    <% end %>
  </li>

  <li>
    <%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_textos/#{objt.id}/resumir", tltp: "Resumir #{ClssPrcdmnt.act_nombre['txt_dclrcn']}", data: {turbo_method: :post, turbo_confirm: 'Confirmar generación PDF'}, clss: 'dropdown-item'} do %>
      Resumen de hechos
    <% end %>
  </li>

  <li>
    <%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_textos/#{objt.id}/confirmar_hechos", tltp: "Analizar #{ClssPrcdmnt.act_nombre['txt_dclrcn']}", data: {turbo_method: :post, turbo_confirm: 'Confirmar generación PDF'}, clss: 'dropdown-item'} do %>
      Analizar
    <% end %>
  </li>
<% end %>

<% if current_usuario.operacion? %>

  <!--li><hr class="dropdown-divider"></li-->
  <%#= render partial: '0p/tbl/plldwn_show', locals: {objt: objt, orgn: @orgn} %>
  <%= render partial: '0p/tbl/plldwn_editar', locals: {objt: objt, orgn: @orgn} %>

  <li><hr class="dropdown-divider"></li>

  <%= render partial: '0p/tbl/plldwn_eliminar', locals: {objt: objt, orgn: @orgn} %>

<% end %>