<div class="my-1 shadow bg-white border rounded-2" id="cid_<%=objeto.id%>">
	<%= render partial: '0shr/objt', locals: {objeto: objeto} %>

	<%= render partial: '0p/prtls/dsply', locals: {objeto: objeto, dir: 'list', prtl: 'cllps_dsply'} %>
	<%= render partial: '0p/prtls/dsply', locals: {objeto: objeto, dir: 'list', prtl: 'dtl'} %>

	<%= render partial: 'notas/shr/notas_pendientes', locals: {objeto: objeto} %>
</div>