<%= render partial: '0p/form_fields/label', locals: { form: form, token: :moneda, label: 'Moneda' } %>
<%= render partial: '0p/form_fields/select', locals: { form: form, token: :moneda, sel_list: ['UTM', 'UF', 'IMM'], label: 'Moneda' } %>
<%= render partial: '0p/form_fields/label', locals: { form: form, token: :dt_tabla_multa, label: 'Tabla multa' } %>
<%= render partial: '0p/form_fields/number', locals: { form: form, token: :dt_tabla_multa } %>
<div class="row">
	<div class="col-lg-4 col-xs-12">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :p100_leve, label: '% Leve' } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :p100_leve } %>
	</div>
	<div class="col-lg-4 col-xs-12">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :p100_grave, label: '% Grave' } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :p100_grave } %>
	</div>
	<div class="col-lg-4">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :p100_gravisima, label: '% Gravisima' } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :p100_gravisima } %>
	</div>
</div>
