<%= render partial: '0p/ttl_shw', locals: {objt: @objeto, dir: 'shw', bk_lnk: dt_materias_path } %>

<div class="f_50_col">
	<div class="lft">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'dt_multas', ttl: "Detalle de Multa", ownr: nil } %>

		<div class="objeto-box">
		<table class="table table-striped table-sm  thead-dark">
		  <thead>
		    <tr>
		      <td><i><small>Tamaño Empresa</small></i></td>
		      <td><i><small>Leve</small></i></td>
		      <td><i><small>Grave</small></i></td>
		      <td><i><small>Gravísima</small></i></td>
		      <td></td>
		    </tr>
		  </thead>

		  <tbody>
		    <!-- Opción para evitar escribir el parcial _modelo.html.erb en cada controlador-->
		      <% unless @objeto.p100_leve.blank? %>
		        <tr>
		          <td><i><small><%= "-" %></small></i></td>
		          <td><i><small><%= s_p100(@objeto.p100_leve, 0) %></small></i></td>
		          <td><i><small><%= s_p100(@objeto.p100_grave, 0) %></small></i></td>
		          <td><i><small><%= s_p100(@objeto.p100_gravisima, 0) %></small></i></td>
		        </tr>
		      <% end %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'dt_multas'} %>
		  </tbody>
		</table>
		</div>

	</div>
	<div class="rght">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'dt_criterio_multas', ttl: "Criterio multas", ownr: nil } %>
		<%#= render partial: '0p/tabla/tabla', locals: {c: 'dt_criterio_multas'} %>
	</div>
</div>