<%= render partial: '0p/ttl_shw', locals: {objt: @objeto, dir: 'shw', bck_path: dt_tabla_multas_path } %>

<%= render partial: '0p/ttl_tbl', locals: {source: 'dt_multas', ttl: "Detalle de Multa", blngs: @objeto } %>

<table class="table table-striped table-sm  thead-dark">
  <thead>
    <tr>
      <td><i><small>Tamaño Empresa</small></i></td>
      <td><i><small>Leve</small></i></td>
      <td><i><small>Grave</small></i></td>
      <td><i><small>Gravísima</small></i></td>
      <td></td>
    </tr>
  </thead>

  <tbody class="objt_lnk">
	<% @objeto.dt_multas.order(:orden).each do |multa| %>
		<tr>
		  <td><i><small><%= multa.tamanio %></small></i></td>
		  <td><i><small><%= multa.leve %></small></i></td>
		  <td><i><small><%= multa.grave %></small></i></td>
		  <td><i><small><%= multa.gravisima %></small></i></td>
		  <td class="text-end objt_lnk"><%= render partial: '0p/tbl/lnks_e', locals: {objeto: multa} %></td>
		</tr>
	<% end  %>
  </tbody>
</table>