<%= render partial: '0p/general/ttl_shw', locals: {objeto: @objeto, dir: 'shw', bk_lnk: dt_materias_path } %>

<div class="row">
	<div class="col-lg-6 col-xs-12">
    	<%= render partial: '0capitan/general/app_ttl', locals: {c: 'dt_multas', title: "Detalle multas", link: "/dt_multras/new?tmid=#{@objeto.id}", tooltip: 'Agregar detalle multa' } %>

		<table class="table table-striped table-sm  thead-dark">
		  <thead>
		    <tr>
		      <td><i><small>Tamaño Empresa</small></i></td>
		      <td><i><small>Leve</small></i></td>
		      <td><i><small>Grave</small></i></td>
		      <td><i><small>Gravísima</small></i></td>
		    </tr>
		  </thead>

		  <tbody>
		    <!-- Opción para evitar escribir el parcial _modelo.html.erb en cada controlador-->
		      <% unless @objeto.p100_leve.blank? %>
		        <tr>
		          <td><i><small><%= "-" %></small></i></td>
		          <td><i><small><%= s_p100(@objeto.p100_leve, 0) %></small></i></td>
		          <td><i><small><%= s_p100(@objeto.p100_grave, 0) %></small></i></td>
		          <td><i><small><%= s_p100(@objeto.p100_gravisima, 0) %></small></i></td>
		        </tr>
		      <% end %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'dt_multas'} %>
		  </tbody>
		</table>


	</div>
	<div class="col-lg-6">
    	<%= render partial: '0capitan/general/app_ttl', locals: {c: 'dt_criterio_multas', title: "Criterio multas", link: "/dt_criterio_multas/new?tmid=#{@objeto.id}", tooltip: 'Agregar criterio multa' } %>
		<%#= render partial: '0p/tabla/tabla', locals: {c: 'dt_criterio_multas'} %>
	</div>
</div>