<%= render partial: prtl_name(@objeto, 'shw/proceso', 'drvcns_invstgdrs') %>

<%= render layout: 'cuentas/prtls/proceso/actn' do %>

	<% unless @objeto.rgstrs_ok? %>
		<%= render partial: 'cuentas/prtls/proceso/alrt', locals: {txt: 'No se puede cerrar la recepción de la denuncia mientras no esté completa la información de los participantes.'} %>
	<% else %>
		<%= render partial: 'cuentas/prtls/proceso/fact', locals: {txt: 'La información de los participantes está completa. Si alguno de los datos no está verificado por favor concluya su verificación antes de seguir adelante.'} %>
	<% end %>

	<div class="border rounded-2">

		<% if @objeto.rcp_dt? %>
			<%= render partial: '0p/proc/frm', locals: {tar: @tar_last, objeto: @objeto, code: 'fecha_ntfccn'} %>
		<% end %>

		<% if (@objeto.dnnc.investigacion_local or @objeto.investigacion_externa) and @objeto.rgstrs_ok? %>
			<%= render partial: '0p/proc/frm', locals: {tar: @tar_last, objeto: @objeto, code: 'fecha_trmtcn', plz_fld: true} %>
		<% end %>

		<% if @objeto.krn_derivaciones.on_dt? %>
			<%= render partial: '0p/proc/frm', locals: {tar: @tar_last, objeto: @objeto, code: 'fecha_hora_dt'} %>
		<% end %>

	</div>

<% end %>