<div class="rspst">
	<div class="answ">
		<i class="bi bi-<%=actvbx_gly[accn]%>"></i>
		<% if prtl?(objeto.class.name.tableize, 'code/answr', code) %>
			<%= render partial: prtl_name(objeto.class.name.tableize, 'code/answr', code), locals: { objeto: objeto} %>
		<% else %>
			Falta código de la respuesta de <%= code %>
		<% end %>
	</div>

	<div class="pstfx">
		<% if prtl?(objeto.class.name.tableize, 'code/pstfx', code) %>
			<%= render partial: prtl_name(objeto.class.name.tableize, 'code/pstfx', code), locals: { objeto: objeto} %>
		<% end %>
	</div>

	<div class="trsh">
		<%= render partial: prtl_name(objeto.class.name.tableize, 'code', "trsh"), locals: {objeto: objeto, code: code} if trsh and perfil_activo? %>
	</div>
</div>