<div class="qstn_bx">
	<div class="qstn">
		<% if prtl?(objeto.class.name.tableize, 'code/qstn', code) %>
			<%= render partial: prtl_name(objeto.class.name.tableize, 'code/qstn', code), locals: { objeto: objeto} %>
		<% else %>
			Falta código de la pregunta de <%= code %>
		<% end %>

	</div>
	<div class="optns">
		<div class="typ">
			<i class="bi bi-<%=actvbx_gly[accn]%>"></i> 
			<%= accn %>
		</div>
		<div class="lnks">
			<% if prtl?(objeto.class.name.tableize, 'code/lnks', code) %>
				<%= render partial: prtl_name(objeto.class.name.tableize, 'code/lnks', code), locals: { objeto: objeto} %>
			<% else %>
				Falta código del link de <%= code %>
			<% end %>

		</div>
	</div>
</div>