<div id="<%= dom_id hlp_ayuda %>">
  <p>
    <strong>Ownr type:</strong>
    <%= hlp_ayuda.ownr_type %>
  </p>

  <p>
    <strong>Ownr:</strong>
    <%= hlp_ayuda.ownr_id %>
  </p>

  <p>
    <strong>Hlp ayuda:</strong>
    <%= hlp_ayuda.hlp_ayuda %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= hlp_ayuda.texto %>
  </p>

  <p>
    <strong>Referencia:</strong>
    <%= hlp_ayuda.referencia %>
  </p>

</div>
