<p style="color: green"><%= notice %></p>

<%= render @hlp_ayuda %>

<div>
  <%= link_to "Edit this hlp ayuda", edit_hlp_ayuda_path(@hlp_ayuda) %> |
  <%= link_to "Back to hlp ayudas", hlp_ayudas_path %>

  <%= button_to "Destroy this hlp ayuda", @hlp_ayuda, method: :delete %>
</div>
