<p><%= image_tag 'logo_tyc.png' %></p>
<%= render partial: '0p/general/gly_title_size', locals: {gly: 'cash-coin', title: "Aprobación de pagos para facturar", size: 4} %>

<%= render partial: '0p/general/gly_title_size', locals: {gly: 'building', title: @objeto.cliente.razon_social, size: 5} %>

<% @objeto.tar_facturaciones.each do |facturacion| %>


	<div class='row'>
		<div class="col-md-6">
			<% if facturacion.uf_calculo.blank? %>
				<p class='text-danger'><i class="bi bi-cone-striped"></i> 
				No se encontró UF para la fecha de este reporte, los pagos en UF no desplegarán su volor en pesos!</p>
			<% end %>
			<% unless facturacion.pago_tarifa.blank? %>
				<p><b><%= facturacion.pago_tarifa.tar_pago %></b></p>
			<% end %>
			<!--small-->
				<p><b>
					<%= facturacion.tipo_owner %> : 
					<% if facturacion.padre.class.name == 'Causa' %>
						<%= link_to facturacion.padre.rit, facturacion.padre  %> <%= '|' %> 
					<% end %>
					<%= "#{facturacion.owner_description} : #{s_uf(facturacion.monto_uf)} | #{s_pesos(facturacion.monto_pesos)}" %> 
				</b></p>
				<small><%= link_to 'Ver reporte', facturacion.owner, target: :_blank if facturacion.owner.class.name == 'RegReporte' %></small>
				<% if facturacion.owner.class.name == 'Causa' %>
					<%= render partial: 'tarifas/partials/encabezado_cuantía', locals: {facturacion: facturacion} %>
					<%= render partial: 'tarifas/partials/cuantia', locals: {objeto: facturacion.padre, pago: facturacion.pago} %>
				<% end %>
			<!--/small-->
		</div>
		<div class="col-md-6"></div>
	</div>

	<hr>
			
<% end %>
<h4><%= "TOTAL FACTURA : #{s_uf(@objeto.aprob_total_uf)} | #{s_pesos(@objeto.aprob_total_pesos)}" %></h5>