<%= render partial: 'causas/partials/tarifa_pagos/titulo_tarifa', locals: {objeto: objeto} %>

<%= render layout: '0p/collapse/display', locals: {label: 'AsignaTarifa', objeto: nil, tooltip: 'Tarifas'} do %>
	<div class="objeto-box">
		<div class="text-info">
				<%= render partial: 'causas/partials/tarifa_pagos/sel_tarifas', locals: {objeto: objeto, tar_cliente: tar_cliente, tar_generales: tar_generales} %>
		</div>
	</div>	
<% end %>

<div class="objeto-box">

	<small class="text-muted">
	<% if @objeto.tar_tarifa.present? %>
		<%= render partial: 'causas/partials/tarifa_pagos/nombre_tarifa', locals: {objeto: objeto} %>
		<%= render partial: 'tarifas/tar_tarifas/list/detalle_tarifa', locals: {objeto: objeto.tar_tarifa} %>
	<% else %>
		<p class="text-danger"><i class="bi bi-cone-striped"></i> Sin tarifa asignada</p>
	<% end %>
	</small>

</div>