<%= form_with(model: dt_multa, local: true) do |form| %>
  <% if dt_multa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dt_multa.errors.count, "error") %> prohibited this dt_multa from being saved:</h2>

      <ul>
      <% dt_multa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :tamanio %>
    <%= form.text_field :tamanio %>
  </div>

  <div class="field">
    <%= form.label :leve %>
    <%= form.text_field :leve %>
  </div>

  <div class="field">
    <%= form.label :grave %>
    <%= form.text_field :grave %>
  </div>

  <div class="field">
    <%= form.label :gravisima %>
    <%= form.text_field :gravisima %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
