<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @dt_multa.orden %>
</p>

<p>
  <strong>Tamanio:</strong>
  <%= @dt_multa.tamanio %>
</p>

<p>
  <strong>Leve:</strong>
  <%= @dt_multa.leve %>
</p>

<p>
  <strong>Grave:</strong>
  <%= @dt_multa.grave %>
</p>

<p>
  <strong>Gravisima:</strong>
  <%= @dt_multa.gravisima %>
</p>

<%= link_to 'Edit', edit_dt_multa_path(@dt_multa) %> |
<%= link_to 'Back', dt_multas_path %>
