<small>
	<div class="row">
		<div class="col-10">
			<i class="bi bi-box"></i> <%= objeto.st_modelo %>
		</div>
		<div class="col-2" align='right'>
			<%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<p class="text-info">
				<i class="bi bi-tag"></i> 
				Estados 
				<i class="bi bi-dot"></i> 
				<%= link_to "/st_modelos/#{objeto.id}/st_estados/new" do %>
					<i class="bi bi-plus-circle"></i>
				<% end %>
			</p>
			<div class="row">
				<% objeto.st_estados.order(:orden).each do |estado| %>
					<div class="col-lg-3">
						<%= render partial: '0p/tabla/btns_orden', locals: {objeto: estado} %> 
					</div>
					<div class="col-lg-7">
						<%= estado.st_estado %>
					</div>
					<div class="col-lg-2" align='right'>
						<small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: estado} %></small>
					</div>
				<% end %>
			</div>
		</div>

		<div class="col-lg-6">
			<p class="text-info">
				<i class="bi bi-tag"></i> Control Documentos
				<% unless objeto.st_modelo == 'Causa' %>
					<i class="bi bi-dot"></i> 
				<%= link_to "/control_documentos//new?clss=#{objeto.class.name}&oid=#{objeto.id}" do %>
					<i class="bi bi-plus-circle"></i>
				<% end %>
				<% end %>
			</p>
			<% objeto.control_documentos.order(:orden).each do |control| %>
				<div class="row">
					<div class="col-lg-2">
						<%= render partial: '0p/tabla/btns_orden', locals: {objeto: control} %> 
					</div>
					<div class="col-lg-8">
						<small>
						<b>
						<% if control.tipo == 'Documento' %>
							<i class="bi bi-files"></i>
						<% elsif control.tipo == 'Archivo' %>
							<i class="bi bi-file"></i>
						<% end %> 
						<% if control.control == 'Requerido' %>
							<i class="bi bi-check2-square"></i>
						<% end %>
						<%= control.nombre %> 
						</b>
						</small>
						<% unless control.descripcion.blank? %>
						<div style="padding-left: 1em; padding-right: 1em;">
							<small>
								<i class="bi bi-arrow-right"></i> <%= control.descripcion %>
							</small>
						</div>
						<% end %>
					</div>
					<div class="col-lg-2" align='right'>
						<small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: control} %></small>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	</br>
</small>