<p id="notice"><%= notice %></p>

<h1>Tar Facturaciones</h1>

<table>
  <thead>
    <tr>
      <th>Facturable</th>
      <th>Monto</th>
      <th>Estado</th>
      <th>Owner class</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tar_facturaciones.each do |tar_facturacion| %>
      <tr>
        <td><%= tar_facturacion.facturable %></td>
        <td><%= tar_facturacion.monto %></td>
        <td><%= tar_facturacion.estado %></td>
        <td><%= tar_facturacion.owner_class %></td>
        <td><%= tar_facturacion.owner_id %></td>
        <td><%= link_to 'Show', tar_facturacion %></td>
        <td><%= link_to 'Edit', edit_tar_facturacion_path(tar_facturacion) %></td>
        <td><%= link_to 'Destroy', tar_facturacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tar Facturacion', new_tar_facturacion_path %>
