<p id="notice"><%= notice %></p>

<p>
  <strong>Facturable:</strong>
  <%= @tar_facturacion.facturable %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @tar_facturacion.monto %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tar_facturacion.estado %>
</p>

<p>
  <strong>Owner class:</strong>
  <%= @tar_facturacion.owner_class %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @tar_facturacion.owner_id %>
</p>

<%= link_to 'Edit', edit_tar_facturacion_path(@tar_facturacion) %> |
<%= link_to 'Back', tar_facturaciones_path %>
