<div class='row'>
	<div class='col-md-6'>

		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'app_archivos', ttl: 'Versiones del documento', ownr: objeto} %>
		<table class="table <%= table_types_base[:borderless] %> table-sm">
		  <tbody>

		  	<!-- Archivos-->
		  	<% unless @coleccion['app_archivos'].blank? %>
			  	<% @coleccion['app_archivos'].each do |objeto| %>
				  	<%= render partial: "/repositorios/app_archivos/partials/modelo", locals: {objeto: objeto} %>
		  		<% end  %>
		  	<% end %>

		  </tbody>
		</table>

		<%= render partial: '0p/tabla/btn_nuevo_o', locals: {o: @objeto, c: 'app_archivos'} %>

	</div>
	<div class='col-md-6'>

		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'app_escaneos', ttl: 'Evidencias del documento', ownr: objeto} %>
		<table class="table <%= table_types_base[:borderless] %> table-sm">
		  <tbody>

		  	<!-- Escaneos-->
		  	<% unless @coleccion['app_escaneos'].blank? %>
			  	<% @coleccion['app_escaneos'].each do |objeto| %>
				  	<%= render partial: "/repositorios/app_escaneos/partials/modelo", locals: {objeto: objeto} %>
		  		<% end  %>
		  	<% end %>

		  </tbody>
		</table>

		<%= link_to "/app_escaneos/crea_escaneo?ownr_class=#{@objeto.class.name}&ownr_id=#{@objeto.id}", class: "btn btn-outline-#{color('app_escaneos')} btn-sm" do %>
			<i class="bi bi-plus-circle"></i> <%= c_to_name('app_escaneos') %>
		<% end %>

	</div>
</div>