<p class="text-info">
	<small>
		Documentos 
		<% unless pendientes.empty? %>
			<%= render layout: '0p/collapse/link', locals: {label: 'ControlDocumento', objeto: nil} do %>
				<i class="bi bi-arrow-bar-down"></i>
			<% end %> 
		<% end %> 
		<%= link_to "/app_documentos/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}" do %>
			<i class="bi bi-plus-circle"></i>
		<% end %>
	</small>
</p>

<% unless pendientes.empty? %>
	<%= render layout: '0p/collapse/display', locals: {label: 'ControlDocumento', objeto: nil} do %>

		<small><p class="text-info">Control documentos</p></small>
		<% pendientes.each do |pendiente| %>
			<small class="text-muted">
			<%= link_to "/#{objeto.class.name.tableize}/#{objeto.id}/crea_documento_controlado?indice=#{pendiente}", title: 'Crea documento vacío', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-arrow-bar-left"></i>
			<% end %> 
			<%= pendiente %></br>
			</small>
		<% end %>

	<% end %>
<% end %>

<% unless coleccion.empty? %>
	<% coleccion.each do |documento| %>
		<%= render partial: get_partial(documento.class.name.tableize, 'list', "lobjeto") , locals: {objeto: documento} %></br>
	<% end %>
<% end %>
</br>