<div id="<%= dom_id krn_empleado %>">
  <p>
    <strong>Cliente:</strong>
    <%= krn_empleado.cliente_id %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= krn_empleado.empresa_id %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= krn_empleado.rut %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= krn_empleado.nombre %>
  </p>

</div>
