<p style="color: green"><%= notice %></p>

<%= render @krn_empleado %>

<div>
  <%= link_to "Edit this krn empleado", edit_krn_empleado_path(@krn_empleado) %> |
  <%= link_to "Back to krn empleados", krn_empleados_path %>

  <%= button_to "Destroy this krn empleado", @krn_empleado, method: :delete %>
</div>
