<%= form_with(model: krn_motivo_derivacion) do |form| %>
  <% if krn_motivo_derivacion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(krn_motivo_derivacion.errors.count, "error") %> prohibited this krn_motivo_derivacion from being saved:</h2>

      <ul>
        <% krn_motivo_derivacion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :krn_motivo_derivacion, style: "display: block" %>
    <%= form.text_field :krn_motivo_derivacion %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
