<p style="color: green"><%= notice %></p>

<%= render @krn_motivo_derivacion %>

<div>
  <%= link_to "Edit this krn motivo derivacion", edit_krn_motivo_derivacion_path(@krn_motivo_derivacion) %> |
  <%= link_to "Back to krn motivo derivaciones", krn_motivo_derivaciones_path %>

  <%= button_to "Destroy this krn motivo derivacion", @krn_motivo_derivacion, method: :delete %>
</div>
