<%= form_with(model: tar_det_cuantia_control, local: true) do |form| %>
  <% if tar_det_cuantia_control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tar_det_cuantia_control.errors.count, "error") %> prohibited this tar_det_cuantia_control from being saved:</h2>

      <ul>
      <% tar_det_cuantia_control.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tar_detalle_cuantia_id %>
    <%= form.number_field :tar_detalle_cuantia_id %>
  </div>

  <div class="field">
    <%= form.label :control_documento_id %>
    <%= form.number_field :control_documento_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
