<p id="notice"><%= notice %></p>

<p>
  <strong>Tar detalle cuantia:</strong>
  <%= @tar_det_cuantia_control.tar_detalle_cuantia_id %>
</p>

<p>
  <strong>Control documento:</strong>
  <%= @tar_det_cuantia_control.control_documento_id %>
</p>

<%= link_to 'Edit', edit_tar_det_cuantia_control_path(@tar_det_cuantia_control) %> |
<%= link_to 'Back', tar_det_cuantia_controles_path %>
