<%= render partial: prtl_name(objeto, 'shw/proceso', 'etps_rlzds'), locals: {ownr: objeto} %>
<%= render partial: prtl_name(objeto, 'shw/proceso', 'drvcns_invstgdrs'), locals: {ownr: objeto} %>

<%= render partial: prtl_name(objeto, 'shw/proceso', 'etapa_tarea'), locals: {ownr: objeto} %>

<!-- Hay uno identico a este en shw_participantes -->
<%= render partial: prtl_name(objeto, 'shw/proceso', 'mssgs_tsk'), locals: {ownr: objeto} %>
<%= render partial: prtl_name(objeto, 'shw/proceso', 'tsk_dsply'), locals: {ownr: objeto} %>

<div class="pt-2" style="margin-left: 5%;">
	<%= render partial: 'notas/shr/notas', locals: {ownr: objeto} %>
</div>

<%= render partial: prtl_name(objeto, 'shw/proceso', 'act_archvs'), locals: {objeto: objeto} %>
