<%= render partial: prtl_name(objeto, 'shw/proceso', 'etps_rlzds'), locals: {ownr: objeto} %>
<%= render partial: prtl_name(objeto, 'shw/proceso', 'drvcns_invstgdrs'), locals: {ownr: objeto} %>

<%= render partial: prtl_name(objeto, 'shw/proceso', 'etapa_tarea'), locals: {ownr: objeto} %>

<!-- Hay uno identico a este en shw_participantes -->
<%= render partial: prtl_name(objeto, 'shw/proceso', 'mssgs_tsk'), locals: {ownr: objeto} %>
<%= render partial: prtl_name(objeto, 'shw/proceso', 'tsk_dsply'), locals: {ownr: objeto} %>

<div class="pt-2" style="margin-left: 5%;">
	<%= render partial: 'notas/shr/notas', locals: {ownr: objeto} %>
</div>

<div class="mx-1 my-2 border rounded-4">
	<div class="p-2 border-bottom fw-bold" style="font-size: 1rem;">
		<i class="bi bi-caret-right-fill"></i> Documentos controlados de la denuncia
	</div>
	<div class="py-2 px-3">
		<%= render partial: 'repositorios/act_archivos/dsply_list', locals: {hsh: @acts_hsh, mdl: ClssPrcdmnt, ownr: objeto, lnks: true} %>
	</div>
</div>

