<div style="margin-left: 7%;">
	<!-- NOTA Ingresar participantes -->
	<% unless @objt['rgstrs_mnms?'] %>
		<%= render partial: prtl_name(@objeto, 'mssgs', 'dnnc_nueva') %>
	<% else %>
		<%= render partial: prtl_name(@objeto, 'mssgs', 'rgstrs_ok') if @etp_last.codigo == 'etp_rcpcn' %>
		<%= render partial: prtl_name(@objeto, 'mssgs', 'dclrcn') if @objt['dnnc_evld?'] and not (@objt['dclrcns_ok?']) %>
		<%= render partial: prtl_name(@objeto, 'mssgs', 'dclrcns_ok') if @etp_last.codigo == 'etp_invstgcn' and @objt['dclrcns_ok?'] %>
	<% end %>

	<%= render partial: prtl_name(@objeto, 'shw/prtcpnts', 'vrfccn_datos_prtcpnts') %>

	<%= render partial: 'cuentas/indx/ttl', locals: {source: 'krn_denunciantes', ownr: @objeto, fs: 6, lnks: 'prtl'} %>
	<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_denunciantes', shdw: false, typ: 'ln', crud: 'lnks'} %>


	<!-- DENUNCIANTES OK Y MOTIVO DISTINTO DE VIOLENCIA -->
	<% if @objt['motivo_vlnc?'] %>

		<%= render partial: '0p/ntc', locals: {color: 'danger', ntc: 'Denuncia de violencia en el trabajo ejercida por terceros. Las personas denunciadas (si las hay) se detallan en las declaraciones.'} %>

	<% else %>

		<%= render partial: 'cuentas/indx/ttl', locals: {source: 'krn_denunciados', ownr: @objeto, fs: 6} %>
		<% if @objt['denunciantes?'] %>
			<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_denunciados', shdw: false, typ: 'ln', crud: 'lnks'} %>
		<% end %>

	<% end %>

</div>

<div class="text-end" style="font-size: 14px;">
	<% if prtl?(@objeto, 'hlp', 'prtcpnts') %>
		<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_prtcpnts", ttl: "Registros de participantes", sz: 'lg'} do %>
			<%= render partial: prtl_name(@objeto, 'hlp', 'prtcpnts') %>
		<% end %>
	<% end %>

	<% if prtl?(@objeto, 'hlp', 'archvs_rqrds') %>
		<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_archvs_rqrds", ttl: "Documentación obligatoria", sz: 'lg'} do %>
			<%= render partial: prtl_name(@objeto, 'hlp', 'archvs_rqrds') %>
		<% end %>
	<% end %>

	<% if prtl?(@objeto, 'hlp', 'prtcpnts') %>
		<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_prtcpnts", ttl: "Testigos del participante", sz: 'lg'} do %>
			<%= render partial: prtl_name(@objeto, 'hlp', 'prtcpnts') %>
		<% end %>
	<% end %>
</div>