<% if @objt['rgstrs_mnms?'] %>
	<!-- INGRESO MÍNIMO DE INFORMACIÓN DE PARTICIPANTES COMPLETADO -->

	<%= render partial: prtl_name(objeto, 'shw/proceso', 'etps_rlzds'), locals: {ownr: objeto} %>

	<!-- REVISAR USO DE tar_last -->
	<%= render partial: prtl_name(objeto, 'shw/proceso', 'undo'), locals: {ownr: objeto} %>

	<%= render partial: prtl_name(objeto, 'shw/proceso', 'stts'), locals: {ownr: objeto} %>
	<div class="pt-2" style="margin-left: 5%;">

		<%= render partial: prtl_name(objeto, 'shw/proceso', 'dsply_etapa'), locals: {ownr: objeto} %>

		<%= render partial: 'notas/shr/notas', locals: {ownr: objeto} %>

	</div>

	<div class="mx-1 my-2 border rounded-4">
		<div class="p-2 border-bottom fw-bold" style="font-size: 1rem;">
			<i class="bi bi-caret-right-fill"></i> Documentos controlados de la denuncia
		</div>
		<div class="py-2 px-3">
			<%= render partial: 'repositorios/act_archivos/dsply_list', locals: {hsh: @acts_hsh, mdl: ClssPrcdmnt, ownr: objeto, audit: objeto.dnnc.auditoria} %>
		</div>
	</div>

	<div class="mt-5 ms-2">
		<%#= render partial: prtl_name(objeto, 'shw/proceso', 'dcs'), locals: {ownr: objeto} %>
		<%#= render partial: 'repositorios/act_archivos/dsply_list', locals: {list: @acts, mdl: Prcdmnt, ownr: objeto, audit: objeto.auditoria} %>
	</div>

<% else %>
	<!-- NO SE HA COMPLETADO EL INGRESO MÍNIMO -->
	<%= render partial: prtl_name(@objeto, 'mssgs', 'no_ingrs_mnm') %>
<% end %>