<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'krn_denunciantes', ttl: "Denunciante", ownr: objeto} %>
<% unless objeto.krn_denunciante.blank? %>
	<div class="shw_flds_lst">
		<% if objeto.dependencia_denunciante.dependencia_denunciante == 'Empresa externa' %>
			<%= render partial: '0p/shw/fld_ln', locals: {fld: 'RUT empresa externa', vl: objeto.krn_denunciante.krn_empresa_externa.rut, algn: 'left'} %>
			<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Empresa externa', vl: objeto.krn_denunciante.krn_empresa_externa.razon_social, algn: 'left'} %>
			<b>
				<%= render partial: '0p/shw/fld_ln', locals: {fld: 'RUT demandante', vl: objeto.krn_denunciante.rut, algn: 'left'} %>
				<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Nombre demandante', vl: objeto.krn_denunciante.nombre, algn: 'left'} %>
			</b>
			<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Cargo', vl: objeto.krn_denunciante.cargo, algn: 'left'} %>
			<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Lugar de trabajo', vl: objeto.krn_denunciante.lugar_trabajo, algn: 'left'} %>
			<%= render partial: '0p/shw/fld_ln', locals: {fld: 'email', vl: objeto.krn_denunciante.email, algn: 'left'} %>

			<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Aplica artículo 4 inciso primero del Código del trabajo', vl: objeto.krn_denunciante.articulo_4_1 ? 'SI' : 'NO', algn: 'left'} %>
			<%= render partial: '0p/shw/fld_ln', locals: {fld: 'El denunciante cuenta con el reglamento interno actualizado', vl: objeto.krn_denunciante.dnnte_info_reglamento ? 'SI' : 'NO', algn: 'left'} %>
			<%= render partial: '0p/shw/fld_ln', locals: {fld: 'El denunciante fue capacitado en el procedimiento de investigacióm y sanción', vl: objeto.krn_denunciante.dnnte_info_procedimiento ? 'SI' : 'NO', algn: 'left'} %>
			<%= render partial: '0p/shw/fld_ln', locals: {fld: 'El denunciante fue informado de sus derechos relativos al procedimiento de Investigación y sanción', vl: objeto.krn_denunciante.dnnte_info_procedimiento ? 'SI' : 'NO', algn: 'left'} %>
		<% end %>
	</div>
<% end %>