<small><b>Detalle Registro cargado</b></small>
<table class="table <%= table_types_base[:borderless] %> table-sm">
	<tr>
		<td><small>Fecha</small></td>
		<td><small><%= dma(@objeto.fecha) %></small></td>
	</tr>
	<tr>
		<td><small>Glosa</small></td>
		<td><small><%= @objeto.glosa %></small></td>
	</tr>
	<tr>
		<td><small>Glosa banco</small></td>
		<td><small><%= @objeto.glosa_banco %></small></td>
	</tr>
	<tr>
		<td><small>Documento</small></td>
		<td><small><%= @objeto.documento %></small></td>
	</tr>
	<tr>
		<td><small>Monto</small></td>
		<td align='right'><small><%= s_pesos(@objeto.monto) %></small></td>
	</tr>
	<tr>
		<td><small>Cargo/Abono</small></td>
		<td><small><%= @objeto.cargo_abono %></small></td>
	</tr>
	<tr>
		<td><small>Saldo</small></td>
		<td><small><%= @objeto.saldo %></small></td>
	</tr>
</table>

<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :m_item_id, colection: @objeto.periodo.items.collect {|item| [item.m_item, item.id]}, prompt: ' Item' } %></br>

<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Glosa personalizada', v: true } %>
<%= render partial: '0p/form_fields/text', locals: { form: form, token: :glosa } %>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :orden } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :fecha } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :glosa_banco } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :documento } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :monto } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :cargo_abono } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :saldo } %>
