<p id="notice"><%= notice %></p>

<h1>M Registros</h1>

<table>
  <thead>
    <tr>
      <th>M registro</th>
      <th>Orden</th>
      <th>M conciliacion</th>
      <th>Fecha</th>
      <th>Glosa banco</th>
      <th>Glosa</th>
      <th>Documento</th>
      <th>Monto</th>
      <th>Cargo abono</th>
      <th>Saldo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_registros.each do |m_registro| %>
      <tr>
        <td><%= m_registro.m_registro %></td>
        <td><%= m_registro.orden %></td>
        <td><%= m_registro.m_conciliacion_id %></td>
        <td><%= m_registro.fecha %></td>
        <td><%= m_registro.glosa_banco %></td>
        <td><%= m_registro.glosa %></td>
        <td><%= m_registro.documento %></td>
        <td><%= m_registro.monto %></td>
        <td><%= m_registro.cargo_abono %></td>
        <td><%= m_registro.saldo %></td>
        <td><%= link_to 'Show', m_registro %></td>
        <td><%= link_to 'Edit', edit_m_registro_path(m_registro) %></td>
        <td><%= link_to 'Destroy', m_registro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M Registro', new_m_registro_path %>
