<h5 class="text-info">
	Clasificación de registro
</h5>

<div class="row">
	<div class="col-3">
		<small>
		<b>Fecha:</b></br>
		<%= dma(@objeto.fecha) %></br>
		<b>Glosa:</b></br>
		<%= @objeto.descripcion %></br>
		<b>Tipo:</b></br>
		<%= @objeto.cargo_abono %></br>
		<b>Monto:</b></br>
		<%= s_pesos(@objeto.monto) %></br>
		</small>
	</div>
	<div class="col-6">
		<% @objeto.m_modelo.m_conceptos.order(:orden).each do |concepto| %>
			<small><b><%= concepto.m_concepto %></b></small></br>
			<% concepto.m_items.order(:orden).each do |item| %>
				<small><i class="bi bi-dot"></i> <%= link_to item.m_item, "/m_registros/#{@objeto.id}/asigna?iid=#{item.id}" %></small></br>
			<% end %>
		<% end %>
	</div>
	<div class="col-3">
		<% if @objeto.cargo_abono == 'Abono' %>
			<p class="text-info">
			Facturas pagadas 
			<% unless @objeto.disponible == 0 %>
				<%= render layout: '0p/collapse/link', locals: {label: 'AsignaFactura', objeto: nil, tooltip: 'Asigna'} do %>
					<i class="bi bi-plus-circle"></i>
				<% end %>
			<% end %>
			</p>

			<%= render layout: '0p/collapse/display', locals: {label: 'AsignaFactura', objeto: nil} do %>
				<%= render partial: 'modelos/m_registros/partials/form_asigna_factura', locals: {objeto: @objeto, facturadas: @facturadas} %>
			<% end %>

			<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_facturas'} %>

			<p class='text-info'><%= "Disponible : #{s_pesos(@objeto.disponible)}" %></p>
		<% end %>
	</div>
</div>