<p id="notice"><%= notice %></p>

<p>
  <strong>M registro:</strong>
  <%= @m_registro.m_registro %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @m_registro.orden %>
</p>

<p>
  <strong>M conciliacion:</strong>
  <%= @m_registro.m_conciliacion_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @m_registro.fecha %>
</p>

<p>
  <strong>Glosa banco:</strong>
  <%= @m_registro.glosa_banco %>
</p>

<p>
  <strong>Glosa:</strong>
  <%= @m_registro.glosa %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @m_registro.documento %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @m_registro.monto %>
</p>

<p>
  <strong>Cargo abono:</strong>
  <%= @m_registro.cargo_abono %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @m_registro.saldo %>
</p>

<%= link_to 'Edit', edit_m_registro_path(@m_registro) %> |
<%= link_to 'Back', m_registros_path %>
