<h5 class="text-info">
	Clasificación de registro
</h5>

<div class="row">
	<div class="col-3">
		<small>
		<b>Fecha:</b></br>
		<%= dma(@objeto.fecha) %></br>
		<b>Glosa:</b></br>
		<%= @objeto.descripcion %></br>
		<b>Tipo:</b></br>
		<%= @objeto.cargo_abono %></br>
		<b>Monto:</b></br>
		<%= s_pesos(@objeto.monto) %></br>
		</small>
	</div>
	<div class="col-6">
		<% @objeto.m_modelo.m_conceptos.order(:orden).each do |concepto| %>
			<small><b><%= concepto.m_concepto %></b></small></br>
			<% concepto.m_items.order(:orden).each do |item| %>
				<small><i class="bi bi-dot"></i> <%= link_to item.m_item, "/m_registros/#{@objeto.id}/asigna?iid=#{item.id}" %></small></br>
			<% end %>
		<% end %>
	</div>
	<div class="col-3">
		<% if @objeto.cargo_abono == 'Abono' %>
			<p class="text-info">
			Facturas pagadas 
			<% unless @objeto.disponible == 0 %>
				<a data-toggle="collapse" href="#collapseAsignaFactura" role="button" aria-expanded="false" aria-controls="collapseAsignaFactura">
					<i class="bi bi-plus-circle"></i>
				</a>
			<% end %>
			</p>

			<div class="collapse" id="collapseAsignaFactura">
			  <div class="card card-body">
			  	<%= render partial: 'modelos/m_registros/partials/form_asigna_factura', locals: {objeto: @objeto, facturadas: @facturadas} %>
			  </div>
			</div>

			<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_facturas'} %>

			<p class='text-info'><%= "Disponible : #{s_pesos(@objeto.disponible)}" %></p>
		<% end %>
	</div>
</div>