<div class="ln_app">
	<div class="ln_nm">
		<%= objeto.codigo %>
		<i class="bi bi-dot"></i>
		<%= objeto.h_texto %>
	</div>
	<div class="ln_lnks">
		<%= render layout: '0p/collapse/link', locals: {label: 'Texto', objeto: objeto, tooltip: 'Texto'} do %>
			<i class="bi bi-arrow-bar-down"></i>
		<% end %>
		<i class="bi bi-dot"></i>
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} if check_crud(objeto) %>
	</div>
</div>

<%= render layout: '0p/collapse/display', locals: {label: 'Texto', objeto: objeto} do %>
	<div class="g_cllps">
		<i class="bi bi-dot"></i><%= objeto.texto %>
	</div>
<% end %>