<div class="row gx-1 px-2 text-primary" style="font-size: 14px;">
	<div class="col">
		<% if objeto.tar_facturaciones.none? %>
			Pendiente
		<% elsif objeto.tar_facturaciones.any? %>
			Pago generado
		<% end %>
	</div>
	<div class="col text-end app_lnk">
		<% if objeto.tar_facturaciones.none? %>
			<% if objeto.facturable? %>
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/tar_facturaciones/new?code=assr&bid=#{objeto.id}", tltp: 'Nuevo pago'} do %>
					<i class="bi bi-plus-circle"></i> Generar pago
				<% end %>
			<% else %>
				UF no encontrada
			<% end %>
		<% end %>
	</div>
</div>

<div class="px-2"><b>
	Pago(s)
	<% if objeto.tar_facturaciones.none? %>
		<%= render layout: '0p/tltp_lnk', locals: {lnk: "/tar_facturaciones/new?code=assr&bid=#{objeto.id}", tltp: 'Nuevo pago'} do %>
			<i class="bi bi-plus-circle"></i>
		<% end %>
	<% end %>
</b></div>
<% if objeto.tar_facturaciones.any? %>
	<% objeto.tar_facturaciones.each do |fctn| %>
		<div class="row px-2 gx-1">
			<div class="col">
				<i class="bi bi-dot"></i><%= fctn.glosa %>
				<% unless fctn.cli_aprobacion_id.blank? %> 
					[aprob: <%=fctn.tar_aprobacion_id%>]
				<% end %>
			</div>
			<div class="col text-end objt_lnk">
				<%= s_pesos(fctn.monto) %>
				<%= render partial: '0t/lnks_e', locals: {objt: fctn} %>
			</div>
		</div>
	<% end %>
<% end %>