<div class="dropdown">
    <a class="btn btn-link btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-list-ul fs-2 text-secondary"></i>
    </a>
    
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li style="font-size: 12px; line-height: 1.2;">
        	<a class="dropdown-item text-dark app_lnk" href="/cuentas/<%=@objeto.class.name.downcase[0]%>_<%=@objeto.id%>/dnncs">Denuncias</a>
        </li>

        <li style="font-size: 12px; line-height: 1.2;">
        	<a class="dropdown-item text-dark app_lnk" href="/cuentas/<%=@objeto.class.name.downcase[0]%>_<%=@objeto.id%>/invstgdrs">Investigadores</a>
        </li>

        <li style="font-size: 12px; line-height: 1.2;">
        	<a class="dropdown-item text-dark app_lnk" href="/cuentas/<%=@objeto.class.name.downcase[0]%>_<%=@objeto.id%>/extrns">Empresas externas</a>
        </li>

        <li style="font-size: 12px; line-height: 1.2;">
        	<a class="dropdown-item text-dark app_lnk" href="/cuentas/<%=@objeto.class.name.downcase[0]%>_<%=@objeto.id%>/nmn">Nómina</a>
        </li>

    </ul>
</div>