<div class="mt-2 text-center" style="font-size: 20px;">
	<b><i class="bi bi-buildings"></i> <%= @objeto.razon_social %></b>
	<% unless @objeto.productos? %>
		<small>( DEMO )</small>
	<% end %>
</div>
<div class="row app_lnk">
	<div class="col">
		<%= render partial: 'cuentas/prtls/menu_drpdwn' %>
	</div>
	<div class="col me-3 pt-4 text-end" style="font-size:16px;">
		<i class="bi bi-person-circle"></i> <%#= nomina_activa.nombre %>
		<%= render layout: '0p/layout/tooltip_link', locals: {link: edit_usuario_registration_path, tooltip: 'Editar mi usuario'} do %>
			<b><%= email_mask(perfil_activo.email) %></b>
		<% end %>
		
		<% if @scrty_vls[:addt_usr] and admin? and controller_name == 'cuentas' %>
			<%= link_to "/#{@objeto.class.name.tableize}", title: 'Addt', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-menu-button-wide fs-3"></i>
			<% end %>
		<% end %>
		
	</div>
</div>