<!-- Facturación -->
<p>
	<% if objeto.estado == 'ingreso' %>
	<a data-toggle="collapse" href="#collapseEmitir" role="button" aria-expanded="false" aria-controls="collapseEmitir">
    	Factura
	</a>
	<% else %>
		Factura
	<% end %>: 
	<%= objeto.documento.blank? ? '(no emitida)' : objeto.documento %> 
	<% if objeto.factura.blank? %>
		<small>
		<%= link_to "/app_archivos/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}" do %>
			 <i class="bi bi-upload"></i>
		<% end %>
		</small>
	<% else %>
		<small>
		<%= link_to objeto.factura.archivo.url, class: 'sb-link', target: :_blank do %>
			<i class="bi bi-download"></i> 
		<% end %>
		<%= render partial: '0p/tabla/link_eliminar', locals: {objeto: objeto.factura} %>
		</small>
	<% end %>

	<%= " | #{dma(objeto.fecha_factura)} | #{objeto.concepto}" %>
</p>
<% if objeto.estado == 'ingreso' %>
	<div class="collapse" id="collapseEmitir">
	  <div class="card card-body">
		<%= render partial: 'tarifas/tar_facturas/partials/form_emision', locals: {objeto: objeto} %>
	  </div>
	</div>
<% end %>
