<!-- Facturación -->
<p>
	<% if objeto.estado == 'ingreso' %>
		<%= render layout: '0p/collapse/link', locals: {label: 'Emitir', objeto: nil} do %>
			Factura
		<% end %>
	<% else %>
		Factura
	<% end %>: 
	<%= objeto.documento.blank? ? '(no emitida)' : objeto.documento %> 
	<% if objeto.factura.blank? %>
		<small>
		<%= link_to "/app_archivos/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}" do %>
			 <i class="bi bi-upload"></i>
		<% end %>
		</small>
	<% else %>
		<small>
		<%= link_to objeto.factura.archivo.url, class: 'sb-link', target: :_blank do %>
			<i class="bi bi-download"></i> 
		<% end %>
		<%= render partial: '0p/tabla/link_eliminar', locals: {objeto: objeto.factura} %>
		</small>
	<% end %>

	<%= " | #{dma(objeto.fecha_factura)} | #{objeto.concepto}" %>

	<% if objeto.estado == 'facturada' and objeto.tar_nota_credito.blank? %>
	 | 
		<%= render layout: '0p/collapse/link', locals: {label: 'NotaCredito', objeto: nil} do %>
			crea nota de crédito
		<% end %>

		<%= render layout: '0p/collapse/display', locals: {label: 'NotaCredito', objeto: nil} do %>
			<%= render partial: 'tarifas/tar_facturas/list/form_nota_credito', locals: {objeto: objeto} %>
		<% end %>
	<% end %>
	<% if objeto.estado=='pagada' and objeto.tar_nota_credito.present? %>
		<%= link_to 'elimina_nota_credito', "/tar_facturas/#{objeto.id}/elimina_nota_credito" %>
	<% end %>
</p>
<% if objeto.estado == 'ingreso' %>
	<%= render layout: '0p/collapse/display', locals: {label: 'Emitir', objeto: nil} do %>
		<%= render partial: 'tarifas/tar_facturas/partials/form_emision', locals: {objeto: objeto} %>
	<% end %>
<% end %>
