<div class="fc_ttl">
  <div class="ttl_ttl">
    <%= render partial: '0p/general/gly', locals: {gly: controller_icon['tar_facturas']} %>
    Facturas
  </div>
  <div class="ttl_lnks">
  </div>
</div>




<div class="doscpx_w">
  <div class="lft">
    <%= render partial: '0p/cmenu/cmenu', locals: { c: 'tar_facturas', tipo: tipo, estado: estado, path: path} %>
  </div>
  <div class="rght">
    <div class="fc_ttl">
      <div class="ttl_ttl">
        <%= render partial: '0p/general/gly', locals: {gly: controller_icon['tar_facturas']} %>
        <%= "Causas #{cmenu_clss['tar_facturas'][:items][estado]}" %>
      </div>
      <div class="ttl_lnks">
      </div>
    </div>


    <%= render partial: '0p/tabla/tabla2', locals: {c: 'tar_facturas'} %>
  </div>
</div>





