<small><small class="text-muted">
<div class="row">
	<div class="col-7">
		<b> <%= render layout: '0p/layout/tooltip_link', locals: {link: objeto, tooltip: 'Ver Detalle Causa'} do %>
				<%= objeto.rit %>
			<% end %> 
		</b>
		<% if (objeto.monto_pagado.blank? or objeto.monto_pagado == 0) and objeto.estado == 'terminada' %>
			<i class="bi bi-award text-primary"></i> Causa Ganada
		<% end %>
	</div>
	<div class="col-5" align='right'>
		<% if finanzas? and objeto.facturaciones.any? %>
			<%= render layout: '0p/collapse/link', locals: {label: 'Facturaciones', objeto: objeto, tooltip: 'Detalle de Pagos'} do %>
				<i class="bi bi-currency-dollar"></i>
			<% end %>
		<% end %>
		<% if objeto.demanda? and operacion? %>
			<%= link_to objeto.demanda.archivo.url, class: 'sb-link', target: :_blank, title: 'Archivo Demanda', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-box-arrow-up-right"></i>
			<% end %>
		<% end %>
		<% if operacion? %>
			<!-- Lo siguiente se puso DENTRO del if porque si no se despliega el crud no tiene sentido el punto -->
			<% if (finanzas? and objeto.facturaciones.any?) or (objeto.demanda? and operacion?) %>
				<i class="bi bi-dot"></i>
			<% end %>
			<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} if check_crud(objeto) %>
		<% end %>
	</div>
</div>
</small></small>