<div class="row px-3 pb-1 gx-1 app_lnk" style="font-size: 13px;line-height: 1.2;">
	<div class="col">

		<i class="bi bi-cash-coin"></i> 
		<%= s_pesos(objeto.detalle_cuantia('Pesos')) %>
		<i class="bi bi-arrow-right"></i>

		<% unless objeto.monto_pagado.blank? %>
			<%= s_pesos(objeto.monto_pagado) %>
		<% else %> 
			<% unless objeto.monto_conciliaciones.empty? %>
				<%= objeto.monto_conciliaciones.last.tipo %> : <%= s_pesos(objeto.monto_conciliaciones.last.monto) %>
			<% end %>
		<% end %>

	</div>
	<div class="col text-end">
		<% if objeto.estado == 'tramitación' %>
			<% unless objeto.monto_conciliaciones.empty? %>
				<%= render layout: '0p/collapse/link', locals: {label: 'DetalleMontos', objeto: objeto, tooltip: "Montos Conciliación"} do %>
				 	<i class="bi bi-arrow-bar-down"></i>
				<% end %>
			<% end %>
		<% end %>
		<% if objeto.estado == 'tramitación' %>
			<%= render layout: '0p/collapse/link', locals: {label: 'IngresoMonto', objeto: objeto, tooltip: "Nuevo Monto Conciliación"} do %>
			 	<i class="bi bi-plus-circle"></i>
			<% end %>
		<% end %>
		<% unless objeto.monto_conciliaciones.empty? %>
			<i class="bi bi-dot"></i>
			<%= render partial: '0p/tabla/link_editar', locals: {objeto: objeto.monto_conciliaciones.last } %>
		<% end %>
	</div>
</div>

<% if objeto.estado == 'tramitación' %>
	<%= render layout: '0p/collapse/display', locals: {label: 'IngresoMonto', objeto: objeto} do %>
		<div style="padding-left: 2em; padding-right: 1em;">
		  	<%= render partial: 'causas/list/frm_conciliacion', locals: {objeto: objeto} %>
	  	</div>
	<% end %>
<% end %>

<% unless objeto.monto_conciliaciones.empty? %>
	<%= render layout: '0p/collapse/display', locals: {label: 'DetalleMontos', objeto: objeto} do %>
		<div style="padding-left: 2em; padding-right: 1em;">
		  	<%= render partial: 'causas/list/lst_montos', locals: {objeto: objeto} %>
	  	</div>
	<% end %>
<% end %>