<div class="app_bjt" id="cid_<%=objeto.id%>">
	<%= render partial: 'causas/list/bjt', locals: {objeto: objeto} %>

	<%= render partial: 'causas/list/audiencia', locals: {objeto: objeto} %>
	<%= render partial: 'causas/list/monto_pagado', locals: {objeto: objeto} %>

	<%= render partial: 'notas/shr/notas_pendientes', locals: {objeto: objeto} %>
</div>