<small>
<div class="list-item" style='background-color:#FFFFFF; padding-left: 1em; padding-top: .5em; padding-bottom: .5em; margin-bottom: 1em;'>
	<small><%= dma(objeto.created_at) %> | <%= objeto.estado %> | <i><%= objeto.cliente.razon_social %></i></small></br>
	<b><%= link_to objeto.rit, objeto, title: 'Detalle Causa', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %> | <%= objeto.causa %></b>
	<% if objeto.demanda? %>
		<%= link_to objeto.demanda.archivo.url, class: 'sb-link', target: :_blank, title: 'Archivo Demanda', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
			<i class="bi bi-box-arrow-up-right"></i>
		<% end %>
	<% end %>
	</br>
	<small>
	<%= s_pesos(objeto.detalle_cuantia('Pesos')) %> 
	<% unless objeto.monto_pagado.blank? %>
	| <b><%= s_pesos(objeto.monto_pagado) %></b> |
	<% end %>

	<% if objeto.estado == 'proceso' %>
		<a data-toggle="collapse" href="#collapsePago<%=objeto.id%>" role="button" aria-expanded="false" aria-controls="collapsePago<%=objeto.id%>">
			<%= objeto.monto_pagado.blank? ? 'Ingresar' : 'Actualizar' %> Monto pagado al trabajador
		</a>

		<div class="collapse" id="collapsePago<%=objeto.id%>">
		  <div class="card card-body">
		  	<%= render partial: 'causas/list/form_monto_pagado', locals: {objeto: objeto} %>
		  </div>
		</div>
	<% end %>

	</br>
	<%= render partial: 'causas/list/bottom_links', locals: {objeto: objeto} %>

	</small>
</div>
</small>
