<div class="tm_bjt">
	<div class="ttl_ttl">
		<i class="bi bi-bookmark-fill"></i>
		
		<%= objeto.tema %>
	</div>
	<div class="ttl_lnks">
		<!-- ORDEN -->
		<% if objeto.causa.hechos_registrados %>
			<b><%= objeto.orden %></b>
		<% else %>
			<b><%= render partial: '0p/tabla/links_orden', locals: {objeto: objeto } %></b>
		<% end %>

		<% unless objeto.causa.hechos_registrados %>
			<i class="bi bi-dot"></i>
			<%= render layout: '0p/collapse/link', locals: {label: 'NuevoHechoMtr', objeto: objeto, tooltip: 'Agrega hecho'} do %>
				<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %> Hecho
			<% end %>

			<i class="bi bi-dot"></i>
			<small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small>
		<% end %>
	</div>

</div>

<%= render layout: '0p/collapse/display', locals: {label: 'NuevoHechoMtr', objeto: objeto} do %>
	<%= render partial: 'causas/shw/hechos/form_nuevo_m_hecho', locals: {objeto: objeto} %>
<% end %>

<% unless objeto.hechos.empty? %>
	<% objeto.hechos.order(:orden).each do |hecho| %>
		<%= render partial: 'csc/hechos/list/innr_bjt', locals: {objeto: hecho} %>
	<% end %>
<% end %>