<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :formula, label: 'Condición' } %>

<div class='row'>
	<div class='col-md-2'>
		<%= render partial: '0p/lbld_inpts/radio', locals: { form: form, token: :moneda, radio_list: ['UF', 'Pesos'] } %>
	</div>
	<div class='col-md-10'>
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :despliegue, label: 'Despliegue' } %>
	</div>
</div>

<%= render partial: '0p/lbld_inpts/text_area', locals: { form: form, token: :comentario, label: 'Comentario' } %>

<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :tar_pago_id} %>
<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :orden } %>