<div class="row gx-1 px-1 app_lnk" style="font-size: 10px; line-height: 1.2;">
	<div class="col-9">
		<%= render partial: '0p/tbl/ordr', locals: {objeto: objeto} %>
		<% if admin? %>
			<%= render layout: '0p/tltp_lnk', locals: {lnk: objeto, tltp: 'Gestionar citas'} do %>
				<%= objeto.codigo %><i class="bi bi-dot"></i><%=objeto.referencia %>
			<% end %>
		<% else %>
			<%= objeto.codigo %><i class="bi bi-dot"></i><%=objeto.referencia %>
		<% end %>
	</div>
	<div class="col-3 text-end">
		<%= render partial: '0p/swtch', locals: {objeto: objeto, tkn: 'txt_bld', stts: [' text normal', 'texto en negrita'], glys: ['type', 'type-bold']} %>
		<%= render partial: '0p/swtch', locals: {objeto: objeto, tkn: 'txt_cntr', stts: ['texto a la izquierda', 'texto_centrado'], glys: ['text-left', 'text-center']} %>
		<% if admin? %>
			<% if objeto.resumen.present? or objeto.chk_ocultar %>
				<%= render layout: '0p/collapse/link', locals: {label: 'VerParrafo', objeto: objeto, tooltip: 'Ver texto'} do %>
					<i class="bi bi-arrow-bar-down"></i>
				<% end %>
			<% end %>
		<% end %>
		<% if dog? %>
			<% unless objeto.parent.present? %>
				<i class="bi bi-dot"></i>
				<%= render partial: '0p/tbl/lnks_e', locals: { objeto: objeto} %>
				<!--i class="bi bi-dot"></i>
				<%# unless objeto.orden == 1 %>
					<%#= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/cnct_up", tooltip: "Fundir arriba"} do %>
						<i class="bi bi-arrow-up"></i-->
					<%# end %>
				<%# end %>
			<% end %>
			<i class="bi bi-dot"></i>
			<% if objeto.parent.present? %>
				<% unless objeto.orden == 1 %>
					<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/prnt?d=u", tooltip: "Hacia arriba"} do %>
						<i class="bi bi-arrow-90deg-up"></i>
					<% end %>
				<% end %>
				<% unless objeto.parent.blank? %>
					<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_parrafos/#{objeto.id}/prnt?d=d", tooltip: "Hacia abajo"} do %>
						<i class="bi bi-arrow-90deg-down"></i>
					<% end %>
				<% end %>
			<% end %>
			<i class="bi bi-dot"></i>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/lgl_puntos/new?oid=#{objeto.id}", tooltip: "Crea punto"} do %>
				<i class="bi bi-plus-circle"></i>
			<% end %>
		<% end %>
	</div>
</div>