<div id="<%= dom_id lgl_punto %>">
  <p>
    <strong>Orden:</strong>
    <%= lgl_punto.orden %>
  </p>

  <p>
    <strong>Lgl parrafo:</strong>
    <%= lgl_punto.lgl_parrafo_id %>
  </p>

  <p>
    <strong>Lgl punto:</strong>
    <%= lgl_punto.lgl_punto %>
  </p>

  <p>
    <strong>Cita:</strong>
    <%= lgl_punto.cita %>
  </p>

</div>
