<p style="color: green"><%= notice %></p>

<%= render @lgl_punto %>

<div>
  <%= link_to "Edit this lgl punto", edit_lgl_punto_path(@lgl_punto) %> |
  <%= link_to "Back to lgl puntos", lgl_puntos_path %>

  <%= button_to "Destroy this lgl punto", @lgl_punto, method: :delete %>
</div>
