<p id="notice"><%= notice %></p>

<p>
  <strong>M campo:</strong>
  <%= @m_campo.m_campo %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @m_campo.valor %>
</p>

<p>
  <strong>M conciliacion:</strong>
  <%= @m_campo.m_conciliacion_id %>
</p>

<%= link_to 'Edit', edit_m_campo_path(@m_campo) %> |
<%= link_to 'Back', m_campos_path %>
