<p id="notice"><%= notice %></p>

<h1>Tar Variables</h1>

<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Owner class</th>
      <th>Owner</th>
      <th>Porcentaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tar_variables.each do |tar_variable| %>
      <tr>
        <td><%= tar_variable.variable %></td>
        <td><%= tar_variable.owner_class %></td>
        <td><%= tar_variable.owner_id %></td>
        <td><%= tar_variable.porcentaje %></td>
        <td><%= link_to 'Show', tar_variable %></td>
        <td><%= link_to 'Edit', edit_tar_variable_path(tar_variable) %></td>
        <td><%= link_to 'Destroy', tar_variable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tar Variable', new_tar_variable_path %>
