<div class="homeBanner">
	<div class="f_lmn_lyt">
		<div class="lft">
			<div class="homeBanLogo">
				addt
				<div class="nm_addt text-white">Abogados derecho del trabajo</div>
			</div>
		</div>
		<div class="rght">
			<div class="homeBanTxt">
				<div class="b_text">
					<h2>Prevención, Investigación y Sanción </br>del Acoso laboral, sexual o de violencia en el trabajo.</h1>
					<h3>Ley Nº 21.643, "Ley Karin"</h2>
				</div>

				<div class="homeBBox">
					<div class="info">
						<div class="pill_1">
							<%= render layout: '0p/layout/tooltip_link', locals: {link: '/publicos/home_prueba#ProductosServicios', tooltip: 'Productos y servicios'} do %>
								<div class="pll_ttl"><%= image_tag 'documento.png', style: 'height:30px;width:auto;' %> Documentación obligatoria
								</div>
							<% end %>
						</div>
						<div class="pill_2">
							<%= render layout: '0p/layout/tooltip_link', locals: {link: '/publicos/home_prueba#ProductosServicios', tooltip: 'Productos y servicios'} do %>
								<div class="pll_ttl"><%= image_tag 'capacitacion.png', style: 'height:30px;width:auto;' %> Capacitación
								</div>
							<% end %>
						</div>
					</div>
				</div>

				<div class="homeBBox">
					<div class="info">
						<div class="pill_1">
							<%= render layout: '0p/layout/tooltip_link', locals: {link: '/publicos/home_prueba#ProductosServicios', tooltip: 'Productos y servicios'} do %>
								<div class="pll_ttl"><%= image_tag 'asesoria.png', style: 'height:30px;width:auto;' %> Asesoría para la implementación
								</div>
							<% end %>
						</div>
						<div class="pill_2">
							<%= render layout: '0p/layout/tooltip_link', locals: {link: '/publicos/home_prueba#ProductosServicios', tooltip: 'Productos y servicios'} do %>
								<div class="pll_ttl"><%= image_tag 'pyme.png', style: 'height:30px;width:auto;' %> Soluciones para empresas pequeñas
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>