<%= render layout: 'mailers/contexts/investigations/document/rprt_dnnc/box_tmplt', locals: {ttl: 'Acciones registradas', fnt_rem: 0.9} do %>
	<% if reporte[:prtcpnts_minimos] || reporte[:coordinacion_apt] || reporte[:vrfccn_solicitada] || reporte[:datos_incmbnts_ok] || reporte[:dnncnt_invstgcn_local] || reporte[:invstgcn_local_externa] || reporte[:evlcn_ok] || reporte[:plz_prnncmnt] %>
		<ol>
			<%# Agregué datos_incmbnts_ok %>
			<% if reporte[:prtcpnts_minimos] %>			<li><%=reporte[:prtcpnts_minimos]%>			</li><% end %>
			<% if reporte[:coordinacion_apt] %>			<li><%=reporte[:coordinacion_apt]%>			</li><% end %>
			<% if reporte[:vrfccn_solicitada] %>		<li><%=reporte[:vrfccn_solicitada]%>		</li><% end %>
			<% if reporte[:datos_incmbnts_ok] %>		<li><%=reporte[:datos_incmbnts_ok]%>		</li><% end %>
			<% if reporte[:dnncnt_invstgcn_local] %>	<li><%=reporte[:dnncnt_invstgcn_local]%>	</li><% end %>
			<% if reporte[:invstgcn_local_externa] %>	<li><%=reporte[:invstgcn_local_externa]%>	</li><% end %>
			<% if reporte[:evlcn_ok] %>					<li><%=reporte[:evlcn_ok]%>					</li><% end %>
			<% if reporte[:plz_prnncmnt] %>				<li><%=reporte[:plz_prnncmnt]%>				</li><% end %>
		</ol>
	<% end %>
<% end %>