<% cdgs  = ClssPrcdmnt.archivos_que_aplican(objeto) %>

<%= render layout: 'mailers/contexts/investigations/document/rprt_dnnc/box_tmplt', locals: {ttl: 'Documentos controlados', fnt_rem: 1} do %>

	<% cdgs.each do |code| %>

		<% archvs 	= objeto.act_archivos.where(act_archivo: code) %>
		<% rlzds 	= objeto.check_realizados.where(cdg: code) %>

		<% ln_clr			= archvs.any? ? 'primary' : (rlzds.any? ? 'success' : 'secondary') %>
		<% icn_sz			= 14 %>

		<div class="row gx-1 text-<%=ln_clr%>">
			<div class="col-10" style="font-size: <%='0.7rem;' if ClssPdfRprt.lista_rprt?(code) %>">
				<% unless ClssPdfRprt.lista_rprt?(code) %>
					<%= bi_icon('file-earmark', width: icn_sz, height: icn_sz, fill: ln_clr) %>
				<% else %>
					<%= bi_icon('list-task', width: icn_sz, height: icn_sz, fill: ln_clr) %>
				<% end %>
				<%=ClssPrcdmnt.act_nombre[code]%>
			</div>
			<div class="col-2 text-end">
				<% unless ClssPdfRprt.lista_rprt?(code) %>

					<%# Archivo único %>
					<% archv = archvs.last %>

					<% if archv %>
						<% if archv.anonimizado_como %>
							<%= bi_icon('diamond-half', width: icn_sz, height: icn_sz, fill: ln_clr) %>
						<% end %>
						<% if rlzds.any? %>
							Pendiente
						<% else %>
							Almacenado
						<% end %>
					<% else %>
						Faltante
					<% end %>
				<% else %>
					<% if act_archivos.none? && chk_rlzds.none? %>
						Lista vacía
					<% end %>				
				<% end %>
			</div>
		</div>

		<% if ClssPdfRprt.lista_rprt?(code) %>
			<div class="ms-3 text-primary">
				<% archvs.each do |archv| %>
					<div class="row gx-1">
						<div class="col-10">
							<%= bi_icon('arrow-return-right', width: icn_sz, height: icn_sz, fill: ln_clr) %>
							<%= bi_icon('file-earmark', width: icn_sz, height: icn_sz, fill: ln_clr) %>
							</i><%=archv.nombre%>
						</div>
						<div class="col-2 text-end">
							Almacenado
						</div>
					</div>
				<% end %>
			</div>
		<% end %>

	<% end %>


<% end %>