<% cdgs.each do |cdg| %>

	<% act_archivos 	= ownr.act_archivos.where(act_archivo: cdg) %>
	<% chk_rlzds 		= ownr.check_realizados.where(cdg: cdg) %>

	<% subido 			= act_archivos&.any? %>

	<% ln_clr			= subido ? 'primary' : (chk_rlzds.any? ? 'success' : 'secondary') %>
	<% icn_sz			= 14 %>
	
	<div class="row gx-1 text-<%=ln_clr%>">
		<div class="col-10">

			<% if ClssPdfRprt.lista_rprt?(cdg) %>
				<%= bi_icon('list-task', width: icn_sz, height: icn_sz, fill: ln_clr) %>
			<% else %>
				<%= bi_icon('file-earmark', width: icn_sz, height: icn_sz, fill: ln_clr) %>
			<% end %>
			<%=ClssPrcdmnt.act_nombre[cdg]%>
		</div>
		<div class="col-2 text-end">

			<% none_txt = ClssPdfRprt.lista_rprt?(cdg) ? 'Lista vacía' : 'Faltante' %>

			<% unless ClssPdfRprt.lista_rprt?(cdg) %>

				<%# Archivo único %>
				<% archv = act_archivos&.last %>

				<% if archv %>
					<% if archv.anonimizado_como %>
						<%= bi_icon('diamond-half', width: icn_sz, height: icn_sz, fill: ln_clr) %>
					<% end %>
					<% if chk_rlzds.any? %>
						Pendiente
					<% else %>
						Almacenado
					<% end %>
				<% else %>
					Faltante
				<% end %>
			<% else %>
				<% if act_archivos.none? && chk_rlzds.none? %>
					Lista vacía
				<% elsif act_archivos.none? && chk_rlzds.any? %>
					Pendiente(s)
				<% end %>				
			<% end %>
		</div>
	</div>

	<% if ClssPdfRprt.lista_rprt?(cdg) %>
		<div class="ms-4 text-primary">
			<% act_archivos.each do |archv| %>

				<div class="row gx-1">
					<div class="col-10">
						<%= bi_icon('arrow-return-right', width: icn_sz, height: icn_sz, fill: ln_clr) %>
						<%= bi_icon('file-earmark', width: icn_sz, height: icn_sz, fill: ln_clr) %>
						<%=archv.nombre%>
					</div>
					<div class="col-2 text-end">
						Almacenado
					</div>
				</div>

			<% end %>
		</div>
	<% end %>

<% end %>
