<!-- PARTICIPANTE -->

<% accns  		= ClssPrcdmnt.acciones_que_aplican(objt) %>
<% cdgs  		= ClssPrcdmnt.archivos_que_aplican(objt) %>

<div class="row gx-1">
	<div class="col-8 fw-bold">
		[CONFIDENCIAL: <%=objt.kywrd[:krn]%>]
	</div>
	<div class="col-4 text-end">
		Datos <%= objt.cmplt? ? 'completos' : 'incompletos' %>
	</div>
</div>

<div class="ms-3">
	<!-- EMAIL PARTICIPANTE -->
	<div class="row gx-1">
		<div class="col-10">
			<% if objt.articulo_516 %>
				El participante solicitó que la información y las notificaciones le sean enviadas por correo certificado.
			<% elsif objt.email %>
				[CONFIDENCIAL: email-<%=objt.kywrd[:krn]%>]
			<% else %>
				El participante no registra una dirección de correo electrónico en la plataforma.
			<% end %>
		</div>
		<div class="col-2 text-end">
			<% unless objt.articulo_516  %>
				

				<% if objt.email? %>
					<% if objt.email_verificado? %>
						Verificado
					<% elsif objt.email_autorizado? %>
						Autorizado
					<% else %>
						Pendiente
					<% end %>
				<% else %>
					Faltante
				<% end %>
			<% end %>
		</div>
	</div>

	<% if objt.articulo_4_1 %>
		<div>Respecto de este participante, resulta aplicable lo dispuesto en el artículo 4°, inciso primero, del Código del Trabajo.</div>
	<% end %>

	<% if objt.email_direccion? %>
		<div class="fw-bold">Información y notificaciones</div>
		<div class="ms-3">
			<%= render partial: 'mailers/contexts/investigations/document/rprt_dnnc/pltfrm_fls', locals: {accns: accns, mdl: ClssPrcdmnt, ownr: objt, lnks: true} %>
		</div>
	<% end %>

	<% if objt.dnnc.krn_inv_denuncias.any? %>
		<div class="fw-bold">Agenda de declaraciones</div>
		<div class="ms-3">
			<%= render partial: 'mailers/contexts/investigations/document/rprt_dnnc/dclrcn_lst', locals: {ownr: objt} %>
		</div>
	<% end %>

	<% unless acts[objt.clss_id][:cdgs].empty? %>
		<div class="fw-bold">Documentos controlados</div>
		<div class="ms-3">
			<%= render partial: 'mailers/contexts/investigations/document/rprt_dnnc/extrns_fls', locals: {cdgs: cdgs, mdl: ClssPrcdmnt, ownr: objt} %>
		</div>
	<% end %>

</div>
