<div class="ln_bjt_app text-<%= ['realizada', 'cancelada'].include?(objeto.estado) or  ( objeto.present? and objeto.fecha < @hoy) ? 'muted' : 'primary' %>">
	<div class="ln_nm">
		<%= render partial: 'actividades/age_actividades/list/nm', locals: {objeto: objeto} %>
	</div>
	<div class="ln_lnks">
		<%= render partial: 'actividades/age_actividades/list/lnks', locals: {objeto: objeto, usuarios: usuarios} %>
	</div>
</div>

<%= render partial: 'notas/shr/cllps_dsply_nw_nt', locals: {objeto: objeto} %>

<%= render layout: '0p/collapse/display', locals: {label: 'CambioFecha', objeto: objeto} do %>
  	<%= render partial: 'actividades/age_actividades/list/frm_cambio_fecha', locals: {objeto: objeto} %>
<% end %>

<%= render partial: '0capitan/objeto/cllps_dsply_info', locals: {objeto: objeto} %>