<div style="padding-left: 1em; padding-right: 1em;">

	<div class="row">
		<div class="col-10">
			<%= render partial: 'actividades/age_actividades/list/elems/fecha', locals: {objeto: objeto} %>
		</div>
		<div class="col-2">
			<small><small>
				<% if objeto.app_perfil_id == perfil_activo.id or admin? %>
					<%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %>
				<% end %>
			</small></small>
		</div>
	</div>

	<div style="padding-left: 1em;">
		<%= render partial: 'actividades/age_actividades/list/elems/actividad', locals: {objeto: objeto} %>
		
		</br>

		<%= render partial: 'actividades/age_actividades/list/elems/cllp_links_recursos', locals: {objeto: objeto} %>

		<%= render partial: 'actividades/age_actividades/list/elems/cllp_display_recursos', locals: {objeto: objeto} %>

	</div>

</div>