<div class="shadow p-1 mb-1 rounded" style="background-color: #e1f5fe;">
	<div class="row">
		<div class="col-6" style="padding-left: 2em;">
			<small><b class="text-<%=objeto[:dyf]%>"><%= dma(objeto[:dia]) %></b></small>
		</div>
		<div class="col-6" align="right" style="padding-right: 2em;">
			<small><b class="text-<%=objeto[:dyf]%>"><%= nombre_dia(objeto[:dia]) %></b></small>
		</div>
	</div>
</div>

<% objeto[:actividades].each do |actividad| %>
	<div class="shadow p-1 mb-1 bg-white rounded">
		<%= render partial: 'actividades/age_actividades/list/objeto', locals: {objeto: actividad} %>
	</div>
<% end %>