<div class="app_bjt">

	<%= render partial: 'actividades/age_actividades/list/bjt', locals: {objeto: objeto, usuarios: usuarios} %>

	<%= render partial: 'actividades/age_usuarios/shr/usrs', locals: {objeto: objeto} %>
	<%= render partial: 'actividades/age_actividades/list/txt', locals: {objeto: objeto} %>

	<%= render partial: 'actividades/age_actividades/list/wrnngs', locals: {objeto: objeto, usuarios: usuarios} %>

	<% unless objeto.age_antecedentes.blank? %>
		<% objeto.age_antecedentes.each do |ntcdt| %>
			<%= render partial: '0p/nota/nota', locals: {nota: ntcdt.nota, clr: ntcdt.color, objeto: ntcdt} %>
		<% end %>
	<% end %>
	<%= render partial: 'notas/shr/notas_pendientes', locals: {objeto: objeto} %>
</div>