		        <tr>
		          <td><i><small><%= objeto.tamanio %></small></i></td>
		          <td><i><small><%= objeto.leve %></small></i></td>
		          <td><i><small><%= objeto.grave %></small></i></td>
		          <td><i><small><%= objeto.gravisima %></small></i></td>
		          <td><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></td>
		        </tr>