<div class="ttl_app">
  <div class="ttl_ttl">
    <%= render partial: '0p/general/gly', locals: {gly: controller_icon['cuestionarios']} %>
    <%= @objeto.cuestionario %>
  </div>
  <div class="ttl_lnks">
    <%= render layout: '0p/layout/tooltip_link', locals: {link: @objeto.pauta, tooltip: 'Volver el nivel superior'} do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
    <%= render partial: '0p/general/gly', locals: {gly: 'dot'} %>
    <%= render layout: '0p/layout/tooltip_link', locals: {link: "/preguntas/new?cid=#{@objeto.id}", tooltip: 'Crea Pregunta'} do %>
      <i class="bi bi-plus-circle"></i>
    <% end %>
  </div>
</div>


<%= render partial: '0p/tabla/tabla', locals: {c: 'preguntas'} %>