<div class="wht_area">

	<div class="txt_hght clr_prmry cntr">
		Sistema de registro y control del <i>Procedimiento de Investigación y Sanción</i></br>
		<%= render partial: '0capitan/app/home/rgstr_emprs_lnk' %>
	</div>

	<div class="row no-gutters">
		<div class="col-lg-4 col-xs-12">
			<%= render partial: '0capitan/app/home/b' %>
		</div>
		<div class="col-lg-4 col-xs-12">
			<%= render partial: '0capitan/app/home/p' %>
		</div>
		<div class="col-lg-4">
			<%= render partial: '0capitan/app/home/p_mas' %>
		</div>
	</div>

	<div class="nw_area txt_hght clr_prmry cntr">
		Outsourcing y Capacitación</br>
		<%#= render partial: '0capitan/app/home/rgstr_emprs_lnk' %>
	</div>

	<div class="row no-gutters">
		<div class="col-lg-4 col-xs-12">
			<%= render partial: '0capitan/app/home/x' %>
		</div>
		<div class="col-lg-4 col-xs-12">
			<%= render partial: '0capitan/app/home/i' %>
		</div>
		<div class="col-lg-4">
			<%= render partial: '0capitan/app/home/g' %>
		</div>
	</div>
</div>