<div class="<%=clss%>">
	<div class="ord">
		<%= render partial: '0p/tabla/links_orden', locals: {objeto: objeto} %>
	</div>
	<div class="nm">
		<% if prtl?(cntrllr(objeto), dir, "o_objt") %>
			<%= render partial: prtl_name(cntrllr(objeto), dir, "o_objt"), locals: {objeto: objeto} %>
		<% end %>
	</div>
	<div class="lnks">
		<% if prtl?(cntrllr(objeto), dir, "lnks") %>
			<%= render partial: prtl_name(cntrllr(objeto), dir, "lnks"), locals: {objeto: objeto} %>
		<% else %>
			<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
		<% end %>
	</div>
</div>
<% if prtl?(cntrllr(objeto), dir, "cllps") %>
	<%= render partial: prtl_name(cntrllr(objeto), dir, "cllps"), locals: {objeto: objeto} %>
<% end %>