<% unless @coleccion[c].blank? or @coleccion[c].empty? %>

  <% if @coleccion[c].count > 10 %>
    <p><%= render partial: '0p/tabla/btn_nuevo', locals: {c: c} %></p>
  <% end %>

  <!-- PAGINACION -->
  <%= render partial: '0p/tabla/paginate', locals: {c: c, location: 'arriba'} %>

  <!-- TABLA -->
  <% if partial?(c, 'list', 'list') %>
    <%= render partial: "#{c}/list/list", locals: {coleccion: @coleccion[c]} %>
  <% else %>
    <%= render partial: '0p/tabla/display_tabla', locals: {c: c} %>
  <% end %>

  <%= render partial: '0p/tabla/paginate', locals: {c: c, location: 'abajo'} if @coleccion[c].count > 15 %>

<% end %>

<%= render partial: '0p/tabla/btn_nuevo', locals: {c: c} %>