<p id="notice"><%= notice %></p>

<p>
  <strong>Hecho:</strong>
  <%= @antecedente.hecho %>
</p>

<p>
  <strong>Riesgo:</strong>
  <%= @antecedente.riesgo %>
</p>

<p>
  <strong>Ventaja:</strong>
  <%= @antecedente.ventaja %>
</p>

<p>
  <strong>Cita:</strong>
  <%= @antecedente.cita %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @antecedente.orden %>
</p>

<p>
  <strong>Causa:</strong>
  <%= @antecedente.causa_id %>
</p>

<%= link_to 'Edit', edit_antecedente_path(@antecedente) %> |
<%= link_to 'Back', antecedentes_path %>
