<p id="notice"><%= notice %></p>

<h1>Age Antecedentes</h1>

<table>
  <thead>
    <tr>
      <th>Orden</th>
      <th>Age antecedente</th>
      <th>Age actividad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @age_antecedentes.each do |age_antecedente| %>
      <tr>
        <td><%= age_antecedente.orden %></td>
        <td><%= age_antecedente.age_antecedente %></td>
        <td><%= age_antecedente.age_actividad_id %></td>
        <td><%= link_to 'Show', age_antecedente %></td>
        <td><%= link_to 'Edit', edit_age_antecedente_path(age_antecedente) %></td>
        <td><%= link_to 'Destroy', age_antecedente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Age Antecedente', new_age_antecedente_path %>
