<p id="notice"><%= notice %></p>

<p>
  <strong>Cfg valor:</strong>
  <%= @cfg_valor.cfg_valor %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cfg_valor.tipo %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @cfg_valor.numero %>
</p>

<p>
  <strong>Palabra:</strong>
  <%= @cfg_valor.palabra %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @cfg_valor.texto %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @cfg_valor.fecha %>
</p>

<p>
  <strong>Fecha hora:</strong>
  <%= @cfg_valor.fecha_hora %>
</p>

<p>
  <strong>Check box:</strong>
  <%= @cfg_valor.check_box %>
</p>

<p>
  <strong>App version:</strong>
  <%= @cfg_valor.app_version_id %>
</p>

<%= link_to 'Edit', edit_cfg_valor_path(@cfg_valor) %> |
<%= link_to 'Back', cfg_valores_path %>
