<% if @objt['fls_invstgcn?'] %>
	<%= render layout: 'cuentas/prtls/proceso/actn' do %>
		<% if @objt['on_dt?'] %>
			<%= render layout: 'cuentas/prtls/proceso/actn' do %>
				<%= render layout: 'cuentas/prtls/proceso/lnk', locals: {fw: 'bold'} do %>
					<%= render partial: '0p/swtch', locals: {objeto: @objeto, tkn: :plz_invstgcn_vncd, prmpt: 'El plazo de investigación en la Dirección del Trabajo veció.', glys: ['arrow-counterclockwise', 'cursor'], stts: ['plazo por vencer', 'plazo vencido']} %>
				<% end %>
			<% end %>
		<% else %>
			<div class="border rounded-2">
				<%= render partial: '0p/proc/etp_frm', locals: {etp: @etp_last, objeto: @objeto, code: 'fecha_trmn', plz_fld: true} %>
			</div>
		<% end %>
	<% end %>
<% end %>