<div class="row gx-1">
	<div class="col-4 ps-1">
		<b>Tribunal:</b>
	</div>
	<div class="col-8 pe-1">
		<b>
		<%= causa.tribunal_corte.tribunal_corte %>
		</b>
	</div>
</div>
<div class="row gx-1">
	<div class="col-4 ps-1">
		<b>Causa:</b>
	</div>
	<div class="col-8 pe-1">
		<b>
		Rit <%= causa.rit %> 
		<i class="bi bi-dot"></i>
		<%= causa.causa %> 
		</b>
	</div>
</div>
<div class="row gx-1">
	<div class="col-4 ps-1">
		<b>Estado:</b>
	</div>
	<div class="col-8 pe-1">
		<%= causa.estado == 'tramitación' ? 'En tramitación' : causa.estado.capitalize %>
	</div>
</div>

<div class="pt-4 app_lnk">
	<%= render layout: '0p/collapse/link', locals: {label: "Petitorio", objeto: causa, tooltip: 'Ingresa/modifica Petitorio'} do %>
		<b>CUANTÍA/PETITORIO</b>
	<% end %>
	<div class="ps-3 text-justify">
		<b>Cuantía:</b> <%= s_pesos(get_total_cuantia(causa, 'real')) %>
		<% if causa.rit[0] == 'T' %>
			<i>Que BancoEstado Centro de Servicios S.A. ha incurrido en conductas que vulneran derechos fundamentales.</i></br>
		<% end %>
		<i><%= causa.resultado %></i> 
	</div>
</div>
