<%= form_with(model: tar_tarifa, local: true) do |form| %>
  <% if tar_tarifa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tar_tarifa.errors.count, "error") %> prohibited this tar_tarifa from being saved:</h2>

      <ul>
      <% tar_tarifa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tarifa %>
    <%= form.text_field :tarifa %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :owner_class %>
    <%= form.text_field :owner_class %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
