<%= render partial: '0p/general/clss_dir_objt_ttl', locals: {clss: 'shw_ttl', dir: 'shw', objt: @objeto, bck: nil} %>

<div class="row gx-1">
	<div class="col">
		<%= render partial: '0p/tbl_ttl', locals: {source: 'tar_pagos', blngs: @objeto, ordr: true} %>

		<% if @objeto.cuantia_tarifa %>
			<hr>
			<%= render partial: '0p/ttl_clss', locals: {source: 'tar_formula_cuantias', clss: :sub, dir: 'indx', blngs: @objeto, hide_gly: true} %>
			<%= render partial: '0p/tbl_clss', locals: {clccn: @coleccion['tar_formula_cuantias'], clss: :head, dir: 'list', typ: 'ln'} %>
		<% end %>
		<hr>

		<%= render partial: '0p/ttl_clss', locals: {source: 'tar_tipo_variables', clss: :sub, dir: 'indx', blngs: @objeto, hide_gly: true} %>
		<%= render partial: '0p/tbl_clss', locals: {clccn: @coleccion['tar_tipo_variables'], clss: :head, dir: 'list'} %>
	</div>
	<div class="col">
		<%= render partial: '0p/tbl_ttl', locals: {source: 'tar_formulas', typ: 'ln', blngs: @objeto, ordr: true} %>
	</div>
</div>