<b><%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tar_tarifas', title: "Tarifa : #{@objeto.tarifa}", link_new: nil} %></b>

<div class="row">
	<div class="col-md-5">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tar_pagos', title: "Pagos", link_new: "/tar_pagos/new?oid=#{@objeto.id}"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_pagos'} %>
	</div>
	<div class="col-md-7">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tar_formulas', title: "Formulas", link_new: "/tar_formulas/new?oid=#{@objeto.id}"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_formulas'} %>
	</div>
</div>
