<%= render partial: '0p/ttl_clss', locals: {source: 'tar_tarifas', clss: :gray, dir: 'shw'} %>

<div class="row gx-1">
	<div class="col">
		<%= render partial: '0p/ttl_clss', locals: {source: 'tar_pagos', clss: :sub, dir: 'indx', blngs: @objeto, hide_gly: true} %>
		<%= render partial: '0p/tbl_clss', locals: {clccn: @coleccion['tar_pagos'], dir: 'list', typ: 'ln', ordr: true} %>

		<% if @objeto.cuantia_tarifa %>
			<hr>
			<%= render partial: '0p/ttl_clss', locals: {source: 'tar_formula_cuantias', clss: :sub, dir: 'indx', blngs: @objeto, hide_gly: true} %>
			<%= render partial: '0p/tbl_clss', locals: {clccn: @coleccion['tar_formula_cuantias'], clss: :head, dir: 'list', typ: 'ln'} %>
		<% end %>
		<hr>

		<%= render partial: '0p/ttl_clss', locals: {source: 'tar_tipo_variables', clss: :sub, dir: 'indx', blngs: @objeto, hide_gly: true} %>
		<%= render partial: '0p/tbl_clss', locals: {clccn: @coleccion['tar_tipo_variables'], clss: :head, dir: 'list'} %>
	</div>
</div>