<%= render partial: '0p/general/ttl_shw', locals: {objeto: @objeto, dir: 'shw', bk_lnk: nil } %>

<div class="f_50lft_col">
	<div class="lft">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tar_pagos', ttl: "Pagos", ownr: @objeto} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_pagos'} %>

		<% if @objeto.cuantia_tarifa %>
			<hr>
			<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tar_formula_cuantias', ttl: "Fórmulas de cuantías", ownr: @objeto} %>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_formula_cuantias'} %>
		<% end %>
		<hr>
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tar_variable_bases', ttl: "Variable base ( % )", ownr: @objeto} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_variable_bases'} %>

	</div>
	<div class="rght">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tar_formulas', ttl: "Fórmulas", ownr: @objeto} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_formulas'} %>
	</div>
</div>