<div class="row">
	<div class="col-9">
		<small>
			<%= objeto.tar_detalle_cuantia %> 
			<% unless objeto.formula_cuantia.blank? %>
				<small class="text-muted">( <%= objeto.formula_cuantia %> )</small>
			<% end %>
		</small>
	</div>
	<div class="col-3" align='right'>
		<%= link_to "/control_documentos/new?clss=#{objeto.class.name}&oid=#{objeto.id}" do %>
			<small><i class="bi bi-plus-circle"></i></small>
		<% end %>
		<small><small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small></small>
	</div>
</div>

<% unless objeto.control_documentos.empty? %>
	<small><small>
		<% objeto.control_documentos.order(:orden).each do |control_documento| %>
			<div class="row">
			<%= render partial: 'repositorios/control_documentos/list/lobjeto', locals: {objeto: control_documento} %>
			</div>
		<% end %>
	</small></small>
<% end %>