<% typ ||= 'tr' %>
<div class="shadow mt-1">
<table class="table table-sm table-borderless table-striped table-hover">
	<tbody>
		<% clccn.each do |objt| %>
			<% if prtl?(objt, 'list', "objeto") %>
				<%= render partial: objt_prtl_name(objt) , locals: {objeto: objt} %>
			<% else %>

				<% case typ %>
				<% when 'tr' %>
					<%= render partial: '0p/tbl/tr', locals: {objt: objt, ordr: ordr, crud: crud} %>
				<% when 'ln' %>
					<%= render partial: '0p/tbl/ln', locals: {objt: objt, ordr: ordr, crud: crud} %>

					<% if prtl?(objt, 'list', "dsply") %>
						<%= render partial: prtl_name(objt, 'list', "dsply"), locals: {objeto: objt} %>
					<% end %>
					<% if prtl?(objt, 'list', "sub") %>
						<%= render partial: prtl_name(objt, 'list', "sub"), locals: {objeto: objt} %>
					<% end %>
				<% when 'frame' %>
					<%= render partial: '0p/objt/objt_frame', locals: {objt: objt} %>
				<% end %>

			<% end %>
		<% end %>
	</tbody>
</table>
</div>