<% lnks ||= nil %>
<% ordr ||= false %>
<% crud ||= nil %>
<% indnt ||= 0 %>
<tr id="<%=cntrllr(objt)%>#cidaaa<%=objt.id%>" style="font-size: 1rem;">
	<% if ordr %>
		<th class="app_lnk" style="padding-left: <%=indnt+1%>rem;"><%= render partial: '0p/tbl/ordr', locals: {objeto: objt} %></th>
	<% end %>
	<td class="app_lnk" style="padding-left: <%=indnt+1%>rem;">
		<% if prtl?(objt, 'list', "objt") %>
			<%= render partial: prtl_name(objt, 'list', "objt"), locals: {objeto: objt} %>
		<% end %>
	</td>
	<% unless crud == 'ttl' %>
		<td class="app_lnk" style="text-align: right; padding-right: <%=indnt+1%>rem;">
			<% case crud %>
			<% when 'lnks' %>
				<%= render partial: prtl_name(objt, 'list', "lnks"), locals: {objeto: objt} %>
			<% when 'mdl' %>
				<%= render partial: '0p/tbl/lnk_u', locals: {objeto: objt} %>
				<%= render partial: '0p/tbl/lnk_d', locals: {objeto: objt} %>
			<% else %>
				<%= render partial: '0p/tbl/lnks_e', locals: {objeto: objt} %>
			<% end %>
		</td>
	<% end %>
</tr>