<div class="app_lnk" style="font-size: 14px;line-height: 1.5;">
	<% if dog? %>
		<%= link_to "/app_recursos/password_recovery?uid=#{objeto.id}" do %>
			<i class="bi bi-person"></i>
		<% end %>
	<% else %>
		<i class="bi bi-person"></i>
	<% end %>
	<%= objeto.email %>
	<% if objeto.confirmed? %>
		<i class="bi bi-check-circle"></i>
	<% end %>
	<%= objeto.tenant.blank? %>
	<%= objeto.roles.map { |r| "#{r.name} → #{r.resource_type}:#{r.resource_id}" } %>|<%=objeto&.tenant&.owner_type%>:<%=objeto&.tenant&.owner_id%>
</div>
