<p id="notice"><%= notice %></p>

<p>
  <strong>Dt materia:</strong>
  <%= @dt_materia.dt_materia %>
</p>

<p>
  <strong>Capitulo:</strong>
  <%= @dt_materia.capitulo %>
</p>

<%= link_to 'Edit', edit_dt_materia_path(@dt_materia) %> |
<%= link_to 'Back', dt_materias_path %>
