<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @m_movimiento.fecha %>
</p>

<p>
  <strong>Glosa:</strong>
  <%= @m_movimiento.glosa %>
</p>

<p>
  <strong>M item:</strong>
  <%= @m_movimiento.m_item_id %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @m_movimiento.monto %>
</p>

<%= link_to 'Edit', edit_m_movimiento_path(@m_movimiento) %> |
<%= link_to 'Back', m_movimientos_path %>
