<%= render partial: '0p/general/ttl_shw', locals: {objeto: @objeto, dir: 'shw', bk_lnk: @objeto.tar_tarifa } %>

<div class="f_30_70_col">
	<div class="lft">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tar_cuotas', ttl: "Cuotas", ownr: @objeto} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_cuotas'} %>    
	</div>
	<div class="rght">
		<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tar_comentarios', ttl: "Comentarios", ownr: @objeto} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_comentarios'} %>    
	</div>
</div>