<p id="notice"><%= notice %></p>

<p>
  <strong>Monto uf:</strong>
  <%= @tar_bas.monto_uf %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @tar_bas.monto %>
</p>

<p>
  <strong>Owner class:</strong>
  <%= @tar_bas.owner_class %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @tar_bas.owner_id %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @tar_bas.perfil_id %>
</p>

<%= link_to 'Edit', edit_tar_bas_path(@tar_bas) %> |
<%= link_to 'Back', tar_bases_path %>
