<% if @objeto.krn_derivaciones.any? %>

	<%= render partial: 'cuentas/prtls/smpl_box', locals: {source: 'krn_derivaciones', dir: 'indx', blngs: @objeto, clss_ttl: 'bg_azul_claro'} %>

	<% if @objeto.solicitud_denuncia and @objeto.on_dt? %>
		<!-- Recibir de vuelta una denuncia desde la DT (solicitada) -->
		<%= render layout: 'cuentas/prtls/proceso/actn' do %>
			<%= render partial: 'cuentas/prtls/proceso/fact', locals: {txt: 'Se solicitó a la Dirección del Trabajo la devolución de la denuncia.'} %>

			<%= render partial: 'karin/prtls/drvr', locals: {objeto: @objeto, codigo: 'rcpcn_dt'} %>
		<% end %>


	<% end %>

	<div class="text-end" style="font-size: 14px;">
		<% if prtl?(@objeto, 'hlp', 'drvcns') %>
			<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_drvcns", ttl: "Gestión de las derivaciones", sz: 'lg'} do %>
				<%= render partial: prtl_name(@objeto, 'hlp', 'drvcns') %>
			<% end %>
		<% end %>
	</div>
<% end %>

<% if @objeto.krn_inv_denuncias.any? %>

	<div class="mx-1 my-2 border rounded-4">
		<div class="p-2 border-bottom fw-bold" style="font-size: 1rem;">
			<i class="bi bi-caret-right-fill"></i> Investigador asignado
		</div>
		<div class="py-2 px-3">
			<%= render partial: '0p/tbl/tbl_clccn', locals: {source: 'krn_inv_denuncias', clccn: @objeto.krn_inv_denuncias, typ: 'ln'} %>
		</div>
	</div>

	<% if prtl?(@objeto, 'hlp', 'invstgdrs') %>
		<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_invstgdrs", ttl: "Asignación del Investigador", sz: 'lg'} do %>
			<%= render partial: prtl_name(@objeto, 'hlp', 'invstgdrs') %>
		<% end %>
	<% end %>

<% end %>