<% if @objt['derivaciones?'] %>
	<%= render partial: 'cuentas/indx/ttl', locals: {source: 'krn_derivaciones', blngs: @objeto, fs: 6} %>
	<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_derivaciones', crud: 'lnks', typ: 'ln'} %>

	<% if @objeto.solicitud_denuncia and @objeto.on_dt? %>
		<!-- Recibir de vuelta una denuncia desde la DT (solicitada) -->
		<%= render layout: 'cuentas/prtls/proceso/actn' do %>
			<%= render partial: 'cuentas/prtls/proceso/fact', locals: {txt: 'Se solicitó a la Dirección del Trabajo la devolución de la denuncia.'} %>

			<%= render partial: 'karin/prtls/drvr', locals: {objeto: @objeto, codigo: 'rcpcn_dt'} %>
		<% end %>


	<% end %>

	<div class="text-end" style="font-size: 14px;">
		<% if prtl?(@objeto, 'hlp', 'drvcns') %>
			<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_drvcns", ttl: "Gestión de las derivaciones", sz: 'lg'} do %>
				<%= render partial: prtl_name(@objeto, 'hlp', 'drvcns') %>
			<% end %>
		<% end %>
	</div>
<% end %>

<% if @objt['rgstrs_ok?'] and (@objeto.investigacion_local or (@objeto.solicitud_denuncia and @objt['on_empresa?'])) %>
	<div class="ps-2">
		<%= render partial: 'cuentas/indx/ttl', locals: {source: 'krn_inv_denuncias', blngs: @objeto, fs: 6} %>
		<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_inv_denuncias', typ: 'ln', crud: 'lnks', new_hnt: true} %>

		<% if prtl?(@objeto, 'hlp', 'invstgdrs') %>
			<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_invstgdrs", ttl: "Asignación del Investigador", sz: 'lg'} do %>
				<%= render partial: prtl_name(@objeto, 'hlp', 'invstgdrs') %>
			<% end %>
		<% end %>
	</div>
<% end %>