<% unless @etps_trmnds.empty? %>

	<%= render layout: 'cuentas/prtls/proceso/actn' do %>
		<%= render layout: 'cuentas/prtls/hint', locals: {fw: 'bold'} do %>
			<div style="font-size: 18px;">Etapas concluidas</div>
		<% end %>

		<div class="row ps-2 fs-xs">
			<% @etps_trmnds.each do |etp_trmnd| %>
				<div class="col-9">
					<%= etp_trmnd[:etapa] %>
				</div>
				<div class="col-3 text-end">
					<div class="text-<%=etp_muted(etp_trmnd[:codigo], ownr) ? 'muted' : (etp_trmnd[:plz_ok] ? 'primary' : 'danger')%>">
						<% unless etp_trmnd[:plz_tag] == 0 or etp_muted(etp_trmnd[:codigo], ownr) %>
							<small><%= etp_trmnd[:plz_tag].abs %> dia<%='s' if etp_trmnd[:plz_tag].abs > 1%> <%=etp_trmnd[:plz_tag] > 0 ? 'antes' : 'despues' %></small>
						<% end %>
						<% if etp_trmnd[:plz_ok] %>
							<i class="bi bi-calendar-check"></i>
						<% else %>
							<i class="bi bi-calendar-x"></i>
						<% end %>
						<%= dma(etp_trmnd[:plz]) %>
					</div>
				</div>
			<% end %>
			<!--hr-->
		</div>
	<% end %>

<% end %>