<% unless @etps_trmnds.empty? %>
	<div class="px-2 pt-2 border">
		<div class=" px-1 bg_gray" style="font-size: 18px;"><b>Etapas concluidas</b></div>
		
		<table class="table table-sm table-borderless table-striped table-hover">
			<tbody>
				<% @etps_trmnds.each do |etp_trmnd| %>
					<% clr = etp_muted(etp_trmnd[:codigo], ownr) ? 'muted' : (etp_trmnd[:plz_ok] ? 'primary' : 'danger') %>
					<% clndr_type = etp_trmnd[:plz_ok] ? 'check' : 'x' %>
					<tr>
						<td><%= etp_trmnd[:etapa] %></td>
						<td class="text-end text-muted">
							<%= dma(etp_trmnd[:plz]) %>
						</td>
						<td class="text-end text-<%=clr%>">
							<% if etp_trmnd[:plz_fecha].blank? %>
								-
							<% else %>
								<% if etp_trmnd[:plz_tag] == 0 %>
									<!--i class="bi bi-check2-all"></i-->
								<% else %>
									(<%=-etp_trmnd[:plz_tag]%>) 
								<% end %>
								<%= dma(etp_trmnd[:plz_fecha]) %>
								<i class="bi bi-calendar-<%=clndr_type%>"></i>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

<% end %>