<%= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'encbzd'), locals: {objeto: objeto} %>
<%= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'etps_rlzds'), locals: {objeto: objeto} %>
<%= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'drvcns_invstgdrs'), locals: {objeto: objeto} %>
<%= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'info_prtcpnts'), locals: {objeto: objeto} %>
<%= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'etp_rcpcn'), locals: {objeto: objeto} %>
<%= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'etp_invstgcn'), locals: {objeto: objeto} %>

<!-- DERIVACIONES -->
<!--div class="row gx-1 mt-2 mx-5 px-2 border-bottom" style="font-size: 14px;">

	<%#= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'drvcns'), locals: {objeto: objeto} %>
	<%#= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'crr'), locals: {objeto: objeto} %>
	<%#= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'invstgdr'), locals: {objeto: objeto} %>
	<%#= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'evlcn'), locals: {objeto: objeto} %>

</div-->

<div class="mx-1 my-2 border rounded-4">
	<div class="p-2 border-bottom fw-bold" style="font-size: 1rem;">
		<i class="bi bi-caret-right-fill"></i> Documentos controlados de la denuncia
	</div>
	<div class="py-2 px-3">
		<%= render partial: 'repositorios/act_archivos/dsply_list', locals: {hsh: @acts_hsh, mdl: ClssPrcdmnt, ownr: @objeto, lnks: false} %>
	</div>
</div>
<hr>
<%= render partial: prtl_name(objeto, 'shw/proceso/reporte', 'docs_prtcpnts'), locals: {objeto: objeto} %>
