<%# Se necesita un source %>
<% source        ||= 'home' %>

<% cntxt_clss    ||= ClssTtl.cntxt_clss(source) %>
<% clss          ||= cntxt_clss.clss_dflt %>
<% dir           ||= clss.to_s %>

<%# --- SAFE LOOKUP: fallback a clss_dflt si la variante no existe --- %>
<% lyt_entry     = cntxt_clss.lyt[clss] || cntxt_clss.lyt[cntxt_clss.clss_dflt] %>

<% row_clss      ||= lyt_entry[:clss_str] %>
<% row_styl      ||= lyt_entry[:styl_str] %>

<% col_lft       ||= 10 %>

<% hide_lnks     ||= false %>
<% hide_gly      ||= false %>

<% ownr          ||= nil %>
<% blngs         ||= nil %>

<div class="row mb-1 <%= row_clss %> responsive-ttl" style="<%= row_styl %>" >

  <div class="col-<%=col_lft%> ps-2 rb-col-lft">

    <% unless hide_gly %>
      <i class="bi bi-<%= controller_icon[cntrllr(source)] %>"></i>
    <% end %>

    <% if prtl?(source, dir, 'objt') %>
      <%= render partial: prtl_name(source, dir, 'objt'), locals: {ownr: ownr, blngs: blngs} %>
    <% else %>
      <%= to_name(source).pluralize %>
    <% end %>

  </div>
  <div class="col-<%=12 - col_lft%> pe-2 text-end rb-col-rgt">

    <% unless hide_lnks %>
      <% if prtl?(source, dir, 'lnks') %>
        <%= render partial: prtl_name(source, dir, 'lnks'), locals: {ownr: ownr, blngs: blngs} %>
      <% end %>
      <% if prtl?(source, dir, 'plldwn_lnks') %>
        <%= render partial: prtl_name(source, dir, 'plldwn_lnks'), locals: {ownr: ownr, blngs: blngs} %>
      <% else %>
        <%= render partial: '0t/lnk_new', locals: {source: source, ownr: ownr, blngs: blngs}%>
      <% end %>
    <% end %>

  </div>

</div>

<% if prtl?(source, dir, 'cllps') %>
  <%= render partial: prtl_name(source, dir, 'cllps'), locals: {ownr: ownr, blngs: blngs} %>
<% end %>

<% if prtl?(source, dir, 'lst') %>
  <%= render partial: prtl_name(source, dir, 'lst'), locals: {ownr: ownr, blngs: blngs} %>
<% end %>