<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'tipo_causas', title: "Tipo de causa : #{@objeto.tipo_causa}", link_new: nil} %>

<div class="row">
	<div class="col-lg-4 col-xs-12">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'audiencias', title: "Audiencias", link_new: "/tipo_causas/#{@objeto.id}/audiencias/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'audiencias'} %>
	</div>
	<div class="col-lg-4 col-xs-12">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'variables', title: "Variables", link_new: "/tipo_causas/#{@objeto.id}/variables/new"} %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'variables'} %>
	</div>
	<div class="col-lg-4">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'app_documentos', title: "Control documentos", link_new: "/control_documentos/new?clss=#{@objeto.class.name}&oid=#{@objeto.id}"} %>

		<div class="shadow p-3 mb-3 bg-white rounded">
		<% @objeto.control_documentos.order(:orden).each do |control| %>
			<small>
			<div class="row">
				<div class="col-lg-2">
					<%= render partial: '0p/tabla/btns_orden', locals: {objeto: control} %> 
				</div>
				<div class="col-lg-8">
					<b>
					<% if control.tipo == 'Documento' %>
						<i class="bi bi-files"></i>
					<% elsif control.tipo == 'Archivo' %>
						<i class="bi bi-file"></i>
					<% end %> 
					<% if control.control == 'Requerido' %>
						<i class="bi bi-check2-square"></i>
					<% end %>
					<%= control.nombre %> 
					</b>
				</div>
				<div class="col-lg-2" align='right'>
					<small><%= render partial: '0p/tabla/links_e', locals: {objeto: control} %></small>
				</div>
			</div>
			<% unless control.descripcion.blank? %>
			<div style="padding-left: 2em; padding-right: 1em;">
				<small>
					<i class="bi bi-arrow-right"></i> <%= control.descripcion %>
				</small>
			</div>
			<% end %>
			</small>
		<% end %>
		</div>
	</div>
</div>
