<div class="ttl_app">
	<div class="ttl_ttl">
		<%= render partial: '0p/general/gly', locals: {gly: controller_icon['tar_valor_cuantias']} %>
		Cuantía
	</div>
	<div class="ttl_lnks">
		<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/cuantia_to_xlsx", tooltip: 'Exportar a Excel'} do %>
			<i class="bi bi-download"></i>
		<% end %>
		<i class="bi bi-dot"></i>
		<%= render layout: '0p/layout/tooltip_link', locals: {link: "/tar_valor_cuantias/new?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}", tooltip: 'Agregar item a cuantía'} do %>
			<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %>
		<% end %>
	</div>
</div>

<% unless objeto.valores_cuantia.empty? %>
	<div class="app_box">
		<%= render partial: 'causas/shr/detalle_cuantia', locals: {objeto: objeto, porcentaje_cuantia: false, valores_cuantia: valores_cuantia, clss: 'ln_vlr_cnt'} %>
	</div>
<% end %>