<%= render partial: '0p/general/ttl_indx', locals: {cntrllr: 'tar_valor_cuantias', ttl: 'Cuantía', ownr: objeto} %>

<% if @audiencia_preparatoria.blank? %>
	<%= render layout: '0p/collapse/display', locals: {label: 'AudienciaPreparatoria', objeto: nil} do %>
		<%= render partial: 'actividades/shr/form_actividad', locals: {tipo: 'A', causa_id: objeto.id, cu: 'c', audiencia: 'Audiencia preparatoria' } %>
	<% end %>
<% end %>
<% unless objeto.demandantes.empty? %>
	<div class="app_box">
		<%= render partial: 'causas/shr/list_demandantes', locals: {objeto: objeto} %>
	</div>
<% else %>
	<div class="objt">
		<small class="text-danger"><i class="bi bi-cone-striped"></i>No se pueden ingresar cuantías hasta tener al menos un demandante.</small>
	</div>
<% end %>
<% unless objeto.valores_cuantia.empty? %>
	<div class="app_box">
		<%= render partial: 'causas/shr/list_cuantia', locals: {objeto: objeto, porcentaje_cuantia: false } %>
	</div>
<% end %>

<% if @audiencia_preparatoria.present? %>
	<div class="ttl_ln">
		<div class="ttl_ttl">
			Fecha audiencia preparatoria : 
			<%= dma_hm(@audiencia_preparatoria.fecha) %>
		</div>
		<div class="ttl_lnks">
			<%= render partial: '0p/tabla/links_e', locals: {objeto: @audiencia_preparatoria} if dog? %>
		</div>
	</div>
<% end %>