<%= render partial: '0capitan/general/app_ttl', locals: {c: 'variables', title: "Datos", link: nil, tooltip: nil } %>

<% unless variables.empty? %>
<!-- DATOS -->
<div class="app_box">

	<div class="f_50lft_col">

		<% variables.each do |variable| %>

			<div class="lbjt_box">
				<%= render layout: '0p/collapse/link', locals: {label: 'FormValor', objeto: variable, tooltip: 'ingresa/modifica'} do %>
						<%= variable.detalle %> 
						<% unless variable.valor_variable(objeto).blank? %>
							<%= link_to "/causas/#{objeto.id}/elimina_valor?vid=#{variable.id}", title: "Eliminar #{variable.variable}", 'data-toggle' => 'tooltip', 'data-placement' => 'right'	do %>
								<small><i class="bi bi-trash"></i></small> 
							<% end %>
						<% end %>
				<% end %> </br>


					<div style='padding-left: 1em;'>
					<%= render partial: 'dts/variables/list/valor_variable', locals: {objeto: variable, causa: objeto} %>
					</div>

				<%= render layout: '0p/collapse/display', locals: {label: 'FormValor', objeto: variable} do %> 
				  	<%= render partial: 'causas/shw/datos_cuantia/datos/form_valor', locals: {causa: objeto, variable: variable} %>
				<% end %>
			</div>

		<% end %>
	</div>
</div>

<% end %>