<% fecha_uf 	= objt.fecha_uf.present? ? objt.fecha_uf : Date.current %>
<% uf_calculo 	= TarUfSistema.find_by(fecha: fecha_uf) %>

<div class="row gx-1 px-2">
	<div class="col">
		<i class="bi bi-coin"></i>
		Tarifa : 
		<%= objt.tar_servicio.descripcion unless objt.tar_servicio.blank? %> 
		<i class="bi bi-dot"></i>
		<%= s_moneda(objt.tar_servicio.moneda, objt.tar_servicio.monto) unless objt.tar_servicio.blank? %>
		  ( UF del <%= dma(objt.fecha_uf) %> : 
		  <%= uf_calculo.nil? ? 'UF no ingresada' : s_pesos2(uf_calculo&.valor) %> ) 
	</div>
	<div class="col text-end">
		<% if objt.tar_facturaciones.none? %>
			<% if objt.moneda.blank? or objt.monto.blank? %>
				<%= render layout: '0p/collapse/link', locals: {label: 'Asesoria', objeto: objt, tooltip: "#{objt.tar_servicio.blank? ? 'Nueva' : 'Modifica'}" } do %>
					<% if  objt.tar_servicio.blank? %>
						<i class="bi bi-plus-circle"></i>
					<% else %>
						<i class="bi bi-pencil"></i>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<% if objt.tar_facturaciones.none? %>
	<% if objt.moneda.blank? or objt.monto.blank? %>
		<%= render layout: '0p/collapse/display', locals: {label: 'Asesoria', objeto: objt} do %>
			<%= render partial: prtl_name('asesorias', 'lst/dtl', 'frm_tar_servicio'), locals: {objeto: objt} %>
		<% end %>
	<% end %>
<% end %>
