<div class="row gx-1">
  <div class="col-lg-6 col-xs-12">
    <%= render partial: '0p/tbl_ttl', locals: {source: 'age_actividades', lnks: 'prtl'} %>

    <%# if dog? %>
      <%#= render layout: '0p/tltp_lnk', locals: {lnk: "/publicos/encuesta?sk=@#{@session_name}", tltp: 'Deseo haecr la encuesta'} do %>
        <!--Encuesta-->
      <%# end %>
    <%# end %>
  </div>
  <div class="col-lg-6">
    <%= render partial: '0p/ttl_tbl', locals: {source: 'notas', lnks: 'prtl'} unless @usuario.blank? %>

    <%= render layout: '0p/collapse/display', locals: {label: 'Personaliza', objeto: nil} do %>
      <%= render partial: 'actividades/age_actividades/partials/form_nombre' %>
    <% end %>

    <%= render partial: '0p/tbl/tbl', locals: {source: 'notas'} unless @usuario.blank? %>
  </div>
</div>

<!--iframe src="https://scribehow.com/embed/How_To_Access_Acoso_Laboral_Notification_For_Eda_Spa__o1D_r8MBQtmfyt-PfHICnw?as=video" width="100%" height="640" allowfullscreen frameborder="0"></iframe-->