<div class="py-2 text-center" style="color: #3c6e71;">
  <%#= image_tag 'logo/logo_blue_a300.webp', class: 'img-fluid' %>
  <div class="my-2 fs-2">Un completo portafolio de servicios para todas sus necesidades</div>
  <div style="font-size: .7rem;">
    SERVICIOS
    <i class="bi bi-dot"></i>
    CONSULTORIA
    <i class="bi bi-dot"></i>
    CAPACITACIÓN
  </div>
</div>

<!--div class="row gx-1 gy-1 mt-3 px-3 text-center text-white" style="font-size: 1.1rem;margin: 0 5%;">
  <%#= render partial: 'home/box/prdct_box', locals: {tkn: :formales, txt: 'Auditoría de las exigencias formales', rndd: 'rounded-top', clr: '#757bc8'} %>
  <%#= render partial: 'home/box/prdct_box', locals: {tkn: :legales, txt: 'Auditoría de los aspectos legales', clr: '#8187dc'} %>
  <%#= render partial: 'home/box/prdct_box', locals: {tkn: :externas, txt: 'Externalización de investigaciones', clr: '#8e94f2'} %>
  <%#= render partial: 'home/box/prdct_box', locals: {tkn: :implementacion, txt: 'Consultoría de implementación', clr: '#9fa0ff'} %>
  <%#= render partial: 'home/box/prdct_box', locals: {tkn: :capacitacion, txt: 'Capacitación', clr: '#ada7ff'} %>
  <%#= render partial: 'home/box/prdct_box', locals: {tkn: :asesoria, txt: 'Asesoría legal', rndd: 'rounded-bottom', clr: '#bbadff'} %>
</div-->


<div class="mt-3 px-3 text-center text-white" style="font-size: 1.1rem;margin: 0 5%;">

  <%= render partial: 'home/box/prdct_line', locals: {tkn: :formales, txt: 'Auditoría de las exigencias formales', rndd: 'rounded-top', clr: '#757bc8'} %>
  <%= render partial: 'home/box/prdct_line', locals: {tkn: :legales, txt: 'Auditoría de los aspectos legales', clr: '#8187dc'} %>
  <%= render partial: 'home/box/prdct_line', locals: {tkn: :externas, txt: 'Externalización de investigaciones', clr: '#8e94f2'} %>
  <%= render partial: 'home/box/prdct_line', locals: {tkn: :implementacion, txt: 'Consultoría de implementación', clr: '#9fa0ff'} %>
  <%= render partial: 'home/box/prdct_line', locals: {tkn: :capacitacion, txt: 'Capacitación', clr: '#ada7ff'} %>
  <%= render partial: 'home/box/prdct_line', locals: {tkn: :asesoria, txt: 'Asesoría legal', rndd: 'rounded-bottom', clr: '#bbadff'} %>

</div>