<% unless prrfs.empty? %>
<div class="mx-1 p-2 bg-white border shadow" style="font-size: 12px;line-height: 1.2;">
	<div class="p-2 text-center fw-bold">
		<%= doc.lgl_documento %>:<%= prrfs.count %>
	</div>
	<ul>
		<% prrfs.each do |prrf| %>
			<%= prrf.codigo %>
			<li><%= render partial: '0p/mdl/lnk', locals: {txt: prrf.referencia.split(',')[1], cdg: 'Parrafos'} %></li>
			<%= render partial: '0p/mdl/mdl', locals: {sz: 'lg', scrll: true, cdg: 'Parrafos', ttl: prrf.referencia.split(',')[1], prtl: prtl_name(prrf, 'frame', 'frame'), lcls: {objeto: prrf}} %>
		<% end %>
	</ul>
</div>
<% end %>
