<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @tar_convenio.fecha %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @tar_convenio.monto %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tar_convenio.estado %>
</p>

<p>
  <strong>Tar factura:</strong>
  <%= @tar_convenio.tar_factura_id %>
</p>

<%= link_to 'Edit', edit_tar_convenio_path(@tar_convenio) %> |
<%= link_to 'Back', tar_convenios_path %>
