<div class="ttl_lnks">
	<div class="ttl">
		<% if objeto.estado == 'realizado' %>
			<i class="bi bi-check-lg text-primary"></i>
		<% else %>
			<i class="bi bi-circle-fill text-<%=objeto.prioridad%>"></i> 
		<% end %>
		<span class="text-<%=objeto.text_color %>">
			<%= dma_hm(objeto.created_at) %>
		</span>
	</div>
	<div class="lnks">
		<% unless objeto.estado == 'realizado' %>
			<%= render partial: 'actividades/age_pendientes/list/elems/set_prioridad', locals: {objeto: objeto} %>
		<% end %>

		<%= link_to "/age_pendientes/#{objeto.id}/realizado_pendiente", title: "#{objeto.estado == 'pendiente' ? 'Marcar como realizada' : 'Marcar como pendiente' }", 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
			<% if objeto.estado == 'realizado' %>
				<i class="bi bi-arrow-left"></i> 
			<% else %>
				<i class="bi bi-check-lg"></i>
			<% end %>
		<% end %>

		<% unless objeto.estado == 'realizado' %>
			<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
		<% end %>
	</div>
</div>