<!-- RUTA desde donde se llama -->
<%= hidden_field_tag :orgn, params[:orgn] %>   <!-- fuera del scope de f -->

<%#= render partial: '0p/lbld_inpts/select', locals: { form: form, token: :tipo, sel_list: ['Audiencia', 'Reunión'], label: 'Tipo de actividad' } %>
<h4 class="px-1 text-primary"><%= @objeto.tipo %></h4>

<% if @objeto.tipo == 'Audiencia' %>
	<%#= render partial: '0p/lbld_inpts/select', locals: { form: form, token: :age_actividad, sel_list: ClssActvdd.actvdd.values, label: 'Actividad' } %>
	<h5 class="px-1 text-primary"><%= @objeto.age_actividad %></h5>
<% else %>
	<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :age_actividad, label: 'Actividad' } %>
<% end %>

<%= render partial: '0p/lbld_inpts/datetime_clndr', locals: { form: form, token: :fecha, label: 'Fecha' } %>

<% unless @objeto.tipo == 'Audiencia' %>
	<%= render partial: '0p/lbld_inpts/check_box', locals: { form: form, token: :privada, label: 'privada!' } %>
<% end %>

<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :ownr_type } %>
<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :ownr_id } %>
<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :app_perfil_id } %>
<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :estado } %>

<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :tipo} %>
<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :fecha } if action_name == 'edit' %>
<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :age_actividad } if @objeto.tipo == 'Audiencia' %>