<div class="row">
	<div class="col-lg-7 col-xs-12">

		<%= render partial: 'actividades/age_actividades/partials/semana_nav' %>

		<% @vector_dias.each do |dia_semana| %>
			<%= render partial: 'actividades/age_actividades/list/objeto_dia', locals: {objeto: dia_semana} %>
		<% end %>
		
	</div>
	<div class="col-lg-5">
		<% unless @usuario.blank? %>
			<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'age_pendientes', title: "Pendientes de #{@usuario.age_usuario}", link_new: "/age_pendientes/new?uid=#{@usuario.id}"} %>

			<%= render partial: '0p/tabs/tabs', locals: {token: :tab} %>
			<%= render partial: "/actividades/age_pendientes/display", locals: {owner: @usuario} %>
		<% end %>
	</div>
</div>