<div class="m_rght_w">
	<div class="lft">
		<%= render partial: 'actividades/age_actividades/partials/semana_nav' %>
		<% @vector_dias.each do |dia_semana| %>
			<%= render partial: 'actividades/age_actividades/list/objeto_dia', locals: {objeto: dia_semana} %>
		<% end %>
	</div>
	<div class="rght">
		<% unless @usuario.blank? %>
			<div class="ac_ttl">
					<div class="ttl_ttl">
						<i class="bi bi-list-check"></i> 
						<%= @usuario.age_usuario %>
					</div>
					<div class="ttl_lnks">
						<%= render layout: '0p/layout/tooltip_link', locals: {link: "/age_pendientes/new?uid=#{@usuario.id}", tooltip: 'Nuevo pendiente'} do %>
							<i class="bi bi-plus-circle"></i>
						<% end %>
					</div>
			</div>

			<%= render partial: '0p/tabs/tabs', locals: {token: :tab} %>
			<%= render partial: "/actividades/age_pendientes/display", locals: {owner: @usuario} %>
		<% end %>
	</div>
</div>