<div class="row">
	<div class="col-lg-7 col-xs-12">

		<%= render partial: 'actividades/age_actividades/partials/semana_nav' %>

		<% @vector_dias.each do |dia_semana| %>
			<%= render partial: 'actividades/age_actividades/list/objeto_dia', locals: {objeto: dia_semana} %>
		<% end %>
		
	</div>
	<div class="col-lg-5">
		<% unless @usuario.blank? %>
			<div class="age-titulo">
				<div class="row">
					<div class="col-10">
						<i class="bi bi-list-check"></i> 
						<%= @usuario.age_usuario %>
					</div>
					<div class="col-2" align='right'>
						<%= render layout: '0p/layout/tooltip_link', locals: {link: "/age_pendientes/new?uid=#{@usuario.id}", tooltip: 'Nuevo pendiente'} do %>
							<i class="bi bi-plus-circle"></i>
						<% end %>
					</div>
				</div>
			</div>

			<%= render partial: '0p/tabs/tabs', locals: {token: :tab} %>
			<%= render partial: "/actividades/age_pendientes/display", locals: {owner: @usuario} %>
		<% end %>
	</div>
</div>