<div class="titulo">
  <div class="text-info" style='padding-left: 1em; padding-right: 1em;'>
    <h5 class="text-info">

      <% if @objeto.tipo == 'Audiencia' %>
        <i class="bi bi-bank2"></i>
      <% elsif @objeto.tipo == 'Reunión' %>
        <i class="bi bi-people"></i>
      <% elsif @objeto.tipo == 'Tarea' %>
        <i class="bi bi-list-check"></i>
      <% end %> 

      <%= "#{@objeto.tipo} : #{@objeto.age_actividad}" %>
    </h5>
    <%#= render partial: 'estados/st_bandejas/partials/change_state', locals: {objeto: @objeto} %>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-xs-12">
    <%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'app_perfiles', title: 'Participantes', link_new: nil} %>

    <%= render partial: 'actividades/age_actividades/list/participantes', locals: {objeto: @objeto} %>
  </div>
  <div class="col-lg-9">
    <%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'age_antecedentes', title: 'Antecedentes', link_new: "/age_antecedentes/new?aid=#{@objeto.id}"} %>

    <%= render partial: '0p/tabla/tabla', locals: {c: 'age_antecedentes'} %>
  </div>
</div>