<% if @objeto.documento_control %>
	<div class="text-info"><i class="bi bi-file"></i> <%= @objeto.app_archivo %></div>
<% else %>
	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Archivo', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :app_archivo, label: 'archivo' } %>
<% end %>
</br>

<%= render partial: '0p/form_fields/file', locals: { form: form, token: :archivo } %>

<% unless @objeto.documento_control %>
	<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :owner_class } %>
<% end %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :owner_class } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :owner_id } %>
