<div class="mb-3">
	<%= form.label(token, label) unless label.blank? %>
	<label for="<%=token.to_s%>">
	<% radio_list.each_with_index do |radio, indice| %>
		<% if indice == 0 %>
			<%= form.radio_button token, radio, checked: true %>
		<% else %>
			<%= form.radio_button token, radio %>
		<% end %>
		<span><%=radio%></span>
	<% end %>
	</label>
</div>