<div class="hc_box">
	<div class="f_200pxlft_col">
		<div class="lft">
			<%= image_tag 'logo_tyc.png', size: "50x50" %>	
		</div>
	</div>
</div>

<div class="hc_box">
	<div class="f_200pxlft_col">
		<div class="lft">
			Causa RIT</br>
			Caratulado</br>
			Tribunal</br>
		</div>
		<div class="rght">
			: <%= @objeto.rit %>
				<%= render layout: '0p/tltp_lnk', locals: {lnk: @objeto, tltp: @objeto.class.name} do %>
					<i class="bi bi-box-arrow-up-right"></i>
				<% end %>
				</br>
			: <%= @objeto.causa.gsub('BEX', @objeto.cliente.razon_social) %>
				<%= link_to @objeto.cliente do %>
					<i class="bi bi-box-arrow-up-right"></i>
				<% end %>
				</br>
			: <%= @objeto.tribunal_corte.tribunal_corte %></br>
		</div>
	</div>
</div>

<div class="hc_box">
	<b>
	<div class="f_50lft_col">
		<h6>SOLICITUD DE DOCUMENTOS</h6>
		<div class="lft">
			HECHOS DE LA CAUSA
		</div>
		<div class="rght">
			DOCUMENTOS
		</div>
	</div>
	</b>
</div>

<% @objeto.hechos.order(:orden).each do |hecho| %>
	<div class="hc_box">
		<div class="f_50lft_col">
			<div class="lft">
				<b><%=hecho.s_hecho%></b></br>
				<i><%= hecho.descripcion %></i>
			</div>
			<div class="rght">
				<% hecho.antecedentes.order(:orden).each do |antec| %>
					<b>Nº <%=antec.orden%></b>
					<%= antec.solicitud %></br>
				<% end %>
				<i class="bi bi-cone-striped"></i>
				Por favor aportar información requerida o cualquier documento o antecedente relacionado con este hecho.
			</div>
		</div>
	</div>
<% end %>