<%= render partial: 'organizacion/servicios/aprobacion/encabezado_aprobacion', locals: {objeto: @objeto} %>

<% @coleccion['tar_calculos'].each do |tar_calculo| %>

	<div class="border border-2 mb-1 p-2">
		<div class="border-bottom pb-2">
			<%= render partial: "tarifas/tar_calculos/shr/titulo_aprobacion", locals: {objeto: tar_calculo} %>

			<% if ['Asesoria', 'Cargo'].include?(tar_calculo.ownr_type) %>
				<%= render partial: "causas/shw/tarifa_pagos/aprobacion/encabezado_asesoria", locals: {objeto: tar_calculo.ownr, pago: (tar_calculo.tar_pago unless tar_calculo.tar_pago.blank? ), ownr: tar_calculo.ownr} %>
			<% elsif controller_name == 'servicios' %>
				<%= render partial: "causas/shw/tarifa_pagos/aprobacion/encabezado_calculo", locals: {objeto: tar_calculo.ownr, cll: tar_calculo, ownr: tar_calculo.ownr} %>
			<% else %>
				<%= render partial: "causas/shw/tarifa_pagos/aprobacion/encabezado", locals: {objeto: tar_calculo.ownr, pago: (tar_calculo.tar_pago unless tar_calculo.tar_pago.blank? ), ownr: tar_calculo.ownr} %>
			<% end %>

			<% if tar_calculo.ownr.class.name == 'Causa' %>
				<% if tar_calculo.tar_pago.requiere_uf == true and uf_fecha(get_fecha_calculo(tar_calculo.ownr, tar_calculo.tar_pago)).blank? %>
					<small><b class="text-danger">UF del dia <%= dma(get_fecha_calculo(tar_calculo.ownr, tar_calculo.tar_pago)) %> no encontrada</b></small>
				<% end %>
			<% end %>
		</div>


		<div class="row gx-1 mt-1 mx-2">
			<div class="col-6 pe-2">
				<% if tar_calculo.ownr.class.name == 'Causa' %>
					<div style="font-size: .5rem;line-height: 1.5;">
						<% if controller_name == 'servicios' %>
							<b>Detalle Cuantía</b>
						<% end %>

						<% unless tar_calculo.ownr.demandantes.empty? %>
							<%= render partial: 'causas/shr/list_demandantes', locals: {objeto: tar_calculo.ownr} %>
						<% end %>
						<% unless tar_calculo.ownr.tar_valor_cuantias.empty? %>
							<%= render partial: 'causas/shr/list_cuantia', locals: {objeto: tar_calculo.ownr, porcentaje_cuantia: false } %>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="col-6 ps-2">
				<% if tar_calculo.ownr.class.name == 'Causa' %>
					<% unless tar_calculo.tar_pago.requiere_uf == true and uf_fecha(get_fecha_calculo(tar_calculo.ownr, tar_calculo.tar_pago)).blank? %>
						<div style="font-size: .5rem;line-height: 1.5;">
							<%= render partial: 'causas/shw/tarifa_pagos/aprobacion/comentarios_pago', locals: {pago: tar_calculo.tar_pago, causa: tar_calculo.ownr } %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

<% end %>

<b>
<div class="row gx-1 border rounded-4" style="font-size: 1rem;line-height: 1.5;">
	<div class="col-8">
		TOTAL APROBACIÓN
	</div>
	<div class="col-4">
		<small>
			<%= s_uf(@total_uf) %>
			<i class="bi bi-arrow-left-right"></i>
		</small>
		<b><%= s_pesos(@total_pesos) %></b>
	</div>
</div>
</b>