<p><%= image_tag 'logo_tyc.png' %></p>
<h4>
	<i class="bi bi-cash-coin"></i>
	Aprobación de pagos para facturar 
</h4>
<h5>
	<i class="bi bi-building"></i>
	<%= "#{@objeto.cliente.razon_social} : #{dma(@objeto.fecha)}"%> 
	<%= link_to @objeto do %>
		<i class="bi bi-box-arrow-up-right"></i>
	<% end %>
</h5>

<% @objeto.tar_facturaciones.each do |facturacion| %>


	<div class='row'>
		<div class="col-md-8">

			<p><b>
				<%= facturacion.tipo_owner %> : 
				<% if facturacion.padre.class.name == 'Causa' %>
					<%= facturacion.padre.rit %> 
					<%= link_to "/causas/#{facturacion.padre.id}?html_options[menu]=Facturacion" do %>
						<i class="bi bi-box-arrow-up-right"></i> | 
					<% end %>
				<% end %>
				<%= facturacion.owner_description %> 
			</b></p>
			<small><%= link_to 'Ver reporte', facturacion.owner, target: :_blank if facturacion.owner.class.name == 'RegReporte' %></small>
			<% if ['Causa', 'Consultoria'].include?(facturacion.padre.class.name) %>
				<%#= render partial: 'tarifas/partials/despliegue_tarifa', locals: {objeto: facturacion.padre, pago: facturacion.pago} %>
				<%= render partial: 'causas/partials/despliega_pago', locals: {objeto: facturacion.padre, pago: facturacion.pago} %>
				<%= render partial: 'tarifas/partials/detalle_cuantia', locals: {objeto: facturacion.padre} if facturacion.owner.class.name == 'Causa' %>
			<% end %>
		</div>
		<div class="col-md-4"></div>
	</div>

	<hr>
			
<% end %>
<h4><%= "TOTAL FACTURA : #{s_uf(@objeto.aprob_total_uf)} | #{s_pesos(@objeto.aprob_total_pesos)}" %></h5>