<div class="shadow p-3 mb-3 bg-white rounded">
	<%= render partial: 'organizacion/servicios/aprobacion/encabezado_aprobacion', locals: {objeto: @objeto} %>
</div>

<% @coleccion['tar_facturaciones'].each do |tar_facturacion| %>

	<div class="titulo">
		<div style='padding-left: 1em;'>
			<%= render partial: "#{tar_facturacion.owner.class.name.tableize}/partials/titulo_show", locals: {objeto: tar_facturacion.owner} %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<% if tar_facturacion.owner.class.name == 'Causa' %>
			<%= tar_facturacion.tar_pago.blank? %>
			<%= tar_facturacion.tar_pago.id %>
			<%= tar_facturacion.porcentaje_cuantia %>
			<div class="shadow p-3 mb-1 bg-white rounded">
				<div style='padding-left: 1em; padding-right: 1em;'>
					<%= render partial: 'causas/partials/detalle_cuantia', locals: {objeto: tar_facturacion.owner, porcentaje_cuantia: tar_facturacion.porcentaje_cuantia} if tar_facturacion.owner.class.name == 'Causa'%>
				</div>
			</div>
			<% end %>
		</div>
		<div class="col-lg-6">
			<div class="shadow p-3 mb-3 bg-white rounded">
				<div style='padding-left: 1em;'>
					<%= render partial: 'organizacion/servicios/aprobacion/encabezado_pago', locals: {objeto: tar_facturacion, owner: tar_facturacion.owner} %>
					<%= render partial: 'causas/partials/pago_comentarios', locals: {pago: tar_facturacion.tar_pago, causa: tar_facturacion.owner } if tar_facturacion.owner.class.name == 'Causa' %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="titulo">
	<h4>
	<div class="row">
		<div class="col-6">
			TOTAL APROBACIÓN
		</div>
		<div class="col-6" align='right'>
			<small>
				<%= s_uf(@objeto.aprob_total_uf) %>
				<i class="bi bi-arrow-left-right"></i>
			</small>
			<b><%= s_pesos(@objeto.aprob_total_pesos) %></b>
		</div>
	</div>
	</h4>
</div>
