<div class="cntnt_box">
	<%= render partial: 'organizacion/servicios/auditoria/encabezado', locals: {objeto: @objeto} %>
</div>

<% @coleccion['causas'].each do |causa| %>
	<div class="cntnt_box">

		<div class="row gx-3">
			<div class="col-6">
				<%= render partial: prtl_name('servicios', 'auditoria', 'lft'), locals: {causa: causa} %>
			</div>
			<div class="col-6 app_lnk">
				<%= render partial: prtl_name('servicios', 'auditoria', 'rght'), locals: {causa: causa} %>
			</div>
		</div>

		<%= render layout: '0p/collapse/display', locals: {label: 'Resultado', objeto: causa} do %>
			<%= render partial: prtl_name('servicios', 'auditoria', 'frm_rsltd'), locals: {causa: causa} %>
		<% end %>

		<%= render layout: '0p/collapse/display', locals: {label: 'Estimacion', objeto: causa} do %>
			<%= render partial: prtl_name('servicios', 'auditoria', 'frm_estmcn'), locals: {causa: causa} %>
		<% end %>

	</div>
<% end %>
