<h4 class="text-info">
	<i class="bi bi-person"></i> 
	Empleado : <%= @objeto.d_rut %> | <%= @objeto.empleado %>
</h4>
<small>
	<%= link_to "/servicios/organizacion?oid=#{@objeto.padre_cliente.id}" do %>
		<i class="bi bi-arrow-left"></i><i class="bi bi-diagram-3"></i> <%= @objeto.padre_cliente.razon_social %>
	<% end %>
</small>

<div class="row">
	<div class="col-lg-3 col-xs-12">
		<%= render partial: 'repositorios/app_archivos/partials/show_archivos', locals: {objeto: @objeto} %>
		<hr>
		<%= render partial: 'recursos/app_enlaces/partials/show_enlaces', locals: {objeto: @objeto} %>
	</div>
	<div class="col-lg-9">
	</div>
</div>