<tr>
<td><%= dma (objt.fecha) %></td>
<td><%= objt.descripcion %></td>
<td>
	<% if objt.relacionable %>
		<i class="bi bi-check-circle"></i>
		<%= objt.relacionable.class.name %>
	<% else %>
		Pendiente
	<% end %>
</td>
<td class="text-end"><%= objt.descripcion_rut %></td>
<td><%= objt.tipo_movimiento %></td>
<td class="text-end"><%= s_pesos(objt.monto) %></td>
</tr>