<div class="row">
	<div class="col-8">
		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'app_repos', title: 'Documentos, archivos y enlaces', link_new: nil} %>

		<div class="shadow p-3 mb-3 bg-white rounded">

			<%= render partial: 'repositorios/app_documentos/partials/list', locals: {coleccion: @coleccion['app_documentos']} %>
			<%= render partial: 'repositorios/app_archivos/partials/list', locals: {coleccion: @coleccion['app_archivos']} %>
			<%= render partial: 'recursos/app_enlaces/partials/list', locals: {coleccion: @coleccion['app_enlaces']} %>

		</div>
	</div>
	<div class="col-4">
		<div class="shadow p-3 mb-1 bg-white rounded">
			<h6 class="text-info" align="center"><i class="bi bi-plus-circle"></i></h6>
			<hr>

			<%= render partial: 'repositorios/app_documentos/partials/panel', locals: {objeto: objeto, pendientes: @d_pendientes} %>
			<%= render partial: 'repositorios/app_archivos/partials/panel', locals: {objeto: objeto, pendientes: @a_pendientes} %>
			<%= render partial: 'recursos/app_enlaces/partials/panel', locals: {objeto: objeto} %>

		</div>
	</div>
</div>