<div class="shadow p-3 mb-3 bg-white rounded">

	<%= link_to root_path do %>
		<h3 class="text-info" align="center"><%= version_activa.blank? ? 'app' : version_activa.app_sigla %></h3>
	<% end %>
	<%#= render partial: '0p/lmenu/usuario_activo' %>

	<div align='right' style="line-height: 13px;">
		<%= render layout: '0p/collapse/link', locals: {label: 'Links', objeto: nil, tooltip: 'Despliega'} do %>
			<small><small><i class="bi bi-arrow-bar-down"></i> Enlaces</small></small>
		<% end %>
	</div>

	<%= render layout: '0p/collapse/display', locals: {label: 'Links', objeto: nil} do %>
		<%= render partial: '0p/lmenu/despliega_enlaces' %>
	<% end %>

	<%= render partial: '0p/lmenu/display_menu', locals: {menu_sym: menu_left?(controller)} %>


	<small>
	<i class="bi bi-<%=controller_icon['Tabla'.tableize]%>"></i> 
	<b class="text-muted"><%= modelo_item('Tabla') %></b>
	<%= render partial: 'aplicacion/tablas/menu_tablas' %>

	<i class="bi bi-<%=controller_icon['MModelo'.tableize]%>"></i> 
	<b class="text-muted"><%= modelo_item('MModelo') %></b>

	</br>
	<%= render partial: 'modelos/m_modelos/partials/cuentas_periodos', locals: {objeto: @objeto } %>
	</small>

	<% if admin? %>
		<hr>
		<div class="text-info text-center">Administración</div>

		<%= render partial: '0p/lmenu/display_menu', locals: {menu_sym: :admin} %>
	<% end %>

	<% if dog? %>
		<hr>
		<div class="text-info text-center">App</div>

		<%= render partial: '0p/lmenu/display_menu', locals: {menu_sym: :dog} %>
	<% end %>
</div>