<%#= render partial: prtl_name(@objeto, 'shw/proceso', 'drvcns_invstgdrs') %>

<%= render layout: 'cuentas/prtls/proceso/actn' do %>
	<div class="border rounded-2">
		<%= render partial: '0p/proc/etp_frm', locals: {etp: @etp_last, objeto: @objeto, code: 'fecha_prnncmnt', plz_fld: true} %>
	</div>
<% end %>

<%= render layout: 'cuentas/prtls/proceso/actn' do %>
	<%= render layout: 'cuentas/prtls/proceso/lnk', locals: {fw: 'bold'} do %>
		<%= render partial: '0p/swtch', locals: {objeto: @objeto, tkn: :prnncmnt_vncd, prmpt: 'El plazo para recibir el pronunciamiento venció.', glys: ['arrow-counterclockwise', 'cursor'], stts: ['plazo no vencido', 'plazo vencido']} %>
	<% end %>
<% end %>