<%= form_with(model: tipo_asesoria, local: true) do |form| %>
  <% if tipo_asesoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_asesoria.errors.count, "error") %> prohibited this tipo_asesoria from being saved:</h2>

      <ul>
      <% tipo_asesoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipo_asesoria %>
    <%= form.text_field :tipo_asesoria %>
  </div>

  <div class="field">
    <%= form.label :facturable %>
    <%= form.check_box :facturable %>
  </div>

  <div class="field">
    <%= form.label :documento %>
    <%= form.check_box :documento %>
  </div>

  <div class="field">
    <%= form.label :archivos %>
    <%= form.check_box :archivos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
