<p id="notice"><%= notice %></p>

<h1>Tipo Asesorias</h1>

<table>
  <thead>
    <tr>
      <th>Tipo asesoria</th>
      <th>Facturable</th>
      <th>Documento</th>
      <th>Archivos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_asesorias.each do |tipo_asesoria| %>
      <tr>
        <td><%= tipo_asesoria.tipo_asesoria %></td>
        <td><%= tipo_asesoria.facturable %></td>
        <td><%= tipo_asesoria.documento %></td>
        <td><%= tipo_asesoria.archivos %></td>
        <td><%= link_to 'Show', tipo_asesoria %></td>
        <td><%= link_to 'Edit', edit_tipo_asesoria_path(tipo_asesoria) %></td>
        <td><%= link_to 'Destroy', tipo_asesoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo Asesoria', new_tipo_asesoria_path %>
