<!--div class="row"-->
	<div class="col-2">
		<small><%= render partial: '0p/tabla/links_orden', locals: {objeto: objeto} %></small>
	</div>
	<div class="col-10">
		<small>
			<b><%= objeto.columna%></b> <i class="bi bi-arrow-right-circle"></i> <i><%= objeto.m_elemento%></i> <small>[ <%= objeto.registro%> ]</small></br>
			<small>
				<%= objeto.tipo%>
				<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
			</small>
		</small>
	</div>
<!--/div-->