<i class="bi bi-arrow-return-right"></i>
<b class='text-muted'><%= 'Cuentas corrientes' %></b></br>

<% cuentas_corrientes.each do |cuenta| %>
	<div class="cuentas_elemento" style= 'padding-left: 1em;'>
		<% if cuenta == objeto %>
			<b><i class="bi bi-arrow-right"></i>  <%= cuenta.m_cuenta %></b>
		<% else %>
			<%= link_to "m_modelos?id=c_#{cuenta.id}" do %>
				<div class="text-muted"><%= cuenta.m_cuenta %></div>
			<% end %>
		<% end %>
	</div>
<% end %>

<i class="bi bi-arrow-return-right"></i>
<b class='text-muted'><%= 'Períodos' %></b></br>

<% periodos.each do |periodo| %>
	<div class="periodo_elemento" style= 'padding-left: 1em;'>
		<% if periodo == objeto %>
			<b><i class="bi bi-arrow-right"></i>  <%= periodo.m_periodo %></b>
		<% else %>
			<%= link_to "m_modelos?id=p_#{periodo.id}" do %>
				<div class="text-muted"><%= periodo.m_periodo %></div>
			<% end %>
		<% end %>
	</div>
<% end %>