<div class="row">
<% modelo_negocios_general.m_conceptos.order(:orden).each do |concepto| %>
	<div class="col-lg-6">
		<small><b><%= concepto.m_concepto %></b></small>
	</div>
	<div class="col-lg-3 text-right">
		<small><b><%= concepto.total_periodo(objeto) == 0 ? '-' : s_pesos(concepto.total_periodo(objeto)) %></b></small>
	</div>
	<div class="col-lg-3 text-right">
		<small><b><%= concepto.presupuesto == 0 ? '-' : s_pesos(concepto.presupuesto) %></b></small>
	</div>

	<% concepto.m_items.order(:orden).each do |item| %>
		<div class="col-lg-6" style='padding-left: 1em'>
			<%= render layout: '0p/collapse/link', locals: {label: 'Item', objeto: item, tooltip: 'Registros'} do %>
				<small><i class="bi bi-dot"></i> <%= item.m_item %></small>
			<% end %>
		</div>
		<div class="col-lg-3 text-right">
			<small><%= item.total_periodo(objeto) == 0 ? '-' : s_pesos(item.total_periodo(objeto)) %></small>
		</div>
		<div class="col-lg-3 text-right text-info">
			<small><%= item.presupuesto_seguro == 0 ? '-' : s_pesos(item.presupuesto) %></small>
		</div>

		<div class="col-lg-12">
			<%= render layout: '0p/collapse/display', locals: {label: 'Item', objeto: item} do %>
			  	<% objeto.m_registros.where(m_item_id: item.id).order(fecha: :desc).each do |reg| %>
			  		<small><small>
			  			<%= reg.glosa_banco %> | 
			  			<b><%= s_pesos(reg.monto) %></b></br>
			  		</small></small>
			  	<% end %>
			<% end %>
		</div>
	<% end %>
<% end %>
</div>
