<div class="my-1">
	<%= form_for :monto_conciliacion, url: "/monto_conciliaciones/nuevo?cid=#{objeto.id}" do |form| %>

		<div class="row gx-1">
			<div class="col-11">
				<%= render partial: '0p/lbld_inpts/select', locals: { form: form, token: :tipo, sel_list: MontoConciliacion::TIPOS, label: 'Tipo' } %>
				<div class="row gx-1">
					<div class="col">
						<%= render partial: '0p/lbld_inpts/date', locals: { form: form, token: :fecha, label: 'Fecha' } %>
					</div>
					<div class="col">
						<%= render partial: '0p/lbld_inpts/number_raw', locals: { form: form, token: :monto, label: 'Monto' } %>
					</div>
				</div>
			</div>
			<div class="col-1 text-end">
				<button type="submit" class="btn btn-primary">
				  <i class="bi bi-caret-right icon-white"></i>
				</button>
			</div>
		</div>

		</br>

		<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :causa_id } %>

	<% end  %>
</div>