<div class="app_lnks">
	<% if finanzas? and objeto.tar_facturaciones.any? %>
		<div class="pago">
			<% objeto.tar_facturaciones.order(:created_at).each do |facturacion| %>
				<div class="ln_app">
					<div class="ln_nm">
						<%= facturacion.tar_pago.blank? ? '-' : facturacion.tar_pago.tar_pago %>
					</div>
					<div class="ln_lnks">
						<% if facturacion.tar_aprobacion.present? or facturacion.tar_factura.present? %>
							<% if facturacion.tar_aprobacion.present? %>
								<%= link_to facturacion.tar_aprobacion do %>
									<i class="bi bi-check-all"></i> 
									<%= dma(facturacion.tar_aprobacion.fecha) %>
								<% end %>
							<% end %>
							<% if facturacion.tar_factura.present? %>
								<i class="bi bi-arrow-right"></i>
								<%= link_to facturacion.tar_factura do %>
									<i class="bi bi-receipt"></i> 
									<%= dma(facturacion.tar_factura.fecha_factura) %> 
									<%= facturacion.tar_factura.estado %>
								<% end %>
							<% end %>
							<i class="bi bi-dot"></i>
						<% end %>
						<%= s_pesos(facturacion.monto_pesos) %>
					</div>
				</div>
				<% if facturacion.tar_aprobacion.present? or facturacion.tar_factura.present? %>
			    	</br>
			    <% end %>
			<% end %>
		</div>
		<hr>
	<% end %>
</div>