<div class="border rounded-4">
	<div class="border-bottom text-center bg_azul_claro clr_azul_oscuro fs-5">Denuncia por Ley 21.643 (Ley Karin)</div>

	<div class="px-3">

		<table class="table table-sm table-striped">
			<tbody>
				<tr class="fw-bold">
					<td>Identificador</td>
					<td><%=@rprt[:identificador]%></td>
				</tr>
				<tr class="fw-bold">
					<td><%=@rprt[:ownr_type]%></td>
					<td><%=@rprt[:razon_social]%></td>
				</tr>
				<tr class="fw-bold">
					<td>Motivo de la denuncia</td>
					<td><%=@rprt[:motivo]%></td>
				</tr>
			</tbody>
		</table>

		<ul>
			<li><%=@rprt[:receptor]%></li>
			<li><%=@rprt[:canal]%></li>
			<li><%=@rprt[:denunciante]%></li>
		</ul>

	</div>
</div>