<div class="row gx-1 mx-5 px-2 border-bottom" style="font-size: 14px;">
	<!-- EMPRESA | CLIENTE -->
	<%= render partial: '0p/proc/ln', locals: {glosa: objeto.ownr.class.name, valor: objeto.ownr_razon_social, bld: true} %>

	<!-- FECHA HORA RECEPCIÓN -->
	<%= render partial: '0p/proc/ln', locals: {glosa: "Fecha y hora de la recepción", valor: dma_hm(objeto.fecha_hora), bld: true, align: 'right'} %>

	<!-- MOTIVO DE LA DENUNCIA -->
	<%= render partial: '0p/proc/ln', locals: {glosa: "Motivo de la denuncia", valor: objeto.motivo_denuncia, bld: true} %>

	<!-- RECEPTOR DE LA DENUNCIA -->
	<% if objeto.receptor_denuncia == 'Empresa' %>
		<%= render partial: '0p/proc/ln', locals: {glosa: "Denuncia recibida en nuestra empresa"} %>
	<% elsif objeto.receptor_denuncia == 'Empresa externa' %>
		<%= render partial: '0p/proc/ln', locals: {glosa: "Empresa que recibió la denuncia", valor: objeto.krn_empresa_externa.razon_social, bld: true} %>
	<% else %>
		<%= render partial: '0p/proc/ln', locals: {glosa: "Denuncia recibida en la Dirección del Trabajo.", bld: true} %>
	<% end %>

	<!-- CANAL DE DENUNCIA -->
	<% if objeto.via_declaracion == 'Presencial' %>
		<%= render partial: '0p/proc/ln', locals: {glosa: "Denuncia presentada en forma presencial", valor: objeto.tipo_declaracion} %>
	<% else %>
		<%= render partial: '0p/proc/ln', locals: {glosa: "Canal de denuncia", valor: objeto.via_declaracion} %>
	<% end %>

	<% if objeto.presentado_por == 'Representante' %>
		<%= render partial: '0p/proc/ln', locals: {glosa: "Denunciante representado por", valor: objeto.representante} %>
	<% else %>
		<%= render partial: '0p/proc/ln', locals: {glosa: "Denuncia presentada por la persona denunciante"} %>
	<% end %>
</div>