<div class="my-1 border rounded-4">
	<div class="px-3 border-bottom bg_azul_claro clr_azul_oscuro" style="font-size: 1rem;">Estado de los datos de los participantes</div>

	<div class="px-3">

		<table class="table table-sm table-striped">
			<tbody>
				<% @rprt[:estructura].krn_denunciantes.each do |dnncnt| %>
					<tr class="fw-bold">
						<td>[CONFIDENCIAL: <%="DNNCNT-#{dnncnt.id}"%>]</td>
					</tr>
					<tr>
						<td class="ps-4">La persona denunciante <%='no' if dnncnt.krn_testigos.none?%> presenta testigos.</td>
					</tr>
					<tr>
						<td class="ps-4">Los datos de la persona denunciante <%='no' unless dnncnt.cmplt?%> están completos.</td>
					</tr>
					<tr>
						<td class="ps-4">La información y notificaciones de la investigación serán enviadas por correo <%= dnncnt.articulo_516 ? ' certificado' : 'electrónico'%></td>
					</tr>
					<% if dnncnt.articulo_4_1 %>
						<tr>
							<td class="ps-4">Para este participante aplica el artículo 4 inciso primero del Código del Trabajo.</td>
						</tr>
					<% end %>
				<% end %>
				<% @rprt[:estructura].krn_denunciados.each do |dnncd| %>
					<tr class="fw-bold">
						<td>[CONFIDENCIAL: <%="DNNCD-#{dnncd.id}"%>]</td>
					</tr>
					<tr>
						<td class="ps-4">La persona denunciada <%='no' if dnncd.krn_testigos.none?%> presenta testigos.</td>
					</tr>
					<tr>
						<td class="ps-4">Los datos de la persona denunciada <%='no' unless dnncd.cmplt?%> están completos.</td>
					</tr>
					<tr>
						<td class="ps-4">La información y notificaciones de la investigación serán enviadas por correo <%= dnncd.articulo_516 ? ' certificado' : 'electrónico'%></td>
					</tr>
					<% if dnncd.articulo_4_1 %>
						<tr>
							<td class="ps-4">Para este participante aplica el artículo 4 inciso primero del Código del Trabajo.</td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>

		<ul>
			<li><%=@rprt[:prtcpnts_minimos]%></li>
			<li><%=@rprt[:coordinacion_apt]%></li>
			<li><%=@rprt[:infrmcn_slctd]%></li>
		</ul>

	</div>
</div>