	<div class="row" style="line-height: 13px;">
		<div class="col-6" align='center'>
			<small><small>
			<% unless ['Audiencia', 'Hito'].include?(objeto.tipo) %>
				<% unless objeto.estado == 'realizada' or objeto.fecha < @hoy %>
					<%= render partial: 'actividades/age_actividades/list/elems/set_prioridad', locals: {objeto: objeto} %>
				<% end %>

				<%= render partial: 'actividades/age_actividades/list/elems/set_estado', locals: {objeto: objeto} %>
				<%= render partial: 'actividades/age_actividades/list/elems/set_privada', locals: {objeto: objeto} %>
			<% end %>
			</small></small>
		</div>
		<div class="col-6" align='center'>
			<small><small>
			<%= render layout: '0p/collapse/link', locals: {label: 'Info', objeto: objeto, tooltip: 'info'} do %>
				<i class="bi bi-info-circle"></i> info
			<% end %>
			<%= render layout: '0p/collapse/link', locals: {label: 'NuevoAntecedente', objeto: objeto, tooltip: 'Nuevo antecedente'} do %>
				<i class="bi bi-plus-circle"></i>
			<% end %>
			</small></small>
		</div>
	</div>
