<div class="row">
	<div class="col-10">
		<%= render partial: 'repositorios/app_documentos/list/obj_info', locals: {objeto: objeto.app_documento} %>
		<small><b><%= objeto.establece.blank? ? 'sin revisar' : objeto.establece %></b></small>
	</div>
	<div class="col-2" align='right'>
		<small>
		<%= link_to "/hechos/#{objeto.hecho.id}/remueve_documento?did=#{objeto.app_documento.id}" do %>
			<i class="bi bi-trash"></i>
		<% end %>
		<%= link_to "/hecho_docs/#{objeto.id}/cambia_tag" do %>
			<i class="bi bi-tag"></i> 
		<% end %>
		
		</small>
		<%= render partial: 'repositorios/app_documentos/list/obj_e', locals: {objeto: objeto.app_documento} %>
	</div>
</div>