<div id="<%= dom_id denunciado %>">
  <p>
    <strong>Denuncia:</strong>
    <%= denunciado.denuncia_id %>
  </p>

  <p>
    <strong>Tipo denunciado:</strong>
    <%= denunciado.tipo_denunciado_id %>
  </p>

  <p>
    <strong>Denunciado:</strong>
    <%= denunciado.denunciado %>
  </p>

  <p>
    <strong>Vinculo:</strong>
    <%= denunciado.vinculo %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= denunciado.rut %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= denunciado.cargo %>
  </p>

  <p>
    <strong>Lugar trabajo:</strong>
    <%= denunciado.lugar_trabajo %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= denunciado.email %>
  </p>

</div>
