<%= form_with(model: denunciado) do |form| %>
  <% if denunciado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(denunciado.errors.count, "error") %> prohibited this denunciado from being saved:</h2>

      <ul>
        <% denunciado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :denuncia_id, style: "display: block" %>
    <%= form.number_field :denuncia_id %>
  </div>

  <div>
    <%= form.label :tipo_denunciado_id, style: "display: block" %>
    <%= form.number_field :tipo_denunciado_id %>
  </div>

  <div>
    <%= form.label :denunciado, style: "display: block" %>
    <%= form.text_field :denunciado %>
  </div>

  <div>
    <%= form.label :vinculo, style: "display: block" %>
    <%= form.text_field :vinculo %>
  </div>

  <div>
    <%= form.label :rut, style: "display: block" %>
    <%= form.text_field :rut %>
  </div>

  <div>
    <%= form.label :cargo, style: "display: block" %>
    <%= form.text_field :cargo %>
  </div>

  <div>
    <%= form.label :lugar_trabajo, style: "display: block" %>
    <%= form.text_field :lugar_trabajo %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
