<p style="color: green"><%= notice %></p>

<%= render @denunciado %>

<div>
  <%= link_to "Edit this denunciado", edit_denunciado_path(@denunciado) %> |
  <%= link_to "Back to denunciados", denunciados_path %>

  <%= button_to "Destroy this denunciado", @denunciado, method: :delete %>
</div>
