<%= form_with(model: tar_aprobacion, local: true) do |form| %>
  <% if tar_aprobacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tar_aprobacion.errors.count, "error") %> prohibited this tar_aprobacion from being saved:</h2>

      <ul>
      <% tar_aprobacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.number_field :cliente_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
