<%= form_with(model: act_referencia) do |form| %>
  <% if act_referencia.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(act_referencia.errors.count, "error") %> prohibited this act_referencia from being saved:</h2>

      <ul>
        <% act_referencia.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :act_archivo_id, style: "display: block" %>
    <%= form.number_field :act_archivo_id %>
  </div>

  <div>
    <%= form.label :ref_type, style: "display: block" %>
    <%= form.text_field :ref_type %>
  </div>

  <div>
    <%= form.label :ref_id, style: "display: block" %>
    <%= form.number_field :ref_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
