<p style="color: green"><%= notice %></p>

<%= render @act_referencia %>

<div>
  <%= link_to "Edit this act referencia", edit_act_referencia_path(@act_referencia) %> |
  <%= link_to "Back to act referencias", act_referencias_path %>

  <%= button_to "Destroy this act referencia", @act_referencia, method: :delete %>
</div>
