<% if @objeto.tipo == 'Sancion' %>
	<h3>Lista de Sanciones de la Investigación</h3>
<% else %>
	<h3>Lista de medidas de protección y resguardo <%= @objeto.tipo %></h3>
<% end %>
<div class='form-row'>
	<%= render partial: '0p/frm_flds/select', locals: { form: form, token: :emisor, sel_list: ['Empresa', 'Empresa externa', 'Direccion del Trabajo'], prompt: nil, label: 'Emisor de la lista' } %>
</div>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :tipo } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :ownr_type } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :ownr_id } %>