<div class="row">
	<div class="col-lg-2 col-xs-12">
		<%= render partial: '0p/lbld_inpts/number', locals: { form: form, token: :orden, label: 'Orden' } %>
	</div>
	<div class="col-lg-2 col-xs-12">
		<%= render partial: '0p/lbld_inpts/number', locals: { form: form, token: :monto, label: 'Monto' } %>
	</div>
	<div class="col-lg-2 col-xs-12">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :unidad, label: 'unidad' } %>
	</div>
	<div class="col-lg-6 col-xs-12">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :dt_criterio_multa, label: 'Criterio' } %>
	</div>
</div>

<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :dt_tabla_multa_id } %>