<%= form_with(model: dt_criterio_multa, local: true) do |form| %>
  <% if dt_criterio_multa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dt_criterio_multa.errors.count, "error") %> prohibited this dt_criterio_multa from being saved:</h2>

      <ul>
      <% dt_criterio_multa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dt_tabla_multa_id %>
    <%= form.number_field :dt_tabla_multa_id %>
  </div>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :monto %>
    <%= form.text_field :monto %>
  </div>

  <div class="field">
    <%= form.label :unidad %>
    <%= form.text_field :unidad %>
  </div>

  <div class="field">
    <%= form.label :dt_criterio_multa %>
    <%= form.text_field :dt_criterio_multa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
