<p id="notice"><%= notice %></p>

<h1>Dt Criterio Multas</h1>

<table>
  <thead>
    <tr>
      <th>Dt tabla multa</th>
      <th>Orden</th>
      <th>Monto</th>
      <th>Unidad</th>
      <th>Dt criterio multa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dt_criterio_multas.each do |dt_criterio_multa| %>
      <tr>
        <td><%= dt_criterio_multa.dt_tabla_multa_id %></td>
        <td><%= dt_criterio_multa.orden %></td>
        <td><%= dt_criterio_multa.monto %></td>
        <td><%= dt_criterio_multa.unidad %></td>
        <td><%= dt_criterio_multa.dt_criterio_multa %></td>
        <td><%= link_to 'Show', dt_criterio_multa %></td>
        <td><%= link_to 'Edit', edit_dt_criterio_multa_path(dt_criterio_multa) %></td>
        <td><%= link_to 'Destroy', dt_criterio_multa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dt Criterio Multa', new_dt_criterio_multa_path %>
