<p id="notice"><%= notice %></p>

<p>
  <strong>Dt tabla multa:</strong>
  <%= @dt_criterio_multa.dt_tabla_multa_id %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @dt_criterio_multa.orden %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @dt_criterio_multa.monto %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @dt_criterio_multa.unidad %>
</p>

<p>
  <strong>Dt criterio multa:</strong>
  <%= @dt_criterio_multa.dt_criterio_multa %>
</p>

<%= link_to 'Edit', edit_dt_criterio_multa_path(@dt_criterio_multa) %> |
<%= link_to 'Back', dt_criterio_multas_path %>
