<%= render partial: '0p/general/head_objt', locals: {clss: 'prtcpnts_objt' ,objeto: objeto, ownr: nil} %>

<div style="padding-left: 1rem;">
	<%= render partial: '0p/general/clss_dir_c_ttl', locals: {clss: 'prtcpnts_ttl', dir: 'indx', source: 'audiencias', ownr: objeto} %>
	<%= render partial: '0p/tabla/list', locals: {clccn: objeto.audiencias.order(:orden)} %>
</div>

<div style="padding-left: 1rem;">
	<%= render partial: '0p/general/clss_dir_c_ttl', locals: {clss: 'prtcpnts_ttl', dir: 'indx', source: 'control_documentos', ownr: objeto} %>
	<%= render partial: '0p/tabla/list', locals: {clccn: objeto.control_documentos.order(:orden)} %>
</div>