<div class="row gx-1 text-center" style="margin-top: 6rem;">
	<div class="col-lg-6 col-xs-12">
		<div class="text-center">
			<%= image_tag 'home/prcdmnt.png', width: "550" %>
		</div>
	</div>
	<div class="col-lg-6 mt-5">
		<%= render partial: prtl_name('publicos', 'home/public_home/laborsafe', 'crctrstc'), locals: {txt: 'Gestione la recepción e investigacion de sus denuncias.'} %>
		<%= render partial: prtl_name('publicos', 'home/public_home/laborsafe', 'crctrstc'), locals: {txt: 'Controle la documentación obligatoria de su carpeta de investigación.'} %>
		<%= render partial: prtl_name('publicos', 'home/public_home/laborsafe', 'crctrstc'), locals: {txt: 'Use la plataforma para enviar la información, notificaciones y capacitación obligatorias.'} %>
		<%= render partial: prtl_name('publicos', 'home/public_home/laborsafe', 'crctrstc'), locals: {txt: 'Controla fácilmente los plazos legales desde la plataforma.'} %>
		<!-- Cambiar tipografía -->
		<%= render partial: prtl_name('publicos', 'home/public_home/laborsafe', 'crctrstc'), locals: {txt: '¿Empresa principal o usuaria? Descubra nuestra versión extendida.'} %>
		<%#= render partial: prtl_name('publicos', 'home/public_home/laborsafe', 'crctrstc'), locals: {txt: 'Externalice sus investigaciones con nosotros y garantice un cumplimiento exhaustivo de la ley.'} %>
		<%#= render partial: prtl_name('publicos', 'home/public_home/laborsafe', 'crctrstc'), locals: {txt: 'Le asesoramos en la implementación de la ley y contamos con módulos de Capacitación para sus trabajadores.'} %>
	</div>
</div>
<!--div class="text-center">
	<%#= image_tag 'ejemplo2.png', width: "700" %>
</div-->