<% price ||= '-' %>
<% nota  ||= nil %>
<% renovacion ||= nil %>
<div class="text-center text-primary">
	<div class="mb-2">
		<%= image_tag 'logo/logo_ls_120.png', style: 'height:100%;width:auto;' %>
	</div>
	<div class="mb-2 fw-bold", style="font-size: 22px;">
		<%= version %>
	</div>
</div>
<div class="p-1 text-justify text-primary" style="height: 180px;font-size: 18px;line-height: 1.5;">
	<%= yield %>
</div>
<div class="py-1 fs-3 text-center border rounded-pill text-bg-primary">
	<%= price %>
	<div style="font-size: 12px"><%= nota %></div>
</div>
<div class="mt-1 text-center" style="font-size: 12px">* <%= renovacion %></div>