<div class="mt-4 text-center">
	<%= image_tag 'ls_logo_100.png', width: "100" %>
</div>

<div class="mt-4 mx-5 px-5" style="font-size: 14px; line-height: 1.5;">

	<div class="row gx-1">
		<div class="col-lg-6 col-xs-12">
			<div>
				<i class="bi bi-check2-circle"></i>
				<b>Capacitación</b> de participantes en el Procedimiento de Investigación y Sanción.
			</div>
			<div>
				<i class="bi bi-check2-circle"></i>
				Envío de la <b>información obligatoria</b> a los participantes.
			</div>
			<div>
				<i class="bi bi-check2-circle"></i>
				Envío de las <b>notificaciones obligatorias</b> a los participantes.
			</div>
			<div>
				<i class="bi bi-check2-circle"></i>
				Registro de <b>derivaciones</b> de la denuncia.
			</div>
		</div>
		<div class="col-lg-6">
			<div>
				<i class="bi bi-check2-circle"></i>
				Seguimiento de <b>denuncias recibidas o derivadas</b> a la Dirección del Trabajo.
			</div>
			<div>
				<i class="bi bi-check2-circle"></i>
				Gestión de denuncias para <b>empresas principales o usuarias</b>.
			</div>
			<div>
				<i class="bi bi-check2-circle"></i>
				Seguimiento de <b>denuncias investigadas por una empresa subcontratista o EST</b>.
			</div>
		</div>
	</div>

	<div class="mt-3 fs-5 mb-2 text-center">
		<p>Las personas denunciantes y denunciadas tienen acceso directo, mientras dure la investigación, al reporte <b>Resumen de la investigación</b>, el que les mostrará datos de la denuncia y el detalle de las acciones realizadas hasta el momento de la consulta. También tendrán acceso a la capacitación disponible.</p>

		<p>Al final de la <i>notificación de la recepción de la denuncia</i>, enviada a todos los participantes, se proporcionarán códigos QR que le permitirán acceder al reporte resumen y a las capacitaciones disponibles.</p>

	</div>
</div>

<div class="mt-3 fs-5 mb-2 text-center">
	El material de capacitación también está disponible para los participantes:

	<div class="row mt-3 gx-1">
		<div class="col-lg-4 col-xs-12">
			<p><b>Resumen de la denuncia</b></p>


			<%= image_tag 'home/qr_resumen.png' %>
			<div class="objt_lnk" style="font-size: 12px; line-height: 1.5;">
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_reportes/dnnc.pdf?oid=36", tltp: "Ver ejemplo", target: '_blank'} do %>
					<i class="bi bi-cursor"></i> Ver Ejemplo
				<% end %>
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<p><b>Guía del participante</b></p>


			<%= image_tag 'home/qr_guia.png' %>
			<div class="objt_lnk" style="font-size: 12px; line-height: 1.5;">
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/hlp_ayudas/prcdmnt_invstgcn_sncn", tltp: "Ver ejemplo", target: '_blank'} do %>
					<i class="bi bi-cursor"></i> Ver Ejemplo
				<% end %>
			</div>
		</div>
		<div class="col-lg-4">
			<p><b>Derechos y obligaciones</b></p>	


			<%= image_tag 'home/qr_drchs.png' %>
			<div class="objt_lnk" style="font-size: 12px; line-height: 1.5;">
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/hlp_ayudas/drchs_rspnsbldds", tltp: "Ver ejemplo", target: '_blank'} do %>
					<i class="bi bi-cursor"></i> Ver Ejemplo
				<% end %>
			</div>
		</div>
	</div>

</div>