<div class="mt-4 text-center">
	<%= image_tag 'ls_logo_100.png', width: "100" %>
</div>

<div class="mt-3 mx-5 fs-3 text-center">
	<p>La plataforma ofrece herramientas tanto para denunciantes como para denunciados:</p>
</div>

<div class="mt-4 mx-5 px-5" style="font-size: 14px; line-height: 1.5;">
	<div class="mt-3 fs-5 mb-2" style="margin-left: 5%;margin-right: 5%;">
		<ul>
			<li>Durante la investigación, ambas partes pueden consultar el estado del procedimiento y ver el detalle de las acciones realizadas, garantizando la confidencialidad.</li>
			<li>También acceden a materiales de capacitación como la Guía para Participantes y un resumen de sus “Derechos y Obligaciones”, asegurando el cumplimiento de los deberes informativos exigidos por ley.</li>
		</ul>

		<p>En la primera comunicación, los participantes reciben un código QR para seguir el avance del procedimiento y acceder fácilmente a los recursos de capacitación.</p>

	</div>
</div>

<div class="mt-5 fs-5 mb-1 text-center">

	<div class="row mt-3 gx-1">
		<div class="col-lg-4 col-xs-12">
			<p><b>Estado del Procedimiento</b></p>


			<%= image_tag 'home/qr_resumen.png' %>
			<div class="objt_lnk" style="font-size: 12px; line-height: 1.5;">
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_reportes/dnnc.pdf?oid=36", tltp: "Ver ejemplo", target: '_blank'} do %>
					<i class="bi bi-cursor"></i> Ver Ejemplo
				<% end %>
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<p><b>Guía del participante</b></p>


			<%= image_tag 'home/qr_guia.png' %>
			<div class="objt_lnk" style="font-size: 12px; line-height: 1.5;">
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/hlp_ayudas/prcdmnt_invstgcn_sncn", tltp: "Ver ejemplo", target: '_blank'} do %>
					<i class="bi bi-cursor"></i> Ver Ejemplo
				<% end %>
			</div>
		</div>
		<div class="col-lg-4">
			<p><b>Derechos y obligaciones</b></p>	


			<%= image_tag 'home/qr_drchs.png' %>
			<div class="objt_lnk" style="font-size: 12px; line-height: 1.5;">
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/hlp_ayudas/drchs_rspnsbldds", tltp: "Ver ejemplo", target: '_blank'} do %>
					<i class="bi bi-cursor"></i> Ver Ejemplo
				<% end %>
			</div>
		</div>
	</div>

</div>