<div class="text-center" style="margin-top: 6rem;margin-left: 10%;margin-right: 10%;font-size: 24px; line-height: 1.5;">
	<%= image_tag 'ls_logo_100.png', width: "100" %>
	<p class="fs-3">Recursos para los participantes</p>
	<div class="fs-4 mb-2">
		Los participantes cuentan con recursos de apoyo que les facilitará su participación en el <i>Procedimiento de Investigación y Sanción</i>.
	</div>
	<div class="row gx-1" style="font-size: 18px;line-height: 1.5;">
		<div class="col-lg-4 col-xs-12">
			<p><b>Reporte: Resumen del estado de la denuncia</b></p>
			<div style="font-size: 16px; line-height: 1.5;">
				<p>Detalle de las acciones realizadas, plazos y documentación obligatoria. Disponible <b>sólo para personas denunciantes y denunciadas</b>.</p>
			</div>

			<%= image_tag 'home/qr_resumen.png' %>
			<div class="objt_lnk" style="font-size: 12px; line-height: 1.5;">
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/krn_reportes/dnnc.pdf?oid=36", tltp: "Ver ejemplo", target: '_blank'} do %>
					<i class="bi bi-cursor"></i> Ver Ejemplo
				<% end %>
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<p><b>Procedimiento de Investigación y Sanción</b></p>
			<div style="font-size: 16px; line-height: 1.5;">
				<p>Guía para participantes acerca de las distintas etapas y tareas del Procedimiento de Investigación y Sanción.</b>.</p>
			</div>

			<%= image_tag 'home/qr_guia.png' %>
			<div class="objt_lnk" style="font-size: 12px; line-height: 1.5;">
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/hlp_ayudas/prcdmnt_invstgcn_sncn", tltp: "Ver ejemplo", target: '_blank'} do %>
					<i class="bi bi-cursor"></i> Ver Ejemplo
				<% end %>
			</div>
		</div>
		<div class="col-lg-4">
			<p><b>Derechos y obligaciones de los participantes</b></p>
			<div style="margin-bottom: 2.5rem;font-size: 16px; line-height: 1.5;">
				<p>Extracto del reglamento que regula el Procedimiento de Investigación y Sanción.</b>.</p>
			</div>

			<%= image_tag 'home/qr_drchs.png' %>
			<div class="objt_lnk" style="font-size: 12px; line-height: 1.5;">
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/hlp_ayudas/drchs_rspnsbldds", tltp: "Ver ejemplo", target: '_blank'} do %>
					<i class="bi bi-cursor"></i> Ver Ejemplo
				<% end %>
			</div>
		</div>
	</div>
</div>