<% unless controller_name == 'servicios' %>
	<div class="row p-1 bg_gray2">
		<div class="col-9">
			<%= render layout: '0p/tltp_lnk', locals: {lnk: root_path, tltp: 'Home'} do %>
				<%= image_tag (krn_routes? ? 'logo/logo_60.png' : 'logo_nvbr.png') %>
			<% end %>
		</div>
		<div class="col-3 position-relative navbar_lnk" style="height: <%= krn_routes? ? 25 : 25%>px;">
			<div class="pe-5 position-absolute bottom-0 text-end w-100 ">
				<span class="pe-2">
					<%= render layout: '0p/tltp_lnk', locals: {lnk: root_path, tltp: 'Home'} do %>
						<i class="bi bi-house-door" style="font-size: 1rem;"></i> Home
					<% end %>
				</span>
				<% if usuario_signed_in? %>
					<% if krn_routes? %>
						<span class="pe-2">
							<%= render layout: '0p/tltp_lnk', locals: {lnk: '/hlp_ayudas/bnvnd', tltp: 'Ayuda', target: '_blank'} do %>
								<i class="bi bi-question-circle"></i> Ayuda
							<% end %>
						</span>
					<% end %>
					<%= render partial: 'usuarios/lnks/lnk_salir' %>
				<% else %>
					<%= render partial: 'usuarios/lnks/lnk_ingrs' %>
					<span class="ms-2"><%= render partial: 'usuarios/lnks/lnk_rgstr' %></span>
				<% end %>
			</div>
		</div>
	</div>
<% end %>