<div id="<%= dom_id doc_pago %>">
  <p>
    <strong>Doc transaccion:</strong>
    <%= doc_pago.doc_transaccion_id %>
  </p>

  <p>
    <strong>Ownr type:</strong>
    <%= doc_pago.ownr_type %>
  </p>

  <p>
    <strong>Ownr:</strong>
    <%= doc_pago.ownr_id %>
  </p>

  <p>
    <strong>Folio referencia:</strong>
    <%= doc_pago.folio_referencia %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= doc_pago.monto %>
  </p>

</div>
