<p style="color: green"><%= notice %></p>

<%= render @doc_pago %>

<div>
  <%= link_to "Edit this doc pago", edit_doc_pago_path(@doc_pago) %> |
  <%= link_to "Back to doc pagos", doc_pagos_path %>

  <%= button_to "Destroy this doc pago", @doc_pago, method: :delete %>
</div>
