<p style="color: green"><%= notice %></p>

<%= render @krn_modificacion %>

<div>
  <%= link_to "Edit this krn modificacion", edit_krn_modificacion_path(@krn_modificacion) %> |
  <%= link_to "Back to krn modificaciones", krn_modificaciones_path %>

  <%= button_to "Destroy this krn modificacion", @krn_modificacion, method: :delete %>
</div>
