<tr class="objt_lnk" style="font-size: 0.9rem;">
	<td><%= s_rut(objt.rut) %></td>
	<td>
		<% if objt.licencia_activa? %>
			<i class="bi bi-bookmark text-primary"></i>
		<% else %>
			<i class="bi bi-cone-striped text-danger"></i>
		<% end %>
		<%= render layout: '0p/tltp_lnk', locals: {lnk: "/cuentas/#{objt.class.name.downcase[0]}_#{objt.id}/dnncs", tltp: 'Acceder a la cuenta' } do %>
			<%= objt.razon_social %>
		<% end %>
		<% if dog? %>
			<!--i class="bi bi-dot"></i-->
			<%#= render layout: '0p/tltp_lnk', locals: {lnk: objt, tltp: 'Ver productos'} do %>
				<!--i class="bi bi-box-seam"></i-->
			<%# end %>
		<% end %>
	</td>
	<td>
		<% if dog? %>
			<% if objt.licencia_actual&.puede_renovar_demo? %>
				<%= render layout: '0p/tltp_lnk', locals: {lnk: '/empresas/renovar_demo', tltp: 'renovar_demo', data: {turbo_method: :post}} do %>
					<i class="bi bi-arrow-repeat"></i>
				<% end %>
			<% end %>
			<%= render layout: '0p/tltp_lnk', locals: {lnk: "/empresas/#{objt.id}/prg", tltp: 'Purgar'} do %>
				<i class="bi bi-trash"></i>
			<% end %>
		<% end %>
	</td>
	<td class="text-end">
		<% unless scp_activo? %>
			<%= render partial: '0p/tbl/lnks_e', locals: {objeto: objt} %>
		<% end %>
	</td>
</tr>