<div id="<%= dom_id seccion %>">
  <p>
    <strong>Causa:</strong>
    <%= seccion.causa_id %>
  </p>

  <p>
    <strong>Orden:</strong>
    <%= seccion.orden %>
  </p>

  <p>
    <strong>Seccion:</strong>
    <%= seccion.seccion %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= seccion.texto %>
  </p>

</div>
