<b>
<div class="ttl_prnt">
	<div class="ttl_ttl">
		<% case objeto.ownr_type %>
		<% when 'Causa' %>
			Causa : <%= objeto.ownr.rit %>
			<i class="bi bi-dot"></i>
			<%= objeto.ownr.causa %>
		<% when 'Asesoria' %>
			Asesoria : <%= objeto.ownr.descripcion %>
		<% when 'Cargo' %>
			Asesoria : <%= objeto.ownr.cargo %>
		<% end %>
	</div>
	<div class="ttl_lnks">
		<% if objeto.ownr.class.name == 'Causa' %>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.ownr.id}?html_options[menu]=#{CGI.escape('Tarifa & Pagos')}", tooltip: objeto.ownr.class.name} do %>
				<i class="bi bi-box-arrow-up-right"></i>
			<% end %>
		<% end %>
	</div>
</div>
</b>