<%= form_with(model: cli_aprobacion) do |form| %>
  <% if cli_aprobacion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cli_aprobacion.errors.count, "error") %> prohibited this cli_aprobacion from being saved:</h2>

      <ul>
        <% cli_aprobacion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :fecha %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
