<p style="color: green"><%= notice %></p>

<%= render @cli_aprobacion %>

<div>
  <%= link_to "Edit this cli aprobacion", edit_cli_aprobacion_path(@cli_aprobacion) %> |
  <%= link_to "Back to cli aprobaciones", cli_aprobaciones_path %>

  <%= button_to "Destroy this cli aprobacion", @cli_aprobacion, method: :delete %>
</div>
