<% act_id = "#{objeto.class.name}_#{objeto.id}" %>
<div style="margin-left: 4%;">

	<%= render partial: 'karin/prtcpnts/objt/email_verification', locals: {objeto: objeto} %>

	<% if @acts_hsh[act_id][:rlzds].objt_rlzd?(objeto, 'verificar_email') or objeto.email_direccion? %>
		<%= render layout: 'karin/krn_denuncias/shw/proceso/tsk_tmplt', locals: {ttl: 'Envío de información y notificaciones', gly: 'caret-right-fill'} do %>
			<%= render partial: 'pdf/pdf_registros/dsply_list', locals: {hsh: @acts_hsh, mdl: ClssPrcdmnt, ownr: objeto, lnks: true} %>
		<% end %>
	<% end %>

	<% if @objeto.krn_inv_denuncias.any? %>
		<%= render partial: 'cuentas/prtls/smpl_box', locals: {source: 'krn_declaraciones', dir: 'indx', ownr: objeto, clss_ttl: 'bg_azul_claro'} %>
	<% end %>

	<% unless @acts_hsh[objeto.clss_id][:cdgs].empty? %>
		<%= render layout: 'karin/krn_denuncias/shw/proceso/tsk_tmplt', locals: {ttl: 'Documentos controlados', gly: 'caret-right-fill'} do %>
			<%= render partial: 'repositorios/act_archivos/dsply_list', locals: {hsh: @acts_hsh, mdl: ClssPrcdmnt, ownr: objeto, lnks: true} %>
		<% end %>
	<% end %>

	<% if objeto.audit_notas.any? %>
		<%= render partial: prtl_name('audit_notas', nil, 'ownr_list'), locals: {objeto: objeto} %>
	<% end %>

</div>