<% act_id = "#{objeto.class.name}_#{objeto.id}" %>
<div class="row gx-1 mb-2 mx-1 pt-1 pe-4 border2 rounded-4">
	<div class="col-8">
		<i class="bi bi-arrow-return-right"></i>
		<% if objeto.articulo_516 %>

			<%# Articulo 516 %>
			<i class="bi bi-mailbox-flag text-primary"></i> Notificaciones se envían por correo certificado.

		<% elsif objeto.email.blank? %>

			<%# Correo electrónico NO ingresado %>
			<i class="bi bi-cone-striped text-danger"></i> El correo electrónico del participante no se ha ingresado.

		<% else %>

			<% if objeto.email != objeto.email_ok and (not objeto.tiene_check_realizado?) %>
				<i class="bi bi-cone-striped text-danger"></i> 
				<%= ClssPrcdmnt.act_nombre['verificar_email'] %>
				<!-- NO se han enviado emails de verificación -->
				<% unless objeto.n_vrfccn_lnks.blank? %>
					: <span class="text-primary"><%=objeto.n_vrfccn_lnks%><i class="bi bi-dot"></i><%=dma(objeto.fecha_vrfccn_lnk)%></span>
				<% end %>		
			<% else %>
				<% if objeto.tiene_check_realizado? %>
					<i class="bi bi-clipboard-check text-primary"></i>
				<% end %>
				<% if objeto.verified? %>
					<i class="bi bi-at text-primary"></i>
				<% end %>
				<span class="text-primary"><%= email_mask(objeto.email) %></span>
			<% end %>

		<% end %>
	</div>
	<div class="col-4 text-end app_lnk">
		<% unless objeto.articulo_516 or objeto.email.blank? %>
			<% if objeto.email == objeto.email_ok or objeto.tiene_check_realizado? %>

				<b><%= objeto.verified? ? 'verificado!' : 'validado!' %></b>

			<% end %>
		<% end %>
	</div>
</div>