<% if @objt['get_crr_rcpcn?'] %>
	<% if @objeto.investigacion_local? or @objeto.investigacion_externa? %>
		<% if @objeto.investigacion_local? %>
			<%= render layout: 'cuentas/prtls/proceso/lnk', locals: {fw: 'bold'} do %>
				<%= render partial: '0p/swtch', locals: {objeto: @objeto, tkn: :investigacion_local, prmpt: 'La empresa decide realizar la investigación de la denuncia.', glys: ['arrow-counterclockwise', 'cursor'], stts: ['No será investigación local', 'Investigación local']} %>
			<% end %>
		<% end %>

		<% if @objeto.investigacion_externa? %>
			<%= render layout: 'cuentas/prtls/proceso/lnk', locals: {fw: 'bold'} do %>
				<%= render partial: '0p/swtch', locals: {objeto: @objeto, tkn: :investigacion_externa, prmpt: 'La empresa externa decide realizar la investigación de la denuncia.', glys: ['arrow-counterclockwise', 'cursor'], stts: ['No será investigación externa', 'Investigación extena']} %>
			<% end %>
		<% end %>
	<% end %>
<% else %>
	<% if @objeto.dnncnt_investigacion_local %>
		<%= render layout: 'cuentas/prtls/proceso/lnk', locals: {fw: 'bold'} do %>
			<%= render partial: '0p/swtch', locals: {objeto: @objeto, tkn: :dnncnt_investigacion_local, prmpt: 'La persona denunciante manifiesta su deseo de que la investigación sea realizada por la empresa.', glys: ['arrow-counterclockwise', 'cursor'], stts: ['No será investigación local', 'Investigación local']} %>
		<% end %>
	<% else %>
		<div class="px-3">Aún no se han realizado acciones.</div>
	<% end %>
<% end %>