<% if cntrl %>

	<div class="<%=fl.blank? ? (dc.req? ? 'no_dc_fl_lst' : 'opt_dc_fl_lst') : 'dc_fl_lst' %>">
		<div class="dc_nm">
			<div class="fl">
				<%= dc.rep_doc_controlado %>
			</div>
			<div class="lnks">
				<%= render partial: '0p/tabla/lnk_new', locals: {lnk: "/rep_archivos/new#{ownr_prms(ownr)}&dcid=#{dc.id}", tltp: " Agregar #{dc.rep_doc_controlado}" } %>
			</div>
		</div>
		<div class="lst">
			<% if fl.empty? %>
				Lista vacía
			<% else %>
			<% fl.each do |rarchv| %>

				<div class="dc_fl">
					<div class="fl">
						<i class="bi bi-file-earmark"></i>
						<%= dma_hm(rarchv.updated_at) %>
						<i class="bi bi-dot"></i>
						<%= render layout: '0p/layout/blnk_tltp_lnk', locals: {lnk: rarchv.archivo.url, tltp: "Ver #{dc.rep_doc_controlado}"} do %>
							<i class="bi bi-download"></i>
						<% end %>
						<%= rarchv.nombre %>
					</div>
					<div class="lnks">
						<%= render partial: '0p/tabla/links_e', locals: {objeto: rarchv} %>
					</div>
				</div>

			<% end %>
			<% end %>
		</div>
	</div>

<% end %>