<%= render partial: '0capitan/general/app_ttl', locals: {c: 'app_documentos', title: "Documentos", link: nil, tooltip: nil } %>

<div class="f_250rght_col">
	<div class="lft">

<%= "a #{@coleccion['app_archivos'].count}" %><%= "d #{@coleccion['app_documentos'].count}" %>
		<% unless @coleccion['app_documentos'].empty? and @coleccion['app_archivos'].empty? %>

			<%= render partial: 'repositorios/shr/d_list', locals: {coleccion: @coleccion['app_documentos']} %>
			<%= render partial: 'repositorios/shr/a_list', locals: {coleccion: @coleccion['app_archivos']} %>
			<%= render partial: 'recursos/app_enlaces/partials/list', locals: {coleccion: @coleccion['app_enlaces']} %>

		<% end %>
	</div>
	<div class="rght">
		<%= d_pendientes.count %><%= a_pendientes.count %>
		<%= render partial: 'repositorios/shr/add_box', locals: {objeto: objeto, d_pendientes: d_pendientes, a_pendientes: a_pendientes} %>
	</div>
</div>