<div class="app_bjt">
	<div class="ln_bjt_app">
		<div class="ln_nm">
			<b><%= objeto.id %><i class="bi bi-dot"></i><%= dma(objeto.fecha) %></b>
		</div>
		<div class="ln_lnks">
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/servicios/aprobacion?indice=#{objeto.id}", tooltip: 'Ver aprobacion'} do %>
				<i class="bi bi-file-pdf"></i>
			<% end %>
			<%= render partial: 'clientes/shr/lnk_cl', locals: {objeto: objeto} %>
			<i class="bi bi-dot"></i>
			<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
		</div>
	</div>

	<% unless objeto.tar_calculos.empty? %>
		<hr>
		<% objeto.tar_calculos.order(:created_at).each do |ccl| %>
			<div class="ln_app">
				<div class="ln_nm">
					<%= render partial:'0p/general/gly', locals: {gly: controller_icon['tar_calculos']} %>
					<%= ccl.glosa %>
					<%= render layout: '0p/layout/tooltip_link', locals: {link: "/tar_calculos/#{ccl.id}/liberar_calculo", tooltip: 'Libera cálculo'} do %>
						<i class="bi bi-trash"></i>
					<% end %>
				</div>
				<div class="ln_lnks">
					<%= s_pesos(get_monto_calculo_pesos(ccl, ccl.ownr, ccl.tar_pago)) %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>