<!-- Versión 2.0 -->
<!-- Parobación de pagos -->

<% if current_usuario.dog? %>
	<div><%= objeto.tar_calculos.count %> - <%= objeto.tar_facturaciones.count %></div>
	<% objeto.tar_tarifa_tar_pagos.ordr.each do |pago| %>
		<% calculos = objeto.tar_calculos.where(codigo_formula: pago.codigo_formula) %>
		<% fctrcns 	= objeto.tar_facturaciones.where(codigo_formula: pago.codigo_formula) %>
		<div><%= pago.codigo_formula %> | <%= calculos.count %> - <%= fctrcns.count %></div>
	<% end %>
	<hr>
	<% objeto.tar_calculos.each do |r| %>
		<div><%= r.id %> · <%= r.codigo_formula %></div>
	<% end %>
	<hr>
	<% objeto.tar_facturaciones.each do |r| %>
		<div><%= r.tar_calculo_id %> · <%= r.codigo_formula %></div>
	<% end %>
<% end %>

<% if objeto.tar_tarifa.blank? %>
	<%= render partial: '0p/ntc', locals: {color: 'danger', gly: 'check-lg', ntc: "La causa no tiene tarifa asignada."} %>
<% elsif objeto.tar_tarifa_tar_pagos.empty? %>
	<%= render partial: '0p/ntc', locals: {color: 'danger', gly: 'check-lg', ntc: "La tarifa asignada a la causa no tiene pagos asignados."} %>
<% else %>
	<% objeto.tar_tarifa_tar_pagos.ordr.each do |pago| %>
			<div class="mt-1 p-2 border border rounded-2 app_lnk" style="font-size: 13px;line-height: 1.2;">

				<%= render partial: 'causas/shw/tarifa_pagos/aprobacion/encabezado', locals: {pago: pago, ownr: objeto} %>

				<% valor_uf = objeto.calc_valor_uf(pago.codigo_formula) %>
				<% fecha_uf = objeto.calc_fecha_uf(pago.codigo_formula) %>
				<% if !!pago.requiere_uf == true and valor_uf.nil? %>
					<%= render partial: '0p/ntc', locals: {color: 'danger', gly: 'check-lg', ntc: "UF del día #{dma(fecha_uf)} no encontrada."} %>
				<% else %>
					<%= render partial: 'causas/shw/tarifa_pagos/aprobacion/comentarios_pago', locals: {pago: pago, causa: objeto } %>
					<%= render partial: 'causas/shw/tarifa_pagos/aprobacion/calculo_child', locals: {pago: pago, ownr: objeto } %>
				<% end %>

			</div>

	<% end %>
<% end %>