<%= render partial: '0p/ttl_clss', locals: {source: 'causas', clss: :sub, dir: 'cdrtr', blngs: objeto, hide_lnks: true} %>

<div class="p-2" style="font-size: .7rem; line-height: 1.5;">

	<p><b>PAGO AL TRABAJADOR</b></p>
	<% if objeto.monto_pagado? %>
		<p>Monto pagado al trabajador: <%= s_pesos(objeto.monto_pagado) %></p>
	<% else %>
		<p><i class="bi bi-cone-striped text-danger"></i> No se ha acordado/sentenciado pago al trabajador.</p>
	<% end %>

	<p><b>DETALLES DE FACTURAS</b></p>
	<% @dtlls.each do |dtll| %>
		<%= render partial: prtl(dtll, 'lst', 'objt_fin'), locals: {objeto: dtll} %>
	<% end %>

	<p><b>CÁLCULOS</b></p>
	<% @clcls.each do |clcl| %>
		<%= render partial: prtl(clcl, 'list', 'objt_fin'), locals: {objeto: clcl} %>
	<% end %>

	<p><b>DETALLES DE APROBACIÓN</b></p>
	<% @fctrcns.each do |fctrcn| %>
		<%= render partial: prtl(fctrcn, 'list', 'objt_fin'), locals: {objeto: fctrcn} %>
	<% end %>

	<p><b>UFS DE FACTURACION</b></p>
	<% @ufs.each do |uf| %>
		<%= render partial: prtl(uf, 'list', 'objt_fin'), locals: {objeto: uf} %>
	<% end %>


	<p><b>FECHAS DE FACTURACIÓN</b></p>
	<% @fchs.each do |fch| %>
		<%= render partial: prtl(fch, 'list', 'objt_fin'), locals: {objeto: fch} %>
	<% end %>
</div>