<%= render partial: '0p/ttl_clss', locals: {source: 'causas', clss: :sub, dir: 'cdrtr', blngs: objeto, hide_lnks: true} %>

<div class="p-2" style="font-size: .7rem; line-height: 1.5;">

	<b>PAGO AL TRABAJADOR</b><br>
	<div class="m-1 p-2">
		<% if objeto.monto_pagado? %>
			Monto pagado al trabajador: <%= s_pesos(objeto.monto_pagado) %>
		<% else %>
			<i class="bi bi-cone-striped text-danger"></i> No se ha acordado/sentenciado pago al trabajador.
		<% end %>
	</div>

	<b>DETALLES DE FACTURAS</b><br>
	<div class="m-1 p-2">
		<% @dtlls.each do |dtll| %>
			<%= render partial: prtl(dtll, 'lst', 'objt_fin'), locals: {objeto: dtll} %>
		<% end %>
	</div>

	<b>CÁLCULOS</b><br>
	<div class="m-1 p-2">
		<% @clcls.each do |clcl| %>
			<%= render partial: prtl(clcl, 'list', 'objt_fin'), locals: {objeto: clcl} %>
		<% end %>
	</div>

	<b>DETALLES DE APROBACIÓN</b><br>
	<div class="m-1 p-2">
		<% @fctrcns.each do |fctrcn| %>
			<%= render partial: prtl(fctrcn, 'list', 'objt_fin'), locals: {objeto: fctrcn} %>
		<% end %>
	</div>

	<b>UFS DE FACTURACION</b><br>
	<div class="m-1 p-2">
		<% @ufs.each do |uf| %>
			<%= render partial: prtl(uf, 'list', 'objt_fin'), locals: {objeto: uf} %>
		<% end %>
	</div>

	<b>FECHAS DE FACTURACIÓN</b><br>
	<div class="m-1 p-2">
		<% @fchs.each do |fch| %>
			<%= render partial: prtl(fch, 'lst', 'objt_fin'), locals: {objeto: fch} %>
		<% end %>
	</div>


    <%= render partial: '0p/ttl_clss', locals: {source: 'age_actividades', clss: :sub, dir: 'indx', ownr: @objeto} %>
    <%= render partial: '0p/tbl_clss', locals: {source: 'age_actividades', clccn: @actvdds} %>

	<% if current_usuario.dog? %>
	<div class="card mb-4">
	  <div class="card-header d-flex justify-content-between align-items-center">
	    <h5 class="mb-0">Estado Financiero</h5>
	    <%= badge_estado_financiero(@objeto) %>
	  </div>
	  <div class="card-body">
	    <p class="text-muted mb-3">
	      Estado actual: <strong><%= @objeto.estado_financiero.humanize %></strong>
	    </p>

	    <div class="d-flex flex-wrap">
			<% estados_antiguos = %w[sin_cobros con_cobros cerrada] %>

			<% if estados_antiguos.include?(@objeto.estado_financiero) %>
			  <div class="alert alert-warning">
			    Esta causa tiene un estado financiero antiguo: <strong><%= @objeto.estado_financiero %></strong>
			    <%= button_to "Migrar a nuevo estado", 
			                  migrar_estado_financiero_causa_path(@objeto), 
			                  method: :patch, 
			                  class: "btn btn-warning" %>
			  </div>
			<% else %>
			  <%= botones_estado_financiero(@objeto) %>
			<% end %>
	    </div>
	  </div>
	</div>
	<% end %>


</div>