<%= render partial: '0p/ttl_clss', locals: {source: 'causas', clss: :sub, dir: 'cdrtr', blngs: objeto, hide_lnks: true} %>

<div class="p-2" style="font-size: .7rem; line-height: 1.5;">
	<p><b>Detalles de facturas</b></p>
	<% @dtlls.each do |dtll| %>
		<%= render partial: prtl(dtll, 'lst', 'objt_fin'), locals: {objeto: dtll} %>
	<% end %>

	<p><b>Cálculos</b></p>
	<% @clcls.each do |clcl| %>
		<%= render partial: prtl(clcl, 'list', 'objt_fin'), locals: {objeto: clcl} %>
	<% end %>

	<p><b>Facturaciones</b></p>
	<% @fctrcns.each do |fctrcn| %>
		<%= render partial: prtl(fctrcn, 'list', 'objt_fin'), locals: {objeto: fctrcn} %>
	<% end %>

	<p><b>UFs de facturación</b></p>
	<% @ufs.each do |uf| %>
		<%= render partial: prtl(uf, 'list', 'objt_fin'), locals: {objeto: uf} %>
	<% end %>


	<p><b>Fechas de facturación</b></p>
	<% @fchs.each do |fch| %>
		<%= render partial: prtl(fch, 'list', 'objt_fin'), locals: {objeto: fch} %>
	<% end %>
</div>