<div class="row mt-5 mb-3" style="margin-left: 3%; margin-right: 3%;">
	<%= render layout: 'home/box/box', locals: {ttl: 'Externalización de investigaciones', img_icon: 'logo/istp_50.png',icon_radius: 4,ttl_clr: '#1e88e5', ttl_align: 'center',bg_clr: '#e3f2fd', bg_img: 'bgs/bg_clouds.png'} do %>
		<%#= render partial: 'home/public/btn_demo', pddng: 1 %>
		<div class="text-center fs-5" style="color: #1e88e5;">
			La mejor tecnología y un equipo experto a cargo de su investigación
		</div>
	<% end %>
</div>

<div class="row gx-1" style="margin-left: 3%;margin-right: 3%;">
	<div class="col-lg-6 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Consultoria de implementación', gly: 'clipboard-check',bg_clr: '#e3e4db'} do %>
			Capacitación y coordinación con su equipo de trabajo.
		<% end %>
	</div>
	<div class="col-lg-6 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Informes periódicos de avance', gly: 'graph-up-arrow',bg_clr: '#e3e4db'} do %>
			Capacitación y coordinación con su equipo de trabajo.
		<% end %>
	</div>
</div>

<div class="row mt-5 mb-3" style="margin-left: 3%; margin-right: 3%;">
	<%= render layout: 'home/box/box', locals: {ttl: 'Capacitación y consultoría', img_icon: 'logo/istp_50.png',icon_radius: 4,ttl_clr: '#1e88e5', ttl_align: 'center',bg_clr: '#e3f2fd', bg_img: 'bgs/bg_clouds.png'} do %>
		<%#= render partial: 'home/public/btn_demo', pddng: 1 %>
		<div class="text-center fs-5" style="color: #1e88e5;">
			Ponemos a su servicio nuestro experimentado equipo de relatores y consultores
		</div>
	<% end %>
</div>

<div class="row gx-1" style="margin-left: 3%;margin-right: 3%;">
	<div class="col-lg-4 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Capacitación obligatoria Ley 21.643', gly: 'cloud', img_icon: 'logo/istp_blue_30.png',bg_clr: '#e3f2fd'} do %>
		<% end %>
	</div>
	<div class="col-lg-4 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Capacitación equipo de RRHH', gly: 'cloud', img_icon: 'logo/istp_blue_30.png',bg_clr: '#e3f2fd'} do %>
		<% end %>
	</div>
	<div class="col-lg-4 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Formación de investigadores', gly: 'cloud', img_icon: 'logo/istp_blue_30.png',bg_clr: '#e3f2fd'} do %>
		<% end %>
	</div>
</div>
