<div class="row gx-1" style="margin-left: 3%;margin-right: 3%;">
	<div class="col-lg-4 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Simplicidad', gly: 'cup-hot'} do %>
			<i>Proceso completamente asistido</i>, reconoce casos y excepciones del procedimiento.
		<% end %>
	</div>
	<div class="col-lg-4 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Control documental', gly: 'folder-check'} do %>
			<i>Control documental</i> de toda la documentación obligatoria.
		<% end %>
	</div>
	<div class="col-lg-4 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Notificaciones', gly: 'bell'} do %>
			Generación automatizada y envío de todas las notificaciones obligatorias.
		<% end %>
	</div>
</div>

<div class="row gx-1" style="margin-left: 3%;margin-right: 3%;">
	<div class="col-lg-4 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Control de plazos', gly: 'calendar2-check'} do %>
			Sensible a todos los tipos de investigación.
		<% end %>
	</div>
	<div class="col-lg-4 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Versión extendida', gly: 'trophy'} do %>
			Versión para empresas principales o usuarias.
		<% end %>
	</div>
	<div class="col-lg-4 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: ' Versión prepago', gly: 'coin'} do %>
			Modelo de pago según demanda para empresas pequeñas.
		<% end %>
	</div>
</div>

<div class="row gx-1" style="margin-left: 3%;margin-right: 3%;">
	<div class="col-lg-6 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Externalización de investigaciones', gly: 'cloud'} do %>
			Solicite una evaluación de su proyecto.
		<% end %>
	</div>
	<div class="col-lg-6 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Capacitación y consultoría', gly: 'briefcase'} do %>
			Contamos con el mejor equipo de relatores y consultores.
		<% end %>
	</div>
</div>