<div class="row mt-5 mb-3" style="margin-left: 3%; margin-right: 3%;">
	<%= render layout: 'home/box/box', locals: {ttl: 'Software para el registro y control del <i>procedimiento de investigación y sanción</i><br>Ley 21.643 (Ley Karin)', img_icon: 'logo/istp_50.png',icon_radius: 4,ttl_clr: '#1e88e5', ttl_align: 'center',bg_clr: '#e3e4db', bg_img: 'bgs/bg_clouds.png'} do %>
		<%= render partial: 'home/public/btn_demo', pddng: 1 %>
	<% end %>
</div>

<div class="row gx-1" style="margin-left: 3%;margin-right: 3%;">
	<div class="col-lg-4 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Simplicidad', gly: 'cup-hot',bg_clr: '#e3e4db'} do %>
			<i>Proceso completamente asistido</i>, reconoce casos y excepciones del procedimiento.
		<% end %>
	</div>
	<div class="col-lg-4 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Control documental', gly: 'folder-check',bg_clr: '#e3e4db'} do %>
			<i>Control documental</i> de toda la documentación obligatoria.
		<% end %>
	</div>
	<div class="col-lg-4 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Control de plazos', gly: 'calendar2-check',bg_clr: '#e3e4db'} do %>
			Sensible a todos los tipos de investigación.
		<% end %>
	</div>
</div>

<div class="row gx-1" style="margin-left: 3%;margin-right: 3%;">
	<div class="col-lg-6 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Notificaciones e información obligatoria', gly: 'bell',bg_clr: '#e3e4db'} do %>
			Generación automatizada y envío trazable desde la plataforma.
		<% end %>
	</div>
	<div class="col-lg-6 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Confidencialidad', gly: 'shield-exclamation',bg_clr: '#e3e4db'} do %>
			Acceso autenticado y restringido según perfil del usuario/participante.
		<% end %>
	</div>
</div>

<div class="row gx-1" style="margin-left: 3%;margin-right: 3%;">
	<div class="col-lg-6 col-xs-12 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: 'Versión extendida', gly: 'trophy', img_icon: 'logo/istp_blue_30.png',bg_clr: '#e3f2fd'} do %>
			Versión para empresas principales o usuarias.
		<% end %>
	</div>
	<div class="col-lg-6 mt-4">
		<%= render layout: 'home/box/box', locals: {ttl: ' Versión prepago', gly: 'coin', img_icon: 'logo/istp_blue_30.png',bg_clr: '#e3f2fd'} do %>
			Modelo de pago según demanda para empresas pequeñas.
		<% end %>
	</div>
</div>