<small><small>
<div class="row text-muted">
	<div class="col-2">
		<div style="padding-left: 1em;">
			<i class="bi bi-arrow-return-right"></i>
			<b><%= render partial: '0p/tabla/btns_orden', locals: {objeto: objeto } %></b>
		</div>
	</div>
	<div class="col-7">
			<small><small>
				<i class="bi bi-circle-fill text-<%=objeto.color_c%>"></i>
				<% unless objeto.st_contestacion.blank? %>
					<i class="bi bi-circle-fill text-<%=objeto.color_p%>"></i>
				<% end %>
			</small></small>
			<% unless objeto.cita.blank? %>
				<%= render layout: '0p/collapse/link', locals: {label: 'Cita', objeto: objeto, tooltip: 'Cita de la demanda' } do %>
					<i class="bi bi-box-arrow-down"></i>
				<% end %>
			<% else %>
				<i class="bi bi-arrow-right"></i>
			<% end %>
			
			<%= objeto.descripcion %>
			</br>

			<% unless objeto.cita.blank? %>
				<%= render layout: '0p/collapse/display', locals: {label: 'Cita', objeto: objeto} do %>
					<small><small>
					<i class="text-muted">
					<% unless objeto.documento.blank? %>
						<small>- <%= objeto.documento %> -</small></br>
					<% end %>						
				    <%= objeto.cita %>
					</small></small>
				    </i>
				<% end %>
			<% end %>


			<div class="text-info" style="padding-left: 2em;">

				<% objeto.hecho_archivos.each do |hecho_archivo| %>
					<%= render partial: 'hecho_archivos/list/lobjeto', locals: {objeto: hecho_archivo} %>
				<% end %>

			</div>

			<%= render layout: '0p/collapse/display', locals: {label: 'NuevoArchivo', objeto: objeto} do %>
				<%= render partial: 'hechos/list/form_archivo', locals: {objeto: objeto} %>
			<% end %>

			<%= render layout: '0p/collapse/display', locals: {label: 'SelArchivo', objeto: objeto} do %>
			  	<% objeto.causa.app_archivos.order(:app_archivos).each do |archivo| %>
			  		<% unless objeto.app_archivos.ids.include?(archivo.id) %>
			  		<small>
			  			<i class="bi bi-dot"></i> 
			  			<%= link_to "/hechos/#{objeto.id}/sel_archivo?aid=#{archivo.id}" do %>
				  			<%= archivo.app_archivo %>
			  			<% end %>
			  		</small>
			  		<% end %>
			  		</br>
			  	<% end %>
			<% end %>

			<%= render layout: '0p/collapse/display', locals: {label: 'Evaluacion', objeto: objeto} do %>
				<%= render partial: 'hechos/list/evaluaciones', locals: {objeto: objeto} %>
			<% end %>
			<hr>
	</div>
	<div class="col-3" align='right'>
		<div style="padding-right: 2em;">
			<%= render layout: '0p/collapse/link', locals: {label: 'NuevoArchivo', objeto: objeto, tooltip: 'Agrega archivo' } do %>
				<i class="bi bi-plus-circle"></i> 
			<% end %>
			<%= render layout: '0p/collapse/link', locals: {label: 'SelArchivo', objeto: objeto, tooltip: 'Selecciona archivo' } do %>
				<i class="bi bi-list-task"></i> 
			<% end %>
			<i class="bi bi-dot"></i> 
			<%= render layout: '0p/collapse/link', locals: {label: 'Evaluacion', objeto: objeto, tooltip: 'Evaluación del hecho' } do %>
				<i class="bi bi-stoplights"></i>
			<% end %>
			<i class="bi bi-dot"></i> 
			<small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small>
		</div>
	</div>
</div>
</small></small>