<small>
<div class="row text-muted">
	<div class="col-9">
		<div style="padding-left: 1em;">
			<i class="bi bi-arrow-return-right"></i>
			<%= render partial: '0p/tabla/orderer', locals: {objeto: objeto } %>
			<%= objeto.hecho %>
			<% unless objeto.cita.blank? %>
				<%= render layout: '0p/collapse/link', locals: {label: 'Cita', objeto: objeto, tooltip: 'Cita' } do %>
					<i class="bi bi-box-arrow-down"></i> 
				<% end %>
			<% end %>
			</br>

			<% unless objeto.cita.blank? %>
				<%= render layout: '0p/collapse/display', locals: {label: 'Cita', objeto: objeto} do %>
					<i class="text-muted">
					<small>- <%= objeto.documento %> -</small></br>
				    <%= objeto.cita %>
				    </i>
				<% end %>
			<% end %>

			<div class="text-info" style="padding-left: 2em;">

				<% objeto.hecho_docs.each do |hecho_doc| %>
					<%= render partial: 'hecho_docs/list/lobjeto', locals: {objeto: hecho_doc} %>
				<% end %>

			</div>

			<%= render layout: '0p/collapse/display', locals: {label: 'MasDocumento', objeto: objeto} do %>
				<%= render partial: 'hechos/list/form_documento', locals: {objeto: objeto} %>
			<% end %>

			<%= render layout: '0p/collapse/display', locals: {label: 'SelDocumento', objeto: objeto} do %>
			  	<% objeto.tema.causa.app_documentos.order(:app_documento).each do |doc| %>
			  		<small>
			  			<i class="bi bi-dot"></i> 
			  			<%= link_to "/hechos/#{objeto.id}/sel_documento?did=#{doc.id}" do %>
				  			<%= doc.app_documento %>
			  			<% end %>
			  		</small></br>
			  	<% end %>
			<% end %>

		</div>
	</div>
	<div class="col-3" align='right'>
		<div style="padding-right: 2em;">
			<%= render layout: '0p/collapse/link', locals: {label: 'MasDocumento', objeto: objeto, tooltip: 'Agrega' } do %>
				<i class="bi bi-plus-circle"></i> 
			<% end %>
			<%= render layout: '0p/collapse/link', locals: {label: 'SelDocumento', objeto: objeto, tooltip: 'Selecciona' } do %>
				<i class="bi bi-list-task"></i> 
			<% end %>

			<small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small>
		</div>
	</div>
</div>
</small>