<!-- app/views/mailers/contexts/investigations/document/dnncnt_info_oblgtr_pdf.html.erb -->
<!-- NOTA: Sin <!DOCTYPE>, <html>, <head> ni <body> - eso lo provee el layout -->

<div class="pdf-header">
  <div class="text-center">
    <% if @head_url.present? %>
      <img src="<%= @head_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>

<div class="text-center fs-6">
  Ley 21.643<br>
  Procedimiento de investigación y sanción<br>
  Recepción de denuncias
</div>

<div class="text-center fs-5">
  Comprobante de recepción de denuncia Ley 21.643
</div>

<div class="row mt-5">
  <div class="col-6">
    REFERENCIA:<br>
    Denuncia N° <%= @record.id %>
  </div>
  <div class="col-6 text-end">
    DESTINATARIO:<br>
    <%= @krn_kywrd %>
  </div>
</div>

<div class="mt-4" style="font-size: 14px; line-height: 1.5;">
  <p>
    Con fecha <%= dma(@record.fecha_hora) %>, usted presentó, en calidad de persona denunciante, una denuncia en el marco de la Ley 21.643. 
    Para fines administrativos y de consulta, dicha denuncia ha sido registrada con el identificador <%= @record.identificador %>.
  </p>
</div>

<div class="mb-3">
  <p><b>Entrega de información obligatoria</b></p>
  <p>
    La información que el reglamento exige entregar a la persona denunciante le será enviada por correo <%= @prtcpnt.articulo_516 ? 'certificado' : 'electrónico' %>. Si la denuncia fue presentada presencialmente, esta información también fue entregada de manera verbal por nuestro equipo de recepción.
  </p>
</div>

<div class="mb-3">
  <p><b>Próximos pasos</b></p>
  <p>Nos comunicaremos con usted para coordinar la entrega de atención psicológica temprana, la cual es obligatoria.</p>
  <p>Asimismo, le informaremos a la brevedad las medidas de resguardo adoptadas.</p>
  <p>En ambos casos, es obligatoria su colaboración y la adopción inmediata de las medidas de resguardo.</p>
</div>

<div class="mb-3">
  <small>
  <p><b>Confidencialidad</b></p>
  <p>
    Este documento no incluye información que pueda vulnerar el derecho a la confidencialidad exigido por el reglamento. Le recordamos su obligación de no compartir el contenido de este documento con terceras personas.
  </p>
  </small>
</div>

<div class="pdf-footer mt-5">
  <div class="text-center">
    <% if @sign_url.present? %>
      <img src="<%= @sign_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>
