<div class="pdf-header">
  <div class="text-center">
    <% if @head_url.present? %>
      <img src="<%= @head_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>

<div class="text-center fs-6">
  Ley 21.643<br>
  Procedimiento de investigación y sanción<br>
  Recepción de denuncias
</div>

<div class="text-center fs-5">
  Agendamiento de declaración del participante
</div>

<div class="row mt-5">
  <div class="col-6">
    <%= @krn_kywrd %><br>
    Sr(a) <%= @prtcpnt.nombre %><br>
    PRESENTE
  </div>
  <div class="col-6 text-end">
    REFERENCIA:<br>
    Denuncia <%= @record.identificador %>
  </div>
</div>

	<p>
	Por medio de la presente, informo que su declaración, en el marco de la investigación regulada por la Ley N° 21.643 (Ley Karin), ha sido agendada para el próximo día <%= dia_dm(@ntfcdr.fecha) %>, a las <%= hm_24(@ntfcdr.fecha) %> horas.
	</p>

	<p>
	Para tales efectos, deberá conectarse en la fecha y hora indicadas a través del siguiente enlace: <%= link_to 'Declaración', @ntfcdr.enlace %>
	</p>

	<p>
	Se recomienda contar previamente con la aplicación zoom instalada, a fin de evitar inconvenientes tecnológicos.
	</p>

	<p>Sin otro particular, le saluda atentamente,</p>

	<p class="text-center">
	<%= @record.invstgdr_activo.krn_investigador.krn_investigador %><br/>
	<small>
	Investigador(a) asignado(a)<br/>
	<%= @record.invstgdr_activo.krn_investigador.email %>
	</small>
	</p>

<div class="pdf-footer mt-5">
  <div class="text-center">
    <% if false %>
      <img src="<%= @sign_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>
