<div class="pdf-header">
  <div class="text-center">
    <% if @head_url.present? %>
      <img src="<%= @head_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>

<div class="text-center fs-6">
  Ley 21.643<br>
  Procedimiento de investigación y sanción<br>
  Recepción de denuncias
</div>

<div class="text-center fs-5">
  Notificación de Derivación de la Denuncia
</div>

<div class="row mt-5">
  <div class="col-6">
    REFERENCIA:<br>
    Denuncia N° <%= @record.id %>
  </div>
  <div class="col-6 text-end">
    DESTINATARIO:<br>
    <%= @krn_kywrd %>
  </div>
</div>

	<div class="mt-4" style="font-weight: bold;">
		<p>Sr(a) <%= @prtcpnt.nombre %></p>
		<p>PRESENTE</p>
	</div>


	<p>
	  Por la presente, le informamos que con fecha <%= dma(@ntfcdr.fecha) %>, la denuncia en la cual usted participa en calidad de <%= @prtcpnt.kywrd[:rol] %> ha sido derivada conforme al siguiente motivo: <%= @ntfcdr.motivo %>.
	</p>

	<p>
	  Quedamos a su disposición para atender cualquier consulta relacionada con la presente notificación.
	</p>

<div class="pdf-footer mt-5">
  <div class="text-center">
    <% if false %>
      <img src="<%= @sign_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>
