<div class="pdf-header">
  <div class="text-center">
    <% if @head_url.present? %>
      <img src="<%= @head_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>

<div class="text-center fs-6">
  Ley 21.643<br>
  Procedimiento de investigación y sanción<br>
  Recepción de denuncias
</div>

<div class="text-center fs-5">
  Verificación de datos de los participantes y solicitud de documentación
</div>

<div class="row mt-5">
  <div class="col-6">
    REFERENCIA:<br>
    Denuncia N° <%= @record.id %>
  </div>
  <div class="col-6 text-end">
    DESTINATARIO:<br>
    <%= @krn_kywrd %>
  </div>
</div>

	<p>Le solicitamos verificar y completar la información de los trabajadores presentados a continuación:</p>

	<table class="pdf-minimal">
	<thead>
	</thead>
	<tbody>
		<% @record.krn_denunciantes.each do |dnncnt| %>
			<tr><td><b>Nombre</b></td>			<td><b><%=dnncnt.nombre%></b></td></tr>
			<tr><td>Cédula de identidad</td>	<td><%=s_rut(dnncnt.rut)%></td></tr>
			<tr><td>Email</td>					<td><%=dnncnt.email%></td></tr>
			<tr><td>Articulo 4 inciso 1ro</td>	<td><%=dnncnt.articulo_4_1 ? 'aplica' : 'no aplica'%></td></tr>
			<% dnncnt.krn_testigos.each do |tstg| %>
				<tr><td><b>Nombre</b></td>			<td><b><%=tstg.nombre%></b></td></tr>
				<tr><td>Cédula de identidad</td>	<td><%=s_rut(tstg.rut)%></td></tr>
				<tr><td>Email</td>					<td><%=tstg.email%></td></tr>
				<tr><td>Articulo 4 inciso 1ro</td>	<td><%=tstg.articulo_4_1 ? 'aplica' : 'no aplica'%></td></tr>
			<% end %>
		<% end %>

		<% @record.krn_denunciados.each do |dnncd| %>
			<tr><td><b>Nombre</b></td>			<td><b><%=dnncd.nombre%></b></td></tr>
			<tr><td>Cédula de identidad</td>	<td><%=s_rut(dnncd.rut)%></td></tr>
			<tr><td>Email</td>					<td><%=dnncd.email%></td></tr>
			<tr><td>Articulo 4 inciso 1ro</td>	<td><%=dnncd.articulo_4_1 ? 'aplica' : 'no aplica'%></td></tr>
			<% dnncd.krn_testigos.each do |tstg| %>
				<tr><td><b>Nombre</b></td>			<td><b><%=tstg.nombre%></b></td></tr>
				<tr><td>Cédula de identidad</td>	<td><%=s_rut(tstg.rut)%></td></tr>
				<tr><td>Email</td>					<td><%=tstg.email%></td></tr>
				<tr><td>Articulo 4 inciso 1ro</td>	<td><%=tstg.articulo_4_1 ? 'aplica' : 'no aplica'%></td></tr>
			<% end %>
		<% end %>
	</tbody>
	</table>

<div class="pdf-footer mt-5">
  <div class="text-center">
    <% if @sign_url.present? %>
      <img src="<%= @sign_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>
