<div class="pdf-header">
  <div class="text-center">
    <% if @head_url.present? %>
      <img src="<%= @head_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>

<div class="text-center fs-6">
  Ley 21.643<br>
  Procedimiento de investigación y sanción<br>
  Recepción de denuncias
</div>

<div class="text-center fs-5">
  Notificación de recepción de denuncia Ley 21.643
</div>

<div class="row mt-5">
  <div class="col-6">
    Sr(a) <%= @prtcpnt.nombre %><br>
    PRESENTE
  </div>
  <div class="col-6 text-end">
    REFERENCIA:<br>
    Denuncia <%= @record.identificador %>
  </div>
</div>

<div class="mt-4" style="font-size: 14px; line-height: 1.5;">
	<p>
	  Junto con saludarlo(la), le informamos que se ha iniciado una investigación interna en el marco de la Ley N° 21.643 en la cual usted tiene la calidad de <%= @prtcpnt.kywrd[:rol] %>.
	</p>
</div>

<div class="mt-4" style="font-size: 14px; line-height: 1.5;">
	<p>
	  Durante el desarrollo del procedimiento, usted tendrá derecho a ser oído(a), a formular descargos, a aportar pruebas y antecedentes .
	</p>
</div>

<div class="mt-4" style="font-size: 14px; line-height: 1.5;">
	<p>La investigación será llevada a cabo por un investigador imparcial  y tendrá una duración máxima de 30 días hábiles.</p>
</div>

<div class="mt-4" style="font-size: 14px; line-height: 1.5;">
	<p>Asimismo, se deja constancia de que este procedimiento es de carácter confidencial, por lo que todas las personas que participen en él deberán mantener estricta reserva respecto de los antecedentes y del desarrollo del proceso.</p>
</div>

<div class="pdf-footer mt-5">
  <div class="text-center">
    <% if false %>
      <img src="<%= @sign_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>
