<div class="pdf-header">
  <div class="text-center">
    <% if @head_url.present? %>
      <img src="<%= @head_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>

<div class="text-center fs-6">
  Ley 21.643<br>
  Procedimiento de investigación y sanción<br>
  Recepción de denuncias
</div>

<div class="text-center fs-5">
  Notifica designación de Investigador(a)
</div>

<div class="row mt-5">
  <div class="col-6">
    <%= @krn_kywrd %><br>
    Sr(a) <%= @prtcpnt.nombre %><br>
    PRESENTE
  </div>
  <div class="col-6 text-end">
    REFERENCIA:<br>
    Denuncia <%= @record.identificador %>
  </div>
</div>

	<p>De nuestra consideración:</p>

	<p>
	  Por medio de la presente, informamos que el(la) Sr(a) <%= @ntfcdr.krn_investigador.krn_investigador %> ha sido designado(a) como investigador(a) en el procedimiento individualizado en la referencia.</p>

	<p>
	  Para efectos del presente procedimiento, usted participa en calidad de <%= @prtcpnt.kywrd[:rol] %>.
	</p>

	<p>
	  A partir de este momento, la investigadora designada queda a su disposición para resolver cualquier consulta a través de la casilla de correo electrónico <%= @ntfcdr.krn_investigador.email %>
	</p>

	<p>Sin otro particular, le saluda atentamente,<br>Recepción de Denuncias – Ley N° 21.643</p>

<div class="pdf-footer mt-5">
  <div class="text-center">
    <% if false %>
      <img src="<%= @sign_url.to_s.strip %>" alt="Logo empresa" style="max-height: 48px;">
    <% end %>
  </div>
</div>
