<p id="notice"><%= notice %></p>

<p>
  <strong>Clnt:</strong>
  <%= @tar_calculo.clnt_id %>
</p>

<p>
  <strong>Ownr clss:</strong>
  <%= @tar_calculo.ownr_clss %>
</p>

<p>
  <strong>Ownr:</strong>
  <%= @tar_calculo.ownr_id %>
</p>

<p>
  <strong>Tar pago:</strong>
  <%= @tar_calculo.tar_pago_id %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @tar_calculo.moneda %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @tar_calculo.monto %>
</p>

<p>
  <strong>Glosa:</strong>
  <%= @tar_calculo.glosa %>
</p>

<p>
  <strong>Cuantia:</strong>
  <%= @tar_calculo.cuantia %>
</p>

<%= link_to 'Edit', edit_tar_calculo_path(@tar_calculo) %> |
<%= link_to 'Back', tar_calculos_path %>
