<div class='row'>
	<div class='col-md-1'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Órden', v: true } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :orden } %>
	</div>
	<div class='col-md-3'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Código', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :codigo } %>
	</div>
	<div class='col-md-8'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Fórmula', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :tar_formula } %>
	</div>
</div>

<%= render partial: '0p/form_fields/hidden', locals: {form: form, token: :tar_pago_id} %>
