<div class="ttl_app">
  <div class="ttl_ttl">
    <%= render partial: '0p/general/gly', locals: {gly: controller_icon['hm_paginas']} %>
    Página : <%= @objeto.hm_pagina %>
  </div>
  <div class="ttl_lnks">
    <%= render layout: '0p/layout/tooltip_link', locals: {link: hm_paginas_path, tooltip: 'Volver a Páginas'} do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
    <i class="bi bi-dot"></i>
    <%= render layout: '0p/layout/tooltip_link', locals: {link: "/hm_parrafos/new?pid=#{@objeto.id}", tooltip: 'Agregar Párrafo'} do %>
      <i class="bi bi-plus-circle"></i>
    <% end %>
  </div>
</div>

<%= render partial: '0p/tabla/tabla', locals: {c: 'hm_parrafos'} %>