<div class="row">
	<div class="col-6">
		<% if objeto.owner.class.name == 'Asesoria' %>
			<%= owner.descripcion %>
		<% else %>
			<!-- 'Causa': Se puede desplegar TarPago o TarFacturacion, pero TarFacturacion se despliega distinto que si owner es Asesoria -->
			<%= objeto.class.name == 'TarPago' ? objeto.tar_pago : objeto.tar_pago.tar_pago %>
		<% end %>
	</div>
	<div class="col-6" align='right'>
		<%= s_uf5(@h_pagos[objeto.id][:monto_uf]) %>
		<i class="bi bi-arrow-left-right"></i>
		<%= s_pesos(@h_pagos[objeto.id][:monto_pesos]) %>
	</div>
</div>

<div style='padding-left: 1em; padding-right: 1em; line-height: 13px;'>
	<% if @h_pagos[objeto.id][:pago].present? %>
		<small>
		<small>
		Pago generado el <%= dma(@h_pagos[objeto.id][:pago].created_at) %>
		</small>

		<%= render partial: 'tarifas/tar_facturaciones/list/aprobaciones_facturas', locals: {objeto: @h_pagos[objeto.id][:pago]} %>
		</small>
	<% else %>
		<small><small>Pago sin aprobación</small></small>
	<% end %>
	</br>

	<small><small>
	<div class="row">
		<div class="col-10">
			<i class="bi bi-arrow-right"></i> 
			<% case @h_pagos[objeto.id][:origen_fecha_pago] %>
			<% when 'TarUfFacturacion' %>
				UF definida para este pago.
			<% when 'TarPago' %>
				UF definida por la fecha de aprobación.
			<% when 'Asesoria' %>
				UF definida en la asesoría.
			<% when 'Today' %>
				Cálculo realizado con la UF del día.
			<% end %> 

			<% if owner.class.name == 'Causa' %>
				( <%= dma( objeto.class.name == 'TarPago' ? owner.fecha_calculo_pago(objeto) : objeto.fecha_calculo ) %> )
			<% else %>
				( <%= dma(objeto.fecha_calculo) %> )
			<% end %>

			<% if owner.class.name == 'Causa' %>
				<% if objeto.class.name == 'TarPago' %>
					<% unless owner.pago_generado(objeto).present? %>
						</br>
						<%= render layout: '0p/collapse/link', locals: {label: 'AgregaModifica', objeto: objeto, tooltip: owner.tar_uf_facturacion(objeto).blank? ? 'agrega ' : 'modifica ' } do %>
							<%= owner.tar_uf_facturacion(objeto).blank? ? 'agrega ' : 'modifica ' %> fecha de la uf
						<% end %>
						<% unless owner.tar_uf_facturacion(objeto).blank? %>
							<i class="bi bi-dot"></i>
							<%= link_to "/causas/#{owner.id}/elimina_uf_facturacion?pid=#{objeto.id}" do %>
								<small><i class="bi bi-trash"></i></small>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="col-2" align='right'>
			<b class="text-info">
			<% if owner.class.name == 'Causa' %>
				<% if objeto.class.name == 'TarPago' %>
					<%= owner.uf_calculo_pago(objeto).blank? ? 'UF no encontrada' : s_pesos2(owner.uf_calculo_pago(objeto).valor) %>
				<% else %>
					<%= objeto.uf_calculo.blank? ? 'UF no encontrada' : s_pesos2(objeto.uf_calculo.valor) %>
				<% end %>
			<% else %>
				<%= objeto.uf_calculo.blank? ? 'UF no encontrada' : s_pesos2(objeto.uf_calculo.valor) %>
			<% end %>
			</b>
		</div>
	</div>

	<% if owner.class.name == 'Causa' %>
		<%= render layout: '0p/collapse/display', locals: {label: 'AgregaModifica', objeto: objeto} do %>
			<%= render partial: "causas/partials/form_uf_facturacion", locals: {objeto: owner, pago: objeto} %>
		<% end %>
	<% end %>
	</small></small>

	<% if owner.pago_generado(objeto).blank? %>
		<p><%= link_to 'Generar pago', "/tar_facturaciones/crea_facturacion?owner_class=#{owner.class.name}&owner_id=#{owner.id}&pid=#{objeto.id}", class: 'btn btn-primary btn-sm' %></p>
    <% end %>

</div>