<div id="<%= dom_id krn_empresa_externa %>">
  <p>
    <strong>Rut:</strong>
    <%= krn_empresa_externa.rut %>
  </p>

  <p>
    <strong>Razon social:</strong>
    <%= krn_empresa_externa.razon_social %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= krn_empresa_externa.tipo %>
  </p>

  <p>
    <strong>Contacto:</strong>
    <%= krn_empresa_externa.contacto %>
  </p>

  <p>
    <strong>Email contacto:</strong>
    <%= krn_empresa_externa.email_contacto %>
  </p>

</div>
