<div id="<%= dom_id htexto %>">
  <p>
    <strong>H texto:</strong>
    <%= htexto.h_texto %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= htexto.texto %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= htexto.imagen %>
  </p>

  <p>
    <strong>Img sz:</strong>
    <%= htexto.img_sz %>
  </p>

  <p>
    <strong>Lnk txt:</strong>
    <%= htexto.lnk_txt %>
  </p>

  <p>
    <strong>Lnk:</strong>
    <%= htexto.lnk %>
  </p>

</div>
