<% calculo 		= ownr.tar_calculos.find_by(codigo_formula: pago.codigo_formula) %>
<% facturacion 	= ownr.tar_facturaciones.find_by(codigo_formula: pago.codigo_formula) %>
<% rgstr = calculo.nil? ? facturacion : calculo %>

<!-- Version 2.0 -->
<hr>
<% unless rgstr.nil? %>

	<div class="px-2">
		<b>Autorización</b>
		<!-- BOTÓN ELIMINA CALCULO -->
		<% if rgstr.class.name == 'TarCalculo' and rgstr.tar_aprobacion_id.blank? %>
			<%= render layout: '0p/tltp_lnk', locals: {lnk: "/tar_calculos/#{rgstr.id}/elimina_calculo", tltp: 'Eliminar autorización', data: {turbo_method: :post}} do %>
				<i class="bi bi-trash"></i>
			<% end %>
		<% end %>
	</div>
	<div class="row px-2 gx-1">
		<div class="col">
			<i class="bi bi-dot"></i>Fecha autorización
		</div>
		<div class="col text-end">
			<%= dma( rgstr.created_at ) %>
		</div>
	</div>
	<div class="row px-2 gx-1">
		<div class="col">
			<i class="bi bi-dot"></i>Cuantía utilizada para el cálculo
		</div>
		<div class="col text-end">
			<%= s_pesos( rgstr.cuantia_calculo ) %>
		</div>
	</div>

	<% unless rgstr.tar_facturaciones.empty? %>
		<div class="px-2">
			<b>Pago(s)</b>
		</div>

		<% rgstr.tar_facturaciones.order(:created_at).each do |fctn| %>
			<div class="row px-2 gx-1">
				<div class="col">
					<i class="bi bi-dot"></i><%= fctn.glosa %>
					<% unless fctn.tar_aprobacion.blank? and fctn.tar_factura.blank? %>
						<%= render partial: 'tarifas/tar_facturaciones/list/aprobacion_factura', locals: {objeto: fctn} %>
					<% end %>
				</div>
				<div class="col text-end">
					<%= s_pesos(fctn.monto_pesos) %>
				</div>
			</div>
		<% end %>
	<% end %>

<% else %>

	<% if ownr.class.name == 'Causa' and controller_name == 'causas' %>
		</br>
		<%= render layout: '0p/bttn', locals: {lnk: "/tar_calculos/crea_calculo#{ownr_prms(ownr)}&pid=#{pago.id}", mthd: :post} do %>
			<i class="bi bi-cursor"></i> Autorizar pago
		<% end %>
    <% end %>
	
<% end %>