	<hr>
	<% unless @pgs_stts[pago.id].blank? %>
		<div class="ln_app">
			<div class="ln_nm">
				<b>Autorización</b>
				<% if @pgs_stts[pago.id].class.name == 'TarCalculo' and @pgs_stts[pago.id].tar_aprobacion_id.blank? %>
					<%= render layout: '0p/layout/tooltip_link', locals: {link: "/tar_calculos/#{@pgs_stts[pago.id].id}/elimina_calculo", tooltip: 'Eliminar autorización'} do %>
						<i class="bi bi-trash"></i>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="ln_app">
			<div class="ln_nm">
				<i class="bi bi-dot"></i>Fecha autorización
			</div>
			<div class="ln_lnks">
				<%= dma( @pgs_stts[pago.id].created_at ) %>
			</div>
		</div>
		<div class="ln_app">
			<div class="ln_nm">
				<i class="bi bi-dot"></i>Cuantía utilizada para el cálculo
			</div>
			<div class="ln_lnks">
				<%= s_pesos( @pgs_stts[pago.id].cuantia_calculo ) %>
			</div>
		</div>

		<div class="ln_app">
			<div class="ln_nm">
				<b>Pago(s)</b>
			</div>
		</div>
		<% unless @pgs_stts[pago.id].tar_facturaciones.empty? %>
			<% @pgs_stts[pago.id].tar_facturaciones.order(:created_at).each do |fctn| %>
				<div class="ln_app">
					<div class="ln_nm">
						<i class="bi bi-dot"></i><%= fctn.glosa %>
						<% unless get_tar_facturacion(owner, pago).tar_aprobacion.blank? and get_tar_facturacion(owner, pago).tar_factura.blank? %>
							<%= render partial: 'tarifas/tar_facturaciones/list/aprobacion_factura', locals: {objeto: get_tar_facturacion(owner, pago)} %>
						<% end %>
					</div>
					<div class="ln_lnks">
						<%= s_pesos(fctn.monto_pesos) %>
					</div>
				</div>
			<% end %>
		<% end %>

	<% else %>

		<div class="ln_app">
			<div class="ln_lnks">
				Pago sin autorizar!
			</div>
		</div>
		<% if owner.class.name == 'Causa' and controller_name == 'causas' %>
			</br>
			<%= link_to 'Autorizar pago', "/tar_facturaciones/crea_facturacion#{ownr_prms(owner)}&pid=#{pago.id}", class: 'btn btn-primary btn-sm' %>
	    <% end %>
		
	<% end %>
