<!-- DEPRECATED : Reemplazar por _encabezado_calculo.html.erb -->
<!-- Se usa owner y no causa porque este código se podría accesar desde Asesoria -->
<!-- pago: tar_pago, owner: causa -->
<div class="row px-2 gx-1" style="font-size: 16px;line-height: 1.2;">
	<div class="col">
		<b><%= pago.tar_pago %></b>
	</div>
	<div class="col text-end">
		<!-- No se ha realizado el cálculo y el pago requiere el valor de la UF -->
		<% if pago.requiere_uf == true and get_uf_calculo(owner, pago).blank? %>
			<small><b class="text-danger">UF del dia <%= dma(get_fecha_calculo(owner, pago)) %> no encontrada</b></small>
		<% else %>
			<small>
			<%= s_uf5(get_v_calculo_tarifa(owner, pago)[0]) %>
			<i class="bi bi-arrow-left-right"></i>
			</small>
			<b><%= s_pesos(get_v_calculo_tarifa(owner, pago)[1]) %></b>
		<% end %>
	</div>
</div>

<% if requiere_uf(owner, pago) %>             
	<div class="row px-2 gx-1">
		<div class="col">
			Fecha cálculo
			<% if controller_name == 'causas' and owner.tar_calculos.empty? %>
				<%= render layout: '0p/collapse/link', locals: {label: 'AgregaModifica', objeto: pago, tooltip: "#{get_tar_uf_facturacion(owner, pago).blank? ? 'Agrega' : 'Modiffica'} fecha UF de cálculo" } do %>
					<i class="bi bi-pencil-square"></i>
				<% end %>
				<% if get_tar_uf_facturacion(owner, pago).present? %>
					<%= link_to "/causas/#{owner.id}/del_uf_facturacion?pid=#{pago.id}" do %>
						<i class="bi bi-trash"></i>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="col text-end">
			<%= dma(get_fecha_calculo(owner, pago)) %>
		</div>
	</div>

	<%= render layout: '0p/collapse/display', locals: {label: 'AgregaModifica', objeto: pago} do %>
		<%= render partial: "causas/shw/tarifa_pagos/aprobacion/form_uf_facturacion", locals: {causa: owner, pago: pago} %>
	<% end %>

	<% unless get_uf_calculo(owner, pago).blank? %>
		<b>
		<div class="row px-2 gx-1">
			<div class="col">
				<%= leyenda_origen_fecha_calculo(owner, pago) %>
			</div>
			<div class="col text-end">
				<%= s_uf( get_uf_calculo(owner, pago) ) %>
			</div>
		</div>
		</b>
	<% end %>
<% end %>