<!-- Se usa owner y no causa porque este código se podría accesar desde Asesoria -->
<!-- pago: tar_pago, owner: causa -->
<div class="ln_hd">
	<div class="ln_lft">
		<b>
		<% if pago.owner.class.name == 'Asesoria' %>
			<%= owner.descripcion %>
		<% else %>
			<!-- 'Causa': Se puede desplegar TarPago o TarFacturacion, pero TarFacturacion se despliega distinto que si owner es Asesoria -->
			<%= pago.tar_pago %>
		<% end %>
		</b>
	</div>
	<div class="ln_rght">
		<!-- No se ha realizado el cálculo y el pago requiere el valor de la UF -->
		<% unless uf_fecha(fecha_calculo(owner, pago)).blank? and pago.requiere_uf %>
			<small>
			<%= s_uf5(v_monto_calculo(owner, pago)[0]) %>
			<i class="bi bi-arrow-left-right"></i>
			</small>
			<b><%= s_pesos(v_monto_calculo(owner, pago)[1]) %></b>
		<% else %>
			<small><b class="text-danger">UF del dia <%= dma(fecha_calculo(owner, pago)) %> no encontrada</b></small>
		<% end %>
	</div>
</div>

<% if pago.requiere_uf %>             
	<div class="ln_dtll">
		<div class="ln_lft">
			Fecha cálculo
			<%= render layout: '0p/collapse/link', locals: {label: 'AgregaModifica', objeto: pago, tooltip: "#{get_tar_uf_facturacion(owner, pago).blank? ? 'Agrega' : 'Modiffica'} fecha UF de cálculo" } do %>
				<i class="bi bi-pencil-square"></i>
			<% end %>
			<% if get_tar_uf_facturacion(owner, pago).present? %>
				<%= link_to "/causas/#{owner.id}/elimina_uf_facturacion?pid=#{pago.id}" do %>
					<i class="bi bi-trash"></i>
				<% end %>
			<% end %>
		</div>
		<div class="ln_rght">
			<%= dma(fecha_calculo(owner, pago)) %>
		</div>
	</div>

	<%= render layout: '0p/collapse/display', locals: {label: 'AgregaModifica', objeto: pago} do %>
		<%= render partial: "causas/shw/tarifa_pagos/aprobacion/form_uf_facturacion", locals: {causa: owner, pago: pago} %>
	<% end %>
<% end %>

<% unless uf_fecha(fecha_calculo(owner, pago)).blank? and pago.requiere_uf %>
	<b>
	<div class="ln_dtll">
		<div class="ln_lft">
			<%= leyenda_origen_fecha_calculo(owner, pago) %>
		</div>
		<div class="ln_rght">
			<%= s_uf( uf_calculo(owner, pago) ) %>
		</div>
	</div>
	</b>
<% end %>
