<!-- Se usa owner y no causa porque este código se podría accesar desde Asesoria -->
<!-- pago: tar_pago, owner: causa -->
<div class="ttl_bx">
	<div class="ttl_lft">
		<b>
		<% if pago.owner.class.name == 'Asesoria' %>
			<%= owner.descripcion %>
		<% else %>
			<!-- 'Causa': Se puede desplegar TarPago o TarFacturacion, pero TarFacturacion se despliega distinto que si owner es Asesoria -->
			<%= pago.tar_pago %>
		<% end %>
		</b>
	</div>
	<div class="ttl_rght">
		<!-- No se ha realizado el cálculo y el pago requiere el valor de la UF -->
		<% if pago.requiere_uf == true and uf_fecha(get_fecha_calculo(owner, pago)).blank? %>
			<small><b class="text-danger">UF del dia <%= dma(get_fecha_calculo(owner, pago)) %> no encontrada</b></small>
		<% else %>
			<small>
			<%= s_uf5(get_v_calculo_tarifa(owner, pago)[0]) %>
			<i class="bi bi-arrow-left-right"></i>
			</small>
			<b><%= s_pesos(get_v_calculo_tarifa(owner, pago)[1]) %></b>
		<% end %>
	</div>
</div>

<% if pago.requiere_uf %>             
	<div class="ln_app">
		<div class="ln_nm">
			Fecha cálculo
			<% if controller_name == 'causas' %>
				<%= render layout: '0p/collapse/link', locals: {label: 'AgregaModifica', objeto: pago, tooltip: "#{get_tar_uf_facturacion(owner, pago).blank? ? 'Agrega' : 'Modiffica'} fecha UF de cálculo" } do %>
					<i class="bi bi-pencil-square"></i>
				<% end %>
			<% end %>
			<% if get_tar_uf_facturacion(owner, pago).present? %>
				<%= link_to "/causas/#{owner.id}/elimina_uf_facturacion?pid=#{pago.id}" do %>
					<i class="bi bi-trash"></i>
				<% end %>
			<% end %>
		</div>
		<div class="ln_lnks">
			<%= dma(get_fecha_calculo(owner, pago)) %>
		</div>
	</div>

	<%= render layout: '0p/collapse/display', locals: {label: 'AgregaModifica', objeto: pago} do %>
		<%= render partial: "causas/shw/tarifa_pagos/aprobacion/form_uf_facturacion", locals: {causa: owner, pago: pago} %>
	<% end %>

	<% unless uf_fecha(get_fecha_calculo(owner, pago)).blank? and pago.requiere_uf %>
		<b>
		<div class="ln_app">
			<div class="ln_nm">
				<%= leyenda_origen_fecha_calculo(owner, pago) %>
			</div>
			<div class="ln_lnks">
				<%= s_uf( get_uf_calculo(owner, pago) ) %>
			</div>
		</div>
		</b>
	<% end %>
<% end %>