<!-- Se usa owner y no causa porque este código se podría accesar desde Asesoria -->
<!-- pago: tar_pago, owner: causa -->
<div class="row gx-1 px-2" style="font-size: 16px;">
	<div class="col-8">
		<%= objeto.tar_calculo.glosa %>
	</div>
	<div class="col-4 text-end">
		<% if (objeto.class.name == 'Asesoria' and objeto.tar_servicio_moneda == 'UF') or (objeto.class.name == 'Cargo' and objeto.moneda == 'UF') %>
			<small>
			<%= s_uf5(objeto.tar_servicio_monto) %>
			<i class="bi bi-arrow-left-right"></i>
			</small>
		<% end %>
		<b><%= s_pesos(objeto.monto_factura) %></b>
	</div>
</div>

<% if (objeto.class.name == 'Asesoria' and objeto.tar_servicio_moneda == 'UF') or (objeto.class.name == 'Cargo' and objeto.moneda == 'UF') %>             
	<div class="row gx-1 px-2">
		<div class="col-8">
			Fecha cálculo
		</div>
		<div class="col-4 text-end">
			<%= dma(objeto.tar_calculo.fecha_uf ) %>
		</div>
	</div>

	<b>
	<div class="row gx-1 px-2">
		<div class="col-8">
			<%= leyenda_origen_fecha_calculo(owner, pago) %>
		</div>
		<div class="col-4 text-end">
			<%= s_uf( uf_fecha(owner.get_uf_facturacion.present? ? owner.get_uf_facturacion.fecha : objeto.created_at) ) %>
		</div>
	</div>
	</b>
<% end %>