<p id="notice"><%= notice %></p>

<h1>App Escaneos</h1>

<table>
  <thead>
    <tr>
      <th>Ownr class</th>
      <th>Ownr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_escaneos.each do |app_escaneo| %>
      <tr>
        <td><%= app_escaneo.ownr_class %></td>
        <td><%= app_escaneo.ownr_id %></td>
        <td><%= link_to 'Show', app_escaneo %></td>
        <td><%= link_to 'Edit', edit_app_escaneo_path(app_escaneo) %></td>
        <td><%= link_to 'Destroy', app_escaneo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App Escaneo', new_app_escaneo_path %>
