<p id="notice"><%= notice %></p>

<p>
  <strong>Ownr class:</strong>
  <%= @app_escaneo.ownr_class %>
</p>

<p>
  <strong>Ownr:</strong>
  <%= @app_escaneo.ownr_id %>
</p>

<%= link_to 'Edit', edit_app_escaneo_path(@app_escaneo) %> |
<%= link_to 'Back', app_escaneos_path %>
