<%= form_with(model: krn_testigo) do |form| %>
  <% if krn_testigo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(krn_testigo.errors.count, "error") %> prohibited this krn_testigo from being saved:</h2>

      <ul>
        <% krn_testigo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ownr_type, style: "display: block" %>
    <%= form.text_field :ownr_type %>
  </div>

  <div>
    <%= form.label :ownr_id, style: "display: block" %>
    <%= form.number_field :ownr_id %>
  </div>

  <div>
    <%= form.label :krn_empresa_externa_id, style: "display: block" %>
    <%= form.number_field :krn_empresa_externa_id %>
  </div>

  <div>
    <%= form.label :rut, style: "display: block" %>
    <%= form.text_field :rut %>
  </div>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :cargo, style: "display: block" %>
    <%= form.text_field :cargo %>
  </div>

  <div>
    <%= form.label :lugar_trabajo, style: "display: block" %>
    <%= form.text_field :lugar_trabajo %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :email_ok, style: "display: block" %>
    <%= form.check_box :email_ok %>
  </div>

  <div>
    <%= form.label :info_reglamento, style: "display: block" %>
    <%= form.check_box :info_reglamento %>
  </div>

  <div>
    <%= form.label :info_procedimiento, style: "display: block" %>
    <%= form.check_box :info_procedimiento %>
  </div>

  <div>
    <%= form.label :info_derechos, style: "display: block" %>
    <%= form.check_box :info_derechos %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
