<div id="<%= dom_id krn_testigo %>">
  <p>
    <strong>Ownr type:</strong>
    <%= krn_testigo.ownr_type %>
  </p>

  <p>
    <strong>Ownr:</strong>
    <%= krn_testigo.ownr_id %>
  </p>

  <p>
    <strong>Krn empresa externa:</strong>
    <%= krn_testigo.krn_empresa_externa_id %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= krn_testigo.rut %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= krn_testigo.nombre %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= krn_testigo.cargo %>
  </p>

  <p>
    <strong>Lugar trabajo:</strong>
    <%= krn_testigo.lugar_trabajo %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= krn_testigo.email %>
  </p>

  <p>
    <strong>Email ok:</strong>
    <%= krn_testigo.email_ok %>
  </p>

  <p>
    <strong>Info reglamento:</strong>
    <%= krn_testigo.info_reglamento %>
  </p>

  <p>
    <strong>Info procedimiento:</strong>
    <%= krn_testigo.info_procedimiento %>
  </p>

  <p>
    <strong>Info derechos:</strong>
    <%= krn_testigo.info_derechos %>
  </p>

</div>
