<p style="color: green"><%= notice %></p>

<%= render @krn_testigo %>

<div>
  <%= link_to "Edit this krn testigo", edit_krn_testigo_path(@krn_testigo) %> |
  <%= link_to "Back to krn testigos", krn_testigos_path %>

  <%= button_to "Destroy this krn testigo", @krn_testigo, method: :delete %>
</div>
