<%= form_with(model: age_usuario, local: true) do |form| %>
  <% if age_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(age_usuario.errors.count, "error") %> prohibited this age_usuario from being saved:</h2>

      <ul>
      <% age_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :owner_class %>
    <%= form.text_field :owner_class %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id %>
  </div>

  <div class="field">
    <%= form.label :age_usuario %>
    <%= form.text_field :age_usuario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
