<p id="notice"><%= notice %></p>

<p>
  <strong>Owner class:</strong>
  <%= @age_usuario.owner_class %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @age_usuario.owner_id %>
</p>

<p>
  <strong>Age usuario:</strong>
  <%= @age_usuario.age_usuario %>
</p>

<%= link_to 'Edit', edit_age_usuario_path(@age_usuario) %> |
<%= link_to 'Back', age_usuarios_path %>
