<div class='row'>
	<div class='col-lg-6'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :tipo_causa_id, label: 'Tipo de Causa' } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :tipo_causa_id, colection: TipoCausa.all.order(:tipo_causa).collect { |tc| [tc.tipo_causa, tc.id] }, display_field: 'Tipo Causa', prompt: nil } %>
	</div>
	<div class='col-lg-6'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :tar_base_variable, label: 'Tarifa variable ( % base )' } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :tar_base_variable } %>
	</div>
</div>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :tar_tarifa_id } %>
