<%= form_with(model: valor, local: true) do |form| %>
  <% if valor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(valor.errors.count, "error") %> prohibited this valor from being saved:</h2>

      <ul>
      <% valor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :owner_class %>
    <%= form.text_field :owner_class %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id %>
  </div>

  <div class="field">
    <%= form.label :variable_id %>
    <%= form.number_field :variable_id %>
  </div>

  <div class="field">
    <%= form.label :c_string %>
    <%= form.text_field :c_string %>
  </div>

  <div class="field">
    <%= form.label :c_text %>
    <%= form.text_area :c_text %>
  </div>

  <div class="field">
    <%= form.label :c_fecha %>
    <%= form.datetime_select :c_fecha %>
  </div>

  <div class="field">
    <%= form.label :c_numero %>
    <%= form.text_field :c_numero %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
