<small>
<div class="list-item" style='padding-left: 1em; padding-top: 1em; margin-bottom: 1em;'>
	<div class="row">
		<div class="col-10">
			<small><%= objeto.padre.cliente.razon_social %></br>
			<% unless ['TarServicio', 'RegReporte'].include?(objeto.owner.class.name) or objeto.pago.blank? %>
				<%= objeto.pago.tar_pago %> | 
			<% end %>
			<%= s_uf(objeto.monto_uf) %> : <%= s_pesos(objeto.monto_pesos) %>
			<% if objeto.tar_factura.present? %>
				<%= link_to objeto.tar_factura do %>
					<i class="bi bi-box-arrow-up-right"></i>
				<% end %>
			<% end %>
			</small>
			</br>

			<%= objeto.tipo_owner %> : 
			<% case objeto.owner.class.name %>
			<% when 'Causa' %>
				<%= link_to objeto.owner.rit, "/causas/#{objeto.owner.id}?html_options[menu]=Facturacion" %> <%= objeto.owner.causa %>
			<% when 'TarServicio' %>
				<%= link_to objeto.owner.codigo, objeto.owner %> <%= objeto.owner.descripcion %>
			<% when 'RegReporte' %>
				<%= link_to objeto.owner.reg_reporte, objeto.owner %>
			<% when 'Consultoria' %>
				<%= link_to objeto.owner.consultoria, objeto.owner %>
			<% end %>
			</br>

			<%= render partial: 'tarifas/tar_facturaciones/list/bottom_links', locals: {objeto: objeto} %>

		</div>
		<div class="col-2">
			<%= render partial: '0p/tabla/btns', locals: {objeto: objeto} %>
		</div>
	</div>
</div>
</small>