<% case objeto.owner.class.name %>
<% when 'Causa' %>
	<%= objeto.find_pago.tar_pago %> 
	<% unless objeto.tar_cuota_id.blank? %>
		( <%= objeto.tar_cuota.orden %> )
	<% end %>
<% when 'Asesoria' %>
	<%= "Asesoría #{objeto.owner.tipo_asesoria.tipo_asesoria}" %>
<% end %>

<i class="bi bi-dot"></i>
<%= render partial: 'tarifas/tar_facturaciones/list/aprobacion_factura', locals: {objeto: objeto} %>

</br>

<div align="right">
	<b>
	<%= s_uf(objeto.monto_uf) %>
	<i class="bi bi-arrow-left-right"></i>
	<%= s_pesos(objeto.monto_pesos) %>
	</b>
</div>