<%= render partial: '0p/form_fields/label', locals: { form: form, token: :tar_cuota, label: 'Cuota' } %>
<%= render partial: '0p/form_fields/text', locals: { form: form, token: :tar_cuota } %>

<hr>

<div class="row">
	<div class="col-lg-4 col-xs-12">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :moneda, label: 'Moneda' } %>
		<%= render partial: '0p/form_fields/select', locals: { form: form, token: :moneda, sel_list: ['Pesos', 'UF'], label: 'Moneda' } %>
	</div>
	<div class="col-lg-4 col-xs-12">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :monto, label: 'Monto' } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :monto } %>
	</div>
	<div class="col-lg-4">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :porcentaje, label: 'Porcentaje' } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :porcentaje } %>
	</div>
</div>

<%= render partial: '0p/form_fields/check_box', locals: { form: form, token: :ultima_cuota, label: 'Última cuota' } %>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :orden} %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :tar_pago_id} %>
