<%= form_with(model: tar_cuota, local: true) do |form| %>
  <% if tar_cuota.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tar_cuota.errors.count, "error") %> prohibited this tar_cuota from being saved:</h2>

      <ul>
      <% tar_cuota.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tar_pago_id %>
    <%= form.number_field :tar_pago_id %>
  </div>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :tar_cuota %>
    <%= form.text_field :tar_cuota %>
  </div>

  <div class="field">
    <%= form.label :moneda %>
    <%= form.text_field :moneda %>
  </div>

  <div class="field">
    <%= form.label :monto %>
    <%= form.text_field :monto %>
  </div>

  <div class="field">
    <%= form.label :porcentaje %>
    <%= form.text_field :porcentaje %>
  </div>

  <div class="field">
    <%= form.label :ultima_cuota %>
    <%= form.check_box :ultima_cuota %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
