<%= form_with(model: app_enlace, local: true) do |form| %>
  <% if app_enlace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_enlace.errors.count, "error") %> prohibited this app_enlace from being saved:</h2>

      <ul>
      <% app_enlace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :enlace %>
    <%= form.text_field :enlace %>
  </div>

  <div class="field">
    <%= form.label :owner_class %>
    <%= form.text_field :owner_class %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
