<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @app_enlace.descripcion %>
</p>

<p>
  <strong>Enlace:</strong>
  <%= @app_enlace.enlace %>
</p>

<p>
  <strong>Owner class:</strong>
  <%= @app_enlace.owner_class %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @app_enlace.owner_id %>
</p>

<%= link_to 'Edit', edit_app_enlace_path(@app_enlace) %> |
<%= link_to 'Back', app_enlaces_path %>
