<div class="ln_bjt_app">
	<div class="ln_nm">
		<%= render partial: 'clientes/list/nm', locals: {objeto: objeto} %>
	</div>
	<div class="ln_lnks">
		<%= render partial: 'clientes/list/links', locals: {objeto: objeto} if check_crud(objeto) %>
	</div>
</div>
<%= render partial: 'notas/shr/cllps_dsply_nw_nt', locals: {objeto: objeto} %>
<%= render layout: '0p/collapse/display', locals: {label: 'Detalle', objeto: objeto} do %>
	<div class="cllps">
		<%= render partial: 'clientes/list/detalle', locals: {objeto: objeto} %>
	</div>
<% end %>
