<%= form_with(model: blg_imagen, local: true) do |form| %>
  <% if blg_imagen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blg_imagen.errors.count, "error") %> prohibited this blg_imagen from being saved:</h2>

      <ul>
      <% blg_imagen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :blg_imagen %>
    <%= form.text_field :blg_imagen %>
  </div>

  <div class="field">
    <%= form.label :imagen %>
    <%= form.text_field :imagen %>
  </div>

  <div class="field">
    <%= form.label :blg_credito %>
    <%= form.text_field :blg_credito %>
  </div>

  <div class="field">
    <%= form.label :ownr_class %>
    <%= form.text_field :ownr_class %>
  </div>

  <div class="field">
    <%= form.label :ownr_id %>
    <%= form.number_field :ownr_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
