<p id="notice"><%= notice %></p>

<p>
  <strong>Blg imagen:</strong>
  <%= @blg_imagen.blg_imagen %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @blg_imagen.imagen %>
</p>

<p>
  <strong>Blg credito:</strong>
  <%= @blg_imagen.blg_credito %>
</p>

<p>
  <strong>Ownr class:</strong>
  <%= @blg_imagen.ownr_class %>
</p>

<p>
  <strong>Ownr:</strong>
  <%= @blg_imagen.ownr_id %>
</p>

<%= link_to 'Edit', edit_blg_imagen_path(@blg_imagen) %> |
<%= link_to 'Back', blg_imagenes_path %>
