<div class="shw_bx">
	<% if objeto.krn_empresa_externa_id.present? %>
		<%= render partial: '0p/shw/fld_ln', locals: {fld: 'RUT empresa externa', vl: objeto.krn_empresa_externa.rut, algn: 'left'} %>
		<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Empresa externa', vl: objeto.krn_empresa_externa.razon_social, algn: 'left'} %>
	<% end %>

	<b>
		<%= render partial: '0p/shw/fld_ln', locals: {fld: 'RUT denunciante', vl: objeto.rut, algn: 'left'} %>
		<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Nombre denunciante', vl: objeto.nombre, algn: 'left'} %>
	</b>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Cargo', vl: objeto.cargo, algn: 'left'} %>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Lugar de trabajo', vl: objeto.lugar_trabajo, algn: 'left'} %>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'email', vl: objeto.email, algn: 'left'} %>

	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Empleador', vl: objeto.empleador, algn: 'left'} %>

	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Aplica artículo 4 inciso primero del Código del trabajo', vl: objeto.articulo_4_1 ? 'SI' : 'NO', algn: 'left'} %>
	<%= render partial: '0p/shw/fld_ln', locals: {fld: 'Aplica artículo 516 del Código del trabajo', vl: objeto.articulo_516 ? 'SI' : 'NO', algn: 'left'} %>
</div>