<div class="objt">
	<div class="ln">
		<%= render partial: '0p/general/objt', locals: {objeto: objeto} %>
	</div>
	<div class="dsply">
		<%= render partial: prtl_name('krn_denunciantes', 'list', 'cllps'), locals: {objeto: objeto} %>
	</div>
</div>
<div class="shw_bx">
	<b>Archivo(s) de la persona denunciante</b></br>
	<%#= render partial: "repositorios/shr/dc_admin", locals: {cntrl: cntrl_diat_diep(objeto), ownr: objeto, fl: @diat_diep[objeto.id], dc: @dc_diat_diep} %>
	<% @krn_dnncnt_dc_lst.each do |dc| %>
		<%= render partial: "repositorios/shr/dc_admin", locals: {cntrl: @krn_cntrl[dc.codigo], ownr: objeto, fl: @krn_dnncnt_fl[objeto.id][dc.codigo], dc: @krn_dnncnt_dc[objeto.id][dc.codigo]} %>
	<% end %>


	<b>Medidas de resguardo</b></br>
	<% objeto.krn_lst_medidas.each do |lst| %>
		<%= dma_hm(lst.created_at) %>
		<i class="bi bi-dot"></i>
		<%= render layout: '0p/layout/tltp_lnk', locals: {lnk: lst, tltp: 'Ver lista de medidas'} do %>
			Lista de medidas de protección y resguardo <%= lst.tipo %>
		<% end %>
		<%= render partial: '0p/tabla/link_eliminar', locals: {objeto: lst} %>
		</br>
	<% end %>
	<%= render layout: '0p/layout/tltp_lnk', locals: {lnk: "/krn_lst_medidas/new#{ownr_prms(objeto)}&t=#{objeto.krn_lst_medidas.any? ? 'Extraordinaria' : 'Principal'}", tltp: 'Agregar lista de medidas' } do %>
		<i class="bi bi-list-check"></i>
		Crear 
	<% end %>
	Lista de medidas <%= objeto.krn_lst_medidas.any? ? 'Extraordinaria' : 'Principal' %></br>

	<% objeto.krn_lst_modificaciones.each do |lst| %>
		<%= dma_hm(lst.created_at) %>
		<i class="bi bi-dot"></i>
		<%= render layout: '0p/layout/tltp_lnk', locals: {lnk: lst, tltp: 'Ver lista de modificaciones'} do %>
			Lista de modificaciones
		<% end %>
		<%= render partial: '0p/tabla/link_eliminar', locals: {objeto: lst} %>
		</br>
	<% end %>
	<% unless objeto.krn_lst_medidas.empty? %>
		<%= render layout: '0p/layout/tltp_lnk', locals: {lnk: "/krn_lst_modificaciones/new#{ownr_prms(objeto)}", tltp: 'Agregar lista de modificaciones' } do %>
			<i class="bi bi-eraser"></i>
			Crear 
		<% end %>
		Lista de modificaciones
	<% end %>
</div>
