<div class="shw_bx">
	<%= render partial: '0p/actv_bx/actv_objt', locals: {objeto: objeto} %>
	<div class="objt">
		<div class="ln">
		</div>
		<div class="dsply">
			<%= render partial: prtl_name('krn_denunciantes', 'list', 'cllps'), locals: {objeto: objeto} %>
		</div>
	</div>

	<%= render partial: prtl_name('repositorios', 'shr', 'dcs'), locals: {objeto: objeto, mdl: 'KrnDenunciante'} %>
	<%= render partial: prtl_name('karin', 'shr', 'mdds'), locals: {objeto: objeto} %>
	<%= render partial: prtl_name('karin', 'shr', 'mdfccns'), locals: {objeto: objeto} %>

	<% if objeto.krn_denuncia.agndmnt? %>
		<%= render partial: prtl_name('karin', 'shr', 'agndmnt'), locals: {objeto: objeto} %>
		<%= render partial: prtl_name('karin', 'shr', 'tstgs'), locals: {objeto: objeto} %>
	<% end %>

</div>
