<div id="<%= dom_id doc_detalle %>">
  <p>
    <strong>Doc emitido:</strong>
    <%= doc_detalle.doc_emitido_id %>
  </p>

  <p>
    <strong>Ownr type:</strong>
    <%= doc_detalle.ownr_type %>
  </p>

  <p>
    <strong>Ownr:</strong>
    <%= doc_detalle.ownr_id %>
  </p>

  <p>
    <strong>Tipo detalle:</strong>
    <%= doc_detalle.tipo_detalle %>
  </p>

  <p>
    <strong>Fecha uf:</strong>
    <%= doc_detalle.fecha_uf %>
  </p>

  <p>
    <strong>Glosa:</strong>
    <%= doc_detalle.glosa %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= doc_detalle.monto %>
  </p>

</div>
