<div class="border rounded-2 my-1">
	<div class="p-2 bg_azul_claro" style="font-size: 1rem;">
		Análisis de la denuncia:
	</div>
	<div>

		<%= render layout: 'cuentas/prtls/proceso/wrp_lnk_proceso' do %>
			<%= render partial: '0p/swtch', locals: {objeto: @objeto, tkn: :evlcn_incnsstnt, prmpt: 'La denuncia presenta inconsistencias, debe ser devuelta a la persona denunciante para su corrección.', stts: ['denuncia sin inconsistencias', 'Denuncia con inconsistencias']} %>
		<% end %>

		<% if @objeto.evlcn_incnsstnt %>
			<div class="border rounded-2">
				<%= render partial: '0p/proc/etp_frm', locals: {etp: @etp_last, objeto: @objeto, code: 'fecha_hora_corregida'} %>
			</div>
		<% else %>
			<%= render layout: 'cuentas/prtls/proceso/wrp_lnk_proceso' do %>
				<%= render partial: '0p/swtch', locals: {objeto: @objeto, tkn: :evlcn_ok, prmpt: 'La denuncia no presenta inconsistencias.', stts: ['denuncia sin inconsistencias', 'denuncia que debe ser analizada']} %>
			<% end %>
		<% end %>
		
	</div>
</div>