<%= render layout: '0p/collapse/link', locals: {label: 'Audiencia', objeto: nil} do %>
	<p class="text-info"><small>Audiencias</small></p>
<% end %>

<%= render layout: '0p/collapse/display', locals: {label: 'Audiencia', objeto: nil} do %>
	<% unless @audiencias_pendientes.empty? %>
		<% @audiencias_pendientes.each do |doc_pendiente| %>
			<small class="text-muted">
			<%= link_to "/age_actividades/crea_audiencia?class_name=#{objeto.class.name}&objeto_id=#{objeto.id}&label=#{doc_pendiente}", title: "Crea #{doc_pendiente}", 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-arrow-bar-down"></i>
			<% end %> 
			<%= doc_pendiente %></br>
			</small>
		<% end %>
	<% end %>
<% end %>

<% unless @coleccion['audiencia-age_actividades'].empty? and @audiencias_pendientes.empty? %>
	<% @coleccion['audiencia-age_actividades'].each do |actividad| %>
		<%= render partial: get_partial(actividad.class.name.tableize, 'list', "lobjeto") , locals: {objeto: actividad} %></br>
	<% end %>
<% end %>
