<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'file-text', text: "Reporte #{@objeto.nombre_padre} (#{@objeto.periodo})", clr: cfg_color[:app]} %></h4>
<h5><%= "Total Reporte : #{@objeto.moneda_reporte == 'Pesos' ? '$' : 'UF'} #{"%06.2f" % @objeto.monto_reporte if @objeto.moneda_reporte == 'UF'}#{"%06.0f" % @objeto.monto_reporte if @objeto.moneda_reporte == 'Pesos'}" %></h5>

<!-- BOTON para ir a OWNER -->
<%= render partial: '0p/general/btn_proceso', locals: {texto: "Reportes", link: "/#{@objeto.owner.class.name.downcase.pluralize}/#{@objeto.owner.id}?html_options[menu]=Reportes", gly: 'arrow-left', clr: color(@objeto.class.name.tableize), delete: false} %>
<%= render partial: '0p/general/btn_proceso', locals: {texto: "Registro", link: "/#{@objeto.owner.class.name.downcase.pluralize}/#{@objeto.owner.id}?html_options[menu]=Registro", gly: 'arrow-left', clr: color(@objeto.class.name.tableize), delete: false} %>
</br></br>

<%= render partial: '0p/tabla/tabla', locals: {c: 'registros'} %>

<% if @objeto.owner.tar_tarifa.present? %>
	<%= render partial: 'tarifas/partials/facturacion_horas', locals: {objeto: @objeto} %>
<% end %>
