<p id="notice"><%= notice %></p>

<p>
  <strong>Tar hora:</strong>
  <%= @tar_hora.tar_hora %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @tar_hora.moneda %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @tar_hora.valor %>
</p>

<p>
  <strong>Owner class:</strong>
  <%= @tar_hora.owner_class %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @tar_hora.owner_id %>
</p>

<%= link_to 'Edit', edit_tar_hora_path(@tar_hora) %> |
<%= link_to 'Back', tar_horas_path %>
