<% unless @coleccion['blg_articulos'].blank? or @coleccion['blg_articulos'].empty? %>
<%= paginate @coleccion['blg_articulos'] %>
<small><small><%= page_entries_info(@coleccion['blg_articulos']) %></small></small>

<% @coleccion['blg_articulos'].each do |articulo| %>
	<div class="row lista-icono">
		<div class="col-md-4">
			<%= image_tag articulo.imagen.thumb.url, class: "img-fluid rounded-0" unless articulo.imagen.blank? %>
		</div>
		<div class="col-md-6">
			<small><%= link_to articulo.blg_articulo, articulo %></small>
		</div>
		<div class="col-md-2">
			<%= render partial: '0p/tabla/btns', locals: {objeto: articulo} if admin? %>
		</div>
	</div>
<% end %>

<% if @coleccion['blg_articulos'].count > 15 %>
<small><small><%= page_entries_info(@coleccion['blg_articulos']) %></small></small>
<%= paginate @coleccion['blg_articulos'] %>
<% end %>
<% end %>