<%= paginate @coleccion['blg_temas'] %>
<small><small><%= page_entries_info(@coleccion['blg_temas']) %></small></small>

<% @coleccion['blg_temas'].each do |tema| %>
	<div class="row lista-icono">
		<div class="col-md-4">
			<%= image_tag tema.imagen.thumb.url, class: "img-fluid rounded-0" unless tema.imagen.blank? %>
		</div>
		<div class="col-md-6">
			<small><%= link_to tema.blg_tema, tema %></small>
		</div>
		<div class="col-md-2">
			<%= render partial: '0p/tabla/btns', locals: {objeto: tema} if admin? %>
		</div>
	</div>
<% end %>

<% if @coleccion['blg_temas'].count > 15 %>
<small><small><%= page_entries_info(@coleccion['blg_temas']) %></small></small>
<%= paginate @coleccion['blg_temas'] %>
<% end %>
