<tr>
  <td class="text-<%=[56, 61].include?(objt.tipo_dte) ? 'danger' : 'dark'%>">
    <% if objt.doc_detalles.any? %>
      <i class="bi bi-check-all"></i>
    <% end %>
    <%= objt.tipo_dte_nombre %>
  </td>
  <td class="pe-3 text-end objt_lnk"><%= link_to objt.folio, objt %></td>
  <td class="pe-3 text-end"><%= l(objt.fecha_emision) %></td>
  <td>
    <% if objt.cliente.present? %>
      <i class="bi bi-check-circle"></i>
    <% end %>
    <%= objt.razon_social_receptor %>
  </td>
  <td class="pe-3 text-end text-<%=[56, 61].include?(objt.tipo_dte) ? 'danger' : 'dark'%>"><%= s_pesos(objt.monto_total) %></td>

</tr>