<div class="hm_main">
	<div class="hm_ttl">
		<div class="icon">
			<h1><i class="bi bi-check2-all text-white"></i></h1>
		</div>
		<h2>Implementación de la Ley 21.643 (Ley Karin)</h2>
		<h3>para empresas, servicios públicos e instituciones</h3>
	</div>

	<%= render partial: '0capitan/app/home/ln_prdcts' %>

	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<%= render partial: '0capitan/app/home/documentos' %>
		</div>
		<div class="col-lg-6 col-xs-12">
			<%= render partial: '0capitan/app/home/qa_documentos' %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<%= render partial: '0capitan/app/home/qa_capacitacion' %>
		</div>
		<div class="col-lg-6 col-xs-12">
			<%= render partial: '0capitan/app/home/capacitacion' %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<%= render partial: '0capitan/app/home/investigacion' %>
		</div>
		<div class="col-lg-6 col-xs-12">
			<%= render partial: '0capitan/app/home/qa_investigacion' %>
		</div>
	</div>
</div>