<small>
	<i class="bi bi-bookmark-fill text-info"></i> 
	<span class='text-info'><%= objeto.tema %></span> 

	<% unless objeto.descripcion.blank? %>
		<%= render layout: '0p/collapse/link', locals: {label: 'Descripcion', objeto: objeto} do %>
			<i class="bi bi-box-arrow-down"></i> 
		<% end %>
	<% end %>

	<%= render partial: '0p/tabla/orderer', locals: {objeto: objeto } %> 

	<i class="bi bi-dot"></i> 

	<%= link_to "/hechos/new?tid=#{objeto.id}" do %>
		<i class="bi bi-plus-circle"></i> 
	<% end %>

	<i class="bi bi-dot"></i> 

	<small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small>

	<% unless objeto.descripcion.blank? %>
		<%= render layout: '0p/collapse/display', locals: {label: 'Descripcion', objeto: objeto} do %>
			<i class="text-muted"><%= objeto.descripcion %></i>
		<% end %>
	<% end %>
</small>
<% unless objeto.hechos.empty? %>
	</br>
	<% objeto.hechos.order(:orden).each do |hecho| %>
		<%= render partial: 'hechos/list/objeto', locals: {objeto: hecho} %>
	<% end %>
<% end %>