<small>
	<i class="bi bi-bookmark-fill text-info"></i> 
	<span class='text-info'><%= objeto.tema %></span> 

	<% unless objeto.descripcion.blank? %>
	<a data-toggle="collapse" href="#collapseDescripcion<%=objeto.id%>" role="button" aria-expanded="false" aria-controls="collapseDescripcion<%=objeto.id%>">
		<i class="bi bi-box-arrow-down"></i> 
	</a>
	<% end %>

	<%= render partial: '0p/tabla/orderer', locals: {objeto: objeto } %> 

	<i class="bi bi-dot"></i> 

	<%= link_to "/hechos/new?tid=#{objeto.id}" do %>
		<i class="bi bi-plus-circle"></i> 
	<% end %>

	<i class="bi bi-dot"></i> 

	<small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small>

	<% unless objeto.descripcion.blank? %>
	<div class="collapse" id="collapseDescripcion<%=objeto.id%>">
	  <div class="card card-body">
		</br>
	    <i class="text-muted"><%= objeto.descripcion %></i>
	  </div>
	</div>
	<% end %>
</small>
<% unless objeto.hechos.empty? %>
	</br>
	<% objeto.hechos.order(:orden).each do |hecho| %>
		<%= render partial: 'hechos/list/objeto', locals: {objeto: hecho} %>
	<% end %>
<% end %>