<small>
	<div class="row text-info">
		<div class="col-10">
			<i class="bi bi-bookmark-fill"></i>		
			<% unless objeto.causa.hechos_registrados %>
				<%= render partial: '0p/tabla/orderer', locals: {objeto: objeto } %>
			<% end %>
			
			<%= objeto.tema %>
			<% unless objeto.descripcion.blank? %>
				<%= render layout: '0p/collapse/link', locals: {label: 'Descripcion', objeto: objeto, tooltip: 'Descripción'} do %>
					<i class="bi bi-box-arrow-down"></i> 
				<% end %>
			<% end %>
		</div>
		<div class="col-2" align='right'>
			<% unless objeto.causa.hechos_registrados %>
				<%= render layout: '0p/layout/tooltip_link', locals: { link: "/temas/#{objeto.id}/hechos/new", tooltip: 'Nuevo Hecho'} do %>
					<i class="bi bi-plus-circle"></i>
				<% end %>
				<i class="bi bi-dot"></i>
				<small><%= render partial: '0p/tabla/lnks_e', locals: {objeto: objeto} %></small>
			<% end %>
		</div>
	</div>

	<% unless objeto.descripcion.blank? %>
		<%= render layout: '0p/collapse/display', locals: {label: 'Descripcion', objeto: objeto} do %>
			<i class="text-muted"><%= objeto.descripcion %></i>
		<% end %>
	<% end %>
</small>
<% unless objeto.hechos.empty? %>
	<% objeto.hechos.order(:orden).each do |hecho| %>
		<%= render partial: 'hechos/list/objeto', locals: {objeto: hecho} %>
	<% end %>
<% end %>