<div class='row'>
	<div class='col-md-3'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Cliente', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :cliente_id, colection: Cliente.where(estado: 'activo').collect { |cliente| [cliente.razon_social, cliente.id] }, display_field: 'cliente', prompt: 'Cliente' } %>
	</div>
	<div class='col-md-9'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Juzgado', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :juzgado_id, colection: Juzgado.all.order(:juzgado).collect { |juzgado| [juzgado.juzgado, juzgado.id] }, display_field: 'juzgado', prompt: 'Juzgado' } %>
	</div>
</div>

<div class='row'>
	<div class='col-md-3'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Identificador', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :identificador } %>
	</div>
	<div class='col-md-9'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Causa', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :causa } %>
	</div>
</div>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :estado } %>
