<div class='row'>
	<div class='col-md-3'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Cliente', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :cliente_id, colection: Cliente.where(estado: 'activo').collect { |cliente| [cliente.razon_social, cliente.id] }, display_field: 'cliente', prompt: 'Cliente' } %>
	</div>
	<div class='col-md-9'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Tipo de Causa', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :tipo_causa_id, colection: TipoCausa.all.collect {|tc| [tc.tipo_causa, tc.id]}, display_field: 'tipo_causa', prompt: 'Tipo de Causa' } %>
	</div>
</div>

<div class='row'>
	<div class='col-md-3'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Identificador', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :identificador } %>
	</div>
	<div class='col-md-9'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Causa', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :causa } %>
	</div>
</div>

<%= render partial: '0p/display/form_fields', locals: {form: form, helper_name: 'hidden', token: :estado, label: nil, v: false } %>