<div class='row'>
	<div class='col-md-2'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Tipo Causa', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :tipo_causa_id, colection: TipoCausa.all.order(:tipo_causa).collect { |tc| [tc.tipo_causa, tc.id] }, display_field: 'tipo_causa', prompt: 'Tipo Causa' } %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Cliente', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :cliente_id, colection: Cliente.where(estado: 'activo').collect { |cliente| [cliente.razon_social, cliente.id] }, display_field: 'cliente', prompt: 'Cliente' } %>
	</div>
	<div class='col-md-4'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Tribunal/Corte', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :tribunal_corte_id, colection: TribunalCorte.all.order(:tribunal_corte).collect { |tc| [tc.tribunal_corte, tc.id] }, display_field: 'tribunal_corte', prompt: 'Tribunal/Corte' } %>
	</div>
</div>

<div class='row'>
	<div class='col-md-3'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'RIT', v: false } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :rit } %>
	</div>
	<div class='col-md-5'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Causa', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :causa } %>

	</div>
</div>
<div class='row'>
	<div class='col-md-2'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Rol', v: false } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :rol } %>
	</div>
	<div class='col-md-2'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Era', v: false } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :era } %>
	</div>
	<div class='col-md-2'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Estado Causa', v: false } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :estado_causa } %>
	</div>
</div>

<hr>

<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Monto Sentencia', v: false } %>
<%= render partial: '0p/form_fields/number', locals: { form: form, token: :monto_pagado } %>


<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :estado } %>
