<h3>Solicitud de antecedentes</h3>
<h4><%= @objeto.cliente.razon_social %></h4>
<h4><%= "#{@objeto.rit} : #{@objeto.causa}" %></h4>
<br>
<small>A continuación los hechos de la causa con acompañado de los antecedentes requeridos para cado uno de ellos.</small>
<% @objeto.hechos.order(:orden).each do |hchs| %>
	<br>
	<p><b><%= hchs.hecho.blank? ? "Hecho Nº #{hchs.orden}" : hchs.hecho %></b></p>
	<br>
	<p><%=hchs.descripcion%></p>


	<div style="padding-left 4em;">
	<i><b>Antecedentes requeridos</b></i>:</br>
	<% hchs.antecedentes.each do |ntcdnt| %>
		<p>- <%= ntcdnt.solicitud %></p>
	<% end %>
	</div>
	</br>
	</br>
<% end %>