<%= render partial: '0p/ttl_shw', locals: {objt: @objeto} %>

<%= render partial: 'st_estados/st_estados/partials/change_state', locals: {objeto: @objeto} %>

<%= render partial: '0p/tabs/tabs', locals: { token: :menu } %>

<% case @options[:menu] %>
<% when 'General' %>
	<%= render partial: 'causas/shw/datos_cuantia/ndx_datos_cuantia', locals: {objeto: @objeto, variables: @variables} %>
	<div class="row gx-1">
		<div class="col-lg-6 col-xs-12">
			<%= render partial: 'actividades/shr/bjt_agenda', locals: {objeto: @objeto, usuarios: @age_usuarios} %>
		</div>
		<div class="col-lg-6">
			<%= render partial: 'repositorios/shr/repositorio', locals: {objeto: @objeto, d_pendientes: @d_pendientes, a_pendientes: @a_pendientes} %>
		</div>
	</div>
<% when 'Hechos' %>
	<%= render partial: 'causas/shw/hechos/ndx_hechos', locals: {objeto: @objeto} %>
<% when 'Tarifa & Pagos' %>
	<%= render partial: 'causas/shw/tarifa_pagos/ndx_tarifa_pagos', locals: {objeto: @objeto, tar_cliente: @tar_cliente, tar_generales: @tar_generales } %>
<% when 'Demanda' %>
	<div class="prrf_box">
		<% @coleccion['parrafos'].each do |parrafo| %>
			<b>[<%= parrafo.orden %>]</b>
			<%= parrafo.texto.html_safe%>
			<hr>
		<% end %>
	</div>
<% when 'Registro' %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'registros'} %>
	<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto ,c: 'registros', gly: 'plus-circle', clr: color('causas')} %>
<% when 'Reportes' %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'reg_reportes'} %>
	<%= render partial: '0p/general/btn_proceso', locals: {texto: 'Proceso Registros', link: "/causas/#{@objeto.id}/procesa_registros", gly: 'clipboard-check' , clr: color(@objeto.class.name.tableize), delete: false} %>
<% end %>