<%= render '0p/general/title_box' do %>
	<div class="text-info" style='padding-left: 1em; padding-right: 1em;'>
		<h5 class="text-info">
			<i class="bi bi-journal-text"></i> 
			<%= "Causa : #{@objeto.rit unless @objeto.rit.blank?} | #{@objeto.causa}" %>
		</h5>
		<%= render partial: 'estados/st_bandejas/partials/change_state', locals: {objeto: @objeto} %>
	</div>
<% end %>

<%= render partial: '0p/tabs/tabs', locals: { tabs: @tabs, options: @options, token: :menu } %>

<% if @options[:menu] == 'Seguimiento' %>

	<%= render partial: 'causas/partials/tab_seguimiento', locals: {objeto: @objeto} %>

<% elsif @options[:menu] == 'Hechos' %>

	<%= render partial: 'causas/partials/tab_hechos', locals: {objeto: @objeto} %>

	<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'temas', title: 'Temas', link_new: "/temas/new?cid=#{@objeto.id}" } %>

	<%= render partial: '0p/tabla/tabla', locals: {c: 'temas'} %>

	<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'app_documentos', title: 'Documentos requeridos', link_new: nil } %>

	<div class="shadow p-3 mb-3 bg-white rounded">

	<small>
	<% @coleccion['app_documentos'].each do |doc| %>
		<span class='text-muted'><%= render partial: 'repositorios/app_documentos/list/lobjeto', locals: {objeto: doc} %></span></br>
	<% end %>
	</small>
	</div>

<% elsif @options[:menu] == 'Tarifa & Cuantía' %>

	<%= render partial: 'causas/partials/tab_tarifa_cuantia', locals: {objeto: @objeto} %>

<% elsif @options[:menu] == 'Pagos' %>

	<%= render partial: 'causas/partials/tab_pagos', locals: {objeto: @objeto} %>

<% elsif @options[:menu] == 'Registro' %>

	<%= render partial: '0p/tabla/tabla', locals: {c: 'registros'} %>
	<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto ,c: 'registros', gly: 'plus-circle', clr: color('causas')} %>

<% elsif @options[:menu] == 'Reportes' %>

	<%= render partial: '0p/tabla/tabla', locals: {c: 'reg_reportes'} %>
	<%= render partial: '0p/general/btn_proceso', locals: {texto: 'Proceso Registros', link: "/causas/#{@objeto.id}/procesa_registros", gly: 'clipboard-check' , clr: color(@objeto.class.name.tableize), delete: false} %>

<% end %>