<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'file-text', text: "Causa : #{@objeto.rit unless @objeto.rit.blank?} | #{@objeto.causa}", clr: config[:color][:app]} %></h4>

<%= render partial: 'estados/st_bandejas/partials/change_state', locals: {objeto: @objeto} %></br></br>

<%= render partial: '0p/tabs/tabs', locals: { tabs: @tabs, options: @options, token: :menu } %>

<% if @options[:menu] == 'Facturacion' %>

	<%= render partial: 'causas/partials/facturacion' %>

<% elsif @options[:menu] == 'Registro' %>

	<%= render partial: '0p/tabla/tabla', locals: {c: 'registros'} %>
	<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto ,c: 'registros', gly: 'plus-circle', clr: color('causas')} %>

<% elsif @options[:menu] == 'Reportes' %>

	<%= render partial: '0p/tabla/tabla', locals: {c: 'reg_reportes'} %>
	<%= render partial: '0p/general/btn_proceso', locals: {texto: 'Proceso Registros', link: "/causas/#{@objeto.id}/procesa_registros", gly: 'clipboard-check' , clr: color(@objeto.class.name.tableize), delete: false} %>
	
<% elsif @options[:menu] == 'Documentos y enlaces' %>

	<div class='row'>
		<div class='col-md-6'>
			<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'archive', text: 'Repositorio de la causa', clr: config[:color][:app]} %></h5>

		    <%= render partial: 'repositorios/app_directorios/partials/directorio', locals: {objeto: @objeto.repositorio} %>
		</div>
		<div class='col-md-6'>
			<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'archive', text: 'Enlaces de la causa', clr: config[:color][:app]} %></h5>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'app_enlaces'} %>
		</div>
	</div>

<% elsif @options[:menu] == 'Cuantía' %>
	<%= render partial: 'tarifas/partials/encabezado_cuantia', locals: {objeto: @objeto} if @objeto.class.name == 'Causa' %>

	<%= render partial: '0p/tabla/tabla', locals: {c: 'tar_valor_cuantias'} %>
	<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto ,c: 'tar_valor_cuantias', gly: 'plus-circle', clr: color('tar_valor_cuantias')} %>
<% end %>
