<div class="cs_ttl">
	<div class="ttl_ttl">
		<%= render partial: 'causas/partials/titulo_show', locals: {objeto: @objeto} %>
	</div>
	<div class="ttl_lnks">
		<% if dog?%>
			<i class="bi bi-dot"></i>
			<%= link_to "/servicios/organizacion?oid=#{objeto.id}", title: 'Organización', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
				<i class="bi bi-diagram-3"></i>
			<% end %>
		<% end %>
	</div>
</div>
<%= render partial: 'estados/st_estados/partials/change_state', locals: {objeto: @objeto} %>

<%= render partial: '0p/tabs/tabs', locals: { token: :menu } %>

<% case @options[:menu] %>
<% when 'Agenda' %>
	<!-- Se utiliza para Causa y Cliente -->
	<%= render partial: 'actividades/partials/tab_agenda', locals: {objeto: @objeto} %>
<% when 'Hechos' %>
	<%= render partial: 'causas/partials/hechos/tab_hechos', locals: {objeto: @objeto} %>
<% when 'Tarifa & Pagos' %>
	<%= render partial: 'causas/partials/tarifa_pagos/tab_tarifa_pagos', locals: {objeto: @objeto, tar_cliente: @tar_cliente, tar_generales: @tar_generales } %>
<% when 'Datos & Cuantía' %>
	<%= render partial: 'causas/partials/datos_cuantia/tab_datos_cuantia', locals: {objeto: @objeto, variables: @variables, valores_cuantia: @valores_cuantia} %>
<% when 'Documentos' %>
	<!-- Se utiliza para Causa y Cliente -->
	<%= render partial: '0capitan/repositorios/tab_documentos_enlaces', locals: {objeto: @objeto, d_pendientes: @d_pendientes, a_pendientes: @a_pendientes} %>
<% when 'Registro' %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'registros'} %>
	<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto ,c: 'registros', gly: 'plus-circle', clr: color('causas')} %>
<% when 'Reportes' %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'reg_reportes'} %>
	<%= render partial: '0p/general/btn_proceso', locals: {texto: 'Proceso Registros', link: "/causas/#{@objeto.id}/procesa_registros", gly: 'clipboard-check' , clr: color(@objeto.class.name.tableize), delete: false} %>
<% end %>