<%= render partial: '0p/ttl_clss', locals: {source: 'causas', clss: :gray, dir: 'shw'} %>
<%= render partial: 'layouts/partials/notice_alert' %>

<%#= render partial: 'st_estados/st_estados/partials/change_state', locals: {objeto: @objeto} if admin? %>

<%= render partial: '0p/tabs/tabs', locals: { token: :menu } %>

<% case @options[:menu] %>
<% when 'General' %>
	<%= render partial: prtl(@objeto, 'shw', 'shw_general'), locals: {objeto: @objeto} %>
<% when 'Hechos' %>
	<%= render partial: prtl(@objeto, 'shw', 'shw_hechos'), locals: {objeto: @objeto} %>
<% when 'Tarifa & Pagos' %>
	<%= render partial: prtl(@objeto, 'shw', 'shw_tarifas_pagos'), locals: {objeto: @objeto} %>
<% when 'Lista de hechos' %>
	<div class="border-start border-end border-bottom p-1" style="margin-top: -1px;">
		<%= render partial: prtl(@objeto, 'shw/general', 'hechos') %>
	</div>
<% when 'Registro' %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'registros'} %>
	<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto ,c: 'registros', gly: 'plus-circle', clr: color('causas')} %>
<% when 'Reportes' %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'reg_reportes'} %>
	<%= render partial: '0p/general/btn_proceso', locals: {texto: 'Proceso Registros', link: "/causas/#{@objeto.id}/procesa_registros", gly: 'clipboard-check' , clr: color(@objeto.class.name.tableize), delete: false} %>
<% end %>