<%= render partial: '0p/ttl_clss', locals: {source: 'causas', clss: :gray, dir: 'shw'} %>
<%#= render partial: '0p/ttl_shw', locals: {objt: @objeto} %>

<%= render partial: 'st_estados/st_estados/partials/change_state', locals: {objeto: @objeto} if admin? %>

<%= render partial: '0p/tabs/tabs', locals: { token: :menu } %>

<% case @options[:menu] %>
<% when 'General' %>
	<div class="p-2 border-start border-end border-bottom" style="margin-top: -1px">
		<%#= render partial: prtl_name('causas', 'shw/general', 'vw_dnnc'), locals: {objeto: @objeto} %>
		<%= render partial: prtl_name('causas', 'shw/general', 'cuantia'), locals: {objeto: @objeto} %>
		<%= render partial: '0shr/rcss', locals: {objeto: @objeto} %>
		<%= render partial: prtl_name('causas', 'shw/general', 'rcrss'), locals: {objeto: @objeto} %>
	</div>

<% when 'Hechos' %>
	<%= render partial: 'causas/shw/hechos/ndx_hechos', locals: {objeto: @objeto} %>
<% when 'Tarifa & Pagos' %>
	<%= render partial: 'causas/shw/tarifa_pagos/ndx_tarifa_pagos', locals: {objeto: @objeto, tar_cliente: @tar_cliente, tar_generales: @tar_generales } %>
<% when 'Lista de hechos' %>
	<div class="border-start border-end border-bottom p-1" style="margin-top: -1px;">
		<%= render partial: prtl(@lista, nil, 'show_ai_text'), locals: {act: @lista} %>	
	</div>
<% when 'Registro' %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'registros'} %>
	<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto ,c: 'registros', gly: 'plus-circle', clr: color('causas')} %>
<% when 'Reportes' %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'reg_reportes'} %>
	<%= render partial: '0p/general/btn_proceso', locals: {texto: 'Proceso Registros', link: "/causas/#{@objeto.id}/procesa_registros", gly: 'clipboard-check' , clr: color(@objeto.class.name.tableize), delete: false} %>
<% end %>