<% ownr.act_archivos.where(act_archivo: code).each do |act| %>
	<% nombre = act.nombre.present? ? act.nombre : mdl.nombre[code] %>

	<% if act.pdf.attached? %>
		<% clr = act.crtn_mode == 'upload' ? 'text-success' : 'text-primary' %>
	<% else %>
		<% clr = 'text-secondary' %>
	<% end %>

	<div class="row gx-1 <%=clr%>">
		<div class="col-10">
			<i class="bi bi-arrow-return-right"></i> 
			<% if act.sndd %>
				<i class="bi bi-send-check"></i>
			<% end %>
			<%= nombre %>
		</div>
		<div class="col-2 text-end">
			<%= render layout: '0p/tltp_lnk', locals: {lnk: "/act_archivos/#{act.id}/enviar_pdf_por_email", tltp: 'Enviar por correo electrónico', data: {turbo_method: :post, turbo_confirm: "¿Estás seguro?"}} do %>
				<i class="bi bi-envelope-paper"></i>
			<% end %>
			<%=render partial: '0t/lnk_dwnld', locals: {objt: act, tltp: "Bajar PDF"} %>
			<%=render partial: '0t/lnks_e', locals: {objt: act} %>
		</div>
	</div>
<% end %>