<!-- Despliega el botón a menos que esté en la página del botón -->
<!-- las lineas comentadas borran el botón if_current -->
<li class="nav-item <%= 'active' if active %>">
	<% if delete %>
		<%= link_to link, method: :delete, class: 'nav-link', data_toggle: "tooltip", data_placement: "bottom", title: tooltip do %>
			<% unless gly.blank? %>
				<% unless nombre.blank? %><div class="d-md-none"><% end %>
					<i class=<%="bi-#{gly}"%>></i>
				<% unless nombre.blank? %></div><% end %>
			<% end %>
		    <div class="d-none d-md-block"><%= nombre.capitalize unless nombre.blank? %></div>
		<% end %>
	<% else %>
		<%= link_to link, class: "nav-link", data_toggle: "tooltip", data_placement: "bottom", title: tooltip do %>
			<% unless gly.blank? %>
				<% unless nombre.blank? %><div class="d-md-none"><% end %>
					<i class=<%="bi-#{gly}"%>></i>
				<% unless nombre.blank? %></div><% end %>
			<% end %>
			<div class="d-none d-md-block"><%= nombre.capitalize unless nombre.blank? %></div>
		<% end %>
	<% end %>
</li>