<!--NAVBAR-->
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: <%=clr_bg%>">
  <div class="container-fluid">

    <!-- LOGO NAVBAR -->
    <% if (logo.present? and File.exist?("app/assets/images/#{logo}")) or sigla.present? %>
      <a class="navbar-brand" href="<%=app_home%>">
        <% if logo.blank? %>
          <div class='text-white'><b><%= get_app_sigla %></b></div>
        <% else %>
              <%= link_to image_tag(logo, class: "img-responsive", id: "navbar-logo"), root_path %>
        <% end %>
      </a>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Menú alineado a la izquierda -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <%= render partial: '0p/navbar/mn', locals: {menu: lft} %>
      </ul>

      <!-- Menú centrado -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <%= render partial: '0p/navbar/mn', locals: {menu: cntr} %>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <%= render partial: '0p/navbar/usr_admn' %>
      </ul>

    </div>
  </div>
</nav>