<div class="mb-2 p-2 border rounded-2 bg_azul_claro clr_azul_principal fw-bold lnk_principal">
	<div class="row gx-1">
		<div class="col-lg-8 fw-bold" style="font-size: 1rem;">
			<i class="bi bi-buildings"></i> 
			<% if current_usuario.admin? %>
				<%= render layout: '0p/tltp_lnk', locals: {lnk: [:edit, objt], tltp: 'Editar cuenta'} do %>
					<%= objt.razon_social %>
				<% end %>
			<% else %>
				<%= objt.razon_social %>
			<% end %>
		</div>
		<div class="col-lg-4 pe-2 text-end">
			<% unless @licencia_activa %>
				<i class="bi bi-cone-striped text-danger"></i>
			<% end %>
			<i class="bi bi-box2"></i>
			<% if @licencia.plan == 'demo' %>
				<%= render layout: '0p/collapse/link', locals: {label: 'InfoProducto', objeto: nil, tooltip: 'Información del producto'} do %>
					<small>DEMO</small>
				<% end %>
			<% end %>

			<%# Renderiza el link SOLO si la condición es verdadera %>
			<%= link_to_if ((@licencia_activa  and @licencia.plan == 'demo') or current_usuario.dog?), "plan #{@objeto.plan_type == 'extendido' ? 'extendido' : 'estándar'}", "/empresas/#{@objeto.id}/swtch_plan_type", data: { turbo_method: :post, turbo_confirm: "¿Estás seguro?" } do %>
			  <span class="text-primary">plan <%= @objeto.plan_type == 'extendido' ? 'extendido' : 'estándar' %></span>
			<% end %>

		</div>
	</div>

</div>

<%= render layout: '0p/collapse/dsply', locals: {label: 'InfoProducto', objeto: nil} do %>
	<div class="p-3 border rounded-2">
		<i class="bi bi-lightbulb"></i>
		<% if @licencia.plan == 'demo' %>
			Su cuenta le permite crear hasta 5 denuncias y estará activa por 10 días contados desde el registro de su empresa.
		<% else %>
			Su cuenta le permite crear hasta 20 denuncias y estará activa por un año.
		<% end %>
		<% if @licencia.blank? or @licencia.expirada? or @licencia.tope_alcanzado? %>
			<ul>
				<% if @licencia.blank? %>
					<li>Empresa sin licencia.</li>
				<% end %>
				<% if @licencia.expirada? %>
					<li>Licencia expirada.</li>
				<% end %>
				<% if @licencia.tope_alcanzado? %>
					<li>Se ha alcanzado el tope de denuncias de la licencia.</li>
				<% end %>
			</ul>
		<% end %>
	</div>
<% end %>
<%= render partial: 'layouts/partials/notice_alert' %>