<div class="mt-2 text-center app_lnk" style="font-size: 20px;">
	<b><i class="bi bi-buildings"></i> <%= @objeto.razon_social %></b>
	<% if @objeto.demo? %>
		<small>( DEMO )</small>
	<% end %>

	<% if admin? %>
		<%= render layout: '0p/collapse/link', locals: {label: 'Rcrss', objeto: nil, tooltip: 'Recursos de la empresa'} do %>
			<i class="bi bi-arrow-bar-down"></i>
		<% end %>
	<% end %>

	<% if @objeto.demo? %>
		<div style="font-size: 10px;">
			Su cuenta Demo le permite crear hasta 10 denuncias y estará activa por 10 días contados desde el registro de su empresa.
		</div>
	<% end %>
</div>

<% if admin? %>
	<%= render layout: '0p/collapse/dsply', locals: {label: 'Rcrss', objeto: nil} do %>
		<div class="border rounded-pill app_lnk">
			<div class="row mx-3 gx-1">
				<div class="col-8">
					<% if @objeto.rcrs_logo.present? %>
						Logo personalizado
					<% else %>
						Personalizar el logo de la empresa
					<% end %>
				</div>
				<div class="col-4 text-end">
					<% if @objeto.rcrs_logo.present? %>
						<%= render partial: '0p/tbl/lnk_eliminar', locals: {objeto: @objeto.rcrs_logo} %>
					<% else %>
						<%= render partial: '0p/tbl/lnk_new', locals: {source: 'rcrs_logos', ownr: @objeto} %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>