<% typ ||= 'tr' %>

<%= render partial: 'cuentas/indx/emprs_head', locals: {objt: @objeto} %>
<%= render partial: 'cuentas/indx/tab', locals: {objt: @objeto} if current_usuario.admin? %>

<div class="border-start border-end border-bottom px-1 py-2" style="margin-top: -1px;">
	<%= render partial: '0p/ttl_clss', locals: {source: source, dir: 'indx', hide_gly: true} %>

		<% case action_name %>
		<% when 'usrs' %>
			<%= render partial: 'cuentas/usrs' %>
		<% when 'dnncs' %>
			<%= render partial: '0p/tbl_clss', locals: {clccn: @clccn} if @objeto.cnfgrcn_ok? %>
		<% else %>
			<%= render partial: '0p/tbl_clss', locals: {clccn: @clccn} %>
		<% end %>

</div>