<div class="my-2 fs-6">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == "dnncs" %>" aria-current="page" href="/cuentas/<%=objt.class.name[0].downcase%>_<%=objt.id%>/dnncs">Denuncias</a>
    </li>

    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == "invstgdrs" %>" aria-current="page" href="/cuentas/<%=objt.class.name[0].downcase%>_<%=objt.id%>/invstgdrs">
        <% if @tab_flags[:invstgdrs] %>
          <i class="bi bi-cone-striped text-danger"></i> 
        <% end %>
      Investigadores</a>
    </li>

    <% if objt.plan_type == 'extendido' %>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == "extrns" %>" aria-current="page" href="/cuentas/<%=objt.class.name[0].downcase%>_<%=objt.id%>/extrns">
        <% if @tab_flags[:extrns] %>
          <i class="bi bi-cone-striped text-danger"></i> 
        <% end %>
      Empresas externas</a>
    </li>
    <% end %>

    <% if (@licencia_activa and current_usuario.admin?) or current_usuario.dog? %>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == "nmn" %>" aria-current="page" href="/cuentas/<%=objt.class.name[0].downcase%>_<%=objt.id%>/nmn">
        <% if @tab_flags[:nmn] or @tab_flags[:cntcts] %>
          <i class="bi bi-cone-striped text-danger"></i> 
        <% end %>
      Nómina</a>
    </li>
    <% end %>

    <!-- La vista de los usuarios sólo es de DOG por ahora -->
    <% if current_usuario.dog? %>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if action_name == "usrs" %>" aria-current="page" href="/cuentas/<%=objt.class.name[0].downcase%>_<%=objt.id%>/usrs">
      Usuarios</a>
    </li>
    <% end %>
  </ul>
</div>