<% ownr      ||= nil %>
<% blngs     ||= nil %>
<% fs        ||= nil %>
<% brdr_wdth ||= 5 %>
<% brdr_clr  ||= 'dark-subtle' %>
<div class="row px-2 py-1 border border-<%=brdr_clr%> border-<%=brdr_wdth%> rounded-pill fs-<%=fs%> app_lnk">
	<div class="col-9">
		<% if prtl?(source, 'indx', 'objt') %>
			<%= render partial: prtl_name(source, 'indx', 'objt'), locals: {ownr: ownr, blngs: blngs} %>
		<% else %>
			<%= to_name(source).pluralize %>
		<% end %>
	</div>
	<div class="col-3 text-end">
		<% if prtl?(source, 'indx', 'lnks') %>
			<%= render partial: prtl_name(source, 'indx', 'lnks'), locals: {ownr: ownr, blngs: blngs} %>
		<% else %>
			<%= render partial: '0p/tbl/lnk_new', locals: {source: source, ownr: ownr, blngs: blngs}%>
		<% end %>
	</div>
</div>