
<div class="mt-2 app_lnk open-sans-regular">

	<%= render partial: '0p/ttl_clss', locals: {source: 'tar_valor_cuantias', clss: :sub, dir: 'indx', blngs: objeto} %>

	<!-- COLLAPSE con ActTexto con resumen de los montos -->
	<% if @resumen and @dmnd_cdgs and @dmnd_vlrs %>
		<%= render layout: '0p/collapse/dsply', locals: {label: 'ActMontos', objeto: nil} do %>
			<%= render partial: prtl(objeto, 'shw/general', 'cdgs') %>
			<%= render partial: prtl(objeto, 'shw/general', 'vlrs') %>
			<%= render partial: prtl(objeto, 'shw/general', 'rsmn') %>
		<% end %>
	<% end %>

	<div class="my-1 mx-1 border rounded-2">
		<div class="py-1 border-bottom">

			<% if objeto.demandantes.any? %>
				<%= render partial: '/csc/demandantes/list/th' %>
				<% objeto.demandantes.each do |dmndnt| %>
					<%= render partial: '/csc/demandantes/list/objeto', locals: {objeto: dmndnt} %>
				<% end %>
			<% else %>
				<div class="px-2 py-1 text-danger">
					<i class="bi bi-cone-striped"></i> No se pueden ingresar cuantías hasta tener al menos un demandante.
				</div>
			<% end %>

		</div>
		<div class="mt-1">

			<% if objeto.tar_valor_cuantias.any? %>

				<%= render partial: 'tarifas/tar_valor_cuantias/list/th' %>

				<!-- Detalles de cuantía -->
				<% objeto.tar_valor_cuantias.dsply.each do |vc| %>
					<%= render partial: 'tarifas/tar_valor_cuantias/list/objeto', locals: {objeto: vc } %>
				<% end %>

				<%= render partial: 'tarifas/tar_valor_cuantias/list/ttls', locals: {objeto: objeto} %>

			<% else %>
				<div class="px-2 py-1 text-danger">
					<i class="bi bi-cone-striped"></i> Lista de ítems de cuantía vacía.
				</div>
			<% end %>

		</div>
	</div>
</div>