<div class="row gx-1">
    <div class="col-lg-6 col-xs-12">
        <%#= render partial: 'actividades/shr/bjt_agenda', locals: {objeto: @objeto} %>

        <%= render partial: '0p/ttl_clss', locals: {source: 'age_actividades', clss: :sub, dir: 'indx', ownr: @objeto} %>
        <%= render partial: '0p/tbl_clss', locals: {source: 'age_actividades', clccn: @actvdds} %>
    </div>
    <div class="col-lg-6">
        <%= render partial: '0p/ttl_clss', locals: {source: 'act_archivos', clss: :sub, ttl: 'Archivos controlados', hide_lnks: true} %>

        <!-- MIGRACION de PDFs -->
        <% if current_usuario.dog? %>
            <% @objeto.app_archivos.each do |pdf| %>
                <%= link_to "Ver PDF", pdf.archivo.url, target: "_blank" if pdf.archivo.file.exists? %>
            <% end %>
        <% end %>

        <% if @objeto.class.name == 'Causa' %>
            <%= render partial: prtl(@objeto, 'shw/general', 'rcrss_act_archivos') %>
        <% end %>
    </div>
</div>

<div class="row gx-1">
    <div class="col">
        <%= render partial: '0p/ttl_clss', locals: {source: 'notas', clss: :sub, dir: 'indx', ownr: @objeto, ttl: 'Notas realizadas o vencidas', hide_lnks: true} %>
        <%= render partial: '0p/tbl_clss', locals: {clccn: @notas} %>
    </div>
    <div class="col">
        <%= render partial: '0p/ttl_clss', locals: {source: 'monto_conciliaciones', clss: :sub, dir: 'indx', blngs: @objeto} %>
        <%= render partial: '0p/tbl_clss', locals: {source: 'monto_conciliaciones', clccn: @coleccion['monto_conciliaciones'], dir: 'list'} %>
    </div>
</div>

<%= render partial: '0p/ttl_clss', locals: {source: 'estados', clss: :sub, dir: 'indx', blngs: @objeto} %>
<%= render partial: '0p/tbl_clss', locals: {source: 'estados', clccn: @coleccion['estados'], dir: 'list'} %>