<%= facturacion.owner.descripcion %> : 

<%= s_uf5(@h_pagos[facturacion.id][:monto_uf]) %>
<i class="bi bi-arrow-left-right"></i>
<%= s_pesos(@h_pagos[facturacion.id][:monto_pesos]) %>

<div style='padding-left: 1em; padding-right: 1em; line-height: 13px;'>

	<% if @h_pagos[facturacion.id][:pago].present? %>
		<small><small>
		Pago aprobado el <%= dma(@h_pagos[facturacion.id][:pago].created_at) %>
		</small></small>
		<small><%= render partial: 'tarifas/tar_facturaciones/list/aprobaciones_facturas', locals: {objeto: @h_pagos[facturacion.id][:pago]} %></small>
	<% else %>
		<small><small>Pago sin aprobación</small></small>
	<% end %>
	</br>

	<small><small>
	<div class="row">
		<div class="col-10">
			<i class="bi bi-arrow-right"></i> 
			<% case @h_pagos[facturacion.id][:origen_fecha_pago] %>
			<% when 'TarUfFacturacion' %>
				UF definida para este pago.
			<% when 'TarPago' %>
				UF definida por la fecha de aprobación.
			<% when 'Today' %>
				Cálculo realizado con la UF del día.
			<% end %> 
			( <%= dma(facturacion.fecha_calculo) %> )

		</div>
		<div class="col-2" align='right'>
			<b><%= facturacion.uf_calculo.blank? ? 'UF no encontrada' : s_pesos2(facturacion.uf_calculo.valor) %></b>
		</div>
	</div>

	</small></small>
</div>