<div class="titulo text-info">
  Asesorías <%= 'Terminadas / Cerradas' if tipo.present? %>
</div>
<div class="row text_muted">
  <div class="col-lg-3">
    <%= render partial: 'asesorias/partials/sel_asesorias', locals: {estados: estados, tipos: tipos, tipo: tipo, estado: estado, path: path} %>
  </div>
  <div class="col-lg-9">
    <% if @tipo.blank? %>
      <%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'asesorias', title: "Asesorias en estado #{estado}", link_new: nil} %>
      <%= render partial: '0p/tabla/tabla', locals: {c: 'asesorias'} %>
    <% else %>
      <%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'asesorias', title: "Asesorias del tipo #{tipo}", link_new: nil} %>
      <%= render partial: '0p/tabla/tabla', locals: {c: 'asesorias'} %>
    <% end %>
  </div>
</div>