<%= render partial: '0p/tabs/tabs', locals: { token: :monitor } %>

<% if @options[:monitor] == 'Proceso' %>
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'asesorias', title: 'Asesorías en ingreso', link_new: '/asesorias/new'} %>

      <%= render partial: '0p/tabla/tabla', locals: {c: 'ingreso-asesorias'} %>
    </div>
    <div class="col-lg-6 col-xs-12">
      <%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'asesorias', title: 'Asesorías en cobro', link_new: nil} %>

      <%= render partial: '0p/tabla/tabla', locals: {c: 'proceso-asesorias'} %>
    </div>
  </div>
<% elsif @options[:monitor] == 'Terminadas' %>
  <%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'asesorias', title: 'Asesorías terminadas', link_new: nil} %>

  <%= render partial: '0p/tabla/tabla', locals: {c: 'terminada-asesorias'} %>
<% end %>

