<small>
<div class="objeto-box">
	<h6 class="text-info" align="center"><i class="bi bi-hand-index"></i></i></h6>
	<hr>
	
	<div style="padding-left: 1em;">
		<% estados.each do |std| %>

			<i class="bi bi-tag"></i>
			<% if tipo.blank? and estado == std %>
				<i class="bi bi-arrow-right"></i>
				<b class="text-muted"><%= std %></b>
			<% else %>
				<%= link_to "#{path}#{"?e=#{std}" }" do %>
					<span class="text-muted"><%= std %></span>
				<% end %>
			<% end %></br>

		<% end %>
		
		<hr>

		<% tipos.each do |tp| %>
			<i class="bi bi-bookmark"></i>
			<% unless tipo.blank? %>
				<% if tipo == tp %>
					<i class="bi bi-arrow-right"></i>
					<b class="text-muted"><%= tp %></b>
				<% else %>
					<%= link_to "#{path}?t=#{tp}" do %>
						<span class="text-muted"><%= tp %></span>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to "#{path}?t=#{tp}" do %>
					<span class="text-muted"><%= tp %></span>
				<% end %>
			<% end %></br>
		<% end %>
	</div>

</div>
</small>