<%= form_with(model: m_periodo, local: true) do |form| %>
  <% if m_periodo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(m_periodo.errors.count, "error") %> prohibited this m_periodo from being saved:</h2>

      <ul>
      <% m_periodo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :m_periodo %>
    <%= form.text_field :m_periodo %>
  </div>

  <div class="field">
    <%= form.label :clave %>
    <%= form.number_field :clave %>
  </div>

  <div class="field">
    <%= form.label :m_modelo_id %>
    <%= form.number_field :m_modelo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
