<%= render '0capitan/layouts/box_title' do %>
	<div class="text-info">
	<div class="row">
		<div class="col-8">
			<%= render partial: '0p/general/gly', locals: {gly: controller_icon['hechos']} %>
			Tabla de hechos
		</div>
		<div class="col-4" align="right">
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/temas/new", tooltip: 'Nueva Materia'} do  %>
				<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %> Materia
			<% end %>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/hechos/new", tooltip: 'Nuevo Hecho'} do  %>
				<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %> Hecho
			<% end %>
		</div>
	</div>
	</div>
<% end %>