<div class="titulo">
	<div class="text-info">
	<div class="row">
		<div class="col-8">
			<%= render partial: '0p/general/gly', locals: {gly: controller_icon['hechos']} %>
			Tabla de hechos
		</div>
		<div class="col-4" align="right">
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/set_flags?f=hreg", tooltip: "#{objeto.hechos_registrados ? 'Desbloquea hechos' : 'Bloquea hechos' }"} do  %>
				<%= render partial: '0p/general/gly', locals: {gly: "#{'check-' if objeto.hechos_registrados}square"} %>
			<% end %>
			<% unless objeto.hechos_registrados %>
				<i class="bi bi-dot"></i>
				<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/temas/new", tooltip: 'Nueva Materia'} do  %>
					<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %> Materia
				<% end %>
				<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/hechos/new", tooltip: 'Nuevo Hecho'} do  %>
					<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %> Hecho
				<% end %>
			<% end %>
		</div>
	</div>
	</div>
</div>