<p style="color: green"><%= notice %></p>

<%= render @lgl_entidad %>

<div>
  <%= link_to "Edit this lgl entidad", edit_lgl_entidad_path(@lgl_entidad) %> |
  <%= link_to "Back to lgl entidades", lgl_entidades_path %>

  <%= button_to "Destroy this lgl entidad", @lgl_entidad, method: :delete %>
</div>
