<h4>Investigación</h4>

<p>En este punto del procedimiento nuestra página <i>Proceso</i> luce así:</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_15 -->
	<%= image_tag 'hlp/dnnc_smpl_15.webp', width: "600" %>
</div>

<ol>
	<li>Un nuevo elemento, <b>Etapas concluidas</b>, nos muestra el cumplimiento del plazo establecido para cada etapa. En este caso nos muestra que se terminó la etapa con un día de anticipación.</li>
	<li>Hemos iniciado la etapa de <i>Investigación</i> y el plazo para realizarla es el 01-07-2025</li>
	<li>A esta altura del proedimiento, asignar un investigador a la denuncia es obligatorio.</li>
</ol>

<h5>Asignar un investigador</h5>

<p>Presionando el botón <i class="bi bi-plus-circle"></i> en el extremo derecho del encabezado <b>Investigador</b> accederemos al formulario donde seleccionaremos al investigador.</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_16 -->
	<%= image_tag 'hlp/dnnc_smpl_16.webp', width: "600" %>
</div>

<p>Como solo hemos registrado un investigador llamado <b>Investigador de la empresa</b>, solo podemos seleccionar ese y presionar el botón <b>Crear Investigador</b>. De esta forma llegamos a la siguiente tarea de la etapa:</p>

<h5>Análisis de la denuncia</h5>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_17 -->
	<%= image_tag 'hlp/dnnc_smpl_17.webp', width: "600" %>
</div>

<p>Se ha desplegado el registro del investigador asignado bajo el encabezado. El registro es simple: el nombre del investigador y a su derecha los botones para modificar/eliminar el registro.</p>
<p>Bajo el nombre del investigador asignado se ven acciones posibles de realizar respecto al investigador:
	<ol>
		<li>Investigador aún no ha sido notificado a los participantes <i class="bi bi-envelope-at text-primary"></i> <span class="text-primary">Notificar!</span></li>
		<li>Investigador sin objeción <i class="bi bi-dot"></i> <i class="bi bi-square text-primary"></i> <span class="text-primary">objetar</span></li>
	</ol>
</p>

<p>Al final de cada advertencia, encontramos un botón que permite realizar la acción.</p>

<p>El reglamento establece que el investigador debe analizar la denuncia verificando que no presente inconsistencias. Si la denuncia no cumple el estándar requerido, debe ser devuelta a la persona denunciante con las observaciones correspondientes y establecer un plazo para que sea devuelta con las observaciones resueltas.</p>

<p>Si la denuncia presenta inconsistencias, la plataforma solicitará que se suba el documento que contiene el análisis de la denuncia y pedirá que se ingrese la fecha del plazo asignado para la entrega de la denuncia corregida.</p>

<p>Como se trata de una denuncia simple, tomaremos la opción <b>La denuncia está completa y no presenta inconsistencias</b>, lo cual nos lleva a la siguiente tarea:</p>

<h5>Agendamiento y toma de declaraciones</h5>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_18 -->
	<%= image_tag 'hlp/dnnc_smpl_18.webp', width: "600" %>
</div>

<p>Como explica el mensaje, esta tarea se realiza en la página <i>Participantes</i>. Nos cambiamos de página utilizando el link entregado.</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_19 -->
	<%= image_tag 'hlp/dnnc_smpl_19.webp', width: "600" %>
</div>

<p>En la imagen mostramos solo la información de la persona denunciante, el procedimiento es el mismo en cada participante.</p>

<p>Lo que se debe realizar en cada participante es lo siguiente:
	<ol>
		<li>Agendar su declaración</li>
		<li>Tomar su declaración</li>
		<li>Subir su declaración a la plataforma</li>
	</ol>
</p>

<div class="border-start border-secondary border-5 px-3 pt-1" style="font-size: 0.7rem; line-height: 1.5;">
	<p><b>Planificacion del tiempo de la investigación</b></p>
	<p>Es importante que las declaraciones se agenden lo antes posible, lar personas denunciantes o denunciadas pueden aportar con testigos al momento de dar su declaración, lo cual podría afectar el cumplimiento del plazo de investigación si no se cuenta con el tiempo suficiente.</p>
</div>

<p>En el detalle de cada participante ahora aparecen las notificaciones que han sido enviadas con su fecha y hora. Además, se incluyo el encabezado <b>Agenda de declaraciones</b> (cada participante tiene una). En la mayoría de los casos, sólo hara falta una declaración por participante, pero si es necesario, es posible ingresar más de una.</p>

<p>Para agendar una declaración basta con presionar el botón <i class="bi bi-plus-circle"></i> en el extremo derecho del encabezado <b>Agenda de declaraciones</b>, al hacerlo aparecerá el siguiente formulario:</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_20 -->
	<%= image_tag 'hlp/dnnc_smpl_20.webp', width: "600" %>
</div>

<p>Al ingresar la declaración a la agenda de la persona denunciante lucirá así:</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_21 -->
	<%= image_tag 'hlp/dnnc_smpl_21.webp', width: "600" %>
</div>

<p>Bajo el encabezado <i>Agenda de declaraciones</i> aparece la declaración que acabamos de agrendar con fecha y hora. A la derecha, a la izquierda de los botones de modificar/eliminar, aparece un boton <i class="bi bi-envelope-at"></i> que permite notificar al participante la cita a declarar que se acaba de generar.</p>

<p>Bajo el encabezado <b>Documentación obligatoria</b> del participante, se solicita ahora subir la <b>Declaración del participante</b>, y se activa una lista para subir documentos pueda adjuntar a su declaración como antecedentes (opcional).</p>

<p><b>La plataforma considerará que la declaración fue tomada si se subió el correspondiente archivo de la declaración a la plataforma</b>.</p>
<p>Para completar la tarea debemos, en consecuencia, agendar las declaraciones de todos los participantes y subir sus correspondientes declaraciones. Si cada participante tiene adjunta su declaración aparecerá el siguiente mensaje:</p> 

<div class="mb-2 text-center">
	<!-- dnnc_smpl_22 -->
	<%= image_tag 'hlp/dnnc_smpl_22.webp', width: "600" %>
</div>

<p>Si se ha completado el proceso de toma de declaraciones ir a la página <i>Proceso</i> para continuar con el procedimiento.</p>

<h5>Término de la investigación</h5>

<p>Una vez terminada la toma de declaraciones, el investigador debe realizar la redacción del informe de investigación con sus correspondientes <i>medidas correctivas</i> y <i>Sanciones</i>.</p>
<p>Una vez terminada su redacción se debe subir a la plataforma.</p>

<p>La plataforma desplegará un mensaje con todas las acciones pendientes impidiendo que terminemos la etapa mientras no se completen.</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_23 -->
	<%= image_tag 'hlp/dnnc_smpl_23.webp', width: "600" %>
</div>

<p>Una vez subido el informe y notificado el investigador, la plataforma permitirá registrar la fecha de término de la investigación. Fecha que será utilizada para verificar el cumplimiento del plaso de la etapa.</p>

<div class="mb-2 text-center">
	<!-- dnnc_smpl_24 -->
	<%= image_tag 'hlp/dnnc_smpl_24.webp', width: "600" %>
</div>

<p>El detalle de la tarea muestra esta vez solo el formulario que nos pide ingresar la <b>Fecha término de la investigación</b>. La plataforma nos advierte, una vez más, que esta fecha será utilizada para evaluar el plazo de la etapa. Esta vez ingresaremos exactamente la fecha del plazo (01-07-2025), lo cual nos lleva a la siguiente etapa.</p>