<h5>Ingreso de personas denunciantes, denunciadas y testigos</h5>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_3.png', width: "700" %>
</div>

<p>A la derecha de los encabezados de personas denunciantes y denunciadas se encuentran dos botones con íconos:</p>
<ul>
	<li><i class="bi bi-question-circle"></i>: dirige a la ayuda que describe la información y la funcionalidad asociada al despliegue de un registro de denunciante o denunciado.</li>
	<li><i class="bi bi-plus-circle"></i>: permite agregar una persona denunciante o denunciada.</li>
</ul>

<p>La plataforma exige registrar al menos a una persona denunciante antes de poder ingresar datos de una persona denunciada. Por esta razón, solo el primer encabezado dispone inicialmente de un botón de ingreso. De manera recíproca, tampoco es posible eliminar a la única persona denunciante registrada si ya existe alguna persona denunciada en la lista.</p>

<h5>Denuncias con múltiples personas denunciantes</h5>
<p>Aunque el reglamento no contempla expresamente que una denuncia pueda ser presentada por más de una persona denunciante, consideramos natural habilitar esta posibilidad por las siguientes razones:</p>
<ol>
	<li>El reglamento establece que el sindicato de la empresa puede presentar una denuncia en representación de la persona denunciante. En este contexto, resulta razonable entender que dicha representación pueda extenderse a varias personas denunciantes.</li>
	<li>Dividir una denuncia conjunta en tantas denuncias como denunciantes existan no solo incrementa la carga administrativa y multiplica las declaraciones de testigos, sino que también complica la definición de medidas correctivas y sanciones. Ello podría generar situaciones en las que una misma persona denunciada reciba más de una sanción por hechos que forman parte de un mismo caso.</li>
</ol>

<p>Al presionar el botón <i class="bi bi-plus-circle"></i> para ingresar una persona denunciante, se desplegará el siguiente formulario:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_4.png', width: "700" %>
</div>

<p><b>NOTA:</b> El campo <i>Empleado externo</i>, ubicado en la segunda línea del formulario, se despliega únicamente cuando se trata de una empresa principal o usuaria, la cual está obligada a recibir denuncias de trabajadores pertenecientes a empresas con las que mantiene un régimen de subcontratación.</p>

<p>La mayoría de los datos solicitados se explican por sí solos, por lo que solo corresponde destacar algunas consideraciones:</p>
<ol>
	<li><b>Verificación de cédula de identidad:</b> la plataforma valida automáticamente el número ingresado mediante el dígito verificador.</li>
	<li><b>Aplicación del artículo 516 del Código del Trabajo:</b> se marca este campo cuando la persona denunciante <b>no tiene ni utiliza correo electrónico y ha solicitado que la información y notificaciones del procedimiento sean enviadas por correo certificado</b>. Al seleccionarlo, se habilitará un campo adicional para ingresar la dirección postal correspondiente.</li>
	<li><b>Aplicación del artículo 4, inciso primero, del Código del Trabajo:</b> se marca este campo cuando la persona trabajadora ocupa un <b>cargo de gerencia</b>. En tal situación, la denuncia debe ser obligatoriamente derivada a la Dirección del Trabajo.</li>
</ol>

<p>El registro de personas denunciadas y testigos se realiza de la misma forma que el de la persona denunciante. Una vez ingresada la información de los participantes disponible al momento de la denuncia, la página se verá aproximadamente como en la siguiente imagen:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_5.png', width: "700" %>
</div>

<p>En la parte superior de la vista se muestran tres mensajes:</p>
<ul>
	<li>Los datos ingresados de los participantes cumplen con las exigencias mínimas para continuar con el proceso.</li>
	<li>Para activar el envío de información y notificaciones debe verificar el correo electrónico de los participantes.</li>
	<li>Es obligación entregar información a la persona denunciante acerca de su derecho a elegir la entidad investigadora. Envíe dicha información por correo electrónico para contar con evidencia de la entrega de esta información.</li>
</ul>

<p>Hasta ahora, nuestras tareas se han centrado en el ingreso de datos:</p>
<ol>
	<li>Creación de la denuncia.</li>
	<li>Registro de los participantes de la denuncia: personas denunciantes, denunciadas y testigos.</li>
</ol>

<p>El primer mensaje confirma que la información ingresada hasta este punto es suficiente para continuar con el procedimiento, particularmente con la etapa de recepción de la denuncia. A partir de aquí, la plataforma se encargará de gestionar las tareas pendientes asociadas a dicha etapa.</p>

<p>De forma predeterminada, la plataforma asume que la recepción se realiza con la persona denunciante presente. Por ello, prioriza las tareas que deben ejecutarse en el marco de esa entrevista y posterga para el final aquellas que no requieren de su participación.</p>

<p>El siguiente objetivo de la plataforma es obtener evidencia de que se entregó a la persona denunciante toda la información que el reglamento exige poner a su disposición al momento de presentar la denuncia. Esto es lo que establece el tercer mensaje.</p>

<p>El segundo mensaje, sin embargo, tiene prioridad sobre el tercero por una razón fundamental: incluso si la información fue entregada verbalmente y quedó registrada en el comprobante de recepción de la denuncia, la plataforma exige que se reitere por correo electrónico a la persona denunciante. Solo así dicho envío constituye una evidencia válida de la entrega.</p>

<p>Para que este correo electrónico sea considerado como evidencia, debe enviarse a una dirección previamente verificada. Esta es la acción requerida en el segundo mensaje.</p>

<h5>Verificación de la dirección de correo electrónico de la persona denunciante</h5>

<p>Bajo el registro que contiene los datos de cada participante se encuentra un apartado destinado a gestionar la verificación de su dirección de correo electrónico.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_6.png', width: "700" %>
</div>

<p>El ícono <i class="bi bi-cone-striped text-danger"></i> indica que la <i>verificación de la dirección de correo electrónico</i> aún no se ha realizado. Al final del registro de verificación se presentan dos botones:</p>
<ul>
	<li><i class="bi bi-check-square"></i>: permite <i>marcar manualmente</i> la dirección como verificada.</li>
	<li><i class="bi bi-envelope-at"></i> Enviar: <i>remite un correo electrónico</i> a la dirección registrada con un enlace para completar la verificación.</li>
</ul>

<p>El envío del correo de verificación no deshabilita el botón, lo que permite reenviar el mensaje tantas veces como sea necesario. Una vez que la dirección de correo electrónico sea verificada a través del enlace, el registro lo reflejará automáticamente de la siguiente manera:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_7.png', width: "700" %>
</div>

<h4>Entrega de información obligatoria a la persona denunciante</h4>

<p>Una vez verificada la dirección de correo electrónico de la persona denunciante, se habilita bajo su registro un bloque titulado <i>Envío de información y notificaciones</i>. La primera opción, señalada con una flecha, corresponde a la que debemos realizar: <i>Información obligatoria para la persona participante</i>.</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_8.png', width: "700" %>
</div>

<p>Como se observa en la imagen, todos los elementos del bloque disponen a su derecha de los mismos botones de gestión:</p>
<ul>
	<li><i class="bi bi-check-square"></i>: permite <i>marcar manualmente</i> la acción como realizada.</li>
	<li><i class="bi bi-envelope-at"></i>: permite <i>ejecutar la acción a través de la plataforma.</i></li>
</ul>

<p>En todos los casos, <i>marcar manualmente como realizada</i> significa que la información fue entregada por otra vía y que damos fe de ello. En cambio, realizar la acción desde la plataforma implica no solo que la información se envió por correo electrónico, sino también que se generaron respaldos asociados.</p>

<p>Al enviar información o notificaciones mediante la plataforma, se ejecutan automáticamente las siguientes acciones:</p>
<ol>
	<li>Se genera un documento PDF con la información que se desea entregar, siempre con fecha y hora de creación.</li>
	<li>Una copia del PDF queda asociada al registro del participante destinatario.</li>
	<li>Otra copia se adjunta al correo electrónico enviado al participante destinatario.</li>
	<li>Todos los correos electrónicos enviados desde la plataforma se respaldan en una dirección designada por la empresa propietaria de la cuenta.</li>
</ol>

<p>El que toda la información y notificaciones se generen en formato PDF permite a la plataforma crear, en cualquier momento, un archivo <i>combinado</i> que reúna todos los documentos asociados a la denuncia. Este recurso resulta especialmente útil para derivar denuncias, responder a fiscalizaciones o archivarlas correctamente.</p>

<p>Al ejecutar la acción a través de la plataforma cambian las acciones disponibles para el elemento:</p>

<div class="mb-2 text-center">
	<%= image_tag 'hlp/dnnc_smpl_9.png', width: "700" %>
</div>

<p>Los botones originales han sido reemplazdos por los siguientes:</p>
<ul>
	<li><i class="bi bi-download"></i>: permite <i>ver la copia del PDF</i> enviado.</li>
	<li><i class="bi bi-trash"></i>: permite <i>eliminar el PDF enviado</i>. Esta acción permite volverlo a enviar si es necesario.</li>
</ul>

<p>Antes de reenviar el PDF es necesario eliminar la versión previamente enviada, de modo de asegurar que en el archivo combinado no existan duplicados. En caso de requerir una copia del primer PDF enviado, esta puede obtenerse desde la copia respaldada en la dirección de correo designada para tal efecto.</p>

<p>Asimismo, en la imagen anterior puede observarse que la parte superior ya no presenta ningún mensaje.</p>

<p><b>NOTA</b>: La verificación de los correos electrónicos de los participantes constituye una buena práctica, puesto que el reglamento exige que la información y notificaciones generadas durante el procedimiento sean enviadas a sus direcciones personales.</p>

<p>El reglamento admite que los datos de las personas denunciadas incluidos en la denuncia puedan estar incompletos, dado que no se exige que la persona denunciante disponga de todos ellos. En coherencia con ello, la plataforma permite registrar información parcial durante la etapa de recepción, pero requiere que los datos estén completos para avanzar a la fase de investigación.</p>

<p>Bajo los mensaje encontramos dos acciones que la plataforma debe registrar:
	<ul>
		<li><i class="bi bi-cone-striped text-danger"></i> Coordinación de atención psicológica temprana</li>
		<li><i class="bi bi-cone-striped text-danger"></i> Verificación de datos de los participantes</li>
	</ul>
</p>

<p>Y la derecha de cada una encontrará dos botones:
	<ul>
		<li><i class="bi bi-check-square"></i>: este botón permite <i>marcar manualmente</i> la acción como realizada.</li>
		<li><i class="bi bi-envelope-at"></i>: este botón permite <i>realizar la acción a través de la plataforma.</i></li>
	</ul>
</p>

<p>Estos botones se utilizan en todas las acciones disponibles dentro de la plataforma, por lo que serán explicados en detalle más adelante. Por ahora, nos centraremos únicamente en la explicación de las acciones:</p>

<p>El reglamento establece la obligación de proporcionar <i>atención psicológica temprana</i> a todas las personas denunciantes. Si la persona responsable de coordinar esta atención es distinta de quien recibe la denuncia, la plataforma enviará automáticamente un correo electrónico con el requerimiento correspondiente.</p>

<p>La plataforma contempla la necesidad de completar o complementar la información de los participantes de la denuncia. Para ello, se enviará un correo electrónico a la persona encargada del área de Recursos Humanos solicitando dicha información.</p>

<p>En ambos casos, los correos electrónicos no incluyen detalles de la denuncia, sino únicamente los datos que se requiere verificar o complementar. De este modo, se resguarda el principio de confidencialidad.</p>

<p>Finalmente, se despliega el detalle de los participantes ingresados: la denuncia cuenta con una persona denunciante y una persona denunciada. Hasta ahora, solo la persona denunciante ha presentado un testigo, mientras que la persona denunciada podrá presentar los suyos al momento de rendir su declaración.</p>

<p>Cada participante muestra, bajo su registro identificatorio, la acción <i>Verificación de la dirección de correo electrónico</i>. Esta acción utiliza botones similares a los descritos anteriormente, con la diferencia de que el botón que ejecuta la acción a través de la plataforma incorpora la palabra <i>Enviar</i> (aunque la funcionalidad es la misma).</p>

<p>Asimismo, se observa que únicamente a la persona denunciante se le solicita entregar una lista de documentos controlados.</p>

<p>Más adelante profundizaremos en cada uno de estos aspectos.</p>

<p>Una vez concluido el ingreso de datos de los participantes se debe continuar con el procedimiento de recepción, para ello nos dirigimos a la vista <i>Proceso</i>.</p>