<div class="form-row">
	<div class="form-cell">
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :tar_detalle_cuantia_id, colection: TarDetalleCuantia.all.order(:tar_detalle_cuantia).collect { |detalle| [detalle.tar_detalle_cuantia, detalle.id] }, prompt: 'Detalle Cuantía?' } %>
	</div>
	<div class="form-cell">
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :demandante_id, colection: @owner.demandantes.all.order(:orden).collect { |dmndnt| [dmndnt.demandante, dmndnt.id] }, prompt: nil } %>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :otro_detalle, label: 'Detalle (Otro)' } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :otro_detalle } %>
	</div>
	<div class="col-6">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :nota, label: 'Nota' } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :nota } %>
	</div>
</div>
<hr>
<%= render partial: '0p/form_fields/radio', locals: { form: form, token: :moneda, radio_list: ['Pesos', 'UF'] } %>

<div class="row">
	<div class="col-lg-6 col-xs-12">
		<p class="text-info">Demanda</p>
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :valor, label: 'Valor en la demanda' } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :valor } %>
	</div>
	<div class="col-lg-6">
		<p class="text-info">Tarifa</p>
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :valor_tarifa, label: 'Valor para el cálculo de la tarifa' } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :valor_tarifa } %>
	</div>
</div>

<%= render partial: '0p/form_fields/check_box', locals: { form: form, token: :desactivado, label: 'Desactivado' } %>


<%= render partial: '0p/form_fields/hidden', locals: {form: form, token: :owner_class} %>
<%= render partial: '0p/form_fields/hidden', locals: {form: form, token: :owner_id} %>