<%= form_with(model: tar_valor_cuantia, local: true) do |form| %>
  <% if tar_valor_cuantia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tar_valor_cuantia.errors.count, "error") %> prohibited this tar_valor_cuantia from being saved:</h2>

      <ul>
      <% tar_valor_cuantia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :owner_class %>
    <%= form.text_field :owner_class %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id %>
  </div>

  <div class="field">
    <%= form.label :tar_detalle_cuantia_id %>
    <%= form.number_field :tar_detalle_cuantia_id %>
  </div>

  <div class="field">
    <%= form.label :otro_detalle %>
    <%= form.text_field :otro_detalle %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :valor_uf %>
    <%= form.text_field :valor_uf %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
