<p id="notice"><%= notice %></p>

<p>
  <strong>Owner class:</strong>
  <%= @tar_valor_cuantia.owner_class %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @tar_valor_cuantia.owner_id %>
</p>

<p>
  <strong>Tar detalle cuantia:</strong>
  <%= @tar_valor_cuantia.tar_detalle_cuantia_id %>
</p>

<p>
  <strong>Otro detalle:</strong>
  <%= @tar_valor_cuantia.otro_detalle %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @tar_valor_cuantia.valor %>
</p>

<p>
  <strong>Valor uf:</strong>
  <%= @tar_valor_cuantia.valor_uf %>
</p>

<%= link_to 'Edit', edit_tar_valor_cuantia_path(@tar_valor_cuantia) %> |
<%= link_to 'Back', tar_valor_cuantias_path %>
