<%= form_with(model: age_usu_nota) do |form| %>
  <% if age_usu_nota.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(age_usu_nota.errors.count, "error") %> prohibited this age_usu_nota from being saved:</h2>

      <ul>
        <% age_usu_nota.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :age_usuario_id, style: "display: block" %>
    <%= form.number_field :age_usuario_id %>
  </div>

  <div>
    <%= form.label :nota_id, style: "display: block" %>
    <%= form.number_field :nota_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
