<p style="color: green"><%= notice %></p>

<%= render @age_usu_nota %>

<div>
  <%= link_to "Edit this age usu nota", edit_age_usu_nota_path(@age_usu_nota) %> |
  <%= link_to "Back to age usu notas", age_usu_notas_path %>

  <%= button_to "Destroy this age usu nota", @age_usu_nota, method: :delete %>
</div>
