<div class="border rounded-2 my-1">
	<div class="p-2 bg_azul_claro" style="font-size: 1rem;">
		<i class="bi bi-cone-striped text-danger"></i> Deshacer ultimas acciones:
	</div>
	<div>

		<% if @objeto.drvcn_dt? %>
			<% if @objeto.tiene_art4_1? %>
				<%= render partial: 'cuentas/prtls/inline_mssg', locals: {txt: 'Se deribó a la Dirección del Trabajo porque para algunos de sus participantes aplica el artículo 4 inciso primero.', gly: 'cone-striped'} %>
			<% end %>
			<%= render layout: 'cuentas/prtls/proceso/wrp_lnk_proceso' do %>
				<%= render partial: 'karin/krn_derivaciones/rmv_last_drvcn', locals: {objeto: @objeto, color: 'success'} %>
			<% end %>
		<% end %>

		<% if @objeto.investigacion_local or @objeto.investigacion_externa %>
			<% token = @objeto.on_empresa? ? :investigacion_externa : :investigacion_local %>
			<%= render layout: 'cuentas/prtls/proceso/wrp_lnk_proceso' do %>
				<%= render partial: '0p/swtch', locals: {objeto: @objeto, tkn: token, prmpt: 'La empresa decide realizar la investigación.', glys: ['arrow-counterclockwise', 'cursor'], stts: ['No será investigación local', 'Investigación local']} %>
			<% end %>
		<% end %>


	</div>
</div>