<div class="row gx-1">
	<div class="col-lg-2 col-xs-12">
		<%= render partial: '0p/lbld_inpts/number', locals: { form: form, token: :orden, label: 'Orden' } %>
	</div>
	<div class="col-lg-4 col-xs-12">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :codigo, label: 'Código' } %>
	</div>
	<div class="col-lg-6 col-xs-12">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :tarea, label: 'Tarea' } %>
	</div>
</div>
<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :sub_procs, label: 'Aplicación' } %>

<%= render partial: '0p/lbld_inpts/hidden_lst', locals: { form: form, hddn_lst: [:ctr_etapa_id] } %>