<div id="<%= dom_id empresa %>">
  <p>
    <strong>Rut:</strong>
    <%= empresa.rut %>
  </p>

  <p>
    <strong>Razon social:</strong>
    <%= empresa.razon_social %>
  </p>

  <p>
    <strong>Email administrador:</strong>
    <%= empresa.email_administrador %>
  </p>

  <p>
    <strong>Email verificado:</strong>
    <%= empresa.email_verificado %>
  </p>

  <p>
    <strong>Sha1:</strong>
    <%= empresa.sha1 %>
  </p>

</div>
