<%= form_with(model: empresa) do |form| %>
  <% if empresa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
        <% empresa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rut, style: "display: block" %>
    <%= form.text_field :rut %>
  </div>

  <div>
    <%= form.label :razon_social, style: "display: block" %>
    <%= form.text_field :razon_social %>
  </div>

  <div>
    <%= form.label :email_administrador, style: "display: block" %>
    <%= form.text_field :email_administrador %>
  </div>

  <div>
    <%= form.label :email_verificado, style: "display: block" %>
    <%= form.text_field :email_verificado %>
  </div>

  <div>
    <%= form.label :sha1, style: "display: block" %>
    <%= form.text_field :sha1 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
