<div class="row gx-0">
	<div class="col-3">
		<% if current_usuario.dog? %>
			<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :rut, label: 'RUT/Cédula de identidad' } %>
		<% else %>
			<%= s_rut(@objeto.rut)%>
		<% end %>
	</div>
	<div class="col-9">
		<% if current_usuario.dog? %>
			<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :razon_social, label: 'Razon social/Nombre completo' } %>
		<% else %>
			<%= @objeto.razon_social %>
		<% end %>
	</div>
</div>

<div class="row gx-0">
	<div class="col-3">
		<% if current_usuario.dog? %>
			<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :administrador, label: 'Administrador' } %>
		<% else %>
			<%= @objeto.administrador %>
		<% end %>
	</div>
	<div class="col-9">
		<% if current_usuario.dog? %>
			<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :email_administrador, label: 'Email administrador' } %>
		<% else %>
			<%= @objeto.email_administrador %>
		<% end %>
	</div>
</div>
<hr>
<div class="row gx-3">
	<div class="col-lg-6 col-xs-12">
		<% unless @objeto.logo.attached? %>
		<div class="mb-3">
			<%= form.label :logo, "Logo (PNG/JPG/WEBP/SVG)", class: "form-label" %>
			<%= form.file_field :logo,
			      class: "form-control",
			      accept: "image/png,image/jpeg,image/webp,image/svg+xml",
			      direct_upload: true,
			      data: { action: "change->logo-preview#show" } %>

			<div class="form-text">Máx. 2MB.</div>
		</div>
		<% end %>

		<div class="mb-3">
			<div class="d-flex align-items-center gap-3">
			  <div>
			    <%# Vista previa actual o placeholder %>
			    <% if @objeto.logo.attached? %>
			      <%= image_tag(
			            @objeto.logo.variable? ? @objeto.logo.variant(resize_to_limit: [200, 200]) : url_for(@objeto.logo),
			            class: "img-thumbnail",
			            data: { logo_preview_target: "img" }
			          ) %>
			    <% else %>
			      <img src="https://via.placeholder.com/200x200?text=Logo" class="img-thumbnail" data-logo-preview-target="img">
			    <% end %>
			  </div>
			  <div data-logo-preview-target="filename" class="text-muted small"></div>
			</div>
		</div>

		<% if @objeto.logo.attached? %>
			<div class="form-check mb-3">
			  <%= form.check_box :remove_logo, class: "form-check-input", value: 1 %>
			  <%= form.label :remove_logo, "Eliminar logo", class: "form-check-label" %>
			</div>
		<% end %>
	</div>
	<div class="col-lg-6">
		<h5>Configuracion de la empresa</h5>
		<div class="form-check mb-3">
			<% if current_usuario.dog? %>
				<%= form.check_box :activa_devolucion, class: "form-check-input", value: 1 %>
				<%= form.label :activa_devolucion, "Activa solicitud de devolución", class: "form-check-label" %>
			<% end %>
			
			<%= form.check_box :verificacion_datos, class: "form-check-input", value: 1 %>
			<%= form.label :verificacion_datos, "Verificación de datos de participantes", class: "form-check-label" %>

			<%= form.check_box :coordinacion_apt, class: "form-check-input", value: 1 %>
			<%= form.label :coordinacion_apt, "Coordinación de atención psicológica temprana", class: "form-check-label" %>

			<%= form.check_box :mail_backup, class: "form-check-input", value: 1 %>
			<%= form.label :coordinacion_apt, "Respaldo de correos electrónicos", class: "form-check-label" %>
		</div>

	</div>
</div>

