<%# app/views/pages/home.html.erb %>
<!-- Resto de tu landing page... -->

<div id="registration-form app_font">
  <!--h3>Registre su empresa</h3-->
  <%= form_with(model: @objeto, url: register_path, data: { turbo: false }) do |form| %>
    <% if @objeto.errors.any? %>
      <div class="error-messages">
        <% @objeto.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <!--div class="mb-2 text-center">
      Registre su empresa y tenga acceso a una versión DEMO
    </div-->    

  	<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :rut, label: 'RUT de la empresa' } %>
    <%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :razon_social, label: 'Razón social de la empresa' } %>
  	<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :administrador, label: 'Nombre del administrador de la cuenta' } %>
  	<%= render partial: '0p/lbld_inpts/email', locals: { form: form, token: :email_administrador, label: 'Email del administrador de la cuenta' } %>

    <%= render partial: '0p/lbld_inpts/check_box', locals: { form: form, token: :contacto, label: 'Deseo que me contacten telefónicamente.' } %>
    <%= render partial: '0p/lbld_inpts/email', locals: { form: form, token: :telefono, label: 'Teléfono del administrador de la cuenta (*)' } %>

    <%= render partial: '0p/lbld_inpts/check_box', locals: { form: form, token: :informacion_comercial, label: 'Deseo información comercial de los productos.' } %>
  	<%= render partial: '0p/lbld_inpts/check_box', locals: { form: form, token: :principal_usuaria, label: 'Empresa principal o usuaria (**)' } %>

    <div class="mb-2 objt_lnk" style="font-size: 0.7rem;line-height: 1.5;">
      (*) El número telefónico se utilizará como medio de contacto sólo si ha solicitado contacto telefónico.<br>
      (**) Marque esta opción si su empresa cumple el rol de empresa principal o usuaria.
    </div>

  	<%#= render partial: '0p/lbld_inpts/check_box', locals: { form: form, token: :contacto, label: 'Solicito información comercial' } %>

    <div class="actions">
      <%= form.submit "Registrar mi empresa", class: "btn btn-sm btn-outline-primary" %>
    </div>
  <% end %>


</div>

<!-- Resto de tu landing page... -->