<%# app/views/pages/home.html.erb %>
<!-- Resto de tu landing page... -->

<div id="registration-form">
  <!--h3>Registre su empresa</h3-->
  <%= form_with(model: @objeto, url: register_path, data: { turbo: false }) do |form| %>
    <% if @objeto.errors.any? %>
      <div class="error-messages">
        <% @objeto.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

	<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :rut, label: 'RUT de la empresa' } %>
	<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :razon_social, label: 'Razon social de la empresa' } %>
	<%= render partial: '0p/lbld_inpts/email', locals: { form: form, token: :email_administrador, label: 'Email del administrador de la cuenta' } %>

	<%= render partial: '0p/lbld_inpts/check_box', locals: { form: form, token: :principal_usuaria, label: 'Empresa principal o usuaria (*)' } %>
	<%#= render partial: '0p/lbld_inpts/check_box', locals: { form: form, token: :contacto, label: 'Solicito información comercial' } %>

    <div class="actions">
      <%= form.submit "Registrar mi empresa", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="mt-3 text-center fw-bold objt_lnk" style="font-size: 12px;line-height: 1.5;">
    (*) Marque esta opción si su empresa cumple el rol de empresa principal o usuaria. Para mayor información visite: 
    <%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'prncpl_usr', dscrpcn: 'Empresas principales o usuarias', tltp: 'Empresas principales o usuarias', target: '_blank'} %>
  </div>

</div>

<!-- Resto de tu landing page... -->