<small>
	<b><%= objeto.codigo %></b></br>
	<a data-toggle="collapse" href="#collapseInfraccion<%=objeto.id%>" role="button" aria-expanded="false" aria-controls="collapseInfraccion<%=objeto.id%>">
		<%= objeto.dt_infraccion %> 
	</a>

	<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small>
</small></br>

<div class="collapse" id="collapseInfraccion<%=objeto.id%>">
  <div class="card card-body">
  	<%= render partial: 'dt/dt_infracciones/list/show_infraccion', locals: {objeto: objeto} %>
  </div>
</div> 
<hr>