<div id="<%= dom_id pro_etapa %>">
  <p>
    <strong>Producto:</strong>
    <%= pro_etapa.producto_id %>
  </p>

  <p>
    <strong>Orden:</strong>
    <%= pro_etapa.orden %>
  </p>

  <p>
    <strong>Code descripcion:</strong>
    <%= pro_etapa.code_descripcion %>
  </p>

  <p>
    <strong>Pro etapa:</strong>
    <%= pro_etapa.pro_etapa %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= pro_etapa.estado %>
  </p>

</div>
