<p style="color: green"><%= notice %></p>

<%= render @pro_etapa %>

<div>
  <%= link_to "Edit this pro etapa", edit_pro_etapa_path(@pro_etapa) %> |
  <%= link_to "Back to pro etapas", pro_etapas_path %>

  <%= button_to "Destroy this pro etapa", @pro_etapa, method: :delete %>
</div>
