<div style="margin-left: 7%;">
	<div class="ms-5 objt_lnk" style="font-size: 14px;">

		<% if objeto.email.blank? %>
			<i class="bi bi-cone-striped text-danger"></i> El correo electrónico del participante no se ha ingresado.
		<% else %>
			<% if objeto.email != objeto.email_ok %>
				<i class="bi bi-cone-striped text-danger"></i> 
				<% if objeto.n_vrfccn_lnks.blank? %>
					Aún no se envía email con link de verificación de correo electrónico.
				<% else %>
					<%= dma(objeto.fecha_vrfccn_lnk) %><%=" (#{objeto.n_vrfccn_lnks})" if objeto.n_vrfccn_lnks > 1 %>: Aún no se recibe verificación del correo electrónico.
				<% end %>
				<%= link_to send_verification_email_path(model_type: to_name(objeto).downcase, id: objeto.id),  
				            data: { turbo_method: :post, turbo_confirm: 'Verificar envio de email' } do %>  
				  <i class="bi bi-envelope-at"></i> <%= objeto.n_vrfccn_lnks.blank? ? 'Enviar' : 'Reenviar' %>
				<% end %>

			<% else %>
				<% if objeto.verified? %>
					<i class="bi bi-at"> <%= objeto.email %> </i> <b>verificado!</b>
				<% end %>
			<% end %>
		<% end %>

	</div>
</div>