<div class="ttl_wdth">
	<div class="ttl_ttl">
		<%= render partial: '0p/general/gly', locals: {gly: controller_icon['hechos']} %>
		Tabla de hechos
	</div>
	<div class="ttl_lnks">
		<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/set_flags?f=hreg", tooltip: "#{objeto.hechos_registrados ? 'Desbloquea hechos' : 'Bloquea hechos' }"} do  %>
			<%= render partial: '0p/general/gly', locals: {gly: "#{'check-' if objeto.hechos_registrados}square"} %>
		<% end %>
		<% unless objeto.hechos_registrados %>
			<i class="bi bi-dot"></i>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/temas/new?cid=#{objeto.id}", tooltip: 'Nueva Materia'} do  %>
				<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %> Materia
			<% end %>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/hechos/new?cid=#{objeto.id}", tooltip: 'Nuevo Hecho'} do  %>
				<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %> Hecho
			<% end %>
		<% end %>
	</div>
</div>