<div class="ttl_app">
	<div class="ttl_ttl">
		<%= render partial: '0p/general/gly', locals: {gly: controller_icon['app_archivos']} %>
		Archivos requeridos
		<i class="bi bi-dot"></i>
		<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/set_flags?f=areg", tooltip: "#{objeto.archivos_registrados ? 'Desbloquea archivos' : 'Bloquea archivos' }"} do  %>
			<%= render partial: '0p/general/gly', locals: {gly: "#{'check-' if objeto.archivos_registrados}square"} %>
		<% end %>
	</div>
	<div class="ttl_lnks">
		<% unless objeto.archivos_registrados %>
			<%= render layout: '0p/collapse/link', locals: {label: 'NuevoArchivo', objeto: nil, tooltip: 'Agrega archivo'} do %>
				<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %>
			<% end %>
			<%#= render layout: '0p/collapse/link', locals: {label: 'SelArchivo', objeto: nil, tooltip: 'Crea archivo usual'} do %>
				<!--i class="bi bi-list-check"></i-->
			<%# end %>

			<!-- desactivado por mu avanzado jajaja -->
			<%#= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/traer_archivos_cuantia", tooltip: 'Trae Archivos desde cuantias'} do  %>
				<%#= render partial: '0p/general/gly', locals: {gly: 'arrow-clockwise'} %>
			<%# end %>
		<% end %>
	</div>
</div>

<%= render layout: '0p/collapse/display', locals: {label: 'NuevoArchivo', objeto: nil} do %>
	<%= render partial: 'csc/hechos/list/cs_form_archivo', locals: {objeto: objeto} %>
<% end %>

<%= render layout: '0p/collapse/display', locals: {label: 'SelArchivo', objeto: nil} do %>
	<%= render partial: 'csc/hechos/list/cs_sel_usuales', locals: {objeto: objeto} %>
<% end %>