<div class="ttl_app">
	<div class="ttl_ttl">
		<%= render partial: '0p/general/gly', locals: {gly: controller_icon['hechos']} %>
		Tabla de hechos
		<i class="bi bi-dot"></i>
		<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/set_flags?f=hreg", tooltip: "#{objeto.hechos_registrados ? 'Desbloquea hechos' : 'Bloquea hechos' }"} do  %>
			<%= render partial: '0p/general/gly', locals: {gly: "#{'check-' if objeto.hechos_registrados}square"} %>
		<% end %>
	</div>
	<div class="ttl_lnks">
		<%= render layout: '0p/layout/tooltip_link', locals: {link: "/servicios/antecedentes?cid=#{objeto.id}", tooltip: 'Solicitud de documentos'} do %>
			<i class="bi bi-file-pdf"></i>
		<% end %>
		<%= render layout: '0p/layout/tooltip_link', locals: {link: "/causas/#{objeto.id}/hchstowrd", tooltip: 'Revisión de hechos'} do %>
			<i class="bi bi-file-word"></i>
		<% end %>
		<i class="bi bi-dot"></i>
		<% unless objeto.hechos_registrados %>

			<%= render layout: '0p/collapse/link', locals: {label: 'NuevaMateria', objeto: nil, tooltip: 'Agrega materia'} do %>
				<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %> Materia
			<% end %>

			<%= render layout: '0p/collapse/link', locals: {label: 'NuevoHecho', objeto: nil, tooltip: 'Agrega materia'} do %>
				<%= render partial: '0p/general/gly', locals: {gly: 'plus-circle'} %> Hecho
			<% end %>

		<% end %>
	</div>
</div>

<%= render layout: '0p/collapse/display', locals: {label: 'NuevaMateria', objeto: nil} do %>
	<%= render partial: 'causas/shw/hechos/form_nueva_materia', locals: {objeto: objeto} %>
<% end %>

<%= render layout: '0p/collapse/display', locals: {label: 'NuevoHecho', objeto: nil} do %>
	<%= render partial: 'causas/shw/hechos/form_nuevo_hecho', locals: {objeto: objeto} %>
<% end %>