<div id="<%= dom_id nota %>">
  <p>
    <strong>Ownr clss:</strong>
    <%= nota.ownr_clss %>
  </p>

  <p>
    <strong>Ownr:</strong>
    <%= nota.ownr_id %>
  </p>

  <p>
    <strong>Perfil:</strong>
    <%= nota.perfil_id %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= nota.nota %>
  </p>

  <p>
    <strong>Prioridad:</strong>
    <%= nota.prioridad %>
  </p>

  <p>
    <strong>Realizado:</strong>
    <%= nota.realizado %>
  </p>

</div>
