<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Código', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :codigo } %>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Infracción', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :dt_infraccion } %>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Normas', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :normas } %>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Criterios', v: true } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :criterios } %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Tipificación', v: true } %>
		<%= render partial: '0p/form_fields/text_area', locals: { form: form, token: :tipificacion } %>
	</div>
</div>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :dt_materia_id } %>