<p id="notice"><%= notice %></p>

<h1>Dt Infracciones</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Normas</th>
      <th>Dt infraccion</th>
      <th>Tipificacion</th>
      <th>Criterios</th>
      <th>Dt materia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dt_infracciones.each do |dt_infraccion| %>
      <tr>
        <td><%= dt_infraccion.codigo %></td>
        <td><%= dt_infraccion.normas %></td>
        <td><%= dt_infraccion.dt_infraccion %></td>
        <td><%= dt_infraccion.tipificacion %></td>
        <td><%= dt_infraccion.criterios %></td>
        <td><%= dt_infraccion.dt_materia_id %></td>
        <td><%= link_to 'Show', dt_infraccion %></td>
        <td><%= link_to 'Edit', edit_dt_infraccion_path(dt_infraccion) %></td>
        <td><%= link_to 'Destroy', dt_infraccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dt Infraccion', new_dt_infraccion_path %>
