<div class="ms-4 app_lnk" style="font-size: 14px; line-height: 1;">

	<!--p><%#= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'prncpl_usr', dscrpcn: 'Empresas principales o usuarias', tltp: 'Empresas principales o usuarias'} %></p-->

	<h5>Tutoriales</h5>

	<p><%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'ambnt', dscrpcn: 'Configuración básica', tltp: 'Configuración básica'} %></p>

	<p><%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'dnnc_smpl', dscrpcn: 'Ejemplo de denuncia simple', tltp: 'Ejemplo de denuncia simple'} %></p>

	<p><%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'dcmntcn_oblgtr', dscrpcn: 'Gestión de la Documentación obligatoria', tltp: 'Gestión de la Documentación obligatoria'} %></p>

	<p><%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'rprts_ntfccns', dscrpcn: 'Reportes y notificaciones', tltp: 'Reportes y notificaciones'} %></p>

	<h5>Información general</h5>
	<p><%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'estrctr_dnnc', dscrpcn: 'Estructura general de la denuncia', tltp: 'Estructura general de la denuncia'} %></p>

	<!--p><%#= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'prcdmnt_invstgcn_sncn', dscrpcn: 'Procedimiento de Investigación y Sanción: Guía para los participantes', tltp: 'Procedimiento de Investigación y Sanción: Guía para los participantes'} %></p-->

	<p><%= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'drchs_rspnsbldds', dscrpcn: 'Derechos y obligaciones de los participantes', tltp: 'Derechos y obligaciones de los participantes'} %></p>

	<!--p><%#= render partial: prtl_name('hlp_ayudas', 'prtls', 'hlp_lnk'), locals: {hlp: 'dnnc_rcpcn', dscrpcn: 'Recepción de denuncias', tltp: 'Recepción de denuncias'} %></p-->
</div>
