<p style="color: green"><%= notice %></p>

<%= render @krn_lst_modificacion %>

<div>
  <%= link_to "Edit this krn lst modificacion", edit_krn_lst_modificacion_path(@krn_lst_modificacion) %> |
  <%= link_to "Back to krn lst modificaciones", krn_lst_modificaciones_path %>

  <%= button_to "Destroy this krn lst modificacion", @krn_lst_modificacion, method: :delete %>
</div>
