<p id="notice"><%= notice %></p>

<h1>Valores</h1>

<table>
  <thead>
    <tr>
      <th>Owner class</th>
      <th>Owner</th>
      <th>Variable</th>
      <th>C string</th>
      <th>C text</th>
      <th>C fecha</th>
      <th>C numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valores.each do |valor| %>
      <tr>
        <td><%= valor.owner_class %></td>
        <td><%= valor.owner_id %></td>
        <td><%= valor.variable_id %></td>
        <td><%= valor.c_string %></td>
        <td><%= valor.c_text %></td>
        <td><%= valor.c_fecha %></td>
        <td><%= valor.c_numero %></td>
        <td><%= link_to 'Show', valor %></td>
        <td><%= link_to 'Edit', edit_valor_path(valor) %></td>
        <td><%= link_to 'Destroy', valor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Valor', new_valor_path %>
