<div class="objeto-box">
<div class="ln_bjt_app">
	<div class="ln_nm">
		Capitulo <b><%= objeto.capitulo %> | <%= objeto.dt_infracciones.count %></b></br>
		<%= link_to objeto do %>
			<%= objeto.dt_materia %> 
		<% end %>
	</div>
	<div class="ln_lnks">
		<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
	</div>
</div>
</div>