<div class="row">
	<div class="col-lg-6 col-xs-12">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :m_banco_id, label: 'Banco' } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :m_banco_id, colection: MBanco.all.order(:m_banco).collect { |banco| [banco.m_banco, banco.id] }, display_field: 'm_banco', prompt: 'Banco' } %>
	</div>
	<div class="col-lg-6 col-xs-12">
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :m_cuenta, label: 'Cuenta' } %>
		<%= render partial: '0p/form_fields/text', locals: { form: form, token: :m_cuenta } %>
	</div>
</div>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :m_modelo_id } %>
