<p id="notice"><%= notice %></p>

<h1>M Cuentas</h1>

<table>
  <thead>
    <tr>
      <th>M cuenta</th>
      <th>M banco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_cuentas.each do |m_cuenta| %>
      <tr>
        <td><%= m_cuenta.m_cuenta %></td>
        <td><%= m_cuenta.m_banco_id %></td>
        <td><%= link_to 'Show', m_cuenta %></td>
        <td><%= link_to 'Edit', edit_m_cuenta_path(m_cuenta) %></td>
        <td><%= link_to 'Destroy', m_cuenta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M Cuenta', new_m_cuenta_path %>
