<div class="row gx-1">
	<div class="col-lg-10 <%= 'text-primary' if ownr.pdf_registros.exists?(cdg: code) %>">

		<% if mdl.act_lst?(code) %>
			<i class="bi bi-list-task text-secondary"></i>
		<% elsif mdl.ref_generated?(code) %>
			<i class="bi bi-files text-secondary"></i>
		<% elsif ownr.pdf_registros.exists?(cdg: code) %>
			<i class="bi bi-file-earmark-pdf"></i>
		<% elsif hsh[ownr.clss_id][:rlzds].objt_rlzd?(ownr, code) %>
			<i class="bi bi-clipboard-check"></i>
		<% else %>
			<% if @kproc.tarea == ClssPrcdmnt.tsk_name[code] %>
				<i class="bi bi-arrow-right text-primary"></i>
			<% end %>
			<i class="bi bi-cone-striped text-danger"></i>
		<% end %>
		<span class="text-<%=(mdl.act_lst?(code) or mdl.ref_generated?(code)) ? 'secondary' : 'primary'%> <%= 'fw-bold' if (mdl.act_lst?(code) or mdl.ref_generated?(code))%>"><%=mdl.act_nombre[code]%></span>

	</div>
	<div class="col-lg-2 text-end app_lnk">
		<% if (((not mdl.actn_multpl?(code)) and (not mdl.ref_generated?(code))) and hsh[ownr.clss_id][code]) or hsh[ownr.clss_id][:rlzds].objt_rlzd?(ownr, code) %>
			<% if hsh[ownr.clss_id][:rlzds].objt_rlzd?(ownr, code) %>
				<%= render partial: 'repositorios/check_realizados/rlzd', locals: {hsh: hsh, act_id: ownr.clss_id, ownr: ownr, act:code} %>
			<% else %>
					<%= render layout: '0p/tltp_lnk', locals: {lnk: "/act_archivos/#{hsh[ownr.clss_id][code].id}/show_pdf", tltp: "Bajar #{mdl.act_nombre[code].downcase}", target: '_blank'} do %>
						<i class="bi bi-download"></i>
					<% end %>
					<%= render layout: '0p/tltp_lnk', locals: {lnk: "/act_archivos/#{hsh[ownr.clss_id][code].id}/rmv_cntrld", tltp: 'Remover archivo controlado', data: {turbo_method: :post}} do %>
						<i class="bi bi-trash"></i>
					<% end %>
			<% end %>
		<% else %>
			<%= render partial: 'repositorios/check_realizados/rlzbl', locals: {hsh: hsh, act_id: ownr.clss_id, ownr: ownr, act:code} %>
			<% unless mdl.ref_generated?(code) %>
				<% if ['krnDenunciante', 'KrnDenunciado', 'KrnTestigo'].include?(ownr.class.name) and ownr.articulo_516 %>
					<%= render layout: '0p/tltp_lnk', locals: {lnk:"/krn_reportes/generate_and_store_report?oid=#{ownr.dnnc.id}&rprt=#{code}", tltp: 'Generar y almacenar reporte', data: {turbo_method: :get, turbo_confirm: 'Confirmar envío de email'}} do %>
						<i class="bi bi-file-earmark-pdf"></i>
					<% end %>
				<% else %>
					<%= render layout: '0p/tltp_lnk', locals: {lnk:"/krn_reportes/generate_and_send_report?oid=#{ownr.dnnc.id}&rprt=#{code}", tltp: 'Generar, almacenar y enviar reporte', data: {turbo_method: :get, turbo_confirm: 'Confirmar envío de email'}} do %>
						<i class="bi bi-envelope-at"></i>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<% if (mdl.actn_multpl?(code) or mdl.ref_generated?(code)) and hsh[ownr.clss_id][code]&.any? %>
	<% hsh[ownr.clss_id][code].each do |act_fl| %>
		<div class="row gx-1 ms-4 text-primary">
			<div class="col-lg-10">
				<%= dma_hm(act_fl.created_at) %>
			</div>
			<div class="col-lg-2 pe-4 text-end objt_lnk">
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/act_archivos/#{act_fl.id}/download", tltp: "Bajar #{mdl.act_nombre[code].downcase}", target: '_blank'} do %>
					<i class="bi bi-download"></i>
				<% end %>
				<%= render layout: '0p/tltp_lnk', locals: {lnk: "/act_archivos/#{act_fl.id}/rmv_cntrld", tltp: 'Remover archivo controlado', data: {turbo_method: :post}} do %>
					<i class="bi bi-trash"></i>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>