<div class="g_cllps">
	<%= form_for :form_actividad, url: "/age_actividades/cu_actividad?cn=#{controller_name}&t=#{tipo}&oid=#{causa_id}&cu=#{cu}&aud=#{audiencia}" do |form| %>

		<div class="row">
			<div class="col-10">

				<% if tipo.blank? %>
					<h5><%= cu == 'c' ? 'Crea actividad' : 'Modifica actividad' %></h5>
					<%#= render partial: '0p/form_fields/label', locals: { form: form, label: 'Tipo', v: true } %>
					<%= render partial: '0p/form_fields/radio', locals: { form: form, token: :tipo, radio_list: ['Reunión', 'Tarea'] } %>
				<% else %>
					<h5>
					<%= cu == 'c' ? 'Crea' : 'Modifica' %>
					<%= tipo == 'A' ? '' : ( tipo == 'H' ? 'Hito' : ( tipo == 'R' ? 'Reunión' : 'Tarea' ) ) %>	
					</h5>
				<% end %>

				<% if tipo == 'A' %>
					<h5><%= audiencia %></h5>
				<% end %>
			</div>
			<div class="col-2" align='right'>
				<button type="submit" class="btn btn-info">
				  <i class="bi bi-caret-right icon-white"></i>
				</button>
			</div>
		</div>

		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :fecha, label: 'Fecha - Hora' } %>
		<small><%= render partial: '0p/form_fields/datetime', locals: { form: form, token: :fecha } %></small>

		<% unless tipo == 'A' %>
			<%= render partial: '0p/form_fields/label', locals: { form: form, token: :age_actividad, label: 'Descripción' } %>
			<%= render partial: '0p/form_fields/text', locals: { form: form, token: :age_actividad } %>
		<% else %>
			<% unless audiencia == 'Audiencia preparatoria' %>
				<%= render partial: '0p/form_fields/label', locals: { form: form, token: :audiencia_especial, label: 'Audiencia especial' } %>
				<%= render partial: '0p/form_fields/text', locals: { form: form, token: :audiencia_especial } %>
			<% end %>
		<% end %>
		</br>
		<%= render partial: '0p/form_fields/check_box', locals: { form: form, token: :privada, label: 'privada!' } %>

	<% end  %>
</div>