<%= form_with(model: tar_valor, local: true) do |form| %>
  <% if tar_valor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tar_valor.errors.count, "error") %> prohibited this tar_valor from being saved:</h2>

      <ul>
      <% tar_valor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
  </div>

  <div class="field">
    <%= form.label :detalle %>
    <%= form.text_field :detalle %>
  </div>

  <div class="field">
    <%= form.label :valor_uf %>
    <%= form.text_field :valor_uf %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :owner_class %>
    <%= form.text_field :owner_class %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
