<% act_id = "#{objeto.class.name}_#{objeto.id}" %>
<div class="row gx-1 mx-1 mb-1 py-1 px-2 border rounded-4" style="font-size: .9rem;">
	<div class="col-8">
		<% if not @acts_hsh[act_id][:chcks].objt_audited?(objeto, 'infrmcn') %>
			<i class="bi bi-cone-striped text-danger"></i> 
		<% else %>
			<% if @acts_hsh[act_id][:chcks].objt_audited?(objeto, 'infrmcn') %>
				<i class="bi bi-clipboard-check text-primary"></i>
			<% end %>
			<% if objeto.pdf_registros.exists?(cdg: 'infrmcn') %>
				<i class="bi bi-at text-primary"></i>
			<% end %>
		<% end %>
		<%= ClssPrcdmnt.act_nombre['infrmcn'] %>
	</div>
	<div class="col-4 text-end app_lnk">
		<% if not @acts_hsh[act_id][:chcks].objt_audited?(objeto, 'infrmcn') %>
			<%= render partial: 'repositorios/check_auditorias/audit_lnks', locals: {hsh: @acts_hsh, act_id: act_id, ownr: objeto, act: 'infrmcn'} %>
			<%= link_to "/krn_reportes/generate_and_send_report?oid=#{objeto.id}&rprt=infrmcn",  
			            data: { turbo_method: :get, turbo_confirm: 'Verificar envio de email' } do %>  
			  <i class="bi bi-envelope-at"></i>
			<% end %>
		<% else %>aaa
			<% if @acts_hsh[act_id][:chcks].objt_audited?(objeto, 'infrmcn') %>
				<%= render partial: 'repositorios/check_auditorias/audited_lnks', locals: {hsh: @acts_hsh, act_id: act_id, ownr: objeto, act: 'infrmcn'} %>
			<% end %>
		<% end %>
	</div>
</div>

<!-- @acts_hsh[act_id]['infrmcn'] en un act_archivo si lo pongo coo acción --> 
<% @acts_hsh[act_id]['infrmcn'].each do |rgstr| %>
	<div class="row gx-1 px-5 text-primary objt_lnk">
		<div class="col-10"><%= dma_hm(rgstr.created_at)%><i class="bi bi-dot"></i><%= ClssPrcdmnt.act_nombre['infrmcn'] %></div>
		<div class="col-2 text-end">
			<%= render layout: '0p/tltp_lnk', locals: {lnk: "/act_archivos/#{rgstr.id}/download", tltp: "Bajar #{ClssPrcdmnt.act_nombre['infrmcn'].downcase}", target: '_blank'} do %>
				<i class="bi bi-download"></i>
			<% end %>
			<%= render partial: '0p/tbl/lnk_eliminar', locals: {objeto: rgstr} %>
		</div>
	</div>
<% end %>