<%= render partial: 'cuentas/indx/ttl', locals: {source: 'rep_archivos', ownr: @objeto, fs: 6, lnks: 'ttl'} %>
<table class="table table-sm table-borderless table-striped table-hover">
	<tbody>
		<% @fls_actv.each do |dc| %>
			<% if fl_cndtn?(ownr, dc.codigo) or ownr.fl?(dc.codigo) %>
				<% if dc.multiple == true %>
					<%= render partial: '0p/proc/dcs', locals: {dc: dc, fls: ownr.fls(dc), ownr: ownr} %>
				<% else %>
					<%= render partial: '0p/proc/dc', locals: {dc: dc, fl: ownr.fl(dc), ownr: ownr} %>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

<div class="text-end" style="font-size: 14px;">
	<% if prtl?(@objeto, 'hlp', 'archvs_rqrds') %>
		<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_archvs_rqrds", ttl: "Archivos requeridos", sz: 'lg'} do %>
			<%= render partial: prtl_name(@objeto, 'hlp', 'archvs_rqrds') %>
		<% end %>
	<% end %>
</div>