<!-- PARTICIPANTES -->
<div class="row gx-1">
	<div class="col-lg-6 col-xs-12">

	    <%= render partial: '0p/ttl_sub_tbl', locals: {source: 'krn_denunciantes', ownr: @objeto, lnks: 'prtl'} %>
		<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_denunciantes', typ: 'ln', crud: 'lnks'} %>

	</div>
	<div class="col-lg-6">

		<!-- DENUNCIANTES OK Y MOTIVO DISTINTO DE VIOLENCIA -->
		<% if @objeto.motivo_vlnc? %>

			<%= render partial: '0p/ntc', locals: {color: 'danger', ntc: 'Denuncia de violencia en el trabajo ejercida por terceros. Las personas denunciadas (si las hay) se detallan en las declaraciones.'} %>

		<% else %>

		    <%= render partial: '0p/ttl_sub_tbl', locals: {source: 'krn_denunciados', ownr: @objeto, lnks: 'prtl'} %>
			<% if @objt['denunciantes?'] %>
				<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_denunciados', typ: 'ln', crud: 'lnks'} %>
			<% end %>

		<% end %>
		
	</div>
	<div class="text-end" style="font-size: 14px;">
		<% if prtl?(@objeto, 'hlp', 'prtcpnts') %>
			<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_prtcpnts", ttl: "Registros de participantes", sz: 'lg'} do %>
				<%= render partial: prtl_name(@objeto, 'hlp', 'prtcpnts') %>
			<% end %>
		<% end %>
	</div>
</div>

<!-- INVESTIGADORES -->
<% if @objt['rgstrs_ok?'] and (@objeto.investigacion_local or @objeto.solicitud_denuncia and @objt['on_empresa?']) %>
	<%= render partial: '0p/ttl_sub_tbl', locals: {source: 'krn_inv_denuncias', blngs: @objeto, lnks: 'prtl'} %>
	<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_inv_denuncias', typ: 'ln', crud: 'lnks'} %>

	<div class="text-end" style="font-size: 14px;">
		<% if prtl?(@objeto, 'hlp', 'invstgdrs') %>
			<%#= render partial: '0p/mdl/lnk', locals: {cdg: "hlp_invstgdrs", txt: 'Necesita ayuda?'} %>
			<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_invstgdrs", ttl: "Asignación del Investigador", sz: 'lg'} do %>
				<%= render partial: prtl_name(@objeto, 'hlp', 'invstgdrs') %>
			<% end %>
		<% end %>
	</div>
<% end %>

<!-- DERIVACIONES -->
<% if @objt['derivaciones?'] %>
    <%= render partial: '0p/ttl_sub_tbl', locals: {source: 'krn_derivaciones', ownr: @objeto, lnks: 'prtl'} %>
	<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_derivaciones', crud: 'lnks'} %>

	<% if @objeto.solicitud_denuncia  %>
		<!-- Recibir de vuelta una denuncia desde la DT (solicitada) -->
		<% if @objeto.on_dt? %>
			<%= render partial: 'karin/prtls/drvr', locals: {color: 'success', objeto: @objeto, codigo: 'rcpcn_dt'} %>
		<% end %>
	<% end %>

	<div class="text-end" style="font-size: 14px;">
		<% if prtl?(@objeto, 'hlp', 'drvcns') %>
			<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_drvcns", ttl: "Gestión de las derivaciones", sz: 'lg'} do %>
				<%= render partial: prtl_name(@objeto, 'hlp', 'drvcns') %>
			<% end %>
		<% end %>
	</div>
<% end %>

	<div class="text-end" style="font-size: 14px;">
		<% if prtl?(@objeto, 'hlp', 'archvs_rqrds') %>
			<%= render layout: '0p/mdl/modal', locals: {cdg: "hlp_archvs_rqrds", ttl: "Archivos requeridos", sz: 'lg'} do %>
				<%= render partial: prtl_name(@objeto, 'hlp', 'archvs_rqrds') %>
			<% end %>
		<% end %>
	</div>