<%= render partial: '0p/ttl_shw', locals: {objt: objeto} %>
<div class="mt-1 bg-white shadow border rounded p-2">

	<!-- Activar si requieren registros -->
	<%= render partial: '0p/proc/dnnc_rgstrs', locals: {objeto: objeto} %>

	<%= render partial: 'karin/prtls/dclrcns', locals: {objeto: objeto} %>

	<% unless objeto.class.name == 'KrnTestigo' %>
		<%= render partial: '0p/ttl_sub_tbl', locals: {source: 'krn_testigos', ownr: objeto, lnks: 'prtl'} %>
		<%= render partial: '0p/tbl/tbl', locals: {source: 'krn_testigos', typ: 'ln', crud: 'prtl'} %>
	<% end %>
	
</div>
<!-- NOTAS -->
<%= render partial: 'karin/prtls/nts', locals: {objeto: objeto} %>

<%= render partial: 'karin/prtls/dcs', locals: {ownr: objeto} %>