<%= render partial: 'calendario/cal_meses/mes_nav' %>

<div class="shadow p-3 mb-3 bg-white rounded">

	<div class="row no-gutters">
		<%= render partial: 'calendario/cal_semanas/partials/dia_semana', locals: {dia_semana: 'Lunes'} %>
		<%= render partial: 'calendario/cal_semanas/partials/dia_semana', locals: {dia_semana: 'Martes'} %>
		<%= render partial: 'calendario/cal_semanas/partials/dia_semana', locals: {dia_semana: 'Miércoles'} %>
		<%= render partial: 'calendario/cal_semanas/partials/dia_semana', locals: {dia_semana: 'Jueves'} %>
		<%= render partial: 'calendario/cal_semanas/partials/dia_semana', locals: {dia_semana: 'Viernes'} %>
		<div class="col-1 border" align='center'><small>Sábado</small></div>
		<div class="col-1 border text-danger" align='center'><small><b>Domingo</b></small></div>
	</div>

	<% @semanas_mes.each do |semana| %>
		<%= render partial: 'calendario/cal_semanas/partials/display_semana', locals: {objeto: semana, mes: @objeto} %>
	<% end %>
</div>
