<div class="row">
	<div class="col-lg-6 col-xs-6">
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Tipo', v: true } %>
		<%= render partial: '0p/form_fields/radio', locals: { form: form, token: :tipo, radio_list: Variable::TIPOS_VARIABLE, label: 'Tipo' } %>
	</div>
	<div class="col-lg-6">
		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Existencia', v: true } %>
		<%= render partial: '0p/form_fields/radio', locals: { form: form, token: :control, radio_list: ['Opcional', 'Requerida'], label: 'Existencia' } %>
	</div>
</div>

<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Variable', v: true } %>
<%= render partial: '0p/form_fields/text', locals: { form: form, token: :variable } %>


<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :tipo_causa_id } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :orden } %>
