<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @variable.tipo %>
</p>

<p>
  <strong>Variable:</strong>
  <%= @variable.variable %>
</p>

<%= link_to 'Edit', edit_variable_path(@variable) %> |
<%= link_to 'Back', variables_path %>
