<div class="p-2 border" style="margin-left: 5%; margin-right: 5%;">
  <div class="row gx-2" style="font-size:14px;line-height: 1.5;">
    <%= render partial: 'home/public/tb/tb_hd' %>

    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Proceso asistido y comentado', b: true, s:true, e: true} %>
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Asesoría de implementación', b: false, s:false, e: true, clr: '#0096c7'} %>

    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Capacitación puesta en marcha', b: true, s:true, e: true} %>
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Soporte en línea', b: false, s: true, e: true, clr: '#0096c7'} %>

    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Recepción de denuncias (1)', b: true, s:true, e: true} %>
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Recepción de denuncias de empleados de contratistas o EST', b: false, s:false, e: true, clr: '#0096c7'} %>

    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Entrega de información obligatoria', b: true, s:true, e: true} %>
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Registro de derivaciones', b: true, s:true, e: true, clr: '#0096c7'} %>

    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Verificación de correo electrónico de los participantes', b: true, s:true, e: true} %>
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Envío de información obligatoria a los participantes vía correo electrónico', b: true, s:true, e: true, clr: '#0096c7'} %>
    
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Registro de derivaciones a la Direcdción del Trabajo', b: true, s:true, e: true} %>
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Registro de derivaciones entre empresas', b: false, s:false, e: true, clr: '#0096c7'} %>
    
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Seguimiento de investigaciones realizadas por la Dirección del Trabajo', b: true, s:true, e: true} %>
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Seguimiento de investigaciones realizadas por empresas contratistas o EST', b: false, s:false, e: true, clr: '#0096c7'} %>

    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Revisión de denuncia (obligatoria)', b: true, s:true, e: true} %>
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Objeción del investigador asignado', b: true, s:true, e: true, clr: '#0096c7'} %>

    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Modelo de confidencialidad de la información', b: true, s:true, e: true} %>
    <%= render partial: 'home/public/tb/tb_ln', locals: {crctrstc: 'Personalización imagen de empresa en documentación', b: false, s:true, e: true, clr: '#0096c7'} %>
  </div>

  <div class="p-2" style="font-size: 10px;line-height: 1.5;">
    <b>(1)</b>: Se trata de recepciones ingresadas por personal de la empresa a la plataforma. El ingreso de denuncias directamente a la plataforma por empleados de la empresa se debe evaluar y cotizar por separado.
  </div>
</div>