<div class="col-9">
	<small>
	<b><%= link_to objeto.m_cuenta, "/m_modelos?id=c_#{objeto.id}" %></b> : 

	<%= render layout: '0p/collapse/link', locals: {label: 'Cuenta', objeto: objeto} do %>
		<% if objeto.m_formato.blank? %>
			sin formato
		<% else %>
			<%= objeto.m_formato.m_formato %>
		<% end %>
	<% end %>

	</small>
</div>
<div class="col-3" align='right'>
	<small><small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small></small>
</div>

<%= render layout: '0p/collapse/display', locals: {label: 'Cuenta', objeto: objeto} do %>
	<%= render partial: 'modelos/m_cuentas/partials/form_formato', locals: {objeto: objeto} %>
<% end %>