<div class="col-9">
	<small>
	<b><%= link_to objeto.m_cuenta, "/m_modelos?id=c_#{objeto.id}" %></b> : 

	<a data-toggle="collapse" href="#collapseCuenta<%=objeto.id%>" role="button" aria-expanded="false" aria-controls="collapseCuenta<%=objeto.id%>">
		<% if objeto.m_formato.blank? %>
			sin formato
		<% else %>
			<%= objeto.m_formato.m_formato %>
		<% end %>
	</a>

	</small>
</div>
<div class="col-3" align='right'>
	<small><small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small></small>
</div>

<div class="collapse" id="collapseCuenta<%=objeto.id%>">
  <div class="card card-body">
  	<%= render partial: 'modelos/m_cuentas/partials/form_formato', locals: {objeto: objeto} %>
  </div>
</div>