<p style="color: green"><%= notice %></p>

<%= render @lgl_n_empleado %>

<div>
  <%= link_to "Edit this lgl n empleado", edit_lgl_n_empleado_path(@lgl_n_empleado) %> |
  <%= link_to "Back to lgl n empleados", lgl_n_empleados_path %>

  <%= button_to "Destroy this lgl n empleado", @lgl_n_empleado, method: :delete %>
</div>
