<%= form_with(model: age_antecedente, local: true) do |form| %>
  <% if age_antecedente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(age_antecedente.errors.count, "error") %> prohibited this age_antecedente from being saved:</h2>

      <ul>
      <% age_antecedente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :age_antecedente %>
    <%= form.text_area :age_antecedente %>
  </div>

  <div class="field">
    <%= form.label :age_actividad_id %>
    <%= form.number_field :age_actividad_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
