<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @age_antecedente.orden %>
</p>

<p>
  <strong>Age antecedente:</strong>
  <%= @age_antecedente.age_antecedente %>
</p>

<p>
  <strong>Age actividad:</strong>
  <%= @age_antecedente.age_actividad_id %>
</p>

<%= link_to 'Edit', edit_age_antecedente_path(@age_antecedente) %> |
<%= link_to 'Back', age_antecedentes_path %>
