<%= link_to root_path do %>
	<h3 class="text-info" align="center"><%= version_activa.blank? ? 'app' : version_activa.app_sigla %></h3>
<% end %>
<%= render partial: '0capitan/lmenu/usuario_activo' %>

<div align='right' style="line-height: 13px;">
	<%= render layout: '0p/collapse/link', locals: {label: 'Links', objeto: nil, tooltip: 'Despliega'} do %>
		<small><small><i class="bi bi-arrow-bar-down"></i> Enlaces</small></small>
	<% end %>
</div>

<%= render layout: '0p/collapse/display', locals: {label: 'Links', objeto: nil} do %>
	<%= render partial: '0capitan/lmenu/despliega_enlaces' %>
<% end %>