<% if link_model(controller_name) == modelo %>
	<div class="appMuenuTextItem">
		<i class="bi bi-arrow-right"></i> 
		<i class="bi bi-<%=controller_icon[modelo.tableize]%>"></i>
		<%= modelo_item(modelo) %>
	</div>
<% else %>
	<%= link_to model_link(modelo) do %>
		<i class="bi bi-<%=controller_icon[modelo.tableize]%>"></i>
		<%= modelo_item(modelo) %>
	<% end %>
<% end %>