Pregunta Nº <%=@siguiente.orden %>
<h5><%= @siguiente.pregunta %></h5>

<%= render partial: '0p/form_fields/label', locals: { form: form, token: :respuesta, label: 'Respuesta' } %>
<%= render partial: '0p/form_fields/radio', locals: { form: form, token: :respuesta, radio_list: ['No', 'Sí'] } %>
<div class="folmCell">
	<%= render partial: '0p/form_fields/label', locals: { form: form, token: :propuesta, label: '¿Qué propone para resolver esta situación?' } %>
	<%= render partial: '0p/form_fields/text', locals: { form: form, token: :propuesta } %>
</div>

<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :orden } %>
<%= render partial: '0p/form_fields/hidden', locals: { form: form, token: :cuestionario_id } %>