<div id="<%= dom_id respuesta %>">
  <p>
    <strong>Campania:</strong>
    <%= respuesta.campania_id %>
  </p>

  <p>
    <strong>Sesion:</strong>
    <%= respuesta.sesion_id %>
  </p>

  <p>
    <strong>Respuesta:</strong>
    <%= respuesta.respuesta %>
  </p>

  <p>
    <strong>Propuesta:</strong>
    <%= respuesta.propuesta %>
  </p>

</div>
