<div class="innr_rchv">
	<div class="ttl_ttl">
		<i class="bi bi-arrow-return-right"></i>
		<small><i class="bi bi-circle-fill text-<%=objeto.text_color%>"></i></small> 
		<%= render partial: 'repositorios/app_archivos/list/obj_info', locals: {objeto: objeto.app_archivo} %>
	</div>
	<div class="ttl_lnks">
		<% unless objeto.establece.blank? %>
			<%= render layout: '0p/collapse/link', locals: {label: 'InfoAprobacion', objeto: objeto, tooltip: 'Info Aprobación'} do %>
				<i class="bi bi-person-fill"></i>
			<% end %>
		<% end %>

		<%= render partial: "csc/hecho_archivos/list/set_establece", locals: {objeto: objeto} %>
		<% unless objeto.hecho.causa.archivos_registrados %>
			<i class="bi bi-dot"></i>
			<%= render partial: 'csc/hecho_archivos/list/obj_e', locals: {objeto: objeto} %>
		<% end %>
	</div>
</div>

<% unless objeto.aprobado_por.blank? %>
	<%= render layout: '0p/collapse/display', locals: {label: 'InfoAprobacion', objeto: objeto} do %>
		<small><i class="bi bi-person-fill"></i> Revisado por : <%= objeto.aprobado_por %></small>
	<% end %>
<% end %>