<p id="notice"><%= notice %></p>

<h1>Age Logs</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Age actividad</th>
      <th>Age actividad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @age_logs.each do |age_log| %>
      <tr>
        <td><%= age_log.fecha %></td>
        <td><%= age_log.age_actividad %></td>
        <td><%= age_log.age_actividad_id %></td>
        <td><%= link_to 'Show', age_log %></td>
        <td><%= link_to 'Edit', edit_age_log_path(age_log) %></td>
        <td><%= link_to 'Destroy', age_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Age Log', new_age_log_path %>
