<div class="row gx-1">
	<div class="col-4">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :codigo, label: 'Código' } %>
	</div>
	<div class="col-8">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :referencia, label: 'Referencia' } %>
	</div>
</div>

<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :lgl_cita, label: 'Cita' } %>

<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :lgl_parrafo_id } %>
<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :orden } %>