  <div>
    <%= form.label :archivo, "Archivo Excel (.xls / .xlsx)" %>
    <%= form.file_field :archivo, accept: ".xls,.xlsx" %>
  </div>

  <div>
    <%= form.label :mes %>
    <%= form.select :mes, 1..12 %>
  </div>

  <div>
    <%= form.label :anio %>
    <%= form.number_field :anio, value: Date.current.year %>
  </div>

<div class="my-3">
  <%= render partial: '0p/lbld_inpts/select', locals: { form: form, token: :tipo, label: 'Tipo de planilla', sel_list: ['emitidos', 'recibidos'] } %>
</div>