<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo cargo:</strong>
  <%= @cargo.tipo_cargo_id %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @cargo.cliente_id %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @cargo.cargo %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @cargo.detalle %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @cargo.fecha %>
</p>

<p>
  <strong>Fecha uf:</strong>
  <%= @cargo.fecha_uf %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @cargo.moneda %>
</p>

<p>
  <strong>Dia cargo:</strong>
  <%= @cargo.dia_cargo %>
</p>

<%= link_to 'Edit', edit_cargo_path(@cargo) %> |
<%= link_to 'Back', cargos_path %>
