<%= render partial: 'calendario/shr/annio_nav' %>
<div class="f_300pxlft_col">
	<div class="lft">
		<%= render partial: 'causas/shr/ttl_cs', locals: {c: 'cal_meses', title: 'Meses Activos', link: 'no_link', tooltip: ''} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'cal_meses'} %>
	</div>
	<div class="rght">
		<%= render partial: 'causas/shr/ttl_cs', locals: {c: 'cal_feriados', title: 'Feriados del año', link: "/cal_feriados/new?aid=#{@annio_activo.id}", tooltip: 'Agrega feriado'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'cal_feriados'} %>
	</div>
</div>