<div class="row">
	<div class="col-lg-8 col-xs-12">
		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'm_modelos', title: 'Modelo de negocios', link_new: "/m_conceptos/new?oid=#{@modelo.id}"} %>

	  	<div class="shadow p-3 mb-3 bg-white rounded">
		<div class="row">
			<% @modelo.m_conceptos.order(:orden).each do |concepto| %>
				<div class="col-lg-2">
					<small><%= render partial: '0p/tabla/links_orden', locals: {objeto: concepto} %></small>
				</div>
				<div class="col-lg-5">
					<small><b><%= concepto.m_concepto %></b></small>
				</div>
				<div class="col-lg-3 text-right">
					<small><b class="text-info"><%= concepto.presupuesto == 0 ? '-' : s_pesos(concepto.presupuesto) %></b></small>
				</div>
				<div class="col-lg-2" align='right'>
					<small><small>
						<%= link_to "m_items/new?oid=#{concepto.id}"  do %>
							<i class="bi bi-plus-square"></i>
						<% end %>
						<%= render partial: '0p/tabla/links_e', locals: {objeto: concepto} %>
					</small></small>
				</div>

				<% concepto.m_items.order(:orden).each do |item| %>
					<div class="col-lg-2">
						<small><i class="bi bi-dot"></i> <%= render partial: '0p/tabla/links_orden', locals: {objeto: item} %></small>
					</div>
					<div class="col-lg-5" style='padding-left: 1em'>
						<small><i class="bi bi-<%=item.abono_cargo == 'Abono' ? 'plus' : 'dash'%>"></i> <%= item.m_item %></small>
					</div>
					<div class="col-lg-3 text-right text-info">
						<small><%= item.presupuesto_seguro == 0 ? '-' : s_pesos(item.presupuesto) %></small>
					</div>
					<div class="col-lg-2" align='right'>
						<small><small>
							<%= render partial: '0p/tabla/links_e', locals: {objeto: item} %>
						</small></small>
					</div>
				<% end %>
			<% end %>
		</div>
		</div>
	</div>
	<div class="col-lg-4">
		<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'm_cuentas', title: 'Cuentas corriente', link_new: "/m_cuentas/new?oid=#{@modelo.id}"} %>
 
	    <%= render partial: '0p/tabla/tabla', locals: {c: "m_cuentas"} %>
	</div>
</div>

<%#= render partial: '0p/general/gly_title_size', locals: {gly: controller_icon['m_modelos'], title: "Modelo de negocios Empresa", size: 4 } %>
<%#= render partial: 'modelos/m_modelos/partials/modelo', locals: {objeto: @modelo_general, tag: 'general-'} %>
