<% if @objeto.class.name == 'MCuenta' %>
	<%#= render partial: '0capitan/general/titulo_tabla', locals: {c: 'm_periodos', title: "Cuenta : #{@objeto.m_cuenta}", link_new: nil} %>

	<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'm_conciliaciones', title: "Conciliaciones de la cuenta", link_new: "/m_cuentas/#{@objeto.id}/m_conciliaciones/new"
} %>
	<% unless @coleccion['m_conciliaciones'].empty? %>
		<div class="shadow p-3 mb-3 bg-white rounded">
			<%=render partial: '0p/tabla/tabla', locals: {c: 'm_conciliaciones'} %>
		</div>
	<% end %>
<% else %>
	<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'm_periodos', title: "Periodo : #{@objeto.m_periodo}", link_new: nil} %>

	<div class="row">
		<div class="col-lg-5 col-xs-12">
			<div class="shadow p-3 mb-3 bg-white rounded">
				<h6 class="text-info">Resumen del período</h6>
				<%= column_chart @totales, prefix: '$', thousands: ".", precision: 3 %>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="shadow p-3 mb-3 bg-white rounded">
				<h6 class="text-info">Control de gestión</h6>
				<%= render partial: 'modelos/m_modelos/partials/modelo_periodo', locals: {objeto: @objeto} %>
			</div>
		</div>
	</div>

	<%= render partial: '0capitan/general/titulo_tabla', locals: {c: 'm_registros', title: "Cartola del período", link_new: nil} %>

	<%= render partial: '0p/tabla/tabla', locals: {c: 'm_registros'} %>

<% end %>