<div class="row">
	<div class="col-2">
		<%= render partial: 'modelos/m_modelos/partials/cuentas_periodos', locals: {objeto: @objeto, cuentas: @coleccion['m_cuentas'], periodos: @coleccion['m_periodos'] } %>
	</div>
	<div class="col-10">
		<% if @objeto.class.name == 'MCuenta' %>
			<h5 class="text-info">
				<i class="bi bi-safe2"></i> Cuenta : <%= @objeto.m_cuenta %>
			</h5>
			<h6 class="text-info">Conciliaciones de la cuenta</h6>

			<%=render partial: '0p/tabla/tabla', locals: {c: 'm_conciliaciones'} %>
		<% else %>
			<h5 class="text-info">
				<i class="bi bi-safe2"></i> Periodo : <%= @objeto.m_periodo %>
			</h5>
			<h6 class="text-info">Detalle del periodo</h6>

			<div class="row">
				<div class="col-lg-5 col-xs-12">
					<%= column_chart @totales, prefix: '$', thousands: ".", precision: 3 %>
				</div>
				<div class="col-lg-7">
					<%= render partial: 'modelos/m_modelos/partials/modelo_periodo', locals: {objeto: @objeto} %>
				</div>
			</div>

			<!-- Detalle Registros del periodo -->
			<h6 class="text-info">
				<i class="bi bi-list-check"></i> 
				Registros del periodo
			</h6>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'm_registros'} %>
		<% end %>

	</div>
</div>

