<div class="row">
	<div class="col-3">
		<small class="text-info">Cuentas</small></br>
		<% @coleccion['m_cuentas'].each do |cuenta| %>
			<i class="bi bi-dot"></i> 
			<small>
				<% if cuenta == @objeto %>
					<%= cuenta.m_cuenta %> <i class="bi bi-check-all"></i>
				<% else %>
					<%= link_to cuenta.m_cuenta, "m_modelos?id=c_#{cuenta.id}" %>
				<% end %>
			</small></br>
		<% end %>
		<small class="text-info">Periodos</small></br>
		<% @coleccion['m_periodos'].each do |periodo| %>
			<i class="bi bi-dot"></i> 
			<small>
				<% if periodo == @objeto %>
					<%= periodo.m_periodo %> <i class="bi bi-check-all"></i>
				<% else %>
					<%= link_to periodo.m_periodo, "m_modelos?id=p_#{periodo.id}" %>
				<% end %>
			</small></br>
		<% end %>
	</div>
	<div class="col-9">
		<% if @objeto.class.name == 'MCuenta' %>
			<h5 class="text-info">
				<i class="bi bi-safe2"></i> Cuenta : <%= @objeto.m_cuenta %>
			</h5>
			<h6 class="text-info">Conciliaciones de la cuenta</h6>

			<%=render partial: '0p/tabla/tabla', locals: {c: 'm_conciliaciones'} %>
		<% else %>
			<h5 class="text-info">
				<i class="bi bi-safe2"></i> Periodo : <%= @objeto.m_periodo %>
			</h5>
			<h6 class="text-info">Detalle del periodo</h6>

			<div class="row">
				<div class="col-lg-5 col-xs-12">
					<%= column_chart @totales, prefix: '$', thousands: ".", precision: 3 %>
				</div>
				<div class="col-lg-7">
					<div class="row">
					<% @modelo.m_conceptos.order(:orden).each do |concepto| %>
						<div class="col-lg-6">
							<small><b><%= concepto.m_concepto %></b></small>
						</div>
						<div class="col-lg-3 text-right">
							<small><b><%= concepto.total_periodo(@objeto) == 0 ? '-' : s_pesos(concepto.total_periodo(@objeto)) %></b></small>
						</div>
						<div class="col-lg-3 text-right">
							<small><b><%= concepto.presupuesto == 0 ? '-' : s_pesos(concepto.presupuesto) %></b></small>
						</div>

						<% concepto.m_items.order(:orden).each do |item| %>
							<div class="col-lg-6" style='padding-left: 1em'>
								<small><i class="bi bi-dot"></i> <%= item.m_item %></small>
							</div>
							<div class="col-lg-3 text-right">
								<small><%= item.total_periodo(@objeto) == 0 ? '-' : s_pesos(item.total_periodo(@objeto)) %></small>
							</div>
							<div class="col-lg-3 text-right text-info">
								<small><%= item.presupuesto_seguro == 0 ? '-' : s_pesos(item.presupuesto) %></small>
							</div>
						<% end %>
					<% end %>
					</div>
				</div>
			</div>

			<!-- Detalle Registros del periodo -->
			<h6 class="text-info">Registros del periodo</h6>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'm_registros'} %>
		<% end %>

	</div>
</div>