<p id="notice"><%= notice %></p>

<p>
  <strong>M modelo:</strong>
  <%= @m_modelo.m_modelo %>
</p>

<p>
  <strong>Ownr class:</strong>
  <%= @m_modelo.ownr_class %>
</p>

<p>
  <strong>Ownr:</strong>
  <%= @m_modelo.ownr_id %>
</p>

<%= link_to 'Edit', edit_m_modelo_path(@m_modelo) %> |
<%= link_to 'Back', m_modelos_path %>
