<%= render '0p/general/title_box' do %>

	<div class="row">
		<div class="col-8">
			<div class="text-info" style='padding-left: 1em; padding-right: 1em;'>
			<i class="bi bi-<%=controller_icon['m_formatos']%>"></i> <%="Formato  #{@objeto.m_formato}"%>
			</div>
		</div>
		<div class="col-4" align="right">
			<small>
			<%= link_to @objeto.m_banco do %>
				<i class="bi bi-box-arrow-left"></i> 
				<%= @objeto.m_banco.m_banco %>
			<% end %>
			</small>
		</div>
	</div>


<% end %>

<div class="row">
	<div class="col-md-6">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'm_datos', title: "Datos", link_new: "/m_formatos/#{@objeto.id}/m_datos/new"} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'm_datos'} %>
	</div>
	<div class="col-md-6">
		<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'm_elementos', title: "Elementos", link_new: "/m_formatos/#{@objeto.id}/m_elementos/new", link_back: @objeto.m_banco, link_titulo: @objeto.m_banco.m_banco} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'm_elementos'} %>
	</div>
</div>