<% typ ||= 'tr' %>

<%# Encabezado de la empresa %>
<%= render partial: '0ttl/ttl', locals: {source: 'cuentas', dir: 'shw', hide_new: true} %>

<%= render partial: 'cuentas/shw/tab', locals: {objt: @objeto} if current_usuario.admin? %>

<div class="border-start border-end border-bottom px-1 py-2" style="margin-top: -1px; min-height: 20rem;">
	<%= render partial: '0ttl/ttl', locals: {source: source, clss: :indx_md, dir: 'indx', hide_gly: true, hide_new: true} %>

		<% case action_name %>
		<% when 'usrs' %>
			<%= render partial: 'cuentas/usrs' %>
		<% when 'dnncs' %>
			<%# Se despliega sólo si la configuración básica está completa %>
			<%= render partial: '0t/tbl', locals: {clccn: @clccn} if @objeto.cnfgrcn_ok? %>
		<% else %>
			<%= render partial: '0t/tbl', locals: {clccn: @clccn} %>
		<% end %>

</div>