<div class="cs_ttl">
	<div class="ttl_ttl">
		<%= render partial: '0p/general/gly', locals: {gly: controller_icon['causas']} %>
		Datos
	</div>
</div>

<% variables.each do |variable| %>
	<div class="shadow mb-1 bg-white rounded">

		<div style="padding-left: 1em; padding-bottom: 1em">
			<%= render layout: '0p/collapse/link', locals: {label: 'FormValor', objeto: variable, tooltip: 'ingresa/modifica'} do %>
				<small>
					<%= variable.variable %> 
					<% unless variable.valor_variable(objeto).blank? %>
						<%= link_to "/causas/#{objeto.id}/elimina_valor?vid=#{variable.id}", title: "Eliminar #{variable.variable}", 'data-toggle' => 'tooltip', 'data-placement' => 'right'	do %>
							<small><i class="bi bi-trash"></i></small> 
						<% end %>
					<% end %>
				</small>
			<% end %> </br>


			<small>
				<div style='padding-left: 1em;'>
				<%= render partial: 'variables/list/valor_variable', locals: {objeto: variable, causa: objeto} %>
				</div>
			</small>

			<%= render layout: '0p/collapse/display', locals: {label: 'FormValor', objeto: variable} do %> 
			  	<%= render partial: 'causas/partials/datos_cuantia/form_valor', locals: {causa: objeto, variable: variable} %>
			<% end %>
		</div>
	</div>
<% end %>