<%= render partial: 'capitan/layout/titulo_tabla', locals: {c: 'app_archivos', title: 'Archivos', link_new: "/app_archivos/new?class_name=#{@objeto.class.name}&objeto_id=#{@objeto.id}"} %>

<% unless objeto.archivos.empty? %>
<div class="shadow p-3 mb-3 bg-white rounded">
	<% objeto.archivos.order(:app_archivo).each do |archivo| %>
		<small>
			<i class="bi bi-dot"></i> 
			<% if archivo.archivo.present? %>
				<%= link_to archivo.archivo.url, class: 'sb-link', target: :_blank do %>
					<%= archivo.app_archivo %> 
				<% end %>
			<% else %>
				<%= archivo.app_archivo %> 
			<% end %>
			<%= render partial: '0p/tabla/links_e', locals: {objeto: archivo} %>
		</small>
	<% end %>
</div>
<% end %>