<% if objt.licencia_actual&.puede_renovar_demo? %>
<li>
  <%= render layout: '0p/tltp_lnk', locals: {lnk: '/empresas/renovar_demo', tltp: 'Renovar demo', data: {turbo_method: :post}, clss: 'dropdown-item'} do %>
    Renovar demo
  <% end %>
</li>
<% end %>

<% if objt.licencia_actual&.plan == 'demo' %>
<li>
  <%= render layout: '0p/tltp_lnk', locals: {lnk: '/empresas/activar_compra', tltp: 'Activar compra', data: {turbo_method: :post}, clss: 'dropdown-item'} do %>
    Activar compra
  <% end %>
</li>
<% end %>
<% if objt.licencia_actual&.plan == 'anual' %>
<li>
  <%= render layout: '0p/tltp_lnk', locals: {lnk: '/empresas/renovar', tltp: 'Renovar licencia', data: {turbo_method: :post}, clss: 'dropdown-item'} do %>
    Renovar licencia
  <% end %>
</li>
<% end %>

<li>
  <%= render layout: '0p/tltp_lnk', locals: {lnk: "/empresas/#{objt.id}/prg", tltp: 'Eliminar empresa', data: {turbo_method: :post}, clss: 'dropdown-item'} do %>
    Eliminar empresa
  <% end %>
</li>

<li><hr class="dropdown-divider"></li>
<%#= render partial: '0p/tbl/plldwn_show', locals: {objt: objt, orgn: @orgn} %>
<%= render partial: '0p/tbl/plldwn_editar', locals: {objt: objt, orgn: @orgn} %>

<li><hr class="dropdown-divider"></li>

<%= render partial: '0p/tbl/plldwn_eliminar', locals: {objt: objt, orgn: @orgn} %>