<% dstntr   ||= {nombre: 'NOMBRE DEL PARTICIPANTE', rol: 'ROL DEL PARTICIPANTE'} %>
<% objt     ||= nil %>
<% invstgdr ||= nil %>
<% fecha    ||= objt.blank? ? Time.zone.now : objt.fecha %>
<% invstgdr ||= objt.blank? ? {nombre: 'NOMBRE DEL INVESTIGADOR', email: 'EMAIL DEL INVETIGADOR'} : {nombre: dstntr[:invstgdr].krn_investigador, email: dstntr[:invstgdr].email} %>
<h2>Agendamiento de declaración del participante</h2>

<div style="font-weight: bold;">
	<p>Sr(a) <%= dstntr[:nombre] %></p>
	<p>PRESENTE</p>
</div>

<p>Le informamos que hemos agendado para el próximo <%= dma_hm(fecha) %> su declaración en la investigación en la cual usted participa en calidad de <%=dstntr[:rol]%>.</p>

<p>La declaración será tomada por el invstigador asignado a la denuncia el Sr(a) <%=invstgdr[:nombre]%>, quien estará encantado de resolver las dudas que pueda tener respecto.</p>

<p><%=invstgdr[:nombre]%></br>
<small>Investigador asignado</br>
<%=invstgdr[:email]%></small></p>