<h2>Agendamiento de declaración del participante</h2>

<div style="font-weight: bold;">
	<p>Sr(a) <%= dstntr[:nombre] %></p>
	<p>PRESENTE</p>
</div>

<p>Le informamos que hemos agendado para el próximo <%= dma_hm(ref.fecha) %> su declaración en la investigación en la cual usted participa en calidad de <%=dstntr[:objt].rol%>.</p>

<p>La declaración será tomada por el(la) invstigador(a) asignado(a), el Sr(a) <%=dstntr[:objt].dnnc.invstgdr_activo.nombre%>, quien estará encantado de resolver las dudas que pueda tener respecto.</p>

<p><%=dstntr[:objt].dnnc.invstgdr_activo.nombre%></br>
<small>Investigador asignado</br>
<%=dstntr[:objt].dnnc.invstgdr_activo.email%></small></p>