<h2>Estado de la denuncia</h2>

<table class="pdf-minimal">
<thead>
</thead>
<tbody>
	<%= render partial: 'rprts/krn_reportes/dnnc/gnrl', locals: {objeto: @objeto} %>
	<%= render partial: 'rprts/krn_reportes/dnnc/prtcpnts', locals: {objeto: @objeto} %>

	<%= render partial: 'rprts/krn_reportes/dnnc/drvcns', locals: {objeto: @objeto} %>
	<%= render partial: 'rprts/krn_reportes/dnnc/crr', locals: {objeto: @objeto} %>
	<%= render partial: 'rprts/krn_reportes/dnnc/invstgdr', locals: {objeto: @objeto} %>
	<%= render partial: 'rprts/krn_reportes/dnnc/evlcn', locals: {objeto: @objeto} %>
	<%= render partial: 'rprts/krn_reportes/dnnc/end_prcdr', locals: {objeto: @objeto} %>
</tbody>
</table>

<hr>

<table class="pdf-minimal">
<thead>
</thead>
<tbody>
	<%= render partial: 'rprts/shrd/tr', locals: {glosa: "#{'NO HAY ' if @etps_trmnds.empty?}ETAPAS TERMINADAS", fnt_wght: 'bold'} %>
	<% @etps_trmnds.each do |etp_trmnd| %>
		<%= render partial: 'rprts/shrd/tr', locals: {glosa: etp_trmnd[:etapa], valor: "#{"#{-etp_trmnd[:plz_tag]} : " unless etp_trmnd[:plz_tag].blank? or etp_trmnd[:plz_tag] == 0} #{dma(etp_trmnd[:plz])}", align: 'right'} %>
	<% end %>
</tbody>
</table>

<hr>

<table class="pdf-minimal">
<thead>
</thead>
<tbody>
	<%= render partial: 'rprts/krn_reportes/dnnc/dcs_lst', locals: {ownr: @objeto} %>
</tbody>
</table>

<h3>Recursos para el participante</h3>
<div>
	Este reporte contiene el detalle actualizado del avance de la investigación, tanto en los aspectos administrativos como en aquellos propios de la investigación. El siguiente código QR le permitirá acceder en cualquier minuto al reporte para conocer el estado actual de la investigación.
</div>
<div style="text-align: center; margin: 20px 0;">
	<!-- Genera el QR (ejemplo con un ID de reporte) -->
	<%= image_tag qr_code_as_base64("https://www.abogadosderechodeltrabajo.cl/krn_reportes/dnnc.pdf?oid=#{@objeto.id}"), 
	              alt: "Código QR del Reporte", 
	              style: "width: 100px; height: 100px;" %>

	<p style="font-size: 10px;">Reporte emitido el <%=dma_hm(Time.zone.now)%></br>Escanea este código para ver el reporte actualizado en línea</p>
</div>

<h4>Procedimiento de Investigación y Sanción: Guía para los participantes</h4>

<p>Guía completa para orientar a los participantes en las distintas etapas/tareas del Procedimiento de Investigación y Sanción.</p>

<div style="text-align: center; margin: 20px 0;">
	<!-- Genera el QR (ejemplo con un ID de reporte) -->
	<%= image_tag qr_code_as_base64("https://www.abogadosderechodeltrabajo.cl/hlp_ayudas/prcdmnt_invstgcn_sncn"), 
	              alt: "Código QR de la Guía para los particiapantes", 
	              style: "width: 100px; height: 100px;" %>
</div>

<h4>Derechos y obligaciones de los participantes, del empleador y de las instituciones y organizaciones que participan de la investigación.</h4>
<div>
	El reglamento del Procedimiento de Investigación y Sanciónde la ley 21.643 establece derechos y obligaciones para los distintos participantes. El siguiente código QR le permitirá acceder al detalle del reglamento donde se detallan.
</div>
<div style="text-align: center; margin: 20px 0;">
	<!-- Genera el QR (ejemplo con un ID de reporte) -->
	<%= image_tag qr_code_as_base64("https://www.abogadosderechodeltrabajo.cl/hlp_ayudas/drchs_rspnsbldds"), 
	              alt: "Código QR de Derechos y obligaciones", 
	              style: "width: 100px; height: 100px;" %>
</div>