<h2>Derechos y obligaciones de los participantes</h2>

<p>Las personas denunciantes y denunciadas participantes en una investigación tienen derechos y obligaciones establecidos por el reglamento que regula el Procedimiento de Investigación y Sanción de la ley 21.643.- publicado el pasado 3 de julio de 2024.</p>

<p>A continuación, encontrará una transcripción completa y sin modificaciones de los ártículos de dicho reglamento que se refieren a los derechos y obligaciones establecidos en dicho reglamento tanto para los participantes como para todas las instituciones que participan en dicho procedimiento.</p>

<p><b>Artículo 5º.- Derechos generales de las personas trabajadoras.</b> Sin perjuicio de otros derechos que consagre la ley, las personas trabajadoras, en el contexto de una investigación de acoso sexual, laboral y de violencia en el trabajo, tendrán derecho a:</p>

<%= content_tag :ol, style: "list-style-type: lower-alpha;" do %>
	<%= content_tag :li, 'Que se adopten e implementen por el empleador medidas destinadas a prevenir, investigar y sancionar las conductas de acoso sexual, laboral y de la violencia en el trabajo.' %>
	<%= content_tag :li, 'Que se garantice el cumplimiento de las directrices establecidas en el presente reglamento.' %>
	<%= content_tag :li, 'Que se establezcan e informen, en la oportunidad legal correspondiente, las medidas de resguardo necesarias en el procedimiento de investigación.' %>
	<%= content_tag :li, 'Que, en conformidad al mérito del informe de investigación, el empleador disponga y aplique las medidas o sanciones, según corresponda.' %>
<% end %>

<p><b>Artículo 6º.- Obligaciones generales de los empleadores.</b> Sin perjuicio de otras obligaciones que disponga la ley u otra normativa reglamentaria, los empleadores deberán:</p>

<%= content_tag :ol, style: "list-style-type: lower-alpha;" do %>
	<%= content_tag :li, 'Elaborar y poner a disposición de las personas trabajadoras el protocolo de prevención de acoso sexual, laboral y de violencia en el lugar de trabajo, teniendo como contenido mínimo el establecido en la ley.' %>
	<%= content_tag :li, 'Elaborar y poner a disposición de las personas trabajadoras un procedimiento de investigación de acoso sexual, laboral y de violencia en el trabajo, conforme a las directrices del presente reglamento.' %>
	<%= content_tag :li, 'Informar semestralmente a las personas trabajadoras los canales digitales u otros, que mantiene para la recepción de denuncias sobre incumplimientos relativos a la prevención, investigación y sanción del acoso sexual, laboral y de la violencia en el trabajo, debiendo identificar especialmente los canales de comunicación de la Dirección del Trabajo, del organismo administrador de la ley Nº 16.744 y de la Superintendencia de Seguridad Social para denunciar cualquier incumplimiento a la normativa laboral y para acceder a las prestaciones en materia de seguridad social.' %>
	<%= content_tag :li, 'Garantizar la correcta sustanciación del procedimiento de investigación de acoso sexual, laboral y de violencia en el trabajo, disponiendo las medidas necesarias para cumplir con dicho objetivo y dando cumplimiento a las normas establecidas en el presente reglamento.' %>
	<%= content_tag :li, 'Informar a la persona denunciante el derecho que le asiste para presentar la denuncia ante el empleador o la Dirección del Trabajo, derivándola a esta última cuando la persona manifieste esa voluntad.' %>
	<%= content_tag :li, 'Informar de la facultad que le asiste de llevar la investigación internamente o derivarla a la Dirección del Trabajo.' %>
	<%= content_tag :li, 'Informar a la persona denunciante, cuando los hechos puedan ser constitutivos de delitos penales, los canales de denuncia ante el Ministerio Público, Carabineros de Chile, la Policía de Investigaciones, debiendo proporcionar las facilidades necesarias para ello, sin perjuicio de lo dispuesto en el artículo 175 del Código Procesal Penal.' %>
	<%= content_tag :li, 'Garantizar y supervisar el cumplimiento efectivo de las medidas de resguardo que se dispongan, según corresponda, protegiendo de forma eficaz la vida y salud de las personas trabajadoras en conformidad a lo dispuesto en el artículo 184 del Código del Trabajo.' %>
	<%= content_tag :li, 'Derivar a la persona denunciante a los programas de atención psicológica temprana que disponga su organismo administrador de la ley Nº 16.744, conforme las instrucciones que dicte la Superintendencia de Seguridad Social, garantizando el debido acceso a las prestaciones de los referidos organismos frente a las contingencias cubiertas por el seguro de accidentes del trabajo y enfermedades profesionales.' %>
	<%= content_tag :li, 'Abstenerse de interferir en la imparcialidad de la persona investigadora.' %>
	<%= content_tag :li, 'Dar las facilidades necesarias para que las personas participantes del procedimiento de investigación puedan colaborar con el mismo.' %>
	<%= content_tag :li, 'Informar a los representantes legales de contratistas, de servicios transitorios y proveedores, en los casos que corresponda, que tuvo conocimiento de hechos y/o denuncias en los cuales se encuentran involucradas una o más personas trabajadoras de sus empresas, sin perjuicio de las facilidades y coordinaciones para el desarrollo de la investigación, como las medidas de resguardo, correctivas y sanciones que deba aplicar como consecuencia del procedimiento.' %>
	<%= content_tag :li, 'Informar, a requerimiento de la Dirección del Trabajo, el estado y desarrollo de los procedimientos de investigación realizados por la empresa.' %>
	<%= content_tag :li, 'Dar respuesta a los planteamientos y peticiones de las organizaciones sindicales, en conformidad a lo dispuesto en el artículo 220 Nº 8 del Código del Trabajo.' %>
	<%= content_tag :li, 'Cualquier otra que imponga la normativa vigente.' %>
<% end %>

<p><b>Artículo 7º. - Obligaciones generales de la persona a cargo de la investigación.</b> Sin perjuicio de las directrices establecidas en este reglamento, la persona a cargo de la investigación tendrá, a lo menos, las siguientes obligaciones:</p>

<%= content_tag :ol, style: "list-style-type: lower-alpha;" do %>
	<%= content_tag :li, 'Desarrollar las gestiones de investigación respetando las directrices del presente reglamento, teniendo una actitud imparcial, objetiva, diligente y con perspectiva de género.' %>
	<%= content_tag :li, 'Desarrollar la investigación dentro de los plazos establecidos.' %>
	<%= content_tag :li, 'Citar a declarar a todas las personas involucradas sobre los hechos investigados, considerando las formalidades necesarias para garantizar su registro en forma escrita, asegurando un trato digno e imparcial.' %>
	<%= content_tag :li, 'Guardar estricta reserva de la información a la que tenga acceso por la investigación, salvo que sea requerido por los Tribunales de Justicia.' %>
	<%= content_tag :li, 'Cualquier otra establecida en los procedimientos internos de investigación de las empresas, en la medida en que no sea contrario a las directrices establecidas en el presente reglamento.' %>
	<%= content_tag :li, 'Cualquier otra que imponga la normativa vigente.' %>
<% end %>

<p><b>Artículo 8º. - Obligaciones generales de las personas trabajadoras.</b> Las personas trabajadoras, en el contexto de una investigación de acoso sexual, laboral o de violencia en el trabajo tendrán, a lo menos, las siguientes obligaciones:</p>

<%= content_tag :ol, style: "list-style-type: lower-alpha;" do %>
	<%= content_tag :li, 'Cumplir con las medidas de resguardo adoptadas por el empleador.' %>
	<%= content_tag :li, 'Colaborar en la correcta sustanciación del procedimiento de investigación.' %>
	<%= content_tag :li, 'Cualquier otra establecida en los procedimientos internos de investigación de las empresas, en la medida que no sea contraria a las directrices establecidas en el presente reglamento.' %>
	<%= content_tag :li, 'Cualquier otra que imponga la normativa vigente.' %>
<% end %>

<p><b>Artículo 9º. - Derechos generales de las organizaciones sindicales.</b> Tendrán, a lo menos, los
siguientes derechos:</p>

<%= content_tag :ol, style: "list-style-type: lower-alpha;" do %>
	<%= content_tag :li, 'Velar que el procedimiento de investigación de acoso sexual, laboral y de violencia en el trabajo que el empleador elabore y ponga a disposición de las personas trabajadoras, se ajuste a las directrices del presente reglamento.' %>
	<%= content_tag :li, 'Representar a las personas involucradas en los hechos denunciados que sea parte de su organización, a requerimiento de ella, velando por el cumplimiento de las directrices del presente reglamento.' %>
	<%= content_tag :li, 'Aportar información y/o antecedentes sobre los hechos denunciados en la investigación de acoso sexual, laboral o de violencia en el trabajo.' %>
	<%= content_tag :li, 'Cualquier otra que establezca la normativa vigente.' %>
<% end %>

<p><b>Artículo 10.- Obligaciones generales de los organismos administradores de la ley Nº 16.744.</b> Tendrán, a lo menos, las siguientes obligaciones:</p>

<%= content_tag :ol, style: "list-style-type: lower-alpha;" do %>
	<%= content_tag :li, 'Otorgar a los empleadores la asistencia técnica necesaria para la elaboración, implementación y cumplimiento de los protocolos de prevención de acoso sexual, laboral y violencia en el trabajo, especialmente, en relación con el establecimiento de medidas correctivas destinadas a su mejoramiento conforme a la investigación.' %>
	<%= content_tag :li, 'Otorgar a los empleadores referidos en el artículo 154 bis del Código del Trabajo, la asistencia técnica necesaria para la elaboración del procedimiento de investigación de acoso sexual, laboral y la violencia en el trabajo, el que considerará las medidas de resguardo y las sanciones que se aplicarán.' %>
	<%= content_tag :li, 'Disponer de los programas de atención psicológica temprana para las personas denunciantes en el marco de los procedimientos de investigación de acoso sexual, laboral y violencia en el trabajo.' %>
	<%= content_tag :li, 'Otorgar a los empleadores la asistencia técnica necesaria para el cumplimiento de las obligaciones establecidas en el presente reglamento, conforme las directrices impartidas por la Superintendencia de Seguridad Social.' %>
<% end %>
