<h2>Notifivcación de derivación de la denucnia</h2>

<div style="font-weight: bold;">
	<p>Sr(a) <%= @prtcpnt[:nombre] %></p>
	<p>PRESENTE</p>
</div>

<p>Le informamos que con fecha <%=dma(@objeto.fecha)%>, la denuncia en la cual usted participa en calidad de <%=@prtcpnt[:rol]%>, ha sido derivada según el siguiente concepto: <%=@objeto.motivo%>.</p>

<p>Estaremos encantados de resolver cualquier duda respeto a la presente notificación.</p>

<p><%=@invstgdr[:nombre]%></br>
<small>Investigador asignado</br>
<%=@invstgdr[:email]%></small></p>