<% dstntr ||= {nombre: 'NOMBRE DEL DESTINATARIO', rol: 'ROL DEL DESTINATARIO'} %>
<% objt ||= nil %>
<h2>Notificación de recepción de denuncia ley 21.643</h2>

<div style="font-weight: bold;">
	<p>Sr(a) <%= dstntr[:nombre] %></p>
	<p>PRESENTE</p>
</div>

<p>Le informamos que con fecha <%= dma(objt.blank? ? Time.zone.today : objt.fecha_hora) %> se ha presentado una denuncia en la cual usted participa en calidad de <%=dstntr[:rol]%>.</p>

<p>La normativa establecida por la Dirección del Trabajo establece la obligación de implementar Medidas de resguardo que garanticen que todo el <i>procedimiento de investigación y sanción</i> se realice en un ambiente que no revictimice a las víctimas, evite todo tipo de represalias y garantice la objetividad e imparcialidad de la investigación. El cumplimiento de estas medidas de resguardo es obligatorio para todos los participantes de la denuncia.</p>

<p>Nuestra empresa tiene la obligación de resguardar la confidencialidad del la información contenida en todas las etapas del procedimiento. Específicamente:
	<ol>
		<li>Las personas denunciantes y denunciadas tendrán acceso a la denuncia, pero se excluirá de dicho documento la identidad de terceras personas participantes en los hechos relatados. Así como la identidad de los testigos presentados por ambas partes.</li>
		<li>Todos los participantes tienen la responsabilidad de no compartir información relativa a su participanción en el procedimiento de investigación con otros empleados de la empresa.</li>
	</ol>
</p>

<h4>Recepción de denuncias ley 21.643</h4>

<h3>Recursos para el participante</h3>
<div>
	El siguiente código QR le permitirá acceder en cualquier minuto al reporte para conocer el estado actual de la investigación.
</div>
<div style="text-align: center; margin: 20px 0;">
	<!-- Genera el QR (ejemplo con un ID de reporte) -->
	<%= image_tag qr_code_as_base64("https://www.laborsafe.cl/krn_reportes/dnnc.pdf?oid=#{@objeto.id}"), 
	              alt: "Código QR del Reporte", 
	              style: "width: 100px; height: 100px;" %>

	<p style="font-size: 10px;">Reporte emitido el <%=dma_hm(Time.zone.now)%></br>Escanea este código para ver el reporte actualizado en línea</p>
</div>

<h4>Procedimiento de investigación y sanción: guía para los participantes</h4>

<p>Guía completa para orientar a los participantes en las distintas etapas/tareas del <i>procedimiento de investigación y sanción</i>.</p>

<div style="text-align: center; margin: 20px 0;">
	<!-- Genera el QR (ejemplo con un ID de reporte) -->
	<%= image_tag qr_code_as_base64("https://www.laborsafe.cl/hlp_ayudas/prcdmnt_invstgcn_sncn"), 
	              alt: "Código QR de la Guía para los particiapantes", 
	              style: "width: 100px; height: 100px;" %>
</div>