<% dstntr ||= {nombre: 'NOMBRE DEL DESTINATARIO', rol: 'ROL DEL DESTINATARIO'} %>
<% objt ||= nil %>
<h2>Notificación de inicio de investigación ley 21.643</h2>

<div style="font-weight: bold;">
	<p>Sr(a) <%= dstntr[:nombre] %></p>
	<p>PRESENTE</p>
</div>

<p>Le informamos que con fecha <%= dma(objt.blank? ? Time.zone.today : objt.fecha_hora) %> se ha presentado una denuncia en la cual usted participa en calidad de <%=dstntr[:rol]%>.</p>

<p>La normativa establecida por la Dirección del Trabajo, establece la obligación de implementar Medidas de resguardo que garanticen que todo el Procedimiento de Investigación y Sanción se realice en un ambiente que no revictimice a las victimas, evite todo tipo de represalias y garantice la objetividad e imparcialidad de la investigación. El cumplimiento de estas medidas de resguardo es obligatorio para todos los participantes de la denuncia.</p>

<p>Cariños Carlos</p>

<h3>Recursos para el participante</h3>
<div>
	El siguiente código QR le permitirá acceder en cualquier minuto al reporte para conocer el estado actual de la investigación.
</div>
<div style="text-align: center; margin: 20px 0;">
	<!-- Genera el QR (ejemplo con un ID de reporte) -->
	<%= image_tag qr_code_as_base64("https://www.abogadosderechodeltrabajo.cl/krn_reportes/dnnc.pdf?oid=#{@objeto.id}"), 
	              alt: "Código QR del Reporte", 
	              style: "width: 100px; height: 100px;" %>

	<p style="font-size: 10px;">Reporte emitido el <%=dma_hm(Time.zone.now)%></br>Escanea este código para ver el reporte actualizado en línea</p>
</div>

<h4>Derechos y obligaciones de los participantes, del empleador y de las instituciones y organizaciones que participan de la investigación.</h4>
<div>
	El reglamento del Procedimiento de Investigación y Sanciónde la ley 21.643 establece derechos y obligaciones para los distintos participantes. El siguiente código QR le permitirá acceder al detalle del reglamento donde se detallan.
</div>
<div style="text-align: center; margin: 20px 0;">
	<!-- Genera el QR (ejemplo con un ID de reporte) -->
	<%= image_tag qr_code_as_base64("https://www.abogadosderechodeltrabajo.cl/krn_reportes/drchs.pdf?oid=#{@objeto.id}"), 
	              alt: "Código QR del Reporte", 
	              style: "width: 100px; height: 100px;" %>
</div>