<div class="container-fluid">
	<div class="app_body" style="padding-left: <%=padd%>%; padding-right: <%=padd%>%; margin-bottom: 1px;">

		<%= render partial: 'layouts/partials/notice_alert' %>

		<% if config[:layout][:menu_left] and menu_left?(controller_name).present? and controller_name != 'servicios' %>
			<div class="row">
				<div class="col-3">
					<%= render partial: '0p/lmenu/lmenu' %>
				</div>
				<div class="col-9">
					<%= render partial: 'layouts/title' %>
					<%= render partial: 'layouts/body' %>
				</div>
			</div>
		<% else %>
			<%= render partial: 'layouts/title' %>
			<%= render partial: 'layouts/body' %>
		<% end %>

	</div>
</div>