<div class="container-fluid">
<div class="app_body" style="padding-left: <%=padd%>%; padding-right: <%=padd%>%; margin-bottom: 1px;">

	<%= render partial: 'layouts/partials/notice_alert' %>

		<!--div style='padding-top: 1em; padding-bottom: 1em;'-->
		<%= render partial: 'layouts/title' %>
		<%= render partial: 'layouts/body' %>
		<!--/div-->

</div>
</div>