<div class="container-fluid">
	<div class="app_body" style="padding-left: <%=padd%>%; padding-right: <%=padd%>%; margin-bottom: 1px;">

		<%= render partial: 'layouts/partials/notice_alert' %>

		<% if perfil_activo.present? or controller_name == 'publicos' or devise_controllers.include?(controller_name)  %>
			<% if config[:layout][:menu_left] and menu_left?(controller_name).present? and controller_name != 'servicios' %>
				<div class="row">
					<div class="col-3">
						<%= render partial: '0capitan/lmenu/lmenu' %>
					</div>
					<div class="col-9">
						<%= yield %>
					</div>
				</div>
			<% else %>
				<%= yield %>
			<% end %>
		<% else %>
			Usuario sin perfil activo, comuniquese con el administrador de la plataforma.
		<% end %>

	</div>
</div>