<% if ['Bandejas', 'Menu', 'Mensajes'].include?(get_layout) %>
	<div class='row'>
		<div class='col-md-3'>
			<% case get_layout %>
			<% when 'Bandejas' %>
				<%= render partial: get_partial('st_bandejas', 'partials', 'bandeja') %>
			<% when 'Menu' %>
				<%= render partial: get_partial('sidebar', 'partials', 'menu_display'), locals: {sb_list: @sb_elementos, name_list: @sb_name, sb_link: @sb_link } %>
			<% when 'Mensajes' %>
				<%= render partial: get_partial('app_mensajes', 'partials', 'bandeja') %>
			<% end %>
		</div>
		<div class='col-md-9'>
			<%= yield %>
		</div>
	</div>

<% else %>
    <%= yield %>
<% end %>