<div class="lyt_main">

	<%= render partial: 'layouts/partials/notice_alert' %>

	<!-- DESPLIEGA PÁGINA SÓLO SI EL PERFIL ESTÁ ACTIVO, SI ES UNA PÁGINA PÚBLICA O ES UNA PÁGINA DE DEVISE -->
	<% if get_perfil_activo.present? or get_public_controllers.include?(controller_name) or devise_controllers.include?(controller_name)  %>

		<% unless scp_err? %>
			<% unless lm_sym.blank? %>

				<!--div class="f_250pxlft_col"-->
				<div class="f_lmn_lyt">
					<div class="lft">
						<%= render partial: '0p/lmenu/lmenu', locals: { sym: lm_sym } %>

						<% if prtl?(controller_name, 'dwn_lft', 'bdy') %>
							<%= render partial: prtl_name(controller_name, 'dwn_lft', 'bdy') %>
						<% end %>
					</div>
					<div class="rgth">
						<%= yield %>
					</div>
				</div>

			<% else %>
				<%= yield %>
			<% end %>
		<% else %>
			<div  class="lyt_error">
				<i class="bi bi-cone-striped"></i> Este usuario no tiene acceso a esta página, comuniquese con el administrador de la plataforma.
			</div>
		<% end %>

	<% else %>
		<div  class="lyt_error">
			<i class="bi bi-cone-striped"></i> Usuario sin perfil activo, comuniquese con el administrador de la plataforma.
		</div>
	<% end %>

</div>