<div class="lyt_main">

	<%= render partial: 'layouts/partials/notice_alert' %>

	<!-- DESPLIEGA PÁGINA SÓLO SI EL PERFIL ESTÁ ACTIVO, SI ES UNA PÁGINA PÚBLICA O ES UNA PÁGINA DE DEVISE -->
	<% if get_perfil_activo.present? or get_public_controllers.include?(controller_name) or devise_controllers.include?(controller_name)  %>

		<!-- Verifica usuarios de la aplicación o de cuenta -->
		<% unless scp_err? %>

			<!-- Obtiene sym del menú -->
			<% unless lm_sym.blank? %>

				<!--div class="f_250pxlft_col"-->
				<div class="f_lmn_lyt">
					<div class="lft">
						<%# if prtl?('layouts', 'lmenu', lm_sym.to_s) %>
							<%#= render partial: prtl_name('layouts', 'lmenu', lm_sym.to_s) %>
						<%# end %>
						<%= render partial: prtl_name('layouts', 'lmenu', 'admin') %>

						<%= render partial: '0p/lmenu/lmenu', locals: { sym: lm_sym } %>

						<% if prtl?(controller_name, 'dwn_lft', 'bdy') %>
							<%= render partial: prtl_name(controller_name, 'dwn_lft', 'bdy') %>
						<% end %>
					</div>
					<div class="rgth">
						<%= yield %>
					</div>
				</div>

			<% else %>
				<%= yield %>
			<% end %>

		<% else %>
			<%= render partial: 'layouts/partials/errr_prfl' %>
		<% end %>

	<% else %>
		<%= render partial: 'layouts/partials/errr_accss' %>
	<% end %>

</div>

<%#= render partial: prtl_name('0p', 'form', 'mdl') %>