<% unless controller_name == 'servicios' %>
	<div class="row mb-1 border-bottom">
		<div class="col-9">
			<%= image_tag (krn_routes? ? 'krn_nvbr.png' : 'logo_nvbr.png') %>
		</div>
		<div class="col-3 position-relative app_lnk" style="height: <%= krn_routes? ? 90 : 75%>px;">
			<div class="pe-5 position-absolute bottom-0 text-end w-100">
				<% if usuario_signed_in? %>
				  <%= render partial: 'usuarios/lnks/lnk_salir' %>
				<% else %>
				  <%= render partial: 'usuarios/lnks/lnk_ingrs' %>
				  <%= render partial: 'usuarios/lnks/lnk_rgstr' %>
				<% end %>
			</div>
		</div>
	</div>

	<!-- Sólo pa recordar como se usa el navbar -->
	<%#= render partial: '0p/navbar/navbar', locals: {lft: nil, cntr: nil, mn: menu, mn_admn: menu_admn, clr_bg: '#005A9C', logo: 'logo_nvbr.png', sigla: nil}  %>

<% end %>