<!-- OVER MENU -->
<div class="container-fluid">
	<% if (partial?('layouts', 'over', 'menu_over') and config[:layout][:menu_over]) %>
		<div class="menu_over" style="padding-left: <%=padd_menu%>%; padding-right: <%=padd_menu%>%; margin-top: 2px; margin-bottom: 4px;">
			<div class="shadow bg-white rounded">
				<%= render partial: 'layouts/over/menu_over' %>
			</div>
		</div>
	<% end %>
</div>

<!-- BANNER -->
<div class="container-fluid">
	<% if (partial?('layouts', 'over', 'banner') and config[:layout][:banner]) %>
		<% unless no_banner_display? %>
			<div class="banner" style="padding-left: <%=padd_bann%>%; padding-right: <%=padd_bann%>%; margin-bottom: 4px;">
				<div class="shadow bg-white rounded">
					<%= render partial: 'layouts/over/banner' %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>