<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head', locals: {title: 'Laborsafe'} %>

  <body>
    <%= render 'aplicacion/offcanvas_menu' if menu_for_current_context %>
    
    <%= render partial: 'layouts/partials/navbar', locals: {logo_path: "logo/addt_40.png"} %>

    <%= render partial: 'layouts/addt/main' %>

    <%= render partial: 'layouts/partials/dsply_lyt_prtl', locals: {prtl: lyt_prtl('footer')} %>

  </body>

</html>
