<!DOCTYPE html>
<html>
  <head>
    <title><%=config[:app][:nombre]%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "link_styles" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('util.js') %>
    <%= favicon_link_tag asset_path('favicon.ico') if File.exist?("app/assets/images/favicon.ico") %>


    <!-- font-family: 'Barlow', sans-serif; -->
    <!-- font-family: 'Lexend', sans-serif; -->
    <!-- font-family: 'Raleway', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">

</head>

  <body>

    <%# if publico? %>
    <!--div class='pl-5 pr-5 container-fluid'-->
    <%# else %>
    <!--div class='container-fluid'-->
    <%# end %>

    <!-- OVER -->
    <%= render partial: 'layouts/over' if partial?('layouts', nil, 'over') %>

    <!-- NAVBAR+ -->
    <%= render partial: '0p/navbar/navbar' if config[:layout][:menu] %>

    <!-- BODY -->
    <%= render partial: 'layouts/app' %>

    <!--/div-->

    <%= render partial: 'layouts/footer' %>

  </body>
</html>
