<!DOCTYPE html>
<html>
  <head>
    <title><%= get_app_sigla%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag "app_layout" %>
    <%#= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

    <%#= javascript_include_tag('util.js') %>
    <%= favicon_link_tag asset_path('favicon.ico') if File.exist?("app/assets/images/favicon.ico") %>


    <!-- Bootstrap ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: lyt_prtl('over') unless lyt_prtl('over').blank? %>

    <%= render partial: lyt_prtl('navbar') unless lyt_prtl('navbar').blank? %>

    <%= render partial: lyt_prtl('main') unless lyt_prtl('main').blank? %>

    <%= render partial: lyt_prtl('footer') unless lyt_prtl('footer').blank? %>
  </body>
</html>
