<!DOCTYPE html>
<html>
  <head>
    <title><%= version_activa.app_sigla%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "0p_imagen" %>
    <%= stylesheet_link_tag "0p_dropdown" %>
    <%= stylesheet_link_tag "app_layout" %>
    <%= stylesheet_link_tag "app_forms" %>
    <%= stylesheet_link_tag "app_entidades" %>
    <%= stylesheet_link_tag "link_styles" %>
    <%= stylesheet_link_tag "capitan" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('util.js') %>
    <%= favicon_link_tag asset_path('favicon.ico') if File.exist?("app/assets/images/favicon.ico") %>


    <!-- font-family: 'Barlow', sans-serif; -->
    <!-- font-family: 'Lexend', sans-serif; -->
    <!-- font-family: 'Raleway', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">

</head>

  <body>

    <!-- OVER -->
    <%= render partial: 'layouts/over' %>

    <!-- NAVBAR+ -->
    <%= render partial: 'layouts/navbar' %>

    <!-- BODY -->
    <%= render partial: 'layouts/body' %>

    <!-- FOOTER -->
    <!-- Administrar con subdirectorios -->
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
