<html>
  <head>
    <meta charset="utf-8">
    <title>Reporte PDF</title>

    <!-- Bootstrap 5 inline -->
    <style><%= File.read(Rails.root.join('node_modules/bootstrap/dist/css/bootstrap.min.css')) %></style>

    <!-- Bootstrap Icons inline -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    
    <!-- Tus reglas adicionales -->
    <style>
      /* 1. Declarar la fuente */
      body {
        font-family: 'DejaVu Sans', Arial, sans-serif !important;
        font-size: 10px;          /* tamaño base */
        line-height: 1.4;
      }

      .rprt_bx {
        margin: .5rem ;padding: .5rem;border: 1px solid #ebebeb;border-radius: 0.5rem;
      }

      .rprt_bx_ttl {
        border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #ebebeb;
      }

      /* 2. Opcional: ajustes para tablas */
      table, th, td {
        font-family: inherit !important;
        font-size: inherit !important;
      }
      table.pdf-minimal { width: 100%; border-collapse: collapse; font-size: 9px; line-height: 1.2; }
      table.pdf-minimal td, table.pdf-minimal th { padding: 3px 5px; border: none; height: 18px; }
      table.pdf-minimal tr:nth-child(even) { background-color: #f8f8f8; }
      td.wide-column { width: 50%; word-wrap: break-word; }

    </style>
  </head>

  <body>
    <div class="text-center" id="pdf-header">
      <% if @logo_url.present? %>
        <%= image_tag "data:image/png;base64,#{Base64.strict_encode64(File.read(Rails.root.join('app/assets/images', @logo_url)))}", class: 'header-image' %>
      <% end %>
    </div>
    <div style="margin: 1rem;font-size: 8px; text-align: center;">
      <% unless dstntr.nil? %>
        Destinatario: <%= "#{dstntr[:objt].sym.to_s.upcase}-#{dstntr[:objt].id}" %><br>
      <% end %>
      Fecha emisión: <%= l Time.zone.now, format: :short %>
    </div>

    <%= yield %>
  </body>
</html>