<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/partials/head_div', locals: {title: 'Laborsafe'} %>

  <body>
    <%= render 'aplicacion/offcanvas_menu' if menu_for_current_context %>
    
    <%= render partial: 'layouts/pltfrm/navbar', locals: {logo_path: "logo/addt_60.png"} %>

    <%= render partial: 'layouts/pltfrm/main' %>

    <%= render partial: 'layouts/partials/dsply_lyt_prtl', locals: {prtl: lyt_prtl('footer')} %>

  </body>

</html>
