<div style="padding-left: 1em; padding-right: 1em;">

	<% if controller_name == 'age_actividades' %>
	<div class="row">
		<div class="col-lg-6 col-xs-12">
	<% end %>

		<small>
		<% if objeto.tipo == 'Audiencia' %>
			<i class="bi bi-bank2"></i>
		<% elsif objeto.tipo == 'Reunión' %>
			<i class="bi bi-people"></i>
		<% elsif objeto.tipo == 'Tarea' %>
			<i class="bi bi-list-check"></i>
		<% end %> 
		
		<small><b><%= dma_hm(objeto.fecha) %></b></small>

		<% if objeto.owner.present? and controller_name == 'age_actividades' %>
			<%= link_to objeto.owner do %>
				<i class="bi bi-<%=controller_icon[objeto.owner.class.name.tableize]%>"></i> 
			<% end %>
		<% end %>

		<% if objeto.app_perfil_id == perfil_activo.id %>
			<i class="bi bi-person-circle"></i> 
		<% end %>

		<%= link_to objeto.age_actividad, objeto %>
		</small>

	<% if controller_name == 'age_actividades' %>
		</div>
		<div class="col-lg-3 col-xs-12">
	<% else %>
		</br>
	<% end %>

		<small><small>

		<%= render layout: '0p/collapse/link', locals: {label: 'Participantes', objeto: objeto} do %>
			<i class="bi bi-box-arrow-down"></i> Participantes
		<% end %>

		<% if objeto.age_antecedentes.empty? %>
			<i class="bi bi-exclamation-circle text-warning"></i> Sin antecedentes
		<% else %>
			<%= render layout: '0p/collapse/link', locals: {label: 'Antecedentes', objeto: objeto} do %>
				<i class="bi bi-box-arrow-down"></i> Antecedentes
			<% end %>
		<% end %>

		</small></small>

	<% if controller_name == 'age_actividades' %>
		</div>
		<div class="col-lg-3 col-xs-12" align='right'>
	<% end %>

		<small>
		<small>
			<% if objeto.app_perfil_id == perfil_activo.id or admin? %>
				<% unless controller_name == 'age_actividades' %> | <% end %>
				<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
			<% end %>
		</small>
		</small>

	<% if controller_name == 'age_actividades' %>
		</div>
	</div>
	<% end %>

	<%= render layout: '0p/collapse/display', locals: {label: 'Participantes', objeto: objeto} do %>
	  	<%= render partial: 'age_actividades/list/participantes', locals: {objeto: objeto} %>
	<% end %>

	<% unless objeto.age_antecedentes.empty? %>
		<%= render layout: '0p/collapse/display', locals: {label: 'Antecedentes', objeto: objeto} do %>
			<%= render partial: 'age_actividades/list/display_antecedentes', locals: {objeto: objeto} %>
		<% end %>
	<% end %>

</div>