<div style="padding-left: 1em; padding-right: 1em;">

	<% if controller_name == 'age_actividades' %>
	<div class="row">
		<div class="col-lg-3 col-xs-12">
	<% end %>


		<small>
		<% if objeto.tipo == 'Audiencia' %>
			<i class="bi bi-bank2"></i>
		<% elsif objeto.tipo == 'Reunión' %>
			<i class="bi bi-people"></i>
		<% elsif objeto.tipo == 'Tarea' %>
			<i class="bi bi-list-check"></i>
		<% end %> 
		
		<small><b><%= dma_hm(objeto.fecha) %></b></small>
		</small>

	<% if controller_name == 'age_actividades' %>
		</div>
		<div class="col-lg-3 col-xs-12">
	<% else %>
		</br>
	<% end %>

		<small>

		<% if objeto.owner.present? and controller_name == 'age_actividades' %>
			<%= link_to objeto.owner do %>
				<i class="bi bi-<%=controller_icon[objeto.owner.class.name.tableize]%>"></i> 
			<% end %>
		<% end %>

		<% if objeto.app_perfil_id == perfil_activo.id %>
			<i class="bi bi-person-circle"></i> 
		<% end %>

		<%= link_to objeto.age_actividad, objeto %>
		</small>

	<% if controller_name == 'age_actividades' %>
		</div>
		<div class="col-lg-3 col-xs-12">
	<% else %>
		</br>
	<% end %>

		<small><small>

		<a data-toggle="collapse" href="#collapseParticipantes<%=objeto.id%>" role="button" aria-expanded="false" aria-controls="collapseParticipantes<%=objeto.id%>">
			<i class="bi bi-box-arrow-down"></i> Participantes
		</a>

		<a data-toggle="collapse" href="#collapseAntecedentes<%=objeto.id%>" role="button" aria-expanded="false" aria-controls="collapseAntecedentes<%=objeto.id%>">
			<i class="bi bi-box-arrow-down"></i> Antecedentes
		</a>

		</small></small>

	<% if controller_name == 'age_actividades' %>
		</div>
		<div class="col-lg-3 col-xs-12" align='right'>
	<% end %>

		<small>
		<small>
			<% if objeto.app_perfil_id == perfil_activo.id or admin? %>
				<% unless controller_name == 'age_actividades' %> | <% end %>
				<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>
			<% end %>
		</small>
		</small>

	<% if controller_name == 'age_actividades' %>
		</div>
	</div>
	<% end %>

	<div class="collapse" id="collapseParticipantes<%=objeto.id%>">
	  <div class="card card-body">
	  	<%= render partial: 'age_actividades/list/participantes', locals: {objeto: objeto} %>
	  </div>
	</div>

	<div class="collapse" id="collapseAntecedentes<%=objeto.id%>">
	  <div class="card card-body">
	  	<small>
	  	<% objeto.age_antecedentes.order(:orden).each do |antecedente| %>
	  		<div class="row">
	  			<div class="col-1">
	  				<%= render partial: '0p/tabla/orderer', locals: {objeto: antecedente} %>
	  			</div>
	  			<div class="col-11"><%= antecedente.age_antecedente %></div>
	  		</div>
	  	<% end %>
	  	</small>
	  </div>
	</div>

</div>