<div class="row gx-1">
	<div class="col-4">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :codigo, label: 'Código' } %>
	</div>
	<div class="col-8">
		<%= render partial: '0p/lbld_inpts/text', locals: { form: form, token: :lgl_tema, label: 'Tema' } %>
	</div>
</div>

<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :ownr_type } %>
<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :ownr_id } %>
<%= render partial: '0p/lbld_inpts/hidden', locals: { form: form, token: :orden } %>