<div class="row">
<div class="col-4">
	<small>
		<b><%= dma(objeto.fecha) %></b>
		<i class="bi bi-dot"></i>
		<small><%= objeto.cargo_abono %></small>
	</br>
		<b class="text-muted"><%= objeto.glosa_banco %></b>
	</small>
</div>
<div class="col-4">

	<small>
	<%= render layout: '0p/collapse/link', locals: {label: 'Registro', objeto: objeto, tooltip: 'Asigna'} do %>
		<i class="bi bi-hand-index"></i>
	<% end %>
	<% if objeto.m_item.present? %>
		<b class="text-info"><%= objeto.m_item.m_item %></b>
	<% end %></br>

	<% if objeto.cargo_abono == 'Abono' %>

		<% unless objeto.disponible == 0 %>
			<small class="text-muted">
				<%= render layout: '0p/collapse/link', locals: {label: 'AsignaFactura', objeto: nil, tooltip: 'Asigna'} do %>
					<i class="bi bi-plus-circle"></i>
					Asigna factura
				<% end %>
			</small>

			<%= render layout: '0p/collapse/display', locals: {label: 'AsignaFactura', objeto: nil} do %>
				<%= render partial: 'modelos/m_registros/partials/form_asigna_factura', locals: {objeto: objeto, facturadas: @facturadas} %>
			<% end %>
		<% end %>
		<%#= render partial: '0p/tabla/tabla', locals: {c: 'tar_facturas'} %>
		
	<% end %>

	<%= render layout: '0p/collapse/display', locals: {label: 'Registro', objeto: objeto} do %>
		<% objeto.m_modelo.m_conceptos.order(:orden).each do |concepto| %>
			<small><b><%= concepto.m_concepto %></b></small></br>
			<% concepto.m_items.order(:orden).each do |item| %>
				<small>
					<i class="bi bi-dot"></i>
					<% if item.abono_cargo == objeto.cargo_abono %>
						<%= link_to item.m_item, "/m_registros/#{objeto.id}/asigna?iid=#{item.id}" %>
					<% else %>
						<%= item.m_item %>
					<% end %>
				</small></br>
			<% end %>
		<% end %>
	<% end %>
	</small>
	
</div>
<div class="col-4" align='right'>
	<small>
		<b class="text-<%=objeto.cargo_abono == 'Cargo' ? 'danger' : 'primary' %>"><%= s_pesos(objeto.monto) %></b>
		</br>

	<% if objeto.cargo_abono == 'Abono' %>
		<% objeto.tar_facturas.order(:documento).each do |factura| %>
			<small>
				<i class="bi bi-arrow-right"></i><b><%= factura.documento %></b> : <%= dma(factura.fecha_factura) %> 
				<%= link_to "/m_registros/#{objeto.id}/libera_factura?fid=#{factura.id}" do %>
					<i class="bi bi-trash"></i>
				<% end %>
			</small>
		<% end %>
	<% end %>
	</small>
</div>
</div>