<%= form_for :tar_nota_credito, url: "/tar_facturas/#{objeto.id}/crea_nota_credito" do |form| %>
	<div>

		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :numero, label: 'Número' } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :numero } %>
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :fecha, label: 'Fecha' } %>
		<%= render partial: '0p/form_fields/date', locals: { form: form, token: :fecha } %></br>
		<%= render partial: '0p/form_fields/label', locals: { form: form, token: :monto, label: 'Monto' } %>
		<%= render partial: '0p/form_fields/number', locals: { form: form, token: :monto } %>

		<%= render partial: '0p/form_fields/check_box', locals: { form: form, token: :monto_total, label: 'Monto total' } %></br>

		<button type="submit" class="btn btn-info">
		   <i class="bi bi-arrow-right-circle"></i>
		</button>
	</div>
<% end  %>