<small>
<div class="list-item" style='padding-left: 1em; padding-top: 1em; margin-bottom: 1em;'>

	<small><i class="bi bi-tag"></i> <%= objeto.estado %></small></br>
	<%= link_to (objeto.estado == 'ingreso' ? 'no emitida' : objeto.documento), objeto %> | <%= objeto.owner.razon_social %>
	</br>
	<%= objeto.estado == 'ingreso' ? 'no emitida' : dma(objeto.fecha_factura) %> | <%= objeto.tar_facturaciones.count %> : 
	<% if objeto.monto_pesos == 0 %>
	-
	<% else %>
		<a data-toggle="collapse" href="#collapseFactura<%=objeto.id%>" role="button" aria-expanded="false" aria-controls="collapseFactura<%=objeto.id%>">
			<%= s_pesos(objeto.monto_pesos) %>
		</a>
	<% end %>
	
	<small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small>

	<% unless objeto.monto_pesos == 0 %>
		<div class="collapse" id="collapseFactura<%=objeto.id%>">
		  <div class="card card-body">
			<ul>
			<% objeto.tar_facturaciones.each do |facturacion| %>
				<li><%= facturacion.glosa %> | <%= s_pesos(facturacion.monto_pesos) %></li>
			<% end %>
			</ul>
		  </div>
		</div>
	<% end %>
</div>
</small>