<small>
<div class="list-item">

	<small><i class="bi bi-tag"></i> <%= objeto.estado %></small></br>

	<%= link_to (objeto.estado == 'ingreso' ? 'no emitida' : objeto.documento), objeto, title: 'Detalle Factura', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %> | <%= objeto.owner.razon_social %>
	<% unless objeto.tar_nota_credito.blank? %>
		<b class="text-danger">Nota de crédito asociada</b>
	<% end %>
	</br>

	<small>
		
	<i class="bi bi-calendar-check"></i> 
	<%= objeto.estado == 'ingreso' ? '--/--/--' : dma(objeto.fecha_factura) %> | <%= objeto.tar_facturaciones.count %> : 
	<% if objeto.monto_pesos == 0 %>
	-
	<% else %>
		<a data-toggle="collapse" href="#collapseFactura<%=objeto.id%>" role="button" aria-expanded="false" aria-controls="collapseFactura<%=objeto.id%>">
			<i class="bi bi-box-arrow-down"></i> 
			<b><%= s_pesos(objeto.monto_pesos) %></b>
		</a>
	<% end %>
	<% unless objeto.tar_nota_credito.blank? %>
		 | <b class="text-danger"><%= objeto.tar_nota_credito.monto_total ? s_pesos(objeto.monto_pesos) : s_pesos(objeto.tar_nota_credito.monto) %></b>
	<% end %>
	</br>

	<%= link_to 'libera factura', "/tar_facturas/#{objeto.id}/libera_factura" if objeto.estado == 'ingreso' %>
	<%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %>

	<% unless objeto.monto_pesos == 0 %>
		<div class="collapse" id="collapseFactura<%=objeto.id%>">
		  <div class="card card-body">
			<ul>
			<% objeto.tar_facturaciones.each do |facturacion| %>
				<li><%= facturacion.glosa %></br><b><%= s_pesos(facturacion.monto_pesos) %></b></li>
			<% end %>
			</ul>
		  </div>
		</div>
	<% end %>

	<% if controller_name == 'm_registros' %>
	<% unless objeto.m_registros.empty? %>
		<%= link_to "/tar_facturas/#{objeto.id}/a_facturada?oid=#{@objeto.id}" do %>
			<i class="bi bi-arrow-left"></i><i class="bi bi-tag"></i> 
			desasignar
		<% end %>
	<% end %>
	<% end %>

	<% unless objeto.m_registros.empty? %>
		<ul>
			<% objeto.m_reg_facts.each do |mrf| %>
				<li><%= dma(mrf.tar_factura.fecha_factura) %> | <%= s_pesos(mrf.monto) %></li>
			<% end %>
		</ul>
	<% end %>

	</small>

</div>
</small>